SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionFinanzas/PagosEnLinea/Resources/WSDLs/WS_OXXO_SAP_CONSULTA.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
            <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
        </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_CONSULTA_OXXO">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_CONSULTA_OXXO">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZlmRfcConsultaOxxo">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char150">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="150"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:complexType name="ZstrConceptoOxxo">
        <xsd:sequence>
          <xsd:element name="Leyenda" type="n0:char30"/>
          <xsd:element name="Monto" type="xsd:int"/>
          <xsd:element name="Operacion" type="n0:char3"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapialb">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1"/>
          <xsd:element name="Id" type="n0:char20"/>
          <xsd:element name="Number" type="n0:numeric3"/>
          <xsd:element name="Message" type="n0:char220"/>
          <xsd:element name="MessageV1" type="n0:char50"/>
          <xsd:element name="MessageV2" type="n0:char50"/>
          <xsd:element name="MessageV3" type="n0:char50"/>
          <xsd:element name="MessageV4" type="n0:char50"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZttConceptoOxxo">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZstrConceptoOxxo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTtBapialb">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Bapialb" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZlmRfcConsultaOxxo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Referencia" type="n0:char16"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmRfcConsultaOxxoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CodRetorno" type="n0:numeric3"/>
            <xsd:element name="Conceptos" type="tns:ZttConceptoOxxo"/>
            <xsd:element name="DescripcionCod" type="n0:char100"/>
            <xsd:element name="NombreCliente" type="n0:char150"/>
            <xsd:element name="Parcial" type="n0:char1"/>
            <xsd:element name="Referencia" type="n0:char16"/>
            <xsd:element name="Retorno" type="tns:ZTtBapialb"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmRfcConsultaOxxo">
    <wsdl:part name="parameters" element="tns:ZlmRfcConsultaOxxo"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcConsultaOxxoResponse">
    <wsdl:part name="parameter" element="tns:ZlmRfcConsultaOxxoResponse"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_CONSULTA_OXXO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_CONSULTA_OXXO"/>
    </wsp:Policy>
    <wsdl:operation name="ZlmRfcConsultaOxxo">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZlmRfcConsultaOxxo"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZlmRfcConsultaOxxo"/>
      <wsdl:output message="tns:ZlmRfcConsultaOxxoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_CONSULTA_OXXO" type="tns:ZLM_WS_CONSULTA_OXXO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_CONSULTA_OXXO"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZlmRfcConsultaOxxo">
      <soap:operation soapAction="ZlmRfcConsultaOxxo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_CONSULTA_OXXO">
    <wsdl:port name="ZLM_WS_CONSULTA_OXXO" binding="tns:ZLM_WS_CONSULTA_OXXO">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_consulta_oxxo/300/zlm_ws_consulta_oxxo/zlm_ws_consulta_oxxo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>