SOL4IT - DEV/osb_Jack/Mutual/Resources/MaestroSolicitud.wsdl

<wsdl:definitions
     name="MaestroSolicitud"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/Mutual/MaestroSolicitud"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/Mutual/MaestroSolicitud"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/MaestroSolicitud"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="MaestroSolicitud_plt" >
    <plt:role name="MaestroSolicitud_role" >
      <plt:portType name="tns:MaestroSolicitud_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/MaestroSolicitud" schemaLocation="MaestroSolicitud_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="MaestroSolicitudSelect_inputParameters">
        <wsdl:part name="MaestroSolicitudSelect_inputParameters" element="top:MaestroSolicitudSelect_pSolicitudInputParameters"/>
    </wsdl:message>
    <wsdl:message name="Gpa001SolicitudCollection_msg">
        <wsdl:part name="Gpa001SolicitudCollection" element="top:Gpa001SolicitudCollection"/>
    </wsdl:message>
    <wsdl:portType name="MaestroSolicitud_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa001SolicitudCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="MaestroSolicitudSelect">
            <wsdl:input message="tns:MaestroSolicitudSelect_inputParameters"/>
            <wsdl:output message="tns:Gpa001SolicitudCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
