SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Cotizador/Resources/WADLs/NMPCotizadorRestWADL.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" xmlns:ns0="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPVehiculo" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="NMPCotizadorRestPXY">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" schemaLocation="../Schemas/NMPCotizadorSvcXSD.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/Vehiculo">
         <method name="GET" soa:wsdlOperation="cotizarVehiculo">
            <request soa:paramElement="pns:cotizarVehiculoRequest" xmlns:pns="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador">
               <param name="calificacionSiva2" style="query" soa:expression="$msg.request/inp1:cliente/inp1:calificacion/inp1:calificacionSiva2" type="xsd:decimal" default=""/>
               <param name="tipoVehiculo" style="query" soa:expression="$msg.request/inp1:datosCotizar/inp1:tipoVehiculo" type="xsd:int" default=""/>
               <param name="anio" style="query" soa:expression="$msg.request/inp1:datosCotizar/ns0:anio" type="xsd:int"/>
               <param name="plazo" style="query" soa:expression="$msg.request/inp1:datosCotizar/inp1:plazo" type="xsd:int" default=""/>
               <param name="montoAvaluo" style="query" soa:expression="$msg.request/inp1:datosCotizar/inp1:montoAvaluo" type="xsd:decimal" default=""/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:cotizarVehiculoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador"/>
            </response>
            <response status="500" soa:wsdlFaultName="cotizadorFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>