SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/SolicitudesVSR/Resources/WSDLs/NMPSolicitudesVSRWSDL.wsdl

<wsdl:definitions name="NMPSolicitudesClienteDB" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:vsr="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
 
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR" schemaLocation="../Schemas/NMPSolicitudesVSRXSD.xsd"/>
    </schema>
     <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
    </schema>
  </wsdl:types>
   <wsdl:message name="guardarSolicitudRequest">
    <wsdl:part name="req" element="vsr:guardarSolicitudRequest"/>
  </wsdl:message>
  <wsdl:message name="guardarSolicitudResponse">
    <wsdl:part name="res" element="vsr:guardarSolicitudResponse"/>
  </wsdl:message>
  <wsdl:message name="actualizarSolicitudRequest">
    <wsdl:part name="req" element="vsr:actualizarSolicitudRequest"/>
  </wsdl:message>
  <wsdl:message name="actualizarSolicitudResponse">
    <wsdl:part name="res" element="vsr:actualizarSolicitudResponse"/>
  </wsdl:message>
  <wsdl:message name="consultarSolicitudRequest">
    <wsdl:part name="req" element="vsr:consultarSolicitudRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarSolicitudResponse">
    <wsdl:part name="res" element="vsr:consultarSolicitudResponse"/>
  </wsdl:message>  
  <wsdl:message name="validarVehiculoRequest">
    <wsdl:part name="req" element="vsr:validarVehiculoRequest"/>
  </wsdl:message>
  <wsdl:message name="validarVehiculoResponse">
    <wsdl:part name="res" element="vsr:validarVehiculoResponse"/>
  </wsdl:message>
  <wsdl:message name="consultarSolicitudesClienteRequest">
    <wsdl:part name="req" element="vsr:consultarSolicitudesClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarSolicitudesClienteResponse">
    <wsdl:part name="res" element="vsr:consultarSolicitudesClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="validaEstadoFlujoSolicitudRequest">
    <wsdl:part name="req" element="vsr:validaEstadoFlujoSolicitudRequest"/>
  </wsdl:message>
  <wsdl:message name="validaEstadoFlujoSolicitudResponse">
    <wsdl:part name="res" element="vsr:validaEstadoFlujoSolicitudResponse"/>
  </wsdl:message>
   <wsdl:message name="consultarEstadoSolicitudRequest">
    <wsdl:part name="req" element="vsr:consultarEstadoSolicitudRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarEstadoSolicitudResponse">
    <wsdl:part name="res" element="vsr:consultarEstadoSolicitudResponse"/>
  </wsdl:message>
   <wsdl:message name="NMPStandardHeaderReq">
    <wsdl:part name="header" element="nmph:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPStandardHeaderRes">
    <wsdl:part name="header" element="nmph:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPStandardFault">
    <wsdl:part name="header" element="nmpsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="NMPSolicitudesVSRDB_ptt">
    <wsdl:operation name="guardarSolicitud">
      <wsdl:input message="tns:guardarSolicitudRequest"/>
      <wsdl:output message="tns:guardarSolicitudResponse"/>
      <wsdl:fault name="solicitudesVSRFault" message="tns:NMPStandardFault"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarSolicitud">
      <wsdl:input message="tns:actualizarSolicitudRequest"/>
      <wsdl:output message="tns:actualizarSolicitudResponse"/>
      <wsdl:fault name="solicitudesVSRFault" message="tns:NMPStandardFault"/>
    </wsdl:operation>
    <wsdl:operation name="consultarSolicitud">
      <wsdl:input message="tns:consultarSolicitudRequest"/>
      <wsdl:output message="tns:consultarSolicitudResponse"/>
      <wsdl:fault name="solicitudesVSRFault" message="tns:NMPStandardFault"/>
    </wsdl:operation>
    <wsdl:operation name="validarVehiculo">
      <wsdl:input message="tns:validarVehiculoRequest"/>
      <wsdl:output message="tns:validarVehiculoResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="solicitudesVSRFault"/>
    </wsdl:operation>
    <wsdl:operation name="consultarSolicitudesCliente">
      <wsdl:input message="tns:consultarSolicitudesClienteRequest"/>
      <wsdl:output message="tns:consultarSolicitudesClienteResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="solicitudesVSRFault"/>
    </wsdl:operation>
    <wsdl:operation name="validaEstadoFlujoSolicitud">
      <wsdl:input message="tns:validaEstadoFlujoSolicitudRequest"/>
      <wsdl:output message="tns:validaEstadoFlujoSolicitudResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="solicitudesVSRFault"/>
    </wsdl:operation>
     <wsdl:operation name="consultarEstadoSolicitud">
      <wsdl:input message="tns:consultarEstadoSolicitudRequest"/>
      <wsdl:output message="tns:consultarEstadoSolicitudResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="solicitudesVSRFault"/>
    </wsdl:operation>
  </wsdl:portType>
   <plt:partnerLinkType name="NMPSolicitudesVSRDB_plt">
    <plt:role name="NMPSolicitudesVSRDB_role">
      <plt:portType name="tns:NMPSolicitudesVSRDB_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:binding name="NMPSolicitudesVSRDBSOAP12Binding" type="tns:NMPSolicitudesVSRDB_ptt">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="guardarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/guardarSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/actualizarSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/consultarSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarVehiculo">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/validarVehiculo"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarSolicitudesCliente">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/consultarSolicitudesCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaEstadoFlujoSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/validaEstadoFlujoSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
        <soap:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarEstadoSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR/consultarEstadoSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="req"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="res"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="solicitudesVSRFault">
        <soap12:fault name="solicitudesVSRFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
</wsdl:definitions>