SOL4IT - DEV/OSB_NMP_Actual/GestionIdentidades/MIDAS/Resources/WSDL/MidasProvisioningServiceWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns1="http://nmpusuario.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns4="http://nmpempleado.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns3="http://nmpusuario.services.nmp.servicios.montedepiedad.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  targetNamespace="urn:mx.com.nmp.midas">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="getPerfilesOperativos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="sucursal"
                         type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPerfilesOperativosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="perfiles"
                         nillable="true" type="ns1:Perfiles"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PerfilesFaultMessage" type="ns3:PerfilesFaultMessage"/>
      <xsd:element name="getPerfilesCorporativos">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="getPerfilesCorporativosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="perfiles"
                         nillable="true" type="ns1:Perfiles"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllPerfilesOperativos">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="getAllPerfilesOperativosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1"
                         name="listaSucursalPerfiles" nillable="true"
                         type="ns1:ListaSucursalPerfiles"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="asignarPerfiles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="usuarioAutorizador"
                         nillable="true" type="ns4:EmpleadoType"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="usuarioDestino"
                         nillable="true" type="ns4:EmpleadoType"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="perfiles"
                         nillable="true" type="ns1:Perfiles"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="asignarPerfilesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="perfilesResponse"
                         nillable="true"
                         type="ns1:AsignarPerfilesResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://nmpusuario.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="Perfiles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="perfil" nillable="true"
                       type="ns1:ArrayOfPerfilType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPerfilType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PerfilType"
                       nillable="true" type="ns1:PerfilType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PerfilType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="nombre" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="tipo" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListaSucursalPerfiles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sucursalPerfiles" nillable="true"
                       type="ns1:ArrayOfSucursalPerfiles"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSucursalPerfiles">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0"
                       name="SucursalPerfiles" nillable="true"
                       type="ns1:SucursalPerfiles"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SucursalPerfiles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="perfiles" nillable="true"
                       type="ns1:Perfiles"/>
          <xsd:element minOccurs="0" name="sucursal" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AsignarPerfilesResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="respuesta" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://nmpusuario.services.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="PerfilesFaultMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true"
                       type="ns2:MessageError"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="MessageError">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="descripcionError" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="severidad" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="tipoError" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://nmpempleado.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="EmpleadoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idEmpleado" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllPerfilesOperativosResponse">
    <wsdl:part name="parameters" element="tns:getAllPerfilesOperativosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPerfilesOperativosRequest">
    <wsdl:part name="parameters" element="tns:getAllPerfilesOperativos"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerfilesOperativosRequest">
    <wsdl:part name="parameters" element="tns:getPerfilesOperativos"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="asignarPerfilesRequest">
    <wsdl:part name="parameters" element="tns:asignarPerfiles"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerfilesCorporativosResponse">
    <wsdl:part name="parameters" element="tns:getPerfilesCorporativosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="asignarPerfilesResponse">
    <wsdl:part name="parameters" element="tns:asignarPerfilesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PerfilesFaultMessage">
    <wsdl:part name="PerfilesFaultMessage" element="tns:PerfilesFaultMessage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerfilesOperativosResponse">
    <wsdl:part name="parameters" element="tns:getPerfilesOperativosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerfilesCorporativosRequest">
    <wsdl:part name="parameters" element="tns:getPerfilesCorporativos"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProvisioningServicePortType">
    <wsdl:operation name="getPerfilesOperativos">
      <wsdl:input name="getPerfilesOperativosRequest"
                  message="tns:getPerfilesOperativosRequest"></wsdl:input>
      <wsdl:output name="getPerfilesOperativosResponse"
                   message="tns:getPerfilesOperativosResponse"></wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage"
                  message="tns:PerfilesFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerfilesCorporativos">
      <wsdl:input name="getPerfilesCorporativosRequest"
                  message="tns:getPerfilesCorporativosRequest"></wsdl:input>
      <wsdl:output name="getPerfilesCorporativosResponse"
                   message="tns:getPerfilesCorporativosResponse"></wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage"
                  message="tns:PerfilesFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPerfilesOperativos">
      <wsdl:input name="getAllPerfilesOperativosRequest"
                  message="tns:getAllPerfilesOperativosRequest"></wsdl:input>
      <wsdl:output name="getAllPerfilesOperativosResponse"
                   message="tns:getAllPerfilesOperativosResponse"></wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage"
                  message="tns:PerfilesFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="asignarPerfiles">
      <wsdl:input name="asignarPerfilesRequest"
                  message="tns:asignarPerfilesRequest"></wsdl:input>
      <wsdl:output name="asignarPerfilesResponse"
                   message="tns:asignarPerfilesResponse"></wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage"
                  message="tns:PerfilesFaultMessage"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvisioningServiceHttpBinding"
                type="tns:ProvisioningServicePortType">
    <wsdlsoap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPerfilesOperativos">
      <wsdlsoap:operation soapAction="getPerfilesOperativos"/>
      <wsdl:input name="getPerfilesOperativosRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPerfilesOperativosResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage">
        <wsdlsoap:fault name="PerfilesFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerfilesCorporativos">
      <wsdlsoap:operation soapAction="getPerfilesCorporativos"/>
      <wsdl:input name="getPerfilesCorporativosRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPerfilesCorporativosResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage">
        <wsdlsoap:fault name="PerfilesFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPerfilesOperativos">
      <wsdlsoap:operation soapAction="getAllPerfilesOperativos"/>
      <wsdl:input name="getAllPerfilesOperativosRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPerfilesOperativosResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage">
        <wsdlsoap:fault name="PerfilesFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="asignarPerfiles">
      <wsdlsoap:operation soapAction="asignarPerfiles"/>
      <wsdl:input name="asignarPerfilesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="asignarPerfilesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PerfilesFaultMessage">
        <wsdlsoap:fault name="PerfilesFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvisioningService">
    <wsdl:port name="ProvisioningServiceHttpPort"
               binding="tns:ProvisioningServiceHttpBinding">
      <wsdlsoap:address location="http://10.30.3.55:8032/midas-web/services/ProvisioningService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>