SOL4IT - DEV/OSB_Desarrollo_NMP/Common/XSD/NMPComun_TIPOS.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:NMPComun="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun"
            elementFormDefault="qualified">
  <xsd:simpleType name="identificadorType">
    <xsd:restriction base="xsd:long">
      <xsd:totalDigits value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="emailType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="usuarioType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="banderaEnteroType">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="0"/>
      <xsd:totalDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimalType">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="7"/>
      <xsd:totalDigits value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tipoTelefonoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="extensionTelefonoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoAreaType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeroTelefonicoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoPaisType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nombreCalleType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="240"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeroExteriorType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numeroInteriorType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="estadoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="delegacionMunicipioType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="coloniaType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoPostalType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tipoDomicilioType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PARTICULAR"/>
      <xsd:enumeration value="OFICINA"/>
      <xsd:enumeration value="FISCAL"/>
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ciudadPoblacionType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="paisType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="simpleIntFlagType">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="0"/>
      <xsd:totalDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ofertaEstadoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GENERADA"/>
      <xsd:enumeration value="ACEPTADA"/>
      <xsd:enumeration value="RECHAZADA"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="origenType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CRM"/>
      <xsd:enumeration value="SAP"/>
      <xsd:enumeration value="BLM"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TelefonoType">
    <xsd:sequence>
      <xsd:element name="codigoPais" type="NMPComun:codigoPaisType" minOccurs="0"/>
      <xsd:element name="codigoArea" minOccurs="0" type="NMPComun:codigoAreaType"/>
      <xsd:element name="numeroTelefonico" minOccurs="0" type="NMPComun:numeroTelefonicoType"/>
      <xsd:element name="extension" type="NMPComun:extensionTelefonoType" minOccurs="0"/>
      <xsd:element name="tipoTelefono" type="NMPComun:tipoTelefonoType" minOccurs="0"/>
      <xsd:element ref="NMPComun:fechaCreacion" minOccurs="0"/>
      <xsd:element ref="NMPComun:fuenteDato" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoListType">
    <xsd:sequence>
      <xsd:element name="Telefono" type="NMPComun:TelefonoType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoListaType">
    <xsd:sequence>
      <xsd:element name="telefono" type="NMPComun:TelefonoType" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionType">
    <xsd:sequence>
      <xsd:element name="nombreDelaCalle" minOccurs="0" type="NMPComun:nombreCalleType"/>
      <xsd:element name="numeroExterior" minOccurs="0" type="NMPComun:numeroExteriorType"/>
      <xsd:element name="numeroInterior" minOccurs="0" type="NMPComun:numeroInteriorType"/>
      <xsd:element name="estado" minOccurs="0" type="NMPComun:estadoType"/>
      <xsd:element name="delegacionMunicipio" type="NMPComun:delegacionMunicipioType" minOccurs="0"/>
      <xsd:element name="colonia" minOccurs="0" type="NMPComun:coloniaType"/>
      <xsd:element name="codigoPostal" minOccurs="0" type="NMPComun:codigoPostalType"/>
      <xsd:element name="tipoDomicilio" minOccurs="0" type="NMPComun:tipoDomicilioType"/>
      <xsd:element name="ciudadPoblacion" minOccurs="0" type="NMPComun:ciudadPoblacionType"/>
      <xsd:element name="pais" minOccurs="0" type="NMPComun:paisType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionClavesType">
    <xsd:sequence>
      <xsd:element name="tipoDomicilio" minOccurs="0" type="xsd:int"/>
      <xsd:element name="tipoVivienda" type="NMPComun:TipoViviendaType" minOccurs="0"/>
      <xsd:element name="nombreDelaCalle" minOccurs="0" type="NMPComun:nombreCalleType"/>
      <xsd:element name="numeroExterior" minOccurs="0" type="NMPComun:numeroExteriorType"/>
      <xsd:element name="numeroInterior" minOccurs="0" type="NMPComun:numeroInteriorType"/>
      <xsd:element name="entreCalle1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="entreCalle2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="colonia" minOccurs="0" type="NMPComun:ColoniaType"/>
      <xsd:element name="delegacionMunicipio" minOccurs="0" type="NMPComun:DelegacionMunicipioType"/>
      <xsd:element name="estado" minOccurs="0" type="NMPComun:EstadoType"/>
      <xsd:element name="codigoPostal" minOccurs="0" type="NMPComun:codigoPostalType"/>
      <xsd:element name="pais" minOccurs="0" type="NMPComun:PaisType"/>
      <xsd:element name="domicilioExtranjero" minOccurs="0" type="xsd:string"/>
      <xsd:element ref="NMPComun:fechaCreacion" minOccurs="0"/>
      <xsd:element ref="NMPComun:fuenteDato" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionListType">
    <xsd:sequence>
      <xsd:element name="Direccion" minOccurs="0" type="NMPComun:DireccionType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionListaType">
    <xsd:sequence>
      <xsd:element name="direccion" type="NMPComun:DireccionClavesType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:direccionCorreo" minOccurs="0"/>
      <xsd:element name="tipoCorreo" type="xsd:string" minOccurs="0"/>
      <xsd:element ref="NMPComun:fechaCreacion" minOccurs="0"/>
      <xsd:element ref="NMPComun:fuenteDato" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailListType">
    <xsd:sequence>
      <xsd:element name="Email" minOccurs="0" type="NMPComun:EmailType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailListaType">
    <xsd:sequence>
      <xsd:element name="correoElectronico" type="NMPComun:EmailType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoViviendaType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodigoPostalType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaisType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ColoniaType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:descripcion"/>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegacionMunicipioType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:descripcion"/>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadoType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:descripcion"/>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="direccionCorreo" type="NMPComun:emailType"/>
  <xsd:element name="fechaCreacion" type="xsd:dateTime"/>
  <xsd:element name="fuenteDato" type="xsd:string"/>
  <xsd:element name="descripcion" type="xsd:string"/>
  <xsd:element name="otro" type="xsd:string"/>
  <xsd:element name="clave" type="NMPComun:ClaveType"></xsd:element>
  <xsd:complexType name="ClaveType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="origen" type="NMPComun:origenType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--Se agregan elementos proyecto donatarias-->
  <xsd:element name="calle" type="xsd:string" nillable="true"/>
  <xsd:element name="numeroExterior" type="xsd:string" nillable="true"/>
  <xsd:element name="numeroInterior" type="xsd:string" nillable="true"/>
  <xsd:element name="entreCalle1" type="xsd:string" nillable="true"/>
  <xsd:element name="entreCalle2" type="xsd:string" nillable="true"/>
  <xsd:element name="referencia" type="xsd:string" nillable="true"/>
  <xsd:element name="mismoDomicilioCorrespondencia" type="xsd:boolean"/>
  <xsd:complexType name="CodigoPostal2Type">
    <xsd:sequence>
      <xsd:element ref="NMPComun:descripcion"/>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CiudadType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:descripcion"/>
      <xsd:element ref="NMPComun:clave" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionClaves2Type">
    <xsd:sequence>
      <xsd:element name="idDomicilio" minOccurs="0" type="xsd:int" nillable="true"/>
      <xsd:element name="tipoDomicilio" minOccurs="0" type="xsd:int" nillable="true"/>
      <xsd:element ref="NMPComun:calle" minOccurs="0"/>
      <xsd:element ref="NMPComun:numeroExterior" minOccurs="0"/>
      <xsd:element ref="NMPComun:numeroInterior" minOccurs="0"/>
      <xsd:element name="codigoPostal" minOccurs="0" type="NMPComun:CodigoPostal2Type" nillable="true"/>
      <xsd:element ref="NMPComun:entreCalle1" minOccurs="0"/>
      <xsd:element ref="NMPComun:entreCalle2" minOccurs="0"/>
      <xsd:element ref="NMPComun:referencia" minOccurs="0"/>
      <xsd:element name="colonia" minOccurs="0" type="NMPComun:ColoniaType" nillable="true"/>
      <xsd:element name="delegacionMunicipio" minOccurs="0" type="NMPComun:DelegacionMunicipioType" nillable="true"/>
      <xsd:element name="estado" minOccurs="0" type="NMPComun:EstadoType" nillable="true"/>
      <xsd:element name="ciudad" minOccurs="0" type="NMPComun:CiudadType" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionLista2Type">
    <xsd:sequence>
      <xsd:element ref="NMPComun:mismoDomicilioCorrespondencia"/>
      <xsd:element name="direccion" type="NMPComun:DireccionClaves2Type" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telefono2Type">
    <xsd:sequence>
      <xsd:element name="numeroTelefonico" minOccurs="0" type="xsd:string"/>
      <xsd:element name="extension" type="NMPComun:extensionTelefonoType" minOccurs="0"/>
      <xsd:element name="tipoTelefono" type="NMPComun:tipoTelefonoType" minOccurs="0"/>      
    </xsd:sequence>
  </xsd:complexType>
  <!-- JC - 28/08/2017 -->
  <xsd:simpleType name="idType">
    <xsd:restriction base="xsd:long"/>
  </xsd:simpleType>
  <xsd:simpleType name="Char1Type">
    <xsd:restriction base="xsd:string">
      <xsd:length fixed="true" value="1"/>
    </xsd:restriction>
  </xsd:simpleType>  
  <!-- JC - 28/08/2017 -->
  <xsd:simpleType name="CorreoElectronicoType">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
   <xsd:simpleType name="numeroTelefonico2Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
   <xsd:element name="correoElectronico" type="NMPComun:CorreoElectronicoType"/>
</xsd:schema>