SOL4IT - DEV/Aplicacion_SOA_Qualitas/ObtenerPrestador/SOA/WSDLs/catalogosService_wsdl_CatalogosService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="CatalogosService" targetNamespace="http://webservices.wscatalogos.qualitas.com/" xmlns:ns1="http://webservices.wscatalogos.qualitas.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservices.wscatalogos.qualitas.com/" xmlns="http://webservices.wscatalogos.qualitas.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:complexType name="parametro">
            <xs:sequence>
               <xs:element minOccurs="0" name="campo" type="xs:string"/>
               <xs:element minOccurs="0" name="operador" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="valores" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="oficina">
            <xs:sequence>
               <xs:element minOccurs="0" name="Clave" type="xs:string"/>
               <xs:element minOccurs="0" name="NOMBRE" type="xs:string"/>
               <xs:element minOccurs="0" name="DIREC" type="xs:string"/>
               <xs:element minOccurs="0" name="COLONIA" type="xs:string"/>
               <xs:element minOccurs="0" name="POBL" type="xs:string"/>
               <xs:element minOccurs="0" name="ESTADO" type="xs:string"/>
               <xs:element minOccurs="0" name="COD_POS" type="xs:string"/>
               <xs:element minOccurs="0" name="ZONA" type="xs:string"/>
               <xs:element minOccurs="0" name="IVA" type="xs:int"/>
               <xs:element minOccurs="0" name="COD_DSC" type="xs:int"/>
               <xs:element minOccurs="0" name="ZONAROBO" type="xs:string"/>
               <xs:element minOccurs="0" name="ZONAREG" type="xs:string"/>
               <xs:element minOccurs="0" name="CCOSTO" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="agente">
            <xs:sequence>
               <xs:element minOccurs="0" name="COD" type="xs:string"/>
               <xs:element minOccurs="0" name="NOMPROD" type="xs:string"/>
               <xs:element minOccurs="0" name="TIPPROD" type="xs:string"/>
               <xs:element minOccurs="0" name="RFC" type="xs:string"/>
               <xs:element minOccurs="0" name="CIG" type="xs:string"/>
               <xs:element minOccurs="0" name="TIPO" type="xs:string"/>
               <xs:element minOccurs="0" name="CALLE" type="xs:string"/>
               <xs:element minOccurs="0" name="COLONIA" type="xs:string"/>
               <xs:element minOccurs="0" name="POB" type="xs:string"/>
               <xs:element minOccurs="0" name="CODEDO" type="xs:string"/>
               <xs:element minOccurs="0" name="CIBCP" type="xs:string"/>
               <xs:element minOccurs="0" name="TELPART" type="xs:string"/>
               <xs:element minOccurs="0" name="TELCOM" type="xs:string"/>
               <xs:element minOccurs="0" name="CP" type="xs:string"/>
               <xs:element minOccurs="0" name="MOD" type="xs:string"/>
               <xs:element minOccurs="0" name="TIPODOC" type="xs:string"/>
               <xs:element minOccurs="0" name="DOCUMENTO" type="xs:string"/>
               <xs:element minOccurs="0" name="GESTOR" type="xs:string"/>
               <xs:element minOccurs="0" name="EJECUTIVO" type="xs:string"/>
               <xs:element minOccurs="0" name="NOMPROM" type="xs:string"/>
               <xs:element minOccurs="0" name="FECALTA" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="FECBAJA" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="CEDULA" type="xs:string"/>
               <xs:element minOccurs="0" name="CEDULADESDE" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="CEDULAHASTA" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="FIANZA" type="xs:string"/>
               <xs:element minOccurs="0" name="FIANZADESDE" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="FIANZAHASTA" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="PRODUCTO" type="xs:string"/>
               <xs:element minOccurs="0" name="GRUPO" type="xs:string"/>
               <xs:element minOccurs="0" name="SALDO" type="xs:float"/>
               <xs:element minOccurs="0" name="FECSALDO" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="FECREHAB" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="MONEDA" type="xs:string"/>
               <xs:element minOccurs="0" name="PATERNO" type="xs:string"/>
               <xs:element minOccurs="0" name="MATERNO" type="xs:string"/>
               <xs:element minOccurs="0" name="CURP" type="xs:string"/>
               <xs:element minOccurs="0" name="EMAIL" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="asegurado">
            <xs:sequence>
               <xs:element minOccurs="0" name="CLVASEG" type="xs:string"/>
               <xs:element minOccurs="0" name="RFC" type="xs:string"/>
               <xs:element minOccurs="0" name="NOMBRE" type="xs:string"/>
               <xs:element minOccurs="0" name="Nacionalidad" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="Ocupacion" type="xs:string"/>
               <xs:element minOccurs="0" name="CALLE" type="xs:string"/>
               <xs:element minOccurs="0" name="COL" type="xs:string"/>
               <xs:element minOccurs="0" name="POB" type="xs:string"/>
               <xs:element minOccurs="0" name="ESTADO" type="xs:string"/>
               <xs:element minOccurs="0" name="codPostal" type="xs:string"/>
               <xs:element minOccurs="0" name="TELEFONO" type="xs:string"/>
               <xs:element minOccurs="0" name="EMAIL" type="xs:string"/>
               <xs:element minOccurs="0" name="giroMercantil" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaConstitucion" type="xs:string"/>
               <xs:element minOccurs="0" name="apoderadoLegal" type="xs:string"/>
               <xs:element minOccurs="0" name="nacionApoderado" type="xs:string"/>
               <xs:element minOccurs="0" name="TipoPerDesc" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="estado">
            <xs:sequence>
               <xs:element minOccurs="0" name="COD" type="xs:string"/>
               <xs:element minOccurs="0" name="NOMBRE" type="xs:string"/>
               <xs:element minOccurs="0" name="ESTATUS" type="xs:string"/>
               <xs:element minOccurs="0" name="ZONA" type="xs:string"/>
               <xs:element minOccurs="0" name="ISEDO" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="proveedor">
            <xs:sequence>
               <xs:element minOccurs="0" name="claveProveedor" type="xs:string"/>
               <xs:element minOccurs="0" name="descProveedor" type="xs:string"/>
               <xs:element minOccurs="0" name="rfc" type="xs:string"/>
               <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
               <xs:element minOccurs="0" name="dirProveedor" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoProveedor" type="xs:string"/>
               <xs:element minOccurs="0" name="NomOfic" type="xs:string"/>
               <xs:element minOccurs="0" name="TipoCambio" type="xs:float"/>
               <xs:element minOccurs="0" name="Status" type="xs:string"/>
               <xs:element minOccurs="0" name="claveTipoProveedor" type="xs:string"/>
               <xs:element minOccurs="0" name="claveEstado" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="colonia" type="xs:string"/>
               <xs:element minOccurs="0" name="codigoPostal" type="xs:string"/>
               <xs:element minOccurs="0" name="telefono" type="xs:string"/>
               <xs:element minOccurs="0" name="fax" type="xs:string"/>
               <xs:element minOccurs="0" name="celular" type="xs:string"/>
               <xs:element minOccurs="0" name="correo" type="xs:string"/>
               <xs:element minOccurs="0" name="MarcaContratante" type="xs:string"/>
               <xs:element minOccurs="0" name="ClaveMarcaContratante" type="xs:string"/>
               <xs:element minOccurs="0" name="PctjeDescSLista" type="xs:float"/>
               <xs:element minOccurs="0" name="PctjeDescPPago" type="xs:float"/>
               <xs:element minOccurs="0" name="NumDocto" type="xs:string"/>
               <xs:element minOccurs="0" name="ClaveOfic" type="xs:string"/>
               <xs:element minOccurs="0" name="GpoSup" type="xs:string"/>
               <xs:element minOccurs="0" name="anioAlta" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoPersona" type="xs:string"/>
               <xs:element minOccurs="0" name="descTipoPersona" type="xs:string"/>
               <xs:element minOccurs="0" name="descStatus" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoEstablecimiento" type="xs:string"/>
               <xs:element minOccurs="0" name="prestadorMatriz" type="xs:string"/>
               <xs:element minOccurs="0" name="descTipoEstablecimiento" type="xs:string"/>
               <xs:element minOccurs="0" name="relacionProveedor" type="xs:string"/>
               <xs:element minOccurs="0" name="NombreContacto1" type="xs:string"/>
               <xs:element minOccurs="0" name="NombreComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="CalleComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="ColoniaComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="CPComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="TelefonoComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="DelegacionComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="MailComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="EstadoComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="PoblacionComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="MailContacto1" type="xs:string"/>
               <xs:element minOccurs="0" name="ClaveEdoComercial" type="xs:string"/>
               <xs:element minOccurs="0" name="ClavePobComercial" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="getRegistros" type="getRegistros"/>
         <xs:complexType name="getRegistros">
            <xs:sequence>
               <xs:element minOccurs="0" name="tabla" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="columnas" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="parametros" type="parametro"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="getRegistrosResponse" type="getRegistrosResponse"/>
         <xs:complexType name="getRegistrosResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getRegistros">
      <wsdl:part name="parameters" element="ns1:getRegistros"/>
   </wsdl:message>
   <wsdl:message name="getRegistrosResponse">
      <wsdl:part name="parameters" element="ns1:getRegistrosResponse"/>
   </wsdl:message>
   <wsdl:portType name="CatalogosService">
      <wsdl:operation name="getRegistros">
         <wsdl:input name="getRegistros" message="ns1:getRegistros"/>
         <wsdl:output name="getRegistrosResponse" message="ns1:getRegistrosResponse"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
