SOL4IT - DEV/Otros/Content/Resources/ContentSvc_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://service.ucm.soaint.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.ucm.soaint.com/">
  <xsd:complexType name="delete">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:contentActionRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:contentActionResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findDocuments">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:contentActionRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findDocumentsResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:contentActionResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contentActionRequest">
    <xsd:sequence>
      <xsd:element name="documento" type="ns0:documentoModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="documentoModel">
    <xsd:sequence>
      <xsd:element name="extra1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="id" type="xsd:long" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nroSolicitud" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contentActionResponse">
    <xsd:sequence>
      <xsd:element name="detalle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="documentos" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="satisfactorio" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="delete" type="ns0:delete"/>
  <xsd:element name="deleteResponse" type="ns0:deleteResponse"/>
  <xsd:element name="findDocuments" type="ns0:findDocuments"/>
  <xsd:element name="findDocumentsResponse" type="ns0:findDocumentsResponse"/>
</xsd:schema>