SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Cotizador/Resources/WSDLs/NMPCotizadorWSDL.wsdl

<wsdl:definitions name="NMPCotizadorWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Servicios/Cotizador" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Servicios/Cotizador" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:smcmnsn="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" schemaLocation="../Schemas/NMPCotizadorSvcXSD.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="inp1:cotizarVehiculoRequest"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="response" element="inp1:cotizarVehiculoResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="cotizadorFault" element="inp2:messageError"/>
    </wsdl:message>
    <wsdl:portType name="cotizador_ptt">
        <wsdl:operation name="cotizarVehiculo">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
            <wsdl:fault name="cotizadorFault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="headerReqMessage">
        <wsdl:part name="headerRequest" element="smcmnsn:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="headerResMessage">
        <wsdl:part name="headerResponse" element="smcmnsn:headerMessageResponse"/>
    </wsdl:message>
    <wsdl:binding name="cotizador_pttSOAP11Binding" type="tns:cotizador_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cotizarVehiculo">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Servicios/Cotizador/cotizarVehiculo"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
                <soap:header message="tns:headerReqMessage" part="headerRequest" use="literal" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
                <soap:header message="tns:headerResMessage" part="headerResponse" use="literal" wsdl:required="true"/>
            </wsdl:output>
            <wsdl:fault name="cotizadorFault">
                <soap:fault name="cotizadorFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="cotizador_ptt">
        <wsdl:port name="cotizador_pttPort" binding="tns:cotizador_pttSOAP11Binding">
            <soap:address location="http://www.montepiedad.com.mx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>