SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/cenmp/resources/wsdl/MakoNMP.php.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MakoNMP" targetNamespace="http://54.85.144.75/" xmlns:tns="http://54.85.144.75/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://54.85.144.75/"/>
  </wsdl:types>
  <wsdl:portType name="MakoNMPPortType">
    <wsdl:operation name="reporteVentasDiario" parameterOrder="fechaInicio fechaFinal centro">
      <wsdl:input message="tns:reporteVentasDiarioRequest"/>
      <wsdl:output message="tns:reporteVentasDiarioResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerLstCurso">
      <wsdl:input message="tns:obtenerLstCursoRequest"/>
      <wsdl:output message="tns:obtenerLstCursoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerAlumnoCursosFinalizados" parameterOrder="alumno centro">
      <wsdl:input message="tns:obtenerAlumnoCursosFinalizadosRequest"/>
      <wsdl:output message="tns:obtenerAlumnoCursosFinalizadosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerOfertaCursos" parameterOrder="fechaInicio fechaFinal centro">
      <wsdl:input message="tns:obtenerOfertaCursosRequest"/>
      <wsdl:output message="tns:obtenerOfertaCursosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cursoCreado">
      <wsdl:input message="tns:cursoCreadoRequest"/>
      <wsdl:output message="tns:cursoCreadoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="categoriaCursoCreado">
      <wsdl:input message="tns:categoriaCursoCreadoRequest"/>
      <wsdl:output message="tns:categoriaCursoCreadoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtieneAlumnoCursos" parameterOrder="usuario">
      <wsdl:input message="tns:obtieneAlumnoCursosRequest"/>
      <wsdl:output message="tns:obtieneAlumnoCursosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtieneAlumnosGrupo" parameterOrder="grupo">
      <wsdl:input message="tns:obtieneAlumnosGrupoRequest"/>
      <wsdl:output message="tns:obtieneAlumnosGrupoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MakoNMPBinding" type="tns:MakoNMPPortType">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="reporteVentasDiario">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/reporteVentasDiario" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="fechaInicio fechaFinal centro" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="obtenerLstCurso">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/obtenerLstCurso" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="obtenerAlumnoCursosFinalizados">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/obtenerAlumnoCursosFinalizados" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="alumno centro" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="obtenerOfertaCursos">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/obtenerOfertaCursos" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="fechaInicio fechaFinal centro" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="cursoCreado">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/cursoCreado" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="categoriaCursoCreado">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/categoriaCursoCreado" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="obtieneAlumnoCursos">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/obtieneAlumnoCursos" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="usuario" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="obtieneAlumnosGrupo">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://54.85.144.75/obtieneAlumnosGrupo" style="rpc"/>
      <wsdl:input xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="grupo" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" parts="result" use="literal" namespace="http://54.85.144.75/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="reporteVentasDiarioRequest">
    <wsdl:part name="fechaInicio" type="xsd:string"/>
    <wsdl:part name="fechaFinal" type="xsd:string"/>
    <wsdl:part name="centro" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="reporteVentasDiarioResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtenerLstCursoRequest"/>
  <wsdl:message name="obtenerLstCursoResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtenerAlumnoCursosFinalizadosRequest">
    <wsdl:part name="alumno" type="xsd:string"/>
    <wsdl:part name="centro" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtenerAlumnoCursosFinalizadosResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtenerOfertaCursosRequest">
    <wsdl:part name="fechaInicio" type="xsd:string"/>
    <wsdl:part name="fechaFinal" type="xsd:string"/>
    <wsdl:part name="centro" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="obtenerOfertaCursosResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="cursoCreadoRequest"/>
  <wsdl:message name="cursoCreadoResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="categoriaCursoCreadoRequest"/>
  <wsdl:message name="categoriaCursoCreadoResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtieneAlumnoCursosRequest">
    <wsdl:part name="usuario" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtieneAlumnoCursosResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtieneAlumnosGrupoRequest">
    <wsdl:part name="grupo" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="obtieneAlumnosGrupoResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:service xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MakoNMPService">
    <wsdl:port xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MakoNMPPort" binding="tns:MakoNMPBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://54.85.144.75/MakoNMP.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>