SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/cenmp/resources/wsdl/NmpProxy.wsdl

<definitions targetNamespace="http://xmlns.montepiedad.com.mx/nmp/cenmp" xmlns:nmp="http://xmlns.montepiedad.com.mx/nmp/cenmp" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd1="http://nmp.com/CommonDataModel/1.0/Common">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://xmlns.montepiedad.com.mx/nmp/cenmp" schemaLocation="../xsd/NmpProxy.xsd"/>
			<xsd:import namespace="http://nmp.com/CommonDataModel/1.0/Common" schemaLocation="../xsd/Messages.xsd">
			</xsd:import>
		</xsd:schema>

	</types>
	<message name="RegistrarSocioRequest">
		<part name="payload" element="nmp:RegistrarSocioRequest"/>
	</message>
	<message name="RegistrarSocioResponse">
		<part name="payload" element="nmp:RegistrarSocioResponse"/>
	</message>
	<message name="RegistrarSocioFault">
		<part name="payload" element="nmp:ServiceFault"/>
	</message>
	<message name="InscribirRequest">
		<part name="payload" element="nmp:InscribirRequest"/>
	</message>
	<message name="InscribirResponse">
		<part name="payload" element="nmp:InscribirResponse"/>
	</message>
	<message name="InscribirFault">
		<part name="payload" element="nmp:ServiceFault"/>
	</message>
	<message name="ObtenerOfertaTECRequest">
		<part name="payload" element="nmp:ObtenerOfertaTECRequest"/>
	</message>
	<message name="ObtenerOfertaTECResponse">
		<part name="payload" element="nmp:ObtenerOfertaTECResponse"/>
	</message>
	<message name="ObtenerOfertaTECFault">
		<part name="payload" element="nmp:ServiceFault"/>
	</message>
	<message name="ObtenerCursosSocioTecRequest">
		<part name="payload" element="nmp:ObtenerCursosSocioTecRequest"/>
	</message>
	<message name="ObtenerCursosSocioTecResponse">
		<part name="payload" element="nmp:ObtenerCursosSocioTecResponse"/>
	</message>
	<message name="ObtenerCursosSocioTecFault">
		<part name="payload" element="nmp:ServiceFault"/>
	</message>

	<message name="CancelarInscripcionRequest">
		<part name="payload" element="nmp:CancelarInscripcionRequest"/>
	</message>
	<message name="CancelarInscripcionResponse">
		<part name="payload" element="nmp:CancelarInscripcionResponse"/>
	</message>
	<message name="CancelarInscripcionFault">
		<part name="payload" element="nmp:ServiceFault"/>
	</message>

	<message name="SincronizarCursosRiaRequest">
		<part name="parameters" element="xsd1:SyncCoursesFromRiaIM"/>
	</message>
	<message name="SincronizarCursosRiaResponse">
		<part name="parameters" element="xsd1:GeneralResponseIM"/>
	</message>

	<message name="SincronizarVentasDiariasRequest">
		<part name="parameters" element="xsd1:SyncDailySalesIM"/>
	</message>
	<message name="SincronizarVentasDiariasResponse">
		<part name="parameters" element="xsd1:GeneralResponseIM"/>
	</message>



	<message name="RegistrarCitaRequest">
		<part name="parameters" element="xsd1:RegisterAppointmentIM"/>
	</message>
	<message name="RegistrarCitaResponse">
		<part name="parameters" element="xsd1:GeneralResponseIM"/>
	</message>
	<portType name="CENMP">
		<operation name="RegistrarSocio">
			<input message="nmp:RegistrarSocioRequest"/>
			<output message="nmp:RegistrarSocioResponse"/>
			<fault name="fault" message="nmp:RegistrarSocioFault"/>
		</operation>
		<operation name="Inscribir">
			<input message="nmp:InscribirRequest"/>
			<output message="nmp:InscribirResponse"/>
			<fault name="fault" message="nmp:InscribirFault"/>
		</operation>
		<operation name="ObtenerOfertaTEC">
			<input message="nmp:ObtenerOfertaTECRequest"/>
			<output message="nmp:ObtenerOfertaTECResponse"/>
			<fault name="fault" message="nmp:ObtenerOfertaTECFault"/>
		</operation>
		<operation name="ObtenerCursosSocioTec">
			<input message="nmp:ObtenerCursosSocioTecRequest"/>
			<output message="nmp:ObtenerCursosSocioTecResponse"/>
			<fault name="fault" message="nmp:ObtenerCursosSocioTecFault"/>
		</operation>
		<operation name="CancelarInscripcion">
			<input message="nmp:CancelarInscripcionRequest"/>
			<output message="nmp:CancelarInscripcionResponse"/>
			<fault name="fault" message="nmp:CancelarInscripcionFault"/>
		</operation>




		<operation name="SincronizarCursosRia">
			<input message="nmp:SincronizarCursosRiaRequest"/>
			<output message="nmp:SincronizarCursosRiaResponse"/>
		</operation>
		<operation name="SincronizarVentasDiarias">
			<input message="nmp:SincronizarVentasDiariasRequest"/>
			<output message="nmp:SincronizarVentasDiariasResponse"/>
		</operation>
		<operation name="RegistrarCita">
			<input message="nmp:RegistrarCitaRequest"/>
			<output message="nmp:RegistrarCitaResponse"/>
		</operation>
	</portType>
	<binding name="NMPBinding" type="nmp:CENMP">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="RegistrarCita">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>

		</operation>

		<operation name="SincronizarCursosRia">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>

		</operation>

		<operation name="SincronizarVentasDiarias">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>

		</operation>

		<operation name="RegistrarSocio">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
			</fault>
		</operation>
		<operation name="Inscribir">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
			</fault>
		</operation>
		<operation name="ObtenerOfertaTEC">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
			</fault>
		</operation>
		<operation name="ObtenerCursosSocioTec">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
			</fault>
		</operation>
		<operation name="CancelarInscripcion">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
			</fault>
		</operation>

	</binding>
</definitions>