SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoComplementos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoComplementos" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoComplementos" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoComplementos"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoComplementosType">
        <xs:sequence>
            <xs:element name="complemento" nillable="true" type="xs:string"/>
            <xs:element name="fechaInicioViaje" nillable="true" type="xs:date"/>
            <xs:element name="fechaFinViaje" nillable="true" type="xs:date"/>
            <xs:element name="diasDeViaje" nillable="true" type="xs:int"/>
            <xs:element name="totalAnticipo" nillable="true" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoComplementos" type="BoComplementosType"/>
</xs:schema>
