SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoDatosCategoria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoDatosCategoria" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoDatosCategoria" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoDatosCategoria"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoDatosCategoriaType">
        <xs:sequence>
            <xs:element name="hospedaje" nillable="true" type="xs:string"/>
            <xs:element name="alimentos" nillable="true" type="xs:string"/>
            <xs:element name="gastosGenerales" nillable="true" type="xs:string"/>
            <xs:element name="kilometraje" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoDatosCategoria" type="BoDatosCategoriaType"/>
</xs:schema>
