SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoFragCategorias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoFragCategorias" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragCategorias" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragCategorias"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoDatosCategoria"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoDatosCategoria" schemaLocation="BoDatosCategoria.xsd"/>
    <xs:complexType name="BoFragCategoriasType">
        <xs:sequence>
            <xs:element name="categoria" nillable="true" type="ns1:BoDatosCategoriaType"/>
            <xs:element name="tarifaPorDiaKilometro" nillable="true" type="xs:decimal"/>
            <xs:element name="totalAnticipo" nillable="true" type="xs:decimal"/>
            <xs:element name="numeroDeKilometros" nillable="true" type="xs:decimal"/>
            <xs:element name="subtotal" nillable="true" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoFragCategorias" type="BoFragCategoriasType"/>
</xs:schema>
