SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoFragDatosEmpleado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoFragDatosEmpleado" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosEmpleado" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosEmpleado"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoFragDatosEmpleadoType">
        <xs:sequence>
            <xs:element name="numero" nillable="true" type="xs:int"/>
            <xs:element name="nombre" nillable="true" type="xs:string"/>
            <xs:element name="puesto" nillable="true" type="xs:string"/>
            <xs:element name="area" nillable="true" type="xs:string"/>
            <xs:element name="centroDeCosto" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoFragDatosEmpleado" type="BoFragDatosEmpleadoType"/>
</xs:schema>
