SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoFragDatosViatico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoFragDatosViatico" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosViatico" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosViatico"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoFragDatosViaticoType">
        <xs:sequence>
            <xs:element name="oficinaDestino" nillable="true" type="xs:string"/>
            <xs:element name="nombreDestino" nillable="true" type="xs:string"/>
            <xs:element name="fechaFin" nillable="true" type="xs:date"/>
            <xs:element name="fechaInicio" nillable="true" type="xs:date"/>
            <xs:element name="diasDeViaje" nillable="true" type="xs:int"/>
            <xs:element name="justificacion" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoFragDatosViatico" type="BoFragDatosViaticoType"/>
</xs:schema>
