SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoFragValidacionSolicitud.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoFragValidacionSolicitud" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragValidacionSolicitud" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragValidacionSolicitud"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoFragValidacionSolicitudType">
        <xs:sequence>
            <xs:element name="observaciones" nillable="true" type="xs:string"/>
            <xs:element name="resultadoDeAutorizacion" default="" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoFragValidacionSolicitud" type="BoFragValidacionSolicitudType"/>
</xs:schema>
