SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoGestionAutorizarSolicitudViaticos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoGestionAutorizarSolicitudViaticos" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoGestionAutorizarSolicitudViaticos" elementFormDefault="qualified" xmlns:ns4="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragValidacionSolicitud"  xmlns:ns3="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragCategorias"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosEmpleado"  xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosViatico"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoGestionAutorizarSolicitudViaticos"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosEmpleado" schemaLocation="BoFragDatosEmpleado.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragCategorias" schemaLocation="BoFragCategorias.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragDatosViatico" schemaLocation="BoFragDatosViatico.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoFragValidacionSolicitud" schemaLocation="BoFragValidacionSolicitud.xsd"/>
    <xs:complexType name="BoGestionAutorizarSolicitudViaticosType">
        <xs:sequence>
            <xs:element name="datosDelAutorizador" nillable="true" type="ns1:BoFragDatosEmpleadoType"/>
            <xs:element name="datosDelViatico" nillable="true" type="ns2:BoFragDatosViaticoType"/>
            <xs:element name="datosDelSolicitante" nillable="true" type="ns1:BoFragDatosEmpleadoType"/>
            <xs:element name="categorias" nillable="true" type="ns3:BoFragCategoriasType"/>
            <xs:element name="autorizacion" nillable="true" type="ns4:BoFragValidacionSolicitudType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoGestionAutorizarSolicitudViaticos" type="BoGestionAutorizarSolicitudViaticosType"/>
</xs:schema>
