SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoGestionAutorizarComplementoViaticos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoGestionAutorizarComplementoViaticos" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoGestionAutorizarComplementoViaticos" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoGestionAutorizarComplementoViaticos"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoComplementos"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoGestionAutorizarSolicitudViaticos"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoComplementos" schemaLocation="BoComplementos.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoGestionAutorizarSolicitudViaticos" schemaLocation="BoGestionAutorizarSolicitudViaticos.xsd"/>
    <xs:complexType name="BoGestionAutorizarComplementoViaticosType">
        <xs:sequence>
            <xs:element name="gestionSolicitud" nillable="true" type="ns1:BoGestionAutorizarSolicitudViaticosType"/>
            <xs:element name="complementos" nillable="true" type="ns2:BoComplementosType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoGestionAutorizarComplementoViaticos" type="BoGestionAutorizarComplementoViaticosType"/>
</xs:schema>
