SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosViaticos/BoNotificaciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosViaticos.BoNotificaciones" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoNotificaciones" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosViaticos/BoNotificaciones"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoNotificacionesType">
        <xs:sequence>
            <xs:element name="autorizador" nillable="true" type="xs:string"/>
            <xs:element name="idSolicitud" nillable="true" type="xs:string"/>
            <xs:element name="nombreProceso" nillable="true" type="xs:string"/>
            <xs:element name="nombreEmpleado" nillable="true" type="xs:string"/>
            <xs:element name="correo" nillable="true" type="xs:string"/>
            <xs:element name="razonSocialPrestador" nillable="true" type="xs:string"/>
            <xs:element name="numDias" nillable="true" type="xs:int"/>
            <xs:element name="motivoRechazo" nillable="true" type="xs:string"/>
            <xs:element name="observacion" nillable="true" type="xs:string"/>
            <xs:element name="respuestaOP" default="" nillable="true" type="xs:int"/>
            <xs:element name="numOP" default="" nillable="true" type="xs:string"/>
            <xs:element name="numCaratula" nillable="true" type="xs:int"/>
            <xs:element name="edoPago" nillable="true" type="xs:int"/>
            <xs:element name="fechaAsinacionTarea" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoNotificaciones" type="BoNotificacionesType"/>
</xs:schema>
