SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Cobranza/Resources/WSDLs/MCGestionCobranza.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="recibe_datos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CREDITO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LONGITUD_Y_LONGITUD" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="COB_FOTO_DOMICILIO1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="COB_FOTO_DOMICILIO2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="COB_FOTO_COMPROBANTE1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="COB_FOTO_COMPROBANTE2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="GESTOR_GESTIONO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ACCION" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="RESULTADO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CAUSA_NOPAGO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="COMENTARIO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MONTO_PROMESA" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FECHA_PROMESA" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CORREO_ELECTRONICO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CALLE" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NUMERO_EXT" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NUMERO_INT" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MANZANA" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LOTE" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="COLONIA" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MUNICIPIO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LOCALIDAD" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ENTRE_CALLE_1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ENTRE_CALLE_2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CP" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_TELEFONO_1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LADA_TELEFONO1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TELEFONO1" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_TELEFONO_2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LADA_TELEFONO2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TELEFONO2" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_TELEFONO_3" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LADA_TELEFONO3" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TELEFONO3" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_TELEFONO_4" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LADA_TELEFONO4" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TELEFONO4" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TIPO_NEGOCIACION" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PERIODICIDAD" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NUM_PAGOS" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DIA_DE_PAGO" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MONTO_NEGOCIACION" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ID_EXTERNAL" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FINAL_DTE" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="EXTERNAL_TYPE" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="COMPANY" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recibe_datosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recibe_datosResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="recibe_datosSoapIn">
    <wsdl:part name="parameters" element="tns:recibe_datos"/>
  </wsdl:message>
  <wsdl:message name="recibe_datosSoapOut">
    <wsdl:part name="parameters" element="tns:recibe_datosResponse"/>
  </wsdl:message>
  <wsdl:portType name="WSMCSoap">
    <wsdl:operation name="recibe_datos">
      <wsdl:input message="tns:recibe_datosSoapIn"/>
      <wsdl:output message="tns:recibe_datosSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSMCSoap" type="tns:WSMCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recibe_datos">
      <soap:operation soapAction="http://tempuri.org/recibe_datos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMCSoap12" type="tns:WSMCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recibe_datos">
      <soap12:operation soapAction="http://tempuri.org/recibe_datos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMC">
    <wsdl:port name="WSMCSoap" binding="tns:WSMCSoap">
      <soap:address location="http://172.22.0.8/NMPWSMC/WSMC.asmx"/>
    </wsdl:port>
    <wsdl:port name="WSMCSoap12" binding="tns:WSMCSoap12">
      <soap12:address location="http://172.22.0.8/NMPWSMC/WSMC.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>