SOL4IT - DEV/SOA_Desarrollo/GestionOrdenPago/SOA/WSDLs/GestionOrdenPagoBPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://qualitas.com.mx/Comunes/gestionOrdenPagoBPEL/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ops="http://qualitas.com.mx/Comunes/gestionOrdenPagoBPEL/v1/" xmlns:ns1="http://qualitas.com.mx/Comunes/gestionOrdenPagoSchema/v1/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://qualitas.com.mx/Comunes/gestionOrdenPagoSchema/v1/" schemaLocation="../Schemas/GestionOrdenPago.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="consultarOrdenPagoBPELRequestMessage">
      <wsdl:part name="consultarOrdenPagoReq" element="ns1:consultarOrdenPagoRequest"/>
   </wsdl:message>
   <wsdl:message name="consultarOrdenPagoBPELResponseMessage">
      <wsdl:part name="consultarOrdenPagoRes" element="ns1:consultarOrdenPagoResponse"/>
   </wsdl:message>
   <wsdl:message name="guardarOrdenPagoBPELRequestMessage">
      <wsdl:part name="guardarArchivoReq" element="ns1:guardarOrdenPagoRequest"/>
   </wsdl:message>
   <wsdl:message name="guardarOrdenPagoBPELResponseMessage">
      <wsdl:part name="guardarArchivoRes" element="ns1:guardarOrdenPagoResponse"/>
   </wsdl:message>
   <wsdl:portType name="gestionOrdenPagoBPELPortType">
      <wsdl:operation name="consultarOrdenPago">
         <wsdl:input message="ops:consultarOrdenPagoBPELRequestMessage"/>
         <wsdl:output message="ops:consultarOrdenPagoBPELResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="guardanOrdenPago">
         <wsdl:input message="ops:guardarOrdenPagoBPELRequestMessage"/>
         <wsdl:output message="ops:guardarOrdenPagoBPELResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="gestionOrdenPagoBPELBinding" type="ops:gestionOrdenPagoBPELPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="consultarOrdenPago">
         <soap:operation style="document" soapAction="http://qualitas.com.mx/Comunes/gestionOrdenPagoBPEL/v1//consultarOrdenPago"/>
         <wsdl:input>
            <soap:body use="literal" parts="consultarOrdenPagoReq"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="consultarOrdenPagoRes"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="guardanOrdenPago">
         <soap:operation style="document" soapAction="http://qualitas.com.mx/Comunes/gestionOrdenPagoBPEL/v1//guardanOrdenPago"/>
         <wsdl:input>
            <soap:body use="literal" parts="guardarArchivoReq"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="guardarArchivoRes"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
