SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/PagoEnLinea/Resources/Schemas/NMPBanamexTransaccionesNXSD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://servicios.montedepiedad.com.mx/NMP/Schema/TransaccionesBanco" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/TransaccionesBanco" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="transaccionBancoBanamex">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="amount" type="xsd:double"/>
            <xsd:element name="creationTime" type="xsd:string"/>
            <xsd:element name="totalCapturedAmount" type="xsd:double"/>
            <xsd:element name="description" type="xsd:integer"/>
            <xsd:element name="merchant" type="xsd:string"/>
            <xsd:element name="sourceOfFunds">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="provided">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="card">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="number" type="xsd:string"/>
                                       <xsd:element name="scheme" type="xsd:string"/>
                                       <xsd:element name="nameOnCard" type="xsd:string"/>
                                       <xsd:element name="fundingMethod" type="xsd:string"/>
                                       <xsd:element name="expiry">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="month" type="xsd:integer"/>
                                                <xsd:element name="year" type="xsd:integer"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="brand" type="xsd:string"/>
                                       <xsd:element name="issuer" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="type" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="totalRefundedAmount" type="xsd:double"/>
            <xsd:element name="reference" type="xsd:integer"/>
            <xsd:element name="result" type="xsd:string"/>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="device">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="browser" type="xsd:string"/>
                     <xsd:element name="ipAddress" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="totalAuthorizedAmount" type="xsd:double"/>
            <xsd:element name="transaction">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="timeOfRecord" type="xsd:string"/>
                     <xsd:element name="merchant" type="xsd:string"/>
                     <xsd:element name="sourceOfFunds">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="provided">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="card">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="number" type="xsd:string"/>
                                                <xsd:element name="scheme" type="xsd:string"/>
                                                <xsd:element name="nameOnCard" type="xsd:string"/>
                                                <xsd:element name="fundingMethod" type="xsd:string"/>
                                                <xsd:element name="expiry">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="month" type="xsd:integer"/>
                                                         <xsd:element name="year" type="xsd:integer"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="brand" type="xsd:string"/>
                                                <xsd:element name="issuer" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="type" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <!--xsd:element name="DSecure">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="xid" type="xsd:string"/>
                              <xsd:element name="enrollmentStatus" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element-->
                     <xsd:element name="version" type="xsd:integer"/>
                     <xsd:element name="result" type="xsd:string"/>
                     <xsd:element name="gatewayEntryPoint" type="xsd:string"/>
                     <xsd:element name="response">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="acquirerMessage" type="xsd:string"/>
                              <xsd:element name="cardSecurityCode">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="gatewayCode" type="xsd:string"/>
                                       <xsd:element name="acquirerCode" type="xsd:integer"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="gatewayCode" type="xsd:string"/>
                              <xsd:element name="acquirerCode" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <!--xsd:element name="DSecureId" type="xsd:string"/-->
                     <xsd:element name="device">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="browser" type="xsd:string"/>
                              <xsd:element name="ipAddress" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="transaction">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="amount" type="xsd:double"/>
                              <xsd:element name="authorizationCode" type="xsd:integer"/>
                              <xsd:element name="currency" type="xsd:string"/>
                              <xsd:element name="receipt" type="xsd:integer"/>
                              <xsd:element name="id" type="xsd:integer"/>
                              <xsd:element name="source" type="xsd:string"/>
                              <xsd:element name="terminal" type="xsd:integer"/>
                              <xsd:element name="acquirer">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="merchantId" type="xsd:integer"/>
                                       <xsd:element name="batch" type="xsd:integer"/>
                                       <xsd:element name="id" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="type" type="xsd:string"/>
                              <xsd:element name="frequency" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="customer">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="firstName" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="order">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="reference" type="xsd:integer"/>
                              <xsd:element name="amount" type="xsd:double"/>
                              <xsd:element name="creationTime" type="xsd:string"/>
                              <xsd:element name="totalCapturedAmount" type="xsd:double"/>
                              <xsd:element name="description" type="xsd:integer"/>
                              <xsd:element name="currency" type="xsd:string"/>
                              <xsd:element name="id" type="xsd:string"/>
                              <xsd:element name="totalAuthorizedAmount" type="xsd:double"/>
                              <xsd:element name="status" type="xsd:string"/>
                              <xsd:element name="totalRefundedAmount" type="xsd:double"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="customer">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="firstName" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="status" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>