SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WSDL/CRMClienteSvcAltaDisPortTypesWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/Imports">
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisElementosXSD.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal"/>
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisErrorXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/CRMServices.Errores"/>
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisTipos1XSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisTipos0XSD.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/CanonicalModel"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetCliente_ServiceErrorFault_FaultMessage">
    <wsdl:part name="detail" element="q1:ServiceError" xmlns:q1="http://schemas.datacontract.org/2004/07/CRMServices.Errores"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetClienteByNMPCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByNMPCredential"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetClienteByNMPCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByNMPCredentialResponse"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetClienteByNMPCredential_ServiceErrorFault_FaultMessage">
    <wsdl:part name="detail" element="q2:ServiceError" xmlns:q2="http://schemas.datacontract.org/2004/07/CRMServices.Errores"/>
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetCliente" message="tns:ICliente_GetCliente_InputMessage"/>
      <wsdl:output wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteResponse" message="tns:ICliente_GetCliente_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteServiceErrorFault" name="ServiceErrorFault" message="tns:ICliente_GetCliente_ServiceErrorFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetClienteByNMPCredential">
      <wsdl:input wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteByNMPCredential" message="tns:ICliente_GetClienteByNMPCredential_InputMessage"/>
      <wsdl:output wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteByNMPCredentialResponse" message="tns:ICliente_GetClienteByNMPCredential_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteByNMPCredentialServiceErrorFault" name="ServiceErrorFault" message="tns:ICliente_GetClienteByNMPCredential_ServiceErrorFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>