SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WSDL/CRMClienteSvcAltaDisBindingsWSDL.wsdl

<wsdl:definitions name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/Imports">
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisElementosXSD.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal"/>
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisTipos1XSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisTipos0XSD.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/CanonicalModel"/>
      <xsd:import schemaLocation="../Schemas/CRMClienteSvcAltaDisErrorXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/CRMServices.Errores"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="i0:GetCliente"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="i0:GetClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetClienteByNMPCredential_InputMessage">
    <wsdl:part name="parameters" element="i0:GetClienteByNMPCredential"/>
  </wsdl:message>
  <wsdl:message name="ICliente_GetClienteByNMPCredential_OutputMessage">
    <wsdl:part name="parameters" element="i0:GetClienteByNMPCredentialResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetCliente" message="tns:ICliente_GetCliente_InputMessage"/>
      <wsdl:output wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteResponse" message="tns:ICliente_GetCliente_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetClienteByNMPCredential">
      <wsdl:input wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteByNMPCredential" message="tns:ICliente_GetClienteByNMPCredential_InputMessage"/>
      <wsdl:output wsaw:Action="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteByNMPCredentialResponse" message="tns:ICliente_GetClienteByNMPCredential_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICliente" type="tns:ICliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetCliente" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteByNMPCredential">
      <soap:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal/ICliente/GetClienteByNMPCredential" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_ICliente" binding="tns:BasicHttpBinding_ICliente">
      <soap:address location="http://10.30.2.23/CRMServices/ClienteService.svc/basic"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>