SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WSDL/CRMClientesMiMonteSvc.wsdl

<wsdl:definitions name="MiMonte" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMiMonte_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../Schemas/CRMMiMonteServiceElementosXSD.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../Schemas/CRMMiMonteServiceTXSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../Schemas/CRMMiMonteTipos1XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta"/>
      <xsd:import schemaLocation="../Schemas/CRMMiMonteTipos0XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiMonte_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente"/>
  </wsdl:message>
  <wsdl:message name="IMiMonte_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="IMiMonte_consultaEstatusProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:consultaEstatusProceso"/>
  </wsdl:message>
  <wsdl:message name="IMiMonte_consultaEstatusProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultaEstatusProcesoResponse"/>
  </wsdl:message>
  <wsdl:message name="IMiMonte_actualizaEstatusProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizaEstatusProceso"/>
  </wsdl:message>
  <wsdl:message name="IMiMonte_actualizaEstatusProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizaEstatusProcesoResponse"/>
  </wsdl:message>
  <wsdl:portType name="IMiMonte">
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiMonte/GetCliente" message="tns:IMiMonte_GetCliente_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IMiMonte/GetClienteResponse" message="tns:IMiMonte_GetCliente_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultaEstatusProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiMonte/consultaEstatusProceso" message="tns:IMiMonte_consultaEstatusProceso_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IMiMonte/consultaEstatusProcesoResponse" message="tns:IMiMonte_consultaEstatusProceso_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizaEstatusProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiMonte/actualizaEstatusProceso" message="tns:IMiMonte_actualizaEstatusProceso_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IMiMonte/actualizaEstatusProcesoResponse" message="tns:IMiMonte_actualizaEstatusProceso_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiMonte" type="tns:IMiMonte">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://tempuri.org/IMiMonte/GetCliente" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaEstatusProceso">
      <soap:operation soapAction="http://tempuri.org/IMiMonte/consultaEstatusProceso" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaEstatusProceso">
      <soap:operation soapAction="http://tempuri.org/IMiMonte/actualizaEstatusProceso" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMiMonte" type="tns:IMiMonte">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMiMonte_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://tempuri.org/IMiMonte/GetCliente" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaEstatusProceso">
      <soap:operation soapAction="http://tempuri.org/IMiMonte/consultaEstatusProceso" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizaEstatusProceso">
      <soap:operation soapAction="http://tempuri.org/IMiMonte/actualizaEstatusProceso" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiMonte">
    <wsdl:port name="BasicHttpBinding_IMiMonte" binding="tns:BasicHttpBinding_IMiMonte">
      <soap:address location="http://dcpimsdcrmint01.nmp.com.mx/CRMServicios.MiMonte/Servicios/MiMonte.svc"/>
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMiMonte" binding="tns:BasicHttpsBinding_IMiMonte">
      <soap:address location="https://10.30.3.49/CRMServicios.MiMonte/Servicios/MiMonte.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>