SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WSDL/NMPClientesCreditoSvcWSDL.wsdl

<wsdl:definitions name="NMPClientesCreditoSvcWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Cliente/Credito" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Cliente/Credito" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schemas/Cliente/Credito" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schemas/Cliente/Credito" schemaLocation="../Schemas/NMPClienteCreditoSvcXSD.xsd"/>        
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
             <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="consultarClienteRequest">
        <wsdl:part name="request" element="inp1:consultarClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarClienteResponse">
        <wsdl:part name="response" element="inp1:consultarClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="inp2:messageError"/>
    </wsdl:message>
    <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
    <wsdl:portType name="clienteCredito_ptt">
        <wsdl:operation name="consultarCliente">
            <wsdl:input message="tns:consultarClienteRequest"/>
            <wsdl:output message="tns:consultarClienteResponse"/>
            <wsdl:fault name="clienteFault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="clienteCredito_bind" type="tns:clienteCredito_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarCliente">
            <soap:operation style="document" soapAction="consultarCliente"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Services/Cliente/Credito"/>
                <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Services/Cliente/Credito"/>
                <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="clienteFault">
                <soap:fault name="clienteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="clienteCredito_ptt">
        <wsdl:port name="clienteCredito_pttPort" binding="tns:clienteCredito_bind">
            <soap:address location="http://www.example.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>