SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WSDL/NMPClientesWSDL.wsdl

<wsdl:definitions name="Clientes" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Clientes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:inpl2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Clientes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" schemaLocation="../Schemas/NMPClientesSvcElementosXSD.xsd"/>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getClientesByIDrequestMessage">
        <wsdl:part name="getClientesByIDRequest" element="inp1:getClientesByIDRequest"/>
    </wsdl:message>
    <wsdl:message name="getClientesByIDresponseMessage">
        <wsdl:part name="getClientesByIDResponse" element="inp1:getClientesByIDResponse"/>
    </wsdl:message>
    <wsdl:message name="clientesFaultMessage">
        <wsdl:part name="clientesFault" element="NMPsm:messageError"/>
    </wsdl:message>
    <wsdl:message name="getClientesByNumCredencialrequestMessage">
        <wsdl:part name="getClientesByNumCredencialRequest" element="inp1:getClientesByNumCredencialRequest"/>
    </wsdl:message>
    <wsdl:message name="getClientesByNumCredencialresponseMessage">
        <wsdl:part name="getClientesByNumCredencialResponse" element="inp1:getClientesByNumCredencialResponse"/>
    </wsdl:message>
    <wsdl:message name="getHuellaClienterequestMessage">
        <wsdl:part name="getHuellaClienteRequest" element="inp1:getHuellaClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="getHuellaClienteresponseMessage">
        <wsdl:part name="getHuellaClienteResponse" element="inp1:getHuellaClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="updateClienteRequestMessage">
        <wsdl:part name="updateClienteRequest" element="inp1:updateClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="updateClienteResponseMessage">
        <wsdl:part name="updateClienteResponse" element="inp1:updateClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="validarClienteRequestMessage">
        <wsdl:part name="part" element="inp1:validarClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="validarClienteResponseMessage">
        <wsdl:part name="part" element="inp1:validarClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="getClienteCampaniasByIdRequestMessage">
        <wsdl:part name="getClientesByIDRequest" element="inp1:getClienteCampaniasByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="getClienteCampaniasByIdResponseMessage">
        <wsdl:part name="getClientesByIDResponse" element="inp1:getClienteCampaniasByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenerClientePorUsuarioRequestMessage">
        <wsdl:part name="part" element="inp1:obtenerClientePorUsuarioRequest"/>
    </wsdl:message>
    <wsdl:message name="obtenerClientePorUsuarioResponseMessage">
        <wsdl:part name="part" element="inp1:obtenerClientePorUsuarioResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarEstadoRegistroRequestMessage">
        <wsdl:part name="part" element="inp1:consultarEstadoRegistroRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarEstadoRegistroResponseMessage">
        <wsdl:part name="part" element="inp1:consultarEstadoRegistroResponse"/>
    </wsdl:message>
    <wsdl:message name="NMPHeaderRequest">
        <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="NMPHeaderResponse">
        <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="Clientes_ptt">
        <wsdl:operation name="getClientesByID">
            <wsdl:input message="tns:getClientesByIDrequestMessage"/>
            <wsdl:output message="tns:getClientesByIDresponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getClientesByNumCredencial">
            <wsdl:input message="tns:getClientesByNumCredencialrequestMessage"/>
            <wsdl:output message="tns:getClientesByNumCredencialresponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getHuellaCliente">
            <wsdl:input message="tns:getHuellaClienterequestMessage"/>
            <wsdl:output message="tns:getHuellaClienteresponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateCliente">
            <wsdl:input message="tns:updateClienteRequestMessage"/>
            <wsdl:output message="tns:updateClienteResponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="validarCliente">
            <wsdl:input message="tns:validarClienteRequestMessage"/>
            <wsdl:output message="tns:validarClienteResponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getClienteCampaniasById">
            <wsdl:input message="tns:getClienteCampaniasByIdRequestMessage"/>
            <wsdl:output message="tns:getClienteCampaniasByIdResponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerClientePorUsuario">
            <wsdl:input message="tns:obtenerClientePorUsuarioRequestMessage"/>
            <wsdl:output message="tns:obtenerClientePorUsuarioResponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarEstadoRegistro">
            <wsdl:input message="tns:consultarEstadoRegistroRequestMessage"/>
            <wsdl:output message="tns:consultarEstadoRegistroResponseMessage"/>
            <wsdl:fault name="Fault" message="tns:clientesFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientesBinding" type="tns:Clientes_ptt">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getClientesByID">
            <wsdlsoap:operation style="document" soapAction="getClientesByID"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientesByNumCredencial">
            <wsdlsoap:operation style="document" soapAction="getClientesByNumCredencial"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getHuellaCliente">
            <wsdlsoap:operation style="document" soapAction="getHuellaCliente"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCliente">
            <wsdlsoap:operation style="document" soapAction="updateCliente"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validarCliente">
            <wsdlsoap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/Clientes/validarCliente"/>
            <wsdl:input>
                <wsdlsoap:body use="literal" parts="part"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" parts="part"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClienteCampaniasById">
            <wsdlsoap:operation style="document" soapAction="getClienteCampaniasById"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtenerClientePorUsuario">
            <wsdlsoap:operation style="document" soapAction="obtenerClientePorUsuario"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarEstadoRegistro">
            <wsdlsoap:operation style="document" soapAction="consultarEstadoRegistro"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <wsdlsoap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Clientes">
        <wsdl:port name="ClientesPort" binding="tns:ClientesBinding">
            <wsdlsoap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>