SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WSDL/SAPZlmWsCreaBp330WSDL.wsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_ZLM_WS_CREA_BP">
<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_ZLM_WS_CREA_BP">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_ZlmRfcCreaBp">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char160">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="160"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char18">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="18"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char2">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char20">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char30">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char40">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char50">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char60">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char7">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="7"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char8">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="curr13.2">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="date10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal13.5">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="5"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal4.0">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="4"/>
<xsd:fractionDigits value="0"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal5.2">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="5"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric5">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:simpleType name="RfcException.Message.Number">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="RfcException.Message">
<xsd:sequence>
<xsd:element name="ID" type="xsd:string"/>
<xsd:element name="Number" type="tns:RfcException.Message.Number"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZlmRfcCreaBp.RfcException">
<xsd:sequence>
<xsd:element name="Name" type="tns:ZlmRfcCreaBp.RfcExceptions"/>
<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
<xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ZlmRfcCreaBp.RfcExceptions">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ExBpextError"/>
<xsd:enumeration value="ExCatalogo"/>
<xsd:enumeration value="ExKunnrNotCreated"/>
<xsd:enumeration value="ExModificaBp"/>
<xsd:enumeration value="ExNoCredito"/>
<xsd:enumeration value="ExBpNotCreated"/>
<xsd:enumeration value="ExCatalogos"/>
<xsd:enumeration value="ExNoExiste"/>
<xsd:enumeration value="ExPaisEstado"/>
<xsd:enumeration value="ExRelError"/>
<xsd:enumeration value="ExExisteBp"/>
<xsd:enumeration value="ExLocalidadEstado"/>
<xsd:enumeration value="ExWs"/>
<xsd:enumeration value="ExCreaBp"/>
<xsd:enumeration value="ExRfc"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="ZlmRfcCreaBp.Exception" type="tns:ZlmRfcCreaBp.RfcException"/>
<xsd:element name="ZlmRfcCreaBp">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Accionista" type="n0:char1"/>
<xsd:element name="AccionistaPa" type="n0:numeric3"/>
<xsd:element name="ActPropia" type="n0:char1"/>
<xsd:element name="Actividad" type="n0:numeric3"/>
<xsd:element name="Apematerno" type="n0:char40"/>
<xsd:element name="Apepaterno" type="n0:char40"/>
<xsd:element name="Calle" type="n0:char60"/>
<xsd:element name="Calle1" type="n0:char40" minOccurs="0"/>
<xsd:element name="Calle2" type="n0:char40" minOccurs="0"/>
<xsd:element name="CapacidadPago" type="n0:curr13.2" minOccurs="0"/>
<xsd:element name="CatRiesgo" type="n0:char1"/>
<xsd:element name="Celular" type="n0:char30" minOccurs="0"/>
<xsd:element name="Clabe" type="n0:char18" minOccurs="0"/>
<xsd:element name="ClaveCol" type="n0:char4"/>
<xsd:element name="CompPago" type="n0:char1" minOccurs="0"/>
<xsd:element name="Comportamiento" type="n0:char1" minOccurs="0"/>
<xsd:element name="Cp" type="n0:numeric5"/>
<xsd:element name="Curp" type="n0:char20" minOccurs="0"/>
<xsd:element name="Dependientes" type="n0:numeric3" minOccurs="0"/>
<xsd:element name="Desempenio" type="n0:decimal5.2" minOccurs="0"/>
<xsd:element name="Email" type="n0:char60" minOccurs="0"/>
<xsd:element name="Escolaridad" type="n0:numeric3"/>
<xsd:element name="Estado" type="n0:char3"/>
<xsd:element name="Estadocivil" type="n0:char1"/>
<xsd:element name="ExtensionTel" type="n0:char6" minOccurs="0"/>
<xsd:element name="FechaIngreso" type="n0:date10"/>
<xsd:element name="FechaVivienda" type="n0:date10"/>
<xsd:element name="Fechanac" type="n0:date10"/>
<xsd:element name="GiroCnbv" type="n0:char7"/>
<xsd:element name="IdCliente" type="n0:char10"/>
<xsd:element name="ListaNegra" type="n0:char30" minOccurs="0"/>
<xsd:element name="LocalidadPld" type="n0:char8"/>
<xsd:element name="Lote" type="n0:char50" minOccurs="0"/>
<xsd:element name="LugarTrabajo" type="n0:char160" minOccurs="0"/>
<xsd:element name="Manzana" type="n0:char50" minOccurs="0"/>
<xsd:element name="Nacionalidad" type="n0:char3"/>
<xsd:element name="NegocioPropio" type="n0:char1"/>
<xsd:element name="Nombre" type="n0:char40"/>
<xsd:element name="Nombre2" type="n0:char40" minOccurs="0"/>
<xsd:element name="NumCuenta" type="n0:char20" minOccurs="0"/>
<xsd:element name="Numeroext" type="n0:char10"/>
<xsd:element name="Numeroint" type="n0:char10" minOccurs="0"/>
<xsd:element name="PagosNmp" type="n0:curr13.2" minOccurs="0"/>
<xsd:element name="Pais" type="n0:char3"/>
<xsd:element name="PaisNac" type="n0:char3"/>
<xsd:element name="ParientePpe" type="n0:char1"/>
<xsd:element name="PersonaPolitica" type="n0:char1"/>
<xsd:element name="Pi" type="n0:decimal13.5" minOccurs="0"/>
<xsd:element name="PrestaPromValu" type="n0:decimal5.2" minOccurs="0"/>
<xsd:element name="PrestamoProm" type="n0:curr13.2" minOccurs="0"/>
<xsd:element name="PrestamosNmp" type="n0:curr13.2" minOccurs="0"/>
<xsd:element name="RecursoLegal" type="n0:char1"/>
<xsd:element name="RegioNac" type="n0:char3"/>
<xsd:element name="Rfc" type="n0:char20"/>
<xsd:element name="SectorNmp" type="n0:char2"/>
<xsd:element name="Sexo" type="n0:char1"/>
<xsd:element name="Siva" type="n0:decimal4.0" minOccurs="0"/>
<xsd:element name="Sueldo" type="n0:curr13.2" minOccurs="0"/>
<xsd:element name="TelLabora" type="n0:char30" minOccurs="0"/>
<xsd:element name="Telefono" type="n0:char30"/>
<xsd:element name="Telefono2" type="n0:char30" minOccurs="0"/>
<xsd:element name="TipoCuenta" type="n0:numeric3" minOccurs="0"/>
<xsd:element name="TipoVivienda" type="n0:numeric3"/>
<xsd:element name="Tipopersona" type="n0:char1"/>
<xsd:element name="Town" type="n0:char3"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZlmRfcCreaBpResponse">
<xsd:complexType>
<xsd:sequence/>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZlmRfcCreaBp">
<wsdl:part name="parameters" element="tns:ZlmRfcCreaBp"/>
</wsdl:message>
<wsdl:message name="ZlmRfcCreaBpResponse">
<wsdl:part name="parameter" element="tns:ZlmRfcCreaBpResponse"/>
</wsdl:message>
<wsdl:message name="ZlmRfcCreaBp.Exception">
<wsdl:part name="ZlmRfcCreaBp.Exception" element="tns:ZlmRfcCreaBp.Exception"/>
</wsdl:message>
<wsdl:portType name="ZLM_WS_CREA_BP">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_ZLM_WS_CREA_BP"/>
</wsp:Policy>
<wsdl:operation name="ZlmRfcCreaBp">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_ZlmRfcCreaBp"/>
</wsp:Policy>
<wsdl:input message="tns:ZlmRfcCreaBp"/>
<wsdl:output message="tns:ZlmRfcCreaBpResponse"/>
<wsdl:fault name="ZlmRfcCreaBp.Exception" message="tns:ZlmRfcCreaBp.Exception"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZLM_WS_CREA_BP" type="tns:ZLM_WS_CREA_BP">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_ZLM_WS_CREA_BP"/>
</wsp:Policy>
<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
<wsa:ReferenceParameters/>
</wsa:EndpointReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ZlmRfcCreaBp">
<soap:operation soapAction="" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ZlmRfcCreaBp.Exception">
<soap:fault name="ZlmRfcCreaBp.Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZLM_WS_CREA_BP">
<wsdl:port name="ZLM_WS_CREA_BP" binding="tns:ZLM_WS_CREA_BP">
<soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_crea_bp/330/zlm_ws_crea_bp/zlm_ws_crea_bp"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>