SOL4IT - DEV/OSB_NMP_Actual/Utileria/MensajeriaUtil/Resources/XSD/BPELEmailServiceXSD.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Mensajeria/Email">
  <element name="process">
    <complexType>
      <sequence>
        <element name="emisor" type="string"/>
        <element name="destinatario" type="string"/>
        <element name="tituloMensaje" type="string"/>
        <element name="cuerpoMensaje" type="string"/>
        <element name="adjunto" type="base64Binary"/>
        <element name="nombreAdjunto" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>