SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/UsuariosMonte/Resources/Schemas/CRMTokensTipos1XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta">
  <xs:import schemaLocation="CRMTokensTipos2XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
  <xs:complexType name="RespuestaToken">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Token" Namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q1:Token" xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaToken" nillable="true" type="tns:RespuestaToken"/>
  <xs:complexType name="RespuestaNullableOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema"/>
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaNullableOfint" nillable="true" type="tns:RespuestaNullableOfint"/>
</xs:schema>