SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Score/Resources/WSDLs/MIDASScoreClienteDBWrapperWSDL.wsdl

<wsdl:definitions name="ScoreMidas_db" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:NMPSM="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ScoreMidas_db" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="ScoreMidas_db_plt">
    <plt:role name="ScoreMidas_db_role">
      <plt:portType name="tns:ScoreMidas_db_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ScoreMidas_db" schemaLocation="../../../Clientes/Resources/Schemas/MIDASScoreClienteXSD.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="TcCalifAjustadaCollection_msg">
    <wsdl:part name="TcCalifAjustadaCollection" element="top:TcCalifAjustadaCollection"/>
  </wsdl:message>
  <wsdl:message name="TcCalifAjustadaOutput_msg">
    <wsdl:part name="TcCalifAjustadaOutput" element="top:TcCalifAjustadaOutput"/>
  </wsdl:message>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="NMPSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeader">
    <wsdl:part name="headerReq" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeaderResponse">
    <wsdl:part name="headerRes" element="NMPSH:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:portType name="ScoreMidas_db_ptt">
    <wsdl:operation name="update">
      <wsdl:input message="tns:TcCalifAjustadaCollection_msg"/>
      <wsdl:output message="tns:TcCalifAjustadaOutput_msg"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScoreMidas_db_pttSOAP11Binding" type="tns:ScoreMidas_db_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db/update"/>
      <wsdl:input>
        <soap:body use="literal" parts="TcCalifAjustadaCollection"/>
        <soap:header message="tns:standardMessageHeader" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="TcCalifAjustadaOutput" use="literal"/>
        <soap:header message="tns:standardMessageHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>