SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Score/Resources/WSDLs/NMPScoreSvcWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Score" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Score" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" schemaLocation="../Schemas/NMPScoreSvcXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="updateScorerequestMessage">
    <wsdl:part name="updateScoreRequest" element="inp1:updateScoreRequest"/>
  </wsdl:message>
  <wsdl:message name="updateScoreresponseMessage">
    <wsdl:part name="updateScoreresponse" element="inp1:updateScoreResponse"/>
  </wsdl:message>
  <wsdl:message name="scoreFaultMessage">
    <wsdl:part name="scoreFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="Score_ptt">
    <wsdl:operation name="updateScore">
      <wsdl:input message="tns:updateScorerequestMessage"/>
      <wsdl:output message="tns:updateScoreresponseMessage"/>
      <wsdl:fault message="tns:scoreFaultMessage" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScoreBinding" type="tns:Score_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateScore">
      <soap:operation style="document" soapAction="updateScore"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Score">
        <wsdl:port name="ScorePort" binding="tns:ScoreBinding">
        <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>