SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Score/Resources/WSDLs/NMPScoreClienteWSDL.wsdl

<definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/RiesgoTransaccional" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/RiesgoTransaccional" xmlns:ns1="http://servicios.montepiedad.com.mx/NMP/Schema/RiesgoTransaccional" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montepiedad.com.mx/NMP/Schema/RiesgoTransaccional" schemaLocation="../../../../InteligenciaNegocio/RiesgoTransaccional/Resources/Schemas/NMPRiesgoTransaccionalMsgXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
    </types>
 <message name="standardMessageFault">
    <part name="fault" element="NMPsm:messageError"/>
  </message>
  <message name="standardMessageHeader">
    <part name="headerReq" element="NMPsh:headerMessage"/>
  </message>
  <message name="standardMessageHeaderResponse">
    <part name="headerRes" element="NMPsh:headerMessageResponse"/>
  </message>
  
  <message name="cambioScoreRequest">
    <part name="cambioScoreRequest" element="ns1:cambioScoreRequest"/>
  </message>
  <message name="cambioScoreResponse">
    <part name="cambioScoreResponse" element="ns1:cambioScoreResponse"/>
  </message>
  <portType name="cambioScorePortType">
    <operation name="cambioScore">
      <input message="tns:cambioScoreRequest"/>
      <output message="tns:cambioScoreResponse"/>
      <fault name="fault" message="tns:standardMessageFault"/>
    </operation>
  </portType>
  <binding name="cambioScorePortTypeSOAP11Binding" type="tns:cambioScorePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="cambioScore">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/RiesgoTransaccional/cambioScore"/>
      <input>
        <soap:body use="literal" parts="cambioScoreRequest"/>
      </input>
      <output>
        <soap:body use="literal" parts="cambioScoreResponse"/>
      </output>
      <fault name="fault">
        <soap:fault name="standardMessageFault" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>