SOL4IT - DEV/Aplicacion_SOA_Qualitas/ActualizaProyectoPrj/SOA/Schemas/ProyectoData.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Proyecto">
      <sequence>
         <element name="descripcion" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="nombre" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="presupuestoAprob" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="numParcialidades" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="condicionPago" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="centroCostos" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="claveOficina" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="descOficina" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="responsableArea" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="statusProyecto" type="int" minOccurs="0" maxOccurs="1"/>
      </sequence>
   </complexType>
</schema>
