SOL4IT - DEV/Aplicacion_SOA_Qualitas/ActualizaProyectoPrj/SOA/Schemas/ServicioOEN.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsds="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/" xmlns:tnspsp="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" schemaLocation="ProyectoData.xsd"/>
   <complexType name="Servicio">
      <sequence>
         <element name="idSolicitud" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="proyecto" type="tnspsp:Proyecto"/>
      </sequence>
   </complexType>
</schema>
