SOL4IT - DEV/OSB_Desarrollo_NMP/PoC/AutosSinResguardo/AutoInfoDes/Resources/WSDL/CotizadorWSDL.wsdl

<WL5G3N0:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/CotizadorAutomovil" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" xmlns:WL5G3N2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:WL5G3N3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:WL5G3N4="http://servicios.montedepiedad.com.mx/NMP/Service/CotizadorAutomovil" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:ca="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" xmlns:nmpsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/CotizadorAutomovil" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" schemaLocation="../XSD/CotizadorXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../XSD/StandardMessageXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="obtenerAvaluoAutomovilRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerAvaluoAutomovil" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerAvaluoAutomovilResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerAvaluoAutomovilResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerComplementosRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerComplementos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerComplementosResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerComplementosResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerMarcasRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerMarcas" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerMarcasResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerMarcasResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerKilometrajesRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerKilometrajes" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerKilometrajesResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerKilometrajesResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerVersionesRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerVersiones" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerVersionesResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerVersionesResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerModelosRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerModelos" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerModelosResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerModelosResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerSubMarcasRequest">
    <WL5G3N0:part element="WL5G3N1:obtenerSubMarcas" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerSubMarcasResponse">
    <WL5G3N0:part element="WL5G3N1:obtenerSubMarcasResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NMPHeaderRequest">
    <WL5G3N0:part element="WL5G3N2:headerMessage" name="headerReq"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NMPHeaderResponse">
    <WL5G3N0:part element="WL5G3N2:headerMessageResponse" name="headerRes"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NMPFaultMessage">
    <WL5G3N0:part element="WL5G3N3:messageError" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="CotizadorAutomovilWSPortType">
    <WL5G3N0:operation name="obtenerAvaluoAutomovil">
      <WL5G3N0:input message="WL5G3N4:obtenerAvaluoAutomovilRequest" name="obtenerAvaluoAutomovilRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerAvaluoAutomovilResponse" name="obtenerAvaluoAutomovilResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerKilometrajes">
      <WL5G3N0:input message="WL5G3N4:obtenerKilometrajesRequest" name="obtenerKilometrajesRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerKilometrajesResponse" name="obtenerKilometrajesResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerComplementos">
      <WL5G3N0:input message="WL5G3N4:obtenerComplementosRequest" name="obtenerComplementosRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerComplementosResponse" name="obtenerComplementosResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerModelos">
      <WL5G3N0:input message="WL5G3N4:obtenerModelosRequest" name="obtenerModelosRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerModelosResponse" name="obtenerModelosResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerVersiones">
      <WL5G3N0:input message="WL5G3N4:obtenerVersionesRequest" name="obtenerVersionesRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerVersionesResponse" name="obtenerVersionesResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerMarcas">
      <WL5G3N0:input message="WL5G3N4:obtenerMarcasRequest" name="obtenerMarcasRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerMarcasResponse" name="obtenerMarcasResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerSubMarcas">
      <WL5G3N0:input message="WL5G3N4:obtenerSubMarcasRequest" name="obtenerSubMarcasRequest"/>
      <WL5G3N0:output message="WL5G3N4:obtenerSubMarcasResponse" name="obtenerSubMarcasResponse"/>
      <WL5G3N0:fault message="WL5G3N4:NMPFaultMessage" name="CotizadorAutomovilFaultMessage"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="CotizadorAutomovilWSHttpBinding" type="WL5G3N4:CotizadorAutomovilWSPortType">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="obtenerAvaluoAutomovil">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerAvaluoAutomovilRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerAvaluoAutomovilResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerKilometrajes">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerKilometrajesRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerKilometrajesResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerComplementos">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerComplementosRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerComplementosResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerModelos">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerModelosRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerModelosResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerVersiones">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerVersionesRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerVersionesResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerMarcas">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerMarcasRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerMarcasResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerSubMarcas">
      <WL5G3N5:operation/>
      <WL5G3N0:input name="obtenerSubMarcasRequest">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="obtenerSubMarcasResponse">
        <WL5G3N5:body use="literal"/>
        <WL5G3N5:header message="WL5G3N4:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="CotizadorAutomovilFaultMessage">
        <WL5G3N5:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="CotizadorAutomovilWSHttpBindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N4:CotizadorAutomovilWSHttpBinding" name="CotizadorAutomovilWSHttpBindingQSPort">
      <WL5G3N5:address location="http://10.30.3.15:8011/NMP/Autos/Cotizador"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>