SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Partidas/Resources/WSDLs/MIDASDetallePartidaSvcWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://exception.midas.nmp.com.mx"
                  xmlns:ns1="http://dto.model.midas.nmp.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  targetNamespace="urn:mx.com.nmp.midas">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="getDetallePartida">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="folio"
                         nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDetallePartidaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="return"
                         nillable="true" type="ns1:DetallePartidaHelpDesk"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ServiceException" type="ns2:ServiceException"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://dto.model.midas.nmp.com.mx">
      <xsd:complexType name="DetallePartidaHelpDesk">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="detalleAvaluo" nillable="true"
                       type="ns1:DetalleAvaluo"/>
          <xsd:element minOccurs="0" name="detalleAvaluoAlhajas" nillable="true"
                       type="ns1:DetalleAvaluoAlhajas"/>
          <xsd:element minOccurs="0" name="detalleEstado" nillable="true"
                       type="ns1:DetalleEstado"/>
          <xsd:element minOccurs="0" name="detalleMovimiento" nillable="true"
                       type="ns1:ArrayOfDetalleMovimiento"/>
          <xsd:element minOccurs="0" name="detalleProyeccion" nillable="true"
                       type="ns1:ArrayOfDetalleProyeccion"/>
          <xsd:element minOccurs="0" name="detalleUbicacionAlmoneda"
                       nillable="true" type="ns1:DetalleUbicacionAlmoneda"/>
          <xsd:element minOccurs="0" name="detalleUbicacionDeposito"
                       nillable="true" type="ns1:DetalleUbicacionDeposito"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleUbicacionAlmoneda">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="expendedor" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="numeroExpendio" nillable="true"
                       type="xsd:int"/>
          <xsd:element minOccurs="0" name="sucursal" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleEstado">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="custodia" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="estadoCaja" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="estadoPrenda" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="fechaComercializacion"
                       type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="fechaIngreso" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="fechaIngresoAlmoneda"
                       type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="fechaIngresoDeposito"
                       type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="interes" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="numRefrendosRealizados"
                       type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleAvaluo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beneficiarios" nillable="true"
                       type="ns1:ArrayOfBeneficiarioPartida"/>
          <xsd:element minOccurs="0" name="descripcion" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="folio" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="montoAvaluo" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="montoPrestamo" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="ramo" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="subramo" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="tipoContrato" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="titular" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="valuador" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBeneficiarioPartida">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0"
                       name="BeneficiarioPartida" nillable="true"
                       type="ns1:BeneficiarioPartida"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BeneficiarioPartida">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="apellidoMaterno" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="apellidoPaterno" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="nombre" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleUbicacionDeposito">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cajon" nillable="true"
                       type="xsd:int"/>
          <xsd:element minOccurs="0" name="consecutivo" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="deposito" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="sucursal" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDetalleMovimiento">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0"
                       name="DetalleMovimiento" nillable="true"
                       type="ns1:DetalleMovimiento"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleMovimiento">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="operacion" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="sucursal" type="xsd:int"/>
          <xsd:element minOccurs="0" name="timestampOperacion"
                       type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="usuario" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDetalleProyeccion">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0"
                       name="DetalleProyeccion" nillable="true"
                       type="ns1:DetalleProyeccion"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleProyeccion">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="monto" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="operacion" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleAvaluoAlhajas">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="avaluoComplementario" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="costoMetal" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="desplazamiento" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="incremento" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="kilataje" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="rango" nillable="true"
                       type="xsd:string"/>
          <xsd:element minOccurs="0" name="valorComercial" nillable="true"
                       type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="valorMonte" nillable="true"
                       type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://exception.midas.nmp.com.mx">
      <xsd:complexType abstract="true" name="ServiceException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true"
                       type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDetallePartidaRequest">
    <wsdl:part name="parameters" element="tns:getDetallePartida"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDetallePartidaResponse">
    <wsdl:part name="parameters" element="tns:getDetallePartidaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DetallePartidaHelpDeskWSPortType">
    <wsdl:operation name="getDetallePartida">
      <wsdl:input name="getDetallePartidaRequest"
                  message="tns:getDetallePartidaRequest"></wsdl:input>
      <wsdl:output name="getDetallePartidaResponse"
                   message="tns:getDetallePartidaResponse"></wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DetallePartidaHelpDeskWSHttpBinding"
                type="tns:DetallePartidaHelpDeskWSPortType">
    <wsdlsoap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDetallePartida">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDetallePartidaRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDetallePartidaResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DetallePartidaHelpDeskWS">
    <wsdl:port name="DetallePartidaHelpDeskWSHttpPort"
               binding="tns:DetallePartidaHelpDeskWSHttpBinding">
      <wsdlsoap:address location="http://10.30.3.55:9032/midas-web/services/DetallePartidaHelpDeskWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>