SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Partidas/Resources/WSDLs/MIDASCalendarioSucursalSvcWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:mx.com.nmp.midas"
    xmlns:ns2="http://nmpcalendariosucursal.schema.nmp.servicios.montedepiedad.com.mx"
    xmlns:ns1="http://nmputil.schema.nmp.servicios.montedepiedad.com.mx"
    xmlns:ns4="http://nmpcalendariosucursal.services.nmp.servicios.montedepiedad.com.mx"
    xmlns:ns3="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
    xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmpcalendariosucursal.schema.nmp.servicios.montedepiedad.com.mx">
            <xsd:import namespace="http://nmputil.schema.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:complexType name="ConsultaDiasInhabilesRequestType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="idSucursal" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="rangoFecha" nillable="true"
                        type="ns1:RangoFecha"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmputil.schema.nmp.servicios.montedepiedad.com.mx">
            <xsd:complexType name="RangoFecha">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fechaFin" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="fechaInicio" nillable="true"
                        type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
            <xsd:import namespace="http://nmpcalendariosucursal.schema.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:import namespace="http://nmpcalendariosucursal.services.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:element name="obtenerDiasInhabilesSucursal">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="request" nillable="true"
                            type="ns2:ConsultaDiasInhabilesRequestType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ArrayOfDateTime">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="dateTime"
                        type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="obtenerDiasInhabilesSucursalResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="obtenerDiasInhabilesSucursal"
                            nillable="true" type="tns:ArrayOfDateTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CalendarioSucursalFaultMessage"
                type="ns4:CalendarioSucursalFaultMessage"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmpcalendariosucursal.services.nmp.servicios.montedepiedad.com.mx">
            <xsd:import namespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:complexType name="CalendarioSucursalFaultMessage">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="faultInfo" nillable="true"
                        type="ns3:MessageError"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx">
            <xsd:complexType name="MessageError">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="descripcionError" nillable="true"
                        type="xsd:string"/>
                    <xsd:element minOccurs="0" name="severidad" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="tipoError" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtenerDiasInhabilesSucursalResponse">
        <wsdl:part name="parameters" element="tns:obtenerDiasInhabilesSucursalResponse"
        > </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerDiasInhabilesSucursalRequest">
        <wsdl:part name="parameters" element="tns:obtenerDiasInhabilesSucursal"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CalendarioSucursalFaultMessage">
        <wsdl:part name="CalendarioSucursalFaultMessage"
            element="tns:CalendarioSucursalFaultMessage"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CalendarioSucursalWSPortType">
        <wsdl:operation name="obtenerDiasInhabilesSucursal">
            <wsdl:input name="obtenerDiasInhabilesSucursalRequest"
                message="tns:obtenerDiasInhabilesSucursalRequest"> </wsdl:input>
            <wsdl:output name="obtenerDiasInhabilesSucursalResponse"
                message="tns:obtenerDiasInhabilesSucursalResponse"> </wsdl:output>
            <wsdl:fault name="CalendarioSucursalFaultMessage"
                message="tns:CalendarioSucursalFaultMessage"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalendarioSucursalWSHttpBinding" type="tns:CalendarioSucursalWSPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerDiasInhabilesSucursal">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="obtenerDiasInhabilesSucursalRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDiasInhabilesSucursalResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CalendarioSucursalFaultMessage">
                <wsdlsoap:fault name="CalendarioSucursalFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalendarioSucursalWS">
        <wsdl:port name="CalendarioSucursalWSHttpPort" binding="tns:CalendarioSucursalWSHttpBinding">
            <wsdlsoap:address
                location="http://10.30.3.55:8012/midas-web/services/CalendarioSucursalWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>