SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Partidas/Resources/WSDLs/MIDASConsultaCreditosSvcWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:mx.com.nmp.midas"
    xmlns:ns2="http://nmputil.schema.nmp.servicios.montedepiedad.com.mx"
    xmlns:ns1="http://nmpconsultacreditos.schema.nmp.servicios.montedepiedad.com.mx"
    xmlns:ns4="http://nmpconsultacreditos.services.nmp.servicios.montedepiedad.com.mx"
    xmlns:ns3="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
    xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmpconsultacreditos.schema.nmp.servicios.montedepiedad.com.mx">
            <xsd:import namespace="urn:mx.com.nmp.midas"></xsd:import>
            <xsd:import namespace="http://nmputil.schema.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:complexType name="ConsultaCreditoRequestType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="criterios" nillable="true"
                        type="ns1:ConsultaCreditoCriteriosRequestType"/>
                    <xsd:element minOccurs="0" name="idCliente" nillable="true" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultaCreditoCriteriosRequestType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="campoOrdenamiento" nillable="true"
                        type="xsd:string"/>
                    <xsd:element minOccurs="0" name="detalles" nillable="true"
                        type="tns:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="estados" nillable="true"
                        type="ns1:ArrayOfEstadosCredito"/>
                    <xsd:element minOccurs="0" name="numeroMaximoResultados" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="rangosFecha" nillable="true"
                        type="ns2:ArrayOfTipoRangoFecha"/>
                    <xsd:element minOccurs="0" name="tipoOrdenamiento" nillable="true"
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEstadosCredito">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="EstadosCredito"
                        nillable="true" type="ns1:EstadosCredito"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EstadosCredito">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="estadoCaja" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="estadoPrenda" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDetalleCreditoResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="DetalleCreditoResponseType" nillable="true"
                        type="ns1:DetalleCreditoResponseType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DetalleCreditoResponseType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="avaluoAlhajas" nillable="true"
                        type="ns1:AvaluoAlhajas"/>
                    <xsd:element minOccurs="0" name="comercial" nillable="true" type="ns1:Comercial"/>
                    <xsd:element minOccurs="0" name="condiciones" nillable="true"
                        type="ns1:Condiciones"/>
                    <xsd:element minOccurs="0" name="movimientos" nillable="true"
                        type="ns1:ArrayOfMovimientos"/>
                    <xsd:element minOccurs="0" name="prenda" nillable="true" type="ns1:Prenda"/>
                    <xsd:element minOccurs="0" name="saldoPL" nillable="true" type="ns1:SaldoPL"/>
                    <xsd:element minOccurs="0" name="ubicacionAlmoneda" nillable="true"
                        type="ns1:UbicacionAlmoneda"/>
                    <xsd:element minOccurs="0" name="ubicacionDeposito" nillable="true"
                        type="ns1:UbicacionDeposito"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UbicacionDeposito">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="cajon" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="consecutivo" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="deposito" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sucursal" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SaldoPL">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="abonosCapital" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="comisionPendiente" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="fecha" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="interesPendiente" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="interesesPagados" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="ivaSobreInteresPendiente" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="saldoInsoluto" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="ultimoAbono" nillable="true"
                        type="ns1:UltimoAbono"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UltimoAbono">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="amortizacionUltimoAbono" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="saldoInsolutoAnterior" nillable="true"
                        type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Comercial">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="canalIngreso" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="canalIngresoId" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="fechaIngresoAlmoneda" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="precioVenta" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="utilidad" nillable="true" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Condiciones">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="aplicaReempeno" nillable="true"
                        type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="contrato" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="custodia" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="estadoCaja" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="estadoPrenda" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="fechaComercializacion" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="fechaIngreso" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="fechaIngresoDeposito" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="fechaLimitePago" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="interes" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="numeroMaximoRefrendos" nillable="true"
                        type="xsd:int"/>
                    <xsd:element minOccurs="0" name="numeroRefrendosRealizados" nillable="true"
                        type="xsd:int"/>
                    <xsd:element minOccurs="0" name="parametros" nillable="true"
                        type="ns1:ArrayOfParametroContrato"/>
                    <xsd:element minOccurs="0" name="plazo" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="reposicionBillete" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="tipoSeguro" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfParametroContrato">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParametroContrato"
                        nillable="true" type="ns1:ParametroContrato"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametroContrato">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="parametro" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UbicacionAlmoneda">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="expendedor" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="numeroExpendio" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="sucursal" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfMovimientos">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Movimientos"
                        nillable="true" type="ns1:Movimientos"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Movimientos">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="estadoCaja" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="estadoPrenda" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="operacion" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sucursal" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="timestampOperacion" nillable="true"
                        type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="usuario" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Prenda">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="cotitular" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="folio" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="montoAvaluo" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="montoPrestamo" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="ramo" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="subramo" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sucursal" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="tipoContrato" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="titular" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="valuador" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvaluoAlhajas">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="avaluoComplementario" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="costoMetal" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="desplazamiento" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="incremento" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="kilataje" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="rango" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="valorComercial" nillable="true"
                        type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="valorMonte" nillable="true" type="xsd:decimal"
                    />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidacionClienteRequestType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="estados" nillable="true"
                        type="ns1:ArrayOfEstadosCredito"/>
                    <xsd:element minOccurs="0" name="folio" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="idCliente" nillable="true" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmputil.schema.nmp.servicios.montedepiedad.com.mx">
            <xsd:complexType name="ArrayOfTipoRangoFecha">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="TipoRangoFecha"
                        nillable="true" type="ns2:TipoRangoFecha"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TipoRangoFecha">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="rangoFecha" nillable="true"
                        type="ns2:RangoFecha"/>
                    <xsd:element minOccurs="0" name="tipoFecha" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RangoFecha">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fechaFin" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="fechaInicio" nillable="true"
                        type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
            <xsd:import namespace="http://nmpconsultacreditos.schema.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:import namespace="http://nmpconsultacreditos.services.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true"
                        type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="obtenerCreditosPorCliente">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="criterios" nillable="true"
                            type="ns1:ConsultaCreditoRequestType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCreditosPorClienteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="creditosCliente"
                            nillable="true" type="ns1:ArrayOfDetalleCreditoResponseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaCreditosFaultMessage" type="ns4:ConsultaCreditosFaultMessage"/>
            <xsd:element name="obtenerCreditosPorFolios">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="folios" nillable="true"
                            type="tns:ArrayOfString"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="detalles" nillable="true"
                            type="tns:ArrayOfString"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCreditosPorFoliosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="creditosFolios"
                            nillable="true" type="ns1:ArrayOfDetalleCreditoResponseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="validarClientePorCredito">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="cliente" nillable="true"
                            type="ns1:ValidacionClienteRequestType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="validarClientePorCreditoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="clienteValido"
                            type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ValidacionClienteFaultMessage"
                type="ns4:ValidacionClienteFaultMessage"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmpconsultacreditos.services.nmp.servicios.montedepiedad.com.mx">
            <xsd:import namespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"></xsd:import>
            <xsd:complexType name="ConsultaCreditosFaultMessage">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="faultInfo" nillable="true"
                        type="ns3:MessageError"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidacionClienteFaultMessage">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="faultInfo" nillable="true"
                        type="ns3:MessageError"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx">
            <xsd:complexType name="MessageError">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="descripcionError" nillable="true"
                        type="xsd:string"/>
                    <xsd:element minOccurs="0" name="severidad" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="tipoError" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtenerCreditosPorFoliosResponse">
        <wsdl:part name="parameters" element="tns:obtenerCreditosPorFoliosResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validarClientePorCreditoRequest">
        <wsdl:part name="parameters" element="tns:validarClientePorCredito"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerCreditosPorClienteResponse">
        <wsdl:part name="parameters" element="tns:obtenerCreditosPorClienteResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ConsultaCreditosFaultMessage">
        <wsdl:part name="ConsultaCreditosFaultMessage" element="tns:ConsultaCreditosFaultMessage"
        > </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validarClientePorCreditoResponse">
        <wsdl:part name="parameters" element="tns:validarClientePorCreditoResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ValidacionClienteFaultMessage">
        <wsdl:part name="ValidacionClienteFaultMessage" element="tns:ValidacionClienteFaultMessage"
        > </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerCreditosPorFoliosRequest">
        <wsdl:part name="parameters" element="tns:obtenerCreditosPorFolios"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerCreditosPorClienteRequest">
        <wsdl:part name="parameters" element="tns:obtenerCreditosPorCliente"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ConsultaCreditosWSPortType">
        <wsdl:operation name="obtenerCreditosPorCliente">
            <wsdl:input name="obtenerCreditosPorClienteRequest"
                message="tns:obtenerCreditosPorClienteRequest"> </wsdl:input>
            <wsdl:output name="obtenerCreditosPorClienteResponse"
                message="tns:obtenerCreditosPorClienteResponse"> </wsdl:output>
            <wsdl:fault name="ConsultaCreditosFaultMessage"
                message="tns:ConsultaCreditosFaultMessage"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtenerCreditosPorFolios">
            <wsdl:input name="obtenerCreditosPorFoliosRequest"
                message="tns:obtenerCreditosPorFoliosRequest"> </wsdl:input>
            <wsdl:output name="obtenerCreditosPorFoliosResponse"
                message="tns:obtenerCreditosPorFoliosResponse"> </wsdl:output>
            <wsdl:fault name="ConsultaCreditosFaultMessage"
                message="tns:ConsultaCreditosFaultMessage"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validarClientePorCredito">
            <wsdl:input name="validarClientePorCreditoRequest"
                message="tns:validarClientePorCreditoRequest"> </wsdl:input>
            <wsdl:output name="validarClientePorCreditoResponse"
                message="tns:validarClientePorCreditoResponse"> </wsdl:output>
            <wsdl:fault name="ValidacionClienteFaultMessage"
                message="tns:ValidacionClienteFaultMessage"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultaCreditosWSHttpBinding" type="tns:ConsultaCreditosWSPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerCreditosPorCliente">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="obtenerCreditosPorClienteRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCreditosPorClienteResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ConsultaCreditosFaultMessage">
                <wsdlsoap:fault name="ConsultaCreditosFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtenerCreditosPorFolios">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="obtenerCreditosPorFoliosRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCreditosPorFoliosResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ConsultaCreditosFaultMessage">
                <wsdlsoap:fault name="ConsultaCreditosFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validarClientePorCredito">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="validarClientePorCreditoRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validarClientePorCreditoResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ValidacionClienteFaultMessage">
                <wsdlsoap:fault name="ValidacionClienteFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultaCreditosWS">
        <wsdl:port name="ConsultaCreditosWSHttpPort" binding="tns:ConsultaCreditosWSHttpBinding">
            <wsdlsoap:address
                location="http://10.30.3.55:8012/midas-web/services/ConsultaCreditosWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>