SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Partidas/Resources/WSDLs/MIDASExistenciaMidasWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns1="http://nmpexistenciamidas.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns3="http://nmpexistenciamidas.services.nmp.servicios.montedepiedad.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="urn:mx.com.nmp.midas">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpexistenciamidas.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="ExistenciaMidasRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cliente" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="tipoExistencia" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExistenciaMidasResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="numeroDePartidas" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="obtenerExistenciaMidas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cliente" nillable="true"
                         type="ns1:ExistenciaMidasRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerExistenciaMidasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="existenciaMidasResponseType" nillable="true"
                         type="ns1:ExistenciaMidasResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExistenciaMidasFaultMessage" type="ns3:ExistenciaMidasFaultMessage"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpexistenciamidas.services.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="ExistenciaMidasFaultMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true" type="ns2:MessageError"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="MessageError">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="descripcionError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="severidad" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tipoError" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerExistenciaMidasResponse">
    <wsdl:part name="parameters" element="tns:obtenerExistenciaMidasResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExistenciaMidasFaultMessage">
    <wsdl:part name="ExistenciaMidasFaultMessage" element="tns:ExistenciaMidasFaultMessage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerExistenciaMidasRequest">
    <wsdl:part name="parameters" element="tns:obtenerExistenciaMidas"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExistenciaMidasWSPortType">
    <wsdl:operation name="obtenerExistenciaMidas">
      <wsdl:input name="obtenerExistenciaMidasRequest" message="tns:obtenerExistenciaMidasRequest"></wsdl:input>
      <wsdl:output name="obtenerExistenciaMidasResponse" message="tns:obtenerExistenciaMidasResponse"></wsdl:output>
      <wsdl:fault name="ExistenciaMidasFaultMessage" message="tns:ExistenciaMidasFaultMessage"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExistenciaMidasWSHttpBinding" type="tns:ExistenciaMidasWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerExistenciaMidas">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerExistenciaMidasRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerExistenciaMidasResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ExistenciaMidasFaultMessage">
        <wsdlsoap:fault name="ExistenciaMidasFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExistenciaMidasWS">
    <wsdl:port name="ExistenciaMidasWSHttpPort" binding="tns:ExistenciaMidasWSHttpBinding">
      <wsdlsoap:address location="http://10.30.3.55:8012/midas-web/services/ExistenciaMidasWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>