SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Partidas/Resources/WSDLs/NMPConsultaPartidasSvcWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://exception.midas.nmp.com.mx" xmlns:ns1="http://dto.model.midas.nmp.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="urn:mx.com.nmp.midas">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="getPartidasPorCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cliente" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPartidasPorClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true"
                         type="ns1:ArrayOfDatosPartidaHelpDesk"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ServiceException" type="ns2:ServiceException"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="http://dto.model.midas.nmp.com.mx">
      <xsd:complexType name="ArrayOfDatosPartidaHelpDesk">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DatosPartidaHelpDesk" nillable="true"
                       type="ns1:DatosPartidaHelpDesk"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatosPartidaHelpDesk">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beneficiarios" nillable="true" type="ns1:ArrayOfBeneficiarioPartida"/>
          <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="fechaVencimiento" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="folio" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idSucursalPartida" type="xsd:long"/>
          <xsd:element minOccurs="0" name="montoPrestamo" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="ramo" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="subRamo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBeneficiarioPartida">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="BeneficiarioPartida" nillable="true"
                       type="ns1:BeneficiarioPartida"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BeneficiarioPartida">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="http://exception.midas.nmp.com.mx">
      <xsd:complexType abstract="true" name="ServiceException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartidasPorClienteRequest">
    <wsdl:part name="parameters" element="tns:getPartidasPorCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartidasPorClienteResponse">
    <wsdl:part name="parameters" element="tns:getPartidasPorClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="consultaPartidasHelpDeskWSPortType">
    <wsdl:operation name="getPartidasPorCliente">
      <wsdl:input name="getPartidasPorClienteRequest" message="tns:getPartidasPorClienteRequest"></wsdl:input>
      <wsdl:output name="getPartidasPorClienteResponse" message="tns:getPartidasPorClienteResponse"></wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultaPartidasHelpDeskWSHttpBinding" type="tns:consultaPartidasHelpDeskWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPartidasPorCliente">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPartidasPorClienteRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPartidasPorClienteResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultaPartidasHelpDeskWS">
    <wsdl:port name="consultaPartidasHelpDeskWSHttpPort" binding="tns:consultaPartidasHelpDeskWSHttpBinding">
      <wsdlsoap:address location="http://10.30.3.55:9032/midas-web/services/consultaPartidasHelpDeskWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>