SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Partidas/Resources/WSDLs/NMPConsultaCreditosFiltrosWSDL.wsdl

<wsdl:definitions name="NMPConsultaCreditosFiltrosDB" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/ConsultaCreditosFiltros" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/ConsultaCreditosFiltros" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ccf="http://servicios.montedepiedad.com.mx/NMP/Schema/ConsultaCreditosFiltros" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="NMPConsultaCreditosFiltrosDB_plt">
    <plt:role name="NMPConsultaCreditosFiltrosDB_role">
      <plt:portType name="tns:NMPConsultaCreditosFiltrosDB_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/ConsultaCreditosFiltros" schemaLocation="../Schemas/NMPConsultaCreditosFiltrosDBXSD.xsd"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="guardarFiltrosConsultaCreditoRequest">
    <wsdl:part name="req" element="ccf:guardarFiltrosConsultaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="guardarFiltrosConsultaCreditoResponse">
    <wsdl:part name="res" element="ccf:guardarFiltrosConsultaCreditoResponse"/>
  </wsdl:message>
  <wsdl:message name="actualizarFiltrosConsultaCreditoRequest">
    <wsdl:part name="req" element="ccf:actualizarFiltrosConsultaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="actualizarFiltrosConsultaCreditoResponse">
    <wsdl:part name="res" element="ccf:actualizarFiltrosConsultaCreditoResponse"/>
  </wsdl:message>
  <wsdl:message name="borrarFiltrosConsultaCreditoRequest">
    <wsdl:part name="req" element="ccf:borrarFiltrosConsultaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="borrarFiltrosConsultaCreditoResponse">
    <wsdl:part name="res" element="ccf:borrarFiltrosConsultaCreditoResponse"/>
  </wsdl:message>
   <wsdl:message name="consultarFiltrosConsultaCreditoRequest">
    <wsdl:part name="req" element="ccf:consultarFiltrosConsultaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarFiltrosConsultaCreditoResponse">
    <wsdl:part name="res" element="ccf:consultarFiltrosConsultaCreditoResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPStandardHeaderReq">
    <wsdl:part name="header" element="nmph:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPStandardHeaderRes">
    <wsdl:part name="header" element="nmph:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPStandardFault">
    <wsdl:part name="header" element="nmpsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="NMPConsultaCreditosFiltrosDB_ptt">
    <wsdl:operation name="guardarFiltrosConsultaCredito">
      <wsdl:input message="tns:guardarFiltrosConsultaCreditoRequest"/>
      <wsdl:output message="tns:guardarFiltrosConsultaCreditoResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="filtrosConsultaCreditoFault"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarFiltrosConsultaCredito">
      <wsdl:input message="tns:actualizarFiltrosConsultaCreditoRequest"/>
      <wsdl:output message="tns:actualizarFiltrosConsultaCreditoResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="filtrosConsultaCreditoFault"/>
    </wsdl:operation>
    <wsdl:operation name="borrarFiltrosConsultaCredito">
      <wsdl:input message="tns:borrarFiltrosConsultaCreditoRequest"/>
      <wsdl:output message="tns:borrarFiltrosConsultaCreditoResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="filtrosConsultaCredito"/>
    </wsdl:operation>
    <wsdl:operation name="consultarFiltrosConsultaCreditos">
      <wsdl:input message="tns:consultarFiltrosConsultaCreditoRequest"/>
      <wsdl:output message="tns:consultarFiltrosConsultaCreditoResponse"/>
      <wsdl:fault message="tns:NMPStandardFault" name="filtrosConsultaCreditoFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NMPConsultaCreditosFiltrosDB_PTSOAP11Binding" type="tns:NMPConsultaCreditosFiltrosDB_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="guardarFiltrosConsultaCredito">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ConsultaCreditosFiltros/guardarFiltrosConsultaCredito"/>
      <wsdl:input>
        <soap:body use="literal" parts="req"/>
        <soap:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="res"/>
        <soap:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="filtrosConsultaCreditoFault">
        <soap:fault name="filtrosConsultaCreditoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarFiltrosConsultaCredito">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ConsultaCreditosFiltros/actualizarFiltrosConsultaCredito"/>
      <wsdl:input>
        <soap:body use="literal" parts="req"/>
        <soap:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="res"/>
        <soap:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="filtrosConsultaCreditoFault">
        <soap:fault name="filtrosConsultaCreditoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="borrarFiltrosConsultaCredito">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ConsultaCreditosFiltros/borrarFiltrosConsultaCredito"/>
      <wsdl:input>
        <soap:body use="literal" parts="req"/>
        <soap:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="res"/>
        <soap:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="filtrosConsultaCredito">
        <soap:fault name="filtrosConsultaCredito" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarFiltrosConsultaCreditos">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ConsultaCreditosFiltros/consultarFiltrosConsutaCreditos"/>
      <wsdl:input>
        <soap:body use="literal" parts="req"/>
        <soap:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="res"/>
        <soap:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="filtrosConsultaCreditoFault">
        <soap:fault name="filtrosConsultaCreditoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>