SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/MasterData/Prestadores/Resources/ObtenerPrestadorXSD.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ObtenerPrestadorApp/ObtenerPrestadorPrj/ObtenerPrestadorBPEL" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="ObjetosComunesXSD.xsd"/>
   <element name="process">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="numeroPrestador" type="string" minOccurs="1" maxOccurs="1"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="numeroPrestador" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="nombrePrestador" type="string" minOccurs="0" maxOccurs="1"/>
             <element name="rfc" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="estatus" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="cveTipoPersona" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="tipoPersona" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="cveEntidad" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="entidad" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="cveNacionalidad" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="nacionalidad" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
      </element>
      
      <element name="columnas">
      <complexType>
         <sequence>
            <element name="columna1" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="columna2" type="string" minOccurs="0" maxOccurs="1"/>
             <element name="columna3" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="columna4" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="columna5" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="columna6" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="columna7" type="string" minOccurs="0" maxOccurs="1"/>
            
            
         </sequence>
      </complexType>
      
      </element>
   
</schema>