SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/TiendaEnLinea/Resources/WSDLs/NMPOrdenesCompraWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/OrdenesCompra" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/OrdenesCompra" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:noti="http://servicios.montedepiedad.com.mx/NMP/Schema/OrdenesCompra" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/OrdenesCompra" schemaLocation="../Schemas/NMPOrdenesCompraMsgXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recibeOrdenRequest">
    <wsdl:part name="request" element="noti:recibeOrdenRequest"/>
  </wsdl:message>
  <wsdl:message name="recibeOrdenResponse">
    <wsdl:part name="response" element="noti:recibeOrdenResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="headerReq" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="headerRes" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPFaultMessage">
    <wsdl:part name="error" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="ordenesCompraPortType">
    <wsdl:operation name="recibeOrden">
      <wsdl:input message="tns:recibeOrdenRequest"/>
      <wsdl:output message="tns:recibeOrdenResponse"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="recibeOrdenFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ordenesCompraPortTypeSOAP11Binding" type="tns:ordenesCompraPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recibeOrden">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/NotificacionPartidas/recibeOrden"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
        <soap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
        <soap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="recibeOrdenFault">
        <soap:fault name="recibeOrdenFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ordenesCompraPortTypeSOAP12Binding" type="tns:ordenesCompraPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recibeOrden">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/NotificacionPartidas/recibeOrden"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
        <soap12:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="recibeOrdenFault">
        <soap12:fault name="recibeOrdenFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>