SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/Finance/AP/GPA/Entity/Resources/SolicitudSvc/SolicitudSvcWSDL.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions targetNamespace="http://service.gpa.mx.com.qualitas/" name="EntitySvc" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.gpa.mx.com.qualitas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://service.gpa.mx.com.qualitas/" schemaLocation="SolicitudSchema.xsd"/>
</xsd:schema>
</types>
<message name="actualizarSolicitud">
<part name="request" type="tns:actualizaSolicitudRequest"/>
</message>
<message name="actualizarSolicitudResponse">
<part name="response" type="tns:actualizaSolicitudResponse"/>
</message>
<message name="cancelarSolicitud">
<part name="request" type="tns:cancelaSolicitudRequest"/>
</message>
<message name="cancelarSolicitudResponse">
<part name="response" type="tns:cancelaSolicitudResponse"/>
</message>
<message name="notificarEstadoERP">
<part name="request" type="tns:notificacionOrdenPagoERPRequest"/>
</message>
<message name="notificarEstadoERPResponse">
<part name="response" type="tns:notificacionOrdenPagoERPResponse"/>
</message>
<portType name="EntitySvc">
<operation name="actualizarSolicitud">
<input wsam:Action="http://service.gpa.mx.com.qualitas/EntitySvc/actualizarSolicitudRequest" message="tns:actualizarSolicitud"/>
<output wsam:Action="http://service.gpa.mx.com.qualitas/EntitySvc/actualizarSolicitudResponse" message="tns:actualizarSolicitudResponse"/>
</operation>
<operation name="cancelarSolicitud">
<input wsam:Action="http://service.gpa.mx.com.qualitas/EntitySvc/cancelarSolicitudRequest" message="tns:cancelarSolicitud"/>
<output wsam:Action="http://service.gpa.mx.com.qualitas/EntitySvc/cancelarSolicitudResponse" message="tns:cancelarSolicitudResponse"/>
</operation>
<operation name="notificarEstadoERP">
<input wsam:Action="http://service.gpa.mx.com.qualitas/EntitySvc/notificarEstadoERPRequest" message="tns:notificarEstadoERP"/>
<output wsam:Action="http://service.gpa.mx.com.qualitas/EntitySvc/notificarEstadoERPResponse" message="tns:notificarEstadoERPResponse"/>
</operation>
</portType>
<binding name="EntitySvcPortBinding" type="tns:EntitySvc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="actualizarSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.gpa.mx.com.qualitas/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.gpa.mx.com.qualitas/"/>
</output>
</operation>
<operation name="cancelarSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.gpa.mx.com.qualitas/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.gpa.mx.com.qualitas/"/>
</output>
</operation>
<operation name="notificarEstadoERP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.gpa.mx.com.qualitas/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.gpa.mx.com.qualitas/"/>
</output>
</operation>
</binding>
<service name="SolicitudSvc">
<port name="SolicitudSvcPort" binding="tns:EntitySvcPortBinding">
<soap:address location="http://11.50.0.24:7001/SolicitudSvc/SolicitudSvcPort"/>
</port>
</service>
</definitions>