SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/MIDAS/Autorizacion/Resources/WSDL/MIDASHuellaDigitalSvcWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:mx.com.nmp.midas" xmlns:ns1="http://exception.midas.nmp.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
            <xsd:element name="obtenerHuellaGerente">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="sucursal" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerHuellaGerenteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="WebServiceException" type="ns1:WebServiceException"/>
            <xsd:element name="ServiceException" type="ns1:ServiceException"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                    elementFormDefault="qualified" targetNamespace="http://exception.midas.nmp.com.mx">
            <xsd:complexType name="WebServiceException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="ServiceException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ServiceException">
        <wsdl:part name="ServiceException" element="tns:ServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerHuellaGerenteResponse">
        <wsdl:part name="parameters" element="tns:obtenerHuellaGerenteResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="WebServiceException">
        <wsdl:part name="WebServiceException" element="tns:WebServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerHuellaGerenteRequest">
        <wsdl:part name="parameters" element="tns:obtenerHuellaGerente"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ServicioHuellaPortType">
        <wsdl:operation name="obtenerHuellaGerente">
            <wsdl:input name="obtenerHuellaGerenteRequest" message="tns:obtenerHuellaGerenteRequest"></wsdl:input>
            <wsdl:output name="obtenerHuellaGerenteResponse" message="tns:obtenerHuellaGerenteResponse"></wsdl:output>
            <wsdl:fault name="WebServiceException" message="tns:WebServiceException"></wsdl:fault>
            <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicioHuellaHttpBinding" type="tns:ServicioHuellaPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerHuellaGerente">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="obtenerHuellaGerenteRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerHuellaGerenteResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WebServiceException">
                <wsdlsoap:fault name="WebServiceException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ServiceException">
                <wsdlsoap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicioHuella">
        <wsdl:port name="ServicioHuellaHttpPort" binding="tns:ServicioHuellaHttpBinding">
            <wsdlsoap:address location="http://10.30.3.55:8023/midas-web/services/ServicioHuella"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>