SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/MIDAS/Autorizacion/Resources/WSDL/NMPAutorizacionSvcWSDL.wsdl

<wsdl:definitions name="Autorizacion" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAutorizacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAutorizacion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPSucursal" schemaLocation="../Schemas/NMPAutorizacionElementosXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="validaClaveAutorizacionRequestMessage">
    <wsdl:part name="validaClaveAutorizacionRequest" element="inp1:validaClaveAutorizacionRequest"/>
  </wsdl:message>
  <wsdl:message name="validaClaveAutorizacionResponseMessage">
    <wsdl:part name="validaClaveAutorizacionResponse" element="inp1:validaClaveAutorizacionResponse"/>
  </wsdl:message>
  <wsdl:message name="validarHuellaDigitalRequestMessage">
    <wsdl:part name="validarHuellaDigitalRequest" element="inp1:validarHuellaDigitalRequest"/>
  </wsdl:message>
  <wsdl:message name="validarHuellaDigitalResponseMessage">
    <wsdl:part name="validarHuellaDigitalResponse" element="inp1:validarHuellaDigitalResponse"/>
  </wsdl:message>
  <wsdl:message name="validaClaveFaultMessage">
    <wsdl:part name="validaClaveFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:message name="validarHuellaDigitalFaultMessage">
    <wsdl:part name="validarHuellaDigitalFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="validaClave_ptt">
    <wsdl:operation name="validaClaveAutorizacion">
      <wsdl:input message="tns:validaClaveAutorizacionRequestMessage"/>
      <wsdl:output message="tns:validaClaveAutorizacionResponseMessage"/>
      <wsdl:fault message="tns:validaClaveFaultMessage" name="AutorizacionFault"/>
    </wsdl:operation>
    <wsdl:operation name="validarHuellaDigital">
      <wsdl:input message="tns:validarHuellaDigitalRequestMessage"/>
      <wsdl:output message="tns:validarHuellaDigitalResponseMessage"/>
      <wsdl:fault message="tns:validarHuellaDigitalFaultMessage" name="AutorizacionFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidaClaveBinding" type="tns:validaClave_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validaClaveAutorizacion">
      <soap:operation style="document" soapAction="validaClaveD"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutorizacionFault">
        <soap:fault name="AutorizacionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarHuellaDigital">
      <soap:operation style="document" soapAction="validarHuellaDigital"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutorizacionFault">
        <soap:fault name="AutorizacionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autorizacion">
    <wsdl:port binding="tns:ValidaClaveBinding" name="ValidaClaveBindingPort">
      <soap:address location="http://10.30.2.47:8011/NMP/CRM/Autorizacion"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>