SOL4IT - DEV/Otros/MasterData/Empleados/Resources/XMLSchema_936966274.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Personas/Empleado/v1/"
     xmlns:tns="http://qualitas.com.mx/Personas/Empleado/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="EmpleadoOEN">
        <sequence>
            <element name="numeroEmpleado" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <element name="nombreCompleto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <element name="claveArea" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="area" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="centroCostos" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="fechaBaja" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="estatus" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="clavePuesto" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="puesto" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>