SOL4IT - DEV/osb_Jack/BusApplication/Finance/AP/GPA/Entity/Resources/SeguProyectoDB.wsdl

<wsdl:definitions name="SeguProyectoDB" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/SeguProyectoDB" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/SeguProyectoDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/SeguProyectoDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="SeguProyectoDB_plt">
    <plt:role name="SeguProyectoDB_role">
      <plt:portType name="tns:SeguProyectoDB_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SeguProyectoDB" schemaLocation="SeguProyectoDB_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="SeguProyectoDBSelect_inputParameters">
        <wsdl:part name="SeguProyectoDBSelect_inputParameters" element="top:SeguProyectoDBSelect_pSolicitudInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa013ProyectoPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa013ProyectoCollection_msg">
        <wsdl:part name="Gpa013ProyectoCollection" element="top:Gpa013ProyectoCollection"/>
    </wsdl:message>
    <wsdl:portType name="SeguProyectoDB_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="SeguProyectoDBSelect">
            <wsdl:input message="tns:SeguProyectoDBSelect_inputParameters"/>
            <wsdl:output message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>