SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/AdminPagos/Resources/WADLs/NMPPagoLineaRestPXY.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:NMPDSRFPago="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc" xmlns:ns3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPOperacionPago" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="NMPPagoLineaRestPXY">NMPPagoLineaRestPXY</doc>
   <grammars>
      <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
        <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc" schemaLocation="../Schemas/NMPPagoLineaXSD.xsd"/>
        <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
        <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
   </grammars>
   <resources>
      <resource path="/Partida/{folioPartida}">
         <method name="GET" soa:wsdlOperation="getPartidaCliente">
            <request soa:paramElement="pns:getPartidaClienteRequest" xmlns:pns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc">
               <param name="folioPartida" style="template" soa:expression="$msg.parameters/NMPDSRFPago:folioPartida" type="xsd:long"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getPartidaClienteResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="getPartidaClienteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/Partida/Pago">
         <method name="POST" soa:wsdlOperation="notificarPago">
            <request>
               <representation mediaType="application/json" element="cns:notificarPagoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:notificarPagoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPDSRFPagoLineaSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="notificarPagoFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>