SOL4IT - DEV/Aplicacion_SOA_Qualitas/ObtenerServicioPorPretstadorPrj/SOA/Schemas/ObtenerServiciosPorPrestadorBPEL.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ObtenerServicioPorPrestadorApp/ObtenerServicioPorPretstadorPrj/ObtenerServiciosPorPrestadorBPEL" xmlns:tns="http://xmlns.oracle.com/ObtenerServicioPorPrestadorApp/ObtenerServicioPorPretstadorPrj/ObtenerServiciosPorPrestadorBPEL" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <element name="serviciosPrestadorRequest">
      <complexType>
         <sequence>
            <element name="numempleado" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="idPrestador" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
         </sequence>
      </complexType>
   </element>
   <element name="serviciosPrestadorResponse">
      <complexType>
         <sequence>
            <element name="servicioPrestadorOEN" type="tns:ServicioPrestadorOEN" minOccurs="0" maxOccurs="unbounded"/>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ServicioPrestadorOEN">
      <sequence>
         <element name="idProyecto" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="nombreProyecto" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="descProyecto" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="estatus" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="presupuestoAprob" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="totalParcialidades" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="numeroParcialidad" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="condicionPago" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="idsolicitud" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="idPrestador" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="centroCosto" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="claveOficina" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="descOficina" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="responsableArea" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="numEmpleado" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="tipoMoneda" type="int" minOccurs="0" maxOccurs="1"/>
      </sequence>
   </complexType>
</schema>
