SOL4IT - DEV/Aplicacion_SOA_Qualitas/GenerarSolicitudPrj/SOA/Schemas/SolicitudOEN.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Solicitud/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Solicitud/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="SolicitudOEN">
      <sequence>
         <element name="idSTipoolicitud" type="int" minOccurs="1" maxOccurs="1"/>
         <element name="numeroEmpleado" type="int" minOccurs="1" maxOccurs="1"/>
         <element name="nombreEmpleado" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="id_usuario" type="string" minOccurs="1" maxOccurs="1"/>
      </sequence>
   </complexType>
</schema>
