SOL4IT - DEV/Aplicacion_SOA_Qualitas/GuardarSolicitudPrj/SOA/Schemas/ImportesOEN.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Importes/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Importes/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="ImportesOEN">
      <sequence>
         <element name="nombreDocumento" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="subtotal" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="montoIva" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="tasaIva" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="retencionIsr" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="retencionIva" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="otrosImpuestos" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="observaciones" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="xmlFactura" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="idTipoMoneda" type="int" minOccurs="0" maxOccurs="1"/>
         <element name="folioFiscal" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="total" type="float" minOccurs="0" maxOccurs="1"/>
      </sequence>
   </complexType>
</schema>
