SOL4IT - DEV/Aplicacion_SOA_Qualitas/GuardarSolicitudPrj/SOA/Schemas/TipoServicio.xsd

<?xml version='1.0' encoding='utf-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/TipoServicio/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/TipoServicio/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsds="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/" schemaLocation="TipoServicioData.xsd"/>
   <complexType name="TipoServicio">
      <sequence>
         <element name="idTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
         <choice>
            <sequence>
               <element name="servicioGastoFijo" type="tnsds:GastosFijos" minOccurs="0" maxOccurs="1"/>
               <element name="servicioOperaciones" type="tnsds:Operaciones" minOccurs="0" maxOccurs="1"/>
               <element name="proyecto" type="tnsds:Proyecto" minOccurs="0" maxOccurs="1"/>
            </sequence>
         </choice>
      </sequence>
   </complexType>
</schema>
