SOL4IT - DEV/OSB_NMP_Actual/PoC/AutosSinResguardo/CotizacionContrato/Resources/getCotizacionContratoREST.wsdl

<wsdl:definitions name="getCotizacionContratoREST" targetNamespace="http://xmlns.oracle.com/AutosinResguardoApp/AutoSinResguardo/getCotizacionContratoREST" xmlns:tns="http://xmlns.oracle.com/AutosinResguardoApp/AutoSinResguardo/getCotizacionContratoREST" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizacion" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/Contrato" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <plnk:partnerLinkType name="getCotizacionContratoREST">
        <plnk:role name="getCotizacionContratoRESTProvider" portType="tns:getCotizacionContratoREST_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizacion" schemaLocation="XSD/NmpCotizacionXSD.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Contrato" schemaLocation="XSD/NmpContratoXSD.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCotizacion_inputMessage">
        <wsdl:part name="request" element="inp1:CotizacionRequest"/>
    </wsdl:message>
    <wsdl:message name="getCotizacion_outputMessage">
        <wsdl:part name="reply" element="inp1:CotizacionResponse"/>
    </wsdl:message>
    <wsdl:message name="getContrato_inputMessage">
        <wsdl:part name="request" element="inp2:ContratoRequest"/>
    </wsdl:message>
    <wsdl:message name="getContrato_outputMessage">
        <wsdl:part name="reply" element="inp2:ContratoResponse"/>
    </wsdl:message>
    <wsdl:portType name="getCotizacionContratoREST_ptt">
        <wsdl:operation name="getCotizacion">
            <wsdl:input message="tns:getCotizacion_inputMessage"/>
            <wsdl:output message="tns:getCotizacion_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getContrato">
            <wsdl:input message="tns:getContrato_inputMessage"/>
            <wsdl:output message="tns:getContrato_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>