SOL4IT - DEV/OSB_Desarrollo/MasterData/Servicios/Resources/XMLSchema_-807819995.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/"
     xmlns:xsdLocal="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="GastosFijos">
        <sequence>
            <element name="subTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="Operaciones">
        <sequence>
            <element name="descripcion" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="tipoMoneda" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>