SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/MasterData/Tarifas/Resources/TarifasViaticosSvcXSD.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://master.mx.com.qualitas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://master.mx.com.qualitas/">
  <xsd:complexType name="consultar"/>
  <xsd:complexType name="consultarResponse">
    <xsd:sequence>
      <xsd:element name="response" type="ns0:consultaTarifaResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaTarifaResponse">
    <xsd:sequence>
      <xsd:element name="categoriaTarifa" type="ns0:categoriaTarifaModel" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="categoriaTarifaModel">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="subtotal" type="xsd:float" minOccurs="0"/>
      <xsd:element name="tarifa" type="xsd:float" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultar" type="ns0:consultar"/>
  <xsd:element name="consultarResponse" type="ns0:consultarResponse"/>
</xsd:schema>