SOL4IT - DEV/OSB_Desarrollo_NMP/InteligenciaNegocio/RiesgoTransaccional/Resources/Schemas/NMPRiesgoTransaccionalComunXSD.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://servicios.montepiedad.com.mx/NMP/Schema/commons/RT"
            xmlns:tns="http://servicios.montepiedad.com.mx/NMP/Schema/commons/RT"
            targetNamespace="http://servicios.montepiedad.com.mx/NMP/Schema/commons/RT" elementFormDefault="qualified">
  <xsd:element name="transaccion" type="tns:transaccionType"/>
  <xsd:element name="resultado" type="tns:resultadoType"/>
  <xsd:element name="consultaTranHistCliente" type="tns:consultaTranHistClienteType"/>
  <xsd:element name="infoGerenteZona" type="tns:infoGerenteZonaType"/>
  <xsd:element name="infoGerenteRegional" type="tns:infoGerenteRegionalType"/>
  <xsd:element name="infoAlerta" type="tns:infoAlertaType"/>
  <xsd:element name="ordTransyAgregados" type="tns:ordTransyAgregadosType"/>
  <xsd:element name="validaAlerta" type="tns:validaAlertaType"/>
  <xsd:element name="alerta" type="tns:alertaType"/>
  <xsd:element name="partida" type="tns:partidaType"/>
  <xsd:element name="transaccionList" type="tns:transaccionListType"/>
  <xsd:element name="alertasList" type="tns:alertasListType"/>
  <xsd:element name="analisisAlertas" type="tns:analisisAlertasType"/>
  <xsd:complexType name="actualizaCasoType">
    <xsd:sequence>
      <xsd:element name="idCaso" type="xsd:int"/>
      <xsd:element name="estadoCaso" type="xsd:string"/>
      <xsd:element name="usuarioAccion" type="xsd:string"/>
      <xsd:element name="mensajeAuditoria" type="xsd:string"/>
      <xsd:element name="esPublico" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertarInstProcType">
    <xsd:sequence>
      <xsd:element name="fecha" type="xsd:date"/>
      <xsd:element name="idSerial" type="xsd:int"/>
      <xsd:element name="estado" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="idSolicitud" type="xsd:int"/>
      <xsd:element name="idUsuarioIniciador" type="xsd:int"/>
      <xsd:element name="codigoTipoInst" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="calculaCalifCasoType">
    <xsd:sequence>
      <xsd:element name="idCaso" type="xsd:int"/>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="procesoGestionCasoType">
    <xsd:sequence>
      <xsd:element name="idCaso" type="xsd:int"/>
      <xsd:element name="modo" type="xsd:string"/>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
      <xsd:element name="credencialCliente" type="xsd:int"/>
      <xsd:element name="califInicialCaso" type="xsd:int"/>
      <xsd:element name="idSucursal" type="tns:idSucursalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transaccionType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="idCliente" type="tns:idClienteType" nillable="true" maxOccurs="1"/>
      <xsd:element name="procesado" type="xsd:int" nillable="false" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="monto" type="xsd:float" nillable="false" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaOperacion" type="tns:fechaOperacionType" nillable="false" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idSucursal" type="tns:idSucursalType" nillable="false" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="esCancelacion" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="esReempeno" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoOperacion" type="tns:tipoOperacionType" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cantidadPartidas" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="partidasList" type="tns:partidaType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transaccionListType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:int" minOccurs="0"/>
      <xsd:element name="idCliente" type="tns:idClienteType" nillable="false" maxOccurs="1"/>
      <xsd:element name="monto" type="xsd:float" nillable="true" maxOccurs="1"/>
      <xsd:element name="cantidadPartidas" type="xsd:int" nillable="true" maxOccurs="1"/>
      <xsd:element name="cantidadTransacciones" type="xsd:int" nillable="true" maxOccurs="1"/>
      <xsd:element name="fechaAnalisis" type="xsd:dateTime" nillable="true" maxOccurs="1"/>
      <xsd:element name="transaccion" type="tns:transaccionType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="partidaType">
    <xsd:sequence>
      <xsd:element name="folioPartida" type="xsd:string" minOccurs="0"/>
      <xsd:element name="monto" type="xsd:float" nillable="false"/>
      <xsd:element name="valorOperacion" type="xsd:decimal" minOccurs="0" nillable="true"/>
      <xsd:element name="ramo" type="xsd:string"/>
      <xsd:element name="subRamo" type="xsd:string"/>
      <xsd:element name="tipoProducto" type="xsd:int" minOccurs="0"/>
      <xsd:element name="producto" type="xsd:string" minOccurs="0"/>
      <xsd:element name="caracteristica1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="caracteristica2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="caracteristica3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cveValuador" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="montoPrestamo" type="tns:montoPrestamoType" minOccurs="0" nillable="true"/>
      <xsd:element name="idClientePrenda" type="tns:idClientePrendaType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cantidadPartidas" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="fechaComercializacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoOperacion" type="tns:tipoOperacionType" maxOccurs="1"/>
      <xsd:element name="existAlmoneda" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="montoAvaluo" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="esquemaCobro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idSucursalPartida" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="interesAlmoneda" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comisionAlmacenaje" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comisionComercializacion" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comisionDesempenioExtemporaneo" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="interesDeposito" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="interesDepositoCancelado" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="interesDevengadoAnteriorPorPeriodo" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="interesDevengadoPorPeriodo" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaDecremento" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="saldoFavor" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultadoType">
    <xsd:sequence>
      <xsd:element name="exitoso" type="xsd:boolean"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaTranHistClienteType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
      <xsd:element name="fechaTrx" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoGerenteZonaType">
    <xsd:sequence>
      <xsd:element name="idGerZona" type="xsd:int"/>
      <xsd:element name="nomGerZona" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoGerenteRegionalType">
    <xsd:sequence>
      <xsd:element name="idGerReg" type="xsd:int"/>
      <xsd:element name="nomGerReg" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoAlertaType">
    <xsd:sequence>
      <xsd:element name="idAlerta" type="xsd:int"/>
      <xsd:element name="tipoAlerta" type="xsd:string"/>
      <xsd:element name="estadoAlerta" type="xsd:string"/>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
      <xsd:element name="nomCliente" type="tns:nomClienteType"/>
      <xsd:element name="idTransaccion" type="tns:idTransaccionType"/>
      <xsd:element name="transaccion" type="tns:transaccionType"/>
      <xsd:element name="monto" type="xsd:float"/>
      <xsd:element name="idSucursal" type="tns:idSucursalType"/>
      <xsd:element name="alertaRelacionada" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ordTransyAgregadosType">
    <xsd:sequence>
      <xsd:element name="transaccion" type="tns:transaccionType"/>
      <xsd:element name="totalTrans" type="xsd:int"/>
      <xsd:element name="totalMontoTrans" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validaAlertaType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="tns:idClienteType" nillable="false" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="fechaRegistroCliente" type="xsd:date" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="diasAltaCliente" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idSucursal" type="tns:idSucursalType" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idTransaccionNueva" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="reglaId" type="xsd:string" nillable="false" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="totalTrans" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalMontoTrans" type="xsd:float" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parametro1" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parametro2" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parametro3" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="parametroPaseNeto" type="xsd:float" nillable="true" minOccurs="0"/>
      <xsd:element name="transaccionList" type="tns:transaccionListType" nillable="true" minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertaType">
    <xsd:sequence>
      <xsd:element name="idAlerta" type="xsd:int" nillable="true" minOccurs="0"/>
      <xsd:element name="codigoTipoAlerta" type="xsd:string"/>
      <xsd:element name="codigoRegla" type="xsd:string"/>
      <xsd:element name="idTransaccion" type="tns:idTransaccionType" minOccurs="0"/>
      <xsd:element name="generaCaso" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
      <xsd:element name="idSucursal" type="tns:idSucursalType"/>
      <xsd:element name="relacion" type="tns:relacionType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertasListType">
    <xsd:sequence>
      <xsd:element name="reglaId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cantidadAlertas" type="xsd:int" minOccurs="0"/>
      <xsd:element name="cantidadDuplicadas" type="xsd:int" minOccurs="0"/>
      <xsd:element name="cantidadValidas" type="xsd:int" minOccurs="0"/>
      <xsd:element name="alertas" type="tns:alertaType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="relacionType">
    <xsd:sequence>
      <xsd:element name="esCaso" type="xsd:boolean" minOccurs="0" nillable="true"/>
      <xsd:element name="idRelacion" type="xsd:long" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoRelacion" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="analisisAlertasType">
    <xsd:sequence>
      <xsd:element name="cantidadAlertas" type="xsd:int"/>
      <xsd:element name="cantidadDuplicadas" type="xsd:int"/>
      <xsd:element name="cantidadValidas" type="xsd:int"/>
      <xsd:element name="alertasList" type="tns:alertasListType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="armadoLinkType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
      <xsd:element name="ambiente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="linkType">
    <xsd:sequence>
      <xsd:element name="linkBI" type="xsd:string"/>
      <xsd:element name="linkCRM" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generaCasoType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="tns:idClienteType"/>
      <xsd:element name="idAnalista" type="xsd:string"/>
      <xsd:element name="idCaso" type="xsd:int"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="codigoEstado" type="xsd:string"/>
      <xsd:element name="calificacion" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="aplicaReglaType">
    <xsd:sequence>
      <xsd:element name="idCaso" type="xsd:int"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="codigoEstado" type="xsd:string"/>
      <xsd:element name="calificacion" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultInfoUsuarioSucType">
    <xsd:sequence>
      <xsd:element name="idGerenteSuc" type="xsd:int"/>
      <xsd:element name="nombreCompletoGS" type="xsd:string"/>
      <xsd:element name="correoGerenteSuc" type="xsd:string"/>
      <xsd:element name="usuarioGerenteSuc" type="xsd:string"/>
      <xsd:element name="idGerenteReg" type="xsd:int"/>
      <xsd:element name="nombreCompletoGR" type="xsd:string"/>
      <xsd:element name="correoGerenteReg" type="xsd:string"/>
      <xsd:element name="usuarioGerenteReg" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idClienteType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="nomClienteType">
    <xsd:sequence>
      <xsd:element name="nomCliente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idSucursalType">
    <xsd:sequence>
      <xsd:element name="idSucursal" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fechaOperacionType">
    <xsd:sequence>
      <xsd:element name="fechaOperacion" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="montoPrestamoType">
    <xsd:sequence>
      <xsd:element name="montoPrestamo" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idClientePrendaType">
    <xsd:sequence>
      <xsd:element name="idClientePrenda" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoOperacionType">
    <xsd:sequence>
      <xsd:element name="tipoOperacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idTransaccionType">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cambioScoreType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CodigoError" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="idCaso" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CalificacionAjustada" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CalificacionDegradada" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CalificacionMidas" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CalificacionReal" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CalificacionSIVA2" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CapacidadPago" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="FechaIngreso" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="GradoConfianza" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Hash" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IdCliente" type="xsd:int"/>
      <xsd:element minOccurs="0" name="IndiceRecuperacion" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Pagos" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="PorcentajeDesempeño" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="PorcentajePrestamoValuacion" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="PrestamoPromedio" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Prestamos" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="ProbabilidadIncumplimiento" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="SobreAforo" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="SobreAforoAjustado" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="SobreAforoSIVA2" nillable="true" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoDocClienteType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
      <xsd:element name="fechaCarga" type="xsd:date"/>
      <xsd:element name="codigoDoc" type="xsd:string"/>
      <xsd:element name="nombreDoc" type="xsd:string"/>
      <xsd:element name="urlDoc" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="contenidoDoc" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tamanoDoc" type="xsd:int" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultDocCliente">
    <xsd:sequence>
      <xsd:element name="cliente" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>