SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/SolicitudesVSR/Resources/WADLs/NMPSolicitudesVSRRestPXY.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" xmlns:ns2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPVehiculo" xmlns:ns3="http://servicios.montedepiedad.com.mx/NMP/Schema/OpenTextSvc" xmlns:vsr="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="NMPSolicitudesVSRRestPXY">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR" schemaLocation="../Schemas/NMPSolicitudesVSRXSD.xsd"/>
    </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
      <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/SolicitudesVSR" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
      <import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
    </schema>
   </grammars>
   <resources>
      <resource path="/actualizar">
         <method name="POST" soa:wsdlOperation="actualizarSolicitud">
            <request>
               <representation mediaType="application/json" element="cns:actualizarSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:actualizarSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR"/>
            </response>
            <response status="500" soa:wsdlFaultName="solicitudesVSRFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/validarEstado">
         <method name="POST" soa:wsdlOperation="validaEstadoFlujoSolicitud">
            <request>
               <representation mediaType="application/json" element="cns:validaEstadoFlujoSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:validaEstadoFlujoSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR"/>
            </response>
            <response status="500" soa:wsdlFaultName="solicitudesVSRFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/consultar">
         <method name="POST" soa:wsdlOperation="consultarSolicitud">
            <request>
               <representation mediaType="application/json" element="cns:consultarSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:consultarSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/SolicitudesVSR"/>
            </response>
            <response status="500" soa:wsdlFaultName="solicitudesVSRFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>