SOL4IT - DEV/OSB_NMP_Actual/InteligenciaNegocio/RiesgoTransaccional/Resources/WSDLs/MIDASScoreClienteDBWSDL.wsdl

<wsdl:definitions name="ScoreMidas_db" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ScoreMidas_db" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="ScoreMidas_db_plt">
    <plt:role name="ScoreMidas_db_role">
      <plt:portType name="tns:ScoreMidas_db_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ScoreMidas_db" schemaLocation="../Schemas/MIDASScoreClienteXSD.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="Select_inputParameters">
    <wsdl:part name="Select_inputParameters" element="top:Select_idClienteInputParameters"/>
  </wsdl:message>
  <wsdl:message name="TcCalifAjustadaCollection_msg">
    <wsdl:part name="TcCalifAjustadaCollection" element="top:TcCalifAjustadaCollection"/>
  </wsdl:message>
  <wsdl:message name="TcCalifAjustadaOutput_msg">
    <wsdl:part name="TcCalifAjustadaOutput" element="top:TcCalifAjustadaOutput"/>
  </wsdl:message>
  <wsdl:portType name="ScoreMidas_db_ptt">
    <wsdl:operation name="update">
      <wsdl:input message="tns:TcCalifAjustadaCollection_msg"/>
      <wsdl:output message="tns:TcCalifAjustadaOutput_msg"/>
    </wsdl:operation>
    <wsdl:operation name="select">
      <wsdl:input message="tns:Select_inputParameters"/>
      <wsdl:output message="tns:TcCalifAjustadaCollection_msg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScoreMidas_db_pttSOAP11Binding" type="tns:ScoreMidas_db_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db/update"/>
      <wsdl:input>
        <soap:body use="literal" parts="TcCalifAjustadaCollection"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="TcCalifAjustadaOutput" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/MDS/Project1/ScoreMidas_db/select"/>
      <wsdl:input>
        <soap:body use="literal" parts="Select_inputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="TcCalifAjustadaCollection" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>