SOL4IT - DEV/OSB_Desarrollo/MasterData/Proyectos/Resources/XMLSchema_-1622032020.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/ActualizarProyecto/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/ActualizarProyecto/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsts="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-1397337323.xsd"/>
    <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/v1/" schemaLocation="XMLSchema_1285443977.xsd"/>
    <element name="ActualizarProyectoRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:ActualizarProyecto"/>
            </sequence>
        </complexType>
    </element>
    <element name="ActualizarProyectoResponse">
        <complexType>
            <sequence>
                <element name="idProyecto" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="nombre" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="descripcion" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="estatusProyecto" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="presupuestoAprob" type="decimal" minOccurs="0" maxOccurs="1"/>
                <element name="presupuestoDisponible" type="decimal" minOccurs="0" maxOccurs="1"/>
                <element name="numParcialidades" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="condicionPago" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="idSolicitud" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="idPrestador" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="centroCostos" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="claveOficina" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="descOficina" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="responsableArea" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="ActualizarProyecto">
        <sequence>
            <element name="idTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="tipoOperacion" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="servicio" type="tnsts:Servicio" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>