SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/BatchScore/Resources/Schemas/OSBTipoOperacionBatchPrendarioXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPTipoOperacion"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPTipoOperacion"
            elementFormDefault="qualified">
  <xsd:element name="dvm">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="description"/>
        <xsd:element name="columns">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="column" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="rows">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="row" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="cell" maxOccurs="unbounded" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>