SOL4IT - DEV/OSB_NMP_Actual/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/WSDLs/CRMGestionesWSDL.wsdl

<wsdl:definitions name="CRMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../Schemas/CRMGestionesElementosXSD.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../Schemas/CRMGestionesTipos1XSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../Schemas/CRMGestionesTipos2XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      <xsd:import schemaLocation="../Schemas/CRMGestionesValidadorXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
      <xsd:import schemaLocation="../Schemas/CRMGestionesTipos0XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMService_RecepcionGestiones_InputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionGestiones"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_RecepcionGestiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionGestionesResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_ConsultaAgenda_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaAgenda"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_ConsultaAgenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaAgendaResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_CapturaPreRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:CapturaPreRegistro"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_CapturaPreRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapturaPreRegistroResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_AutoAsignacionOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoAsignacionOrden"/>
  </wsdl:message>
  <wsdl:message name="ICRMService_AutoAsignacionOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoAsignacionOrdenResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICRMService">
    <wsdl:operation name="RecepcionGestiones">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/RecepcionGestiones" message="tns:ICRMService_RecepcionGestiones_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/RecepcionGestionesResponse" message="tns:ICRMService_RecepcionGestiones_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaAgenda">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/ConsultaAgenda" message="tns:ICRMService_ConsultaAgenda_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/ConsultaAgendaResponse" message="tns:ICRMService_ConsultaAgenda_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CapturaPreRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/CapturaPreRegistro" message="tns:ICRMService_CapturaPreRegistro_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/CapturaPreRegistroResponse" message="tns:ICRMService_CapturaPreRegistro_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AutoAsignacionOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMService/AutoAsignacionOrden" message="tns:ICRMService_AutoAsignacionOrden_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMService/AutoAsignacionOrdenResponse" message="tns:ICRMService_AutoAsignacionOrden_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRMService" type="tns:ICRMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RecepcionGestiones">
      <soap:operation soapAction="http://tempuri.org/ICRMService/RecepcionGestiones" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaAgenda">
      <soap:operation soapAction="http://tempuri.org/ICRMService/ConsultaAgenda" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapturaPreRegistro">
      <soap:operation soapAction="http://tempuri.org/ICRMService/CapturaPreRegistro" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoAsignacionOrden">
      <soap:operation soapAction="http://tempuri.org/ICRMService/AutoAsignacionOrden" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMService">
    <wsdl:port name="BasicHttpBinding_ICRMService" binding="tns:BasicHttpBinding_ICRMService">
      <soap:address location="http://10.30.3.49/Nmp.Crm.HostService.CRMB2/CrmServiceB2.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>