SOL4IT - DEV/OSB_NMP_Actual/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/WSDLs/CRMServicioOrdenesWrapperWSDL.wsdl

<wsdl:definitions name="Ordenes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../Schemas/CRMServicioOrdenesElementosXSD.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../Schemas/CRMServicioOrdenesTipos01XSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../Schemas/CRMServicioOrdenesTipos02XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.Servicios.DataContracts"/>
      <xsd:import schemaLocation="../Schemas/CRMServicioOrdenesTipos03XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes"/>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdenes_RecuperarUltimaLlamada_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarUltimaLlamada"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_RecuperarUltimaLlamada_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarUltimaLlamadaResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_MapearDatosProspecto_InputMessage">
    <wsdl:part name="parameters" element="tns:MapearDatosProspecto"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_MapearDatosProspecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapearDatosProspectoResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_RecepcionOrdenes_InputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionOrdenes"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_RecepcionOrdenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionOrdenesResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_ConfirmaInteresCampaña_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaInteresCampaña"/>
  </wsdl:message>
  <wsdl:message name="IOrdenes_ConfirmaInteresCampaña_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmaInteresCampañaResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPStandardHeader">
    <wsdl:part name="part" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="IOrdenes">
    <wsdl:operation name="RecuperarUltimaLlamada">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenes/RecuperarUltimaLlamada" message="tns:IOrdenes_RecuperarUltimaLlamada_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenes/RecuperarUltimaLlamadaResponse" message="tns:IOrdenes_RecuperarUltimaLlamada_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="MapearDatosProspecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenes/MapearDatosProspecto" message="tns:IOrdenes_MapearDatosProspecto_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenes/MapearDatosProspectoResponse" message="tns:IOrdenes_MapearDatosProspecto_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RecepcionOrdenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenes/RecepcionOrdenes" message="tns:IOrdenes_RecepcionOrdenes_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenes/RecepcionOrdenesResponse" message="tns:IOrdenes_RecepcionOrdenes_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaInteresCampaña">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenes/ConfirmaInteresCampaña" message="tns:IOrdenes_ConfirmaInteresCampaña_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenes/ConfirmaInteresCampañaResponse" message="tns:IOrdenes_ConfirmaInteresCampaña_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrdenes" type="tns:IOrdenes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RecuperarUltimaLlamada">
      <soap:operation soapAction="http://tempuri.org/IOrdenes/RecuperarUltimaLlamada" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:NMPStandardHeader" part="part" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapearDatosProspecto">
      <soap:operation soapAction="http://tempuri.org/IOrdenes/MapearDatosProspecto" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:NMPStandardHeader" part="part" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionOrdenes">
      <soap:operation soapAction="http://tempuri.org/IOrdenes/RecepcionOrdenes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:NMPStandardHeader" part="part" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaInteresCampaña">
      <soap:operation soapAction="http://tempuri.org/IOrdenes/ConfirmaInteresCampaña" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:NMPStandardHeader" part="part" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ordenes">
    <wsdl:port name="BasicHttpBinding_IOrdenes" binding="tns:BasicHttpBinding_IOrdenes">
      <soap:address location="http://dcpimsdcrmint01.nmp.com.mx:90/Nmp.Crm.Servicios.Ordenes.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>