SOL4IT - DEV/OSB_Desarrollo_NMP/InteligenciaNegocio/RiesgoTransaccional/Resources/WSDLs/NMPAplicarReglaBRWSDL.wsdl

<wsdl:definitions name="AplicarReglaMediator" targetNamespace="http://xmlns.oracle.com/RiesgoTransaccionalBPMApp/BRMSRiesgoTransaccional/AplicarReglaMediator" xmlns:tns="http://xmlns.oracle.com/RiesgoTransaccionalBPMApp/BRMSRiesgoTransaccional/AplicarReglaMediator" xmlns:inp1="http://servicios.montepiedad.com.mx/NMP/Schema/RiesgoTransaccional" xmlns:NMPSM="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montepiedad.com.mx/NMP/Schema/RiesgoTransaccional" schemaLocation="../Schemas/NMPRiesgoTransaccionalMsgXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessage">
    <wsdl:part name="request" element="inp1:aplicaReglaRequest"/>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="reply" element="inp1:aplicaReglaResponse"/>
  </wsdl:message>
   <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="NMPSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeader">
    <wsdl:part name="headerReq" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeaderResponse">
    <wsdl:part name="headerRes" element="NMPSH:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:portType name="execute_ptt">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:requestMessage"/>
      <wsdl:output message="tns:replyMessage"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <soap:operation style="document" soapAction="execute"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:standardMessageHeader" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:standardMessageHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
       <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AplicarReglaMediator_ep">
    <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
      <soap:address location="http://dcpsoadev1n1.nmp.com.mx:17004/soa-infra/services/RT_BPM/BRMSRiesgoTransaccional/AplicarRegla_ep"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>