SOL4IT - DEV/OSB_Desarrollo_NMP/InteligenciaNegocio/RiesgoTransaccional/Resources/WSDLs/NMPComentariosCasoRTWSDL.wsdl

<wsdl:definitions name="RT_ComentariosDb" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Desarrollo+SOA/ActualizaCasoDB/RT_ComentariosDb" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Desarrollo+SOA/ActualizaCasoDB/RT_ComentariosDb" xmlns:NMPSM="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://servicios.montedepiedad.com.mx/NMP/Schema/RTTransaccionesDbXSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="RT_ComentariosDb_plt">
    <plt:role name="RT_ComentariosDb_role">
      <plt:portType name="tns:RT_ComentariosDb_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/RTTransaccionesDbXSD" schemaLocation="../Schemas/NMPRiesgoTransaccionalDBXSD.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RtComentariosCollection_msg">
    <wsdl:part name="RtComentariosCollection" element="top:RtComentariosCollection"/>
  </wsdl:message>
  <wsdl:portType name="RT_ComentariosDb_ptt">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:RtComentariosCollection_msg"/>
      <wsdl:output message="tns:RtComentariosResponse"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="RtComentariosResponse">
    <wsdl:part name="RtComentariosResultado" element="top:resultado"/>
  </wsdl:message>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="NMPSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:binding name="RT_ComentariosDb_pttSOAP11Binding" type="tns:RT_ComentariosDb_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insert">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/Desarrollo+SOA/ActualizaCasoDB/RT_ComentariosDb/insert"/>
      <wsdl:input>
        <soap:body use="literal" parts="RtComentariosCollection"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="RtComentariosResultado"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>