SOL4IT - DEV/OSB_Depurado_SOAINT/MasterData/Empleados/Resources/UsuarioEmpleadoMap/UsuarioEmpleadoMapppingDataSvc.wsdl

<wsdl:definitions name="UsuarioEmpleadoMapppingDataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/EmpleadoMapping/UsuarioEmpleadoMapppingDataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/EmpleadoMapping/UsuarioEmpleadoMapppingDataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/UsuarioEmpleadoMapppingDataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="UsuarioEmpleadoMapppingDataSvc_plt">
    <plt:role name="UsuarioEmpleadoMapppingDataSvc_role">
      <plt:portType name="tns:UsuarioEmpleadoMapppingDataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UsuarioEmpleadoMapppingDataSvc" schemaLocation="UsuarioEmpleadoMapppingDataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="UsuarioEmpleadoMapppingDataSvcSelect_inputParameters">
        <wsdl:part name="UsuarioEmpleadoMapppingDataSvcSelect_inputParameters" element="top:UsuarioEmpleadoMapppingDataSvcSelect_pLoginInputParameters"/>
    </wsdl:message>
    <wsdl:message name="GpaMapeoUsuariosCollection_msg">
        <wsdl:part name="GpaMapeoUsuariosCollection" element="top:GpaMapeoUsuariosCollection"/>
    </wsdl:message>
    <wsdl:portType name="UsuarioEmpleadoMapppingDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:GpaMapeoUsuariosCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="UsuarioEmpleadoMapppingDataSvcSelect">
            <wsdl:input message="tns:UsuarioEmpleadoMapppingDataSvcSelect_inputParameters"/>
            <wsdl:output message="tns:GpaMapeoUsuariosCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>