SOL4IT - DEV/SOA_Desarrollo/OrdenesPago/SOA/Schemas/ProrrateoParsingSchema_2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://ws.gpa.qualitas.mx/" xmlns:ns0="http://ws.gpa.qualitas.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="prorrateoResponse">
      <xsd:sequence>
         <xsd:element name="result" type="xsd:int"/>
         <xsd:element name="detail" type="xsd:string" minOccurs="0"/>
         <xsd:element name="data" type="ns0:prorrateo" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="prorrateo">
      <xsd:sequence>
         <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="descripcionIVA" type="xsd:string" minOccurs="0"/>
         <xsd:element name="cuentaContable" type="xsd:string" minOccurs="0"/>
         <xsd:element name="cuentaContableIVA" type="xsd:string" minOccurs="0"/>
         <xsd:element name="oficinaIVA" type="xsd:string" minOccurs="0"/>
         <xsd:element name="centroCostosIVA" type="xsd:string" minOccurs="0"/>
         <xsd:element name="concepto" type="xsd:string" minOccurs="0"/>
         <xsd:element name="total" type="xsd:double" minOccurs="0"/>
         <xsd:element name="listaProrrateoRow" type="ns0:prorrateoRow" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="prorrateoRow">
      <xsd:sequence>
         <xsd:element name="folio" type="xsd:string" minOccurs="0"/>
         <xsd:element name="importe" type="xsd:double"/>
         <xsd:element name="numeroOficina" type="xsd:string" minOccurs="0"/>
         <xsd:element name="numeroCentroCosto" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="prorrateoResponse" type="ns0:prorrateoResponse"/>
</xsd:schema>
