SOL4IT - DEV/Aplicacion_SOA_Qualitas/GestionArchivoProrrateoPrj/SOA/WSDLs/OperacionesArchivoProrrateoDB.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="OperacionesArchivoProrrateoDB" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/OperacionesArchivoProrrateoDB" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/OperacionesArchivoProrrateoDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/OperacionesArchivoProrrateoDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <plt:partnerLinkType name="OperacionesArchivoProrrateoDB_plt">
      <plt:role name="OperacionesArchivoProrrateoDB_role">
         <plt:portType name="tns:OperacionesArchivoProrrateoDB_ptt"/>
      </plt:role>
   </plt:partnerLinkType>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/OperacionesArchivoProrrateoDB" schemaLocation="../Schemas/OperacionesArchivoProrrateoDB.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="guardarArchivoProrrateoDBInput_msg">
      <wsdl:part name="guardarArchivoProrrateoDBInput_msg" element="db:guardarArchivoProrrateoDBInput"/>
   </wsdl:message>
   <wsdl:message name="obtenerArchivoProrrateoDBInput_msg">
      <wsdl:part name="obtenerArchivoProrrateoDBInput_msg" element="db:obtenerArchivoProrrateoDBInput"/>
   </wsdl:message>
   <wsdl:message name="obtenerArchivoProrrateoDBOutputCollection_msg">
      <wsdl:part name="obtenerArchivoProrrateoDBOutputCollection" element="db:obtenerArchivoProrrateoDBOutputCollection"/>
   </wsdl:message>
   <wsdl:message name="eliminarArchivoProrrateoDBInput_msg">
      <wsdl:part name="eliminarArchivoProrrateoDBInput_msg" element="db:eliminarArchivoProrrateoDBInput"/>
   </wsdl:message>
   <wsdl:portType name="OperacionesArchivoProrrateoDB_ptt">
      <wsdl:operation name="guardarArchivoProrrateoDB">
         <wsdl:input message="tns:guardarArchivoProrrateoDBInput_msg"/>
      </wsdl:operation>
      <wsdl:operation name="obtenerArchivoProrrateoDB">
         <wsdl:input message="tns:obtenerArchivoProrrateoDBInput_msg"/>
         <wsdl:output message="tns:obtenerArchivoProrrateoDBOutputCollection_msg"/>
      </wsdl:operation>
      <wsdl:operation name="eliminarArchivoProrrateoDB">
         <wsdl:input message="tns:eliminarArchivoProrrateoDBInput_msg"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
