SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/TiendaEnLinea/Resources/Schemas/NMPTiendaEnLineaTiposXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://servicios.montedepiedad.com.mx/NMP/Schema/TiendaLineaTipos"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/TiendaLineaTipos" elementFormDefault="qualified">
  <xsd:complexType name="ordenType">
    <xsd:sequence>
      <xsd:element name="id">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaCierre" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="fechaCreacion">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fechaActualizacion">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="numeroCompra">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nota" type="xsd:string" minOccurs="0"/>
      <xsd:element name="atributosNota" type="atributosNotaType" minOccurs="0"/>
      <xsd:element name="token" type="xsd:string"/>
      <xsd:element name="total">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subtotal">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pesoTotal">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="totalCargos">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cargosIncluidos">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:boolean"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="estadoFinanciero" type="xsd:string"/>
      <xsd:element name="confirmado">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:boolean"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="totalDescuentos">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="totalPrecioLineasOrden">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cartToken" type="xsd:string" minOccurs="0"/>
      <xsd:element name="compradorAceptaMarketing">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:boolean"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="numeroOrdenCliente" type="xsd:string"/>
      <xsd:element name="fechaCancelacion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="motivoCancelacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaProcesamiento">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="browserIp" type="xsd:string"/>
      <xsd:element name="numeroOrden">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="codigosDescuento" type="codigosDescuentoType" minOccurs="0"/>
      <xsd:element name="nombresPagoGateway">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombrePagoGateway" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="metodoProceso" type="xsd:string"/>
      <xsd:element name="nombreFuente" type="xsd:string"/>
      <xsd:element name="estadoEntrega" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cargosLineas" type="cargosLineaType" minOccurs="0"/>
      <xsd:element name="etiquetas" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="etiqueta" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="detalleOrden" type="detalleOrdenType"/>
      <xsd:element name="detalleOrdenEnvio" type="lineasOrdenEnvioType" minOccurs="0"/>
      <xsd:element name="direccionFacturacion" type="direccionOrdenType" minOccurs="0"/>
      <xsd:element name="direccionEnvio" type="direccionOrdenType" minOccurs="0"/>
      <xsd:element name="detallesCliente" type="detalleCienteType"/>
      <xsd:element name="cliente" type="clienteType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseType">
    <xsd:sequence>
      <xsd:element name="respuesta" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idDestino" type="xsd:string"/>
            <xsd:element name="resultado" type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ordenResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idOrden" type="xsd:string"/>
            <xsd:element name="resultado" type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="atributosNotaType">
    <xsd:sequence>
      <xsd:element name="atributoNota" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string" minOccurs="1"/>
            <xsd:element name="valor" type="xsd:string" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="codigosDescuentoType">
    <xsd:sequence>
      <xsd:element name="codigoDescuento" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="total" type="xsd:float"/>
            <xsd:element name="codigo" type="xsd:string"/>
            <xsd:element name="tipo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargosLineaType">
    <xsd:sequence>
      <xsd:element name="cargoLineas" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="titulo" type="xsd:string"/>
            <xsd:element name="monto">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:float"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="tipoImpuesto">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleOrdenType">
    <xsd:sequence>
      <xsd:element name="articulo" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="varianteId">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="titulo" type="xsd:string"/>
            <xsd:element name="cantidad">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="precio">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:float"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="gramos">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="sku" type="xsd:string" minOccurs="0"/>
            <xsd:element name="varianteTitulo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="vendedor" type="xsd:string"/>
            <xsd:element name="proveedorServicio" type="xsd:string"/>
            <xsd:element name="productoId">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="requiereEnvio">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:boolean"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="existenCargos">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:boolean"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="tarjetaRegalo">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:boolean"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="existeProducto">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:boolean"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="cantidadProvisionable">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="totalDescuento" type="xsd:float"/>
            <xsd:element name="estadoProvisionamiento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cargosLineas" type="cargosLineaType"/>
            <xsd:element name="ubicacionOrigen" type="ubicacionType" minOccurs="0"/>
            <xsd:element name="ubicacionDestino" type="ubicacionType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineasOrdenEnvioType">
    <xsd:sequence>
      <xsd:element name="lineaOrdenEnvio" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:integer"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="titulo" type="xsd:string"/>
            <xsd:element name="precio">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:float"/>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="codigo" type="xsd:string"/>
            <xsd:element name="origen" type="xsd:string"/>
            <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
            <xsd:element name="identificadoProveedor" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cargoLineas" type="cargosLineaType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="direccionOrdenType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="primerNombre" type="xsd:string"/>
      <xsd:element name="direccion1" type="xsd:string"/>
      <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudad" type="xsd:string"/>
      <xsd:element name="codigoPostal" type="xsd:string"/>
      <xsd:element name="provincia" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="apellidoPaterno" type="xsd:string"/>
      <xsd:element name="direccion2" type="xsd:string"/>
      <xsd:element name="compania" type="xsd:string" minOccurs="0"/>
      <xsd:element name="latitud" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="longitud" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nombreCompleto" type="xsd:string"/>
      <xsd:element name="codigoPais" type="xsd:string"/>
      <xsd:element name="codigoProvincia" type="xsd:string"/>
      <xsd:element name="default" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleCienteType">
    <xsd:sequence>
      <xsd:element name="browserIp" type="xsd:string"/>
      <xsd:element name="lenguajeAceptado" type="xsd:string"/>
      <xsd:element name="agenteWeb" type="xsd:string"/>
      <xsd:element name="sesionHash" type="xsd:string" minOccurs="0"/>
      <xsd:element name="anchuraBrowser" minOccurs="0" type="xsd:int"/>
      <xsd:element name="alturaBrowser" minOccurs="0" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="clienteType">
    <xsd:sequence>
      <xsd:element name="id">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="email" type="xsd:string"/>
      <xsd:element name="aceptaMarketing">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:boolean"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fechaCreacion">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fechaActualizacion">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="primerNombre" type="xsd:string"/>
      <xsd:element name="apellidoPaterno" type="xsd:string"/>
      <xsd:element name="numeroOrdenes" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:integer"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="estado" type="xsd:string"/>
      <xsd:element name="totalGastado">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:float"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="note" type="xsd:string" minOccurs="0"/>
      <xsd:element name="emailValidado">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exentoCargos">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:boolean"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tags" type="xsd:string" minOccurs="0"/>
      <xsd:element name="direccionDefault" type="direccionOrdenType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ubicacionType">
    <xsd:sequence>
                        <xsd:element name="id">
                          <xsd:complexType>
                            <xsd:simpleContent>
                              <xsd:extension base="xsd:integer"/>
                            </xsd:simpleContent>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="codigoPais" type="xsd:string"/>
                        <xsd:element name="codigoProvincia" type="xsd:string"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="direccion1" type="xsd:string"/>
                        <xsd:element name="direccion2" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ciudad" type="xsd:string"/>
                        <xsd:element name="codigoPostal" type="xsd:integer"/>
                      </xsd:sequence>
  </xsd:complexType>
</xsd:schema>