SOL4IT - DEV/OSB_Desarrollo_NMP/CRMFaseI/Bancario/Resources/WSDL/ServicioBancarioWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://exception.midas.nmp.com.mx" xmlns:ns1="http://dto.model.midas.nmp.com.mx" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="urn:mx.com.nmp.midas">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
			<xsd:element name="obtenerInformacionPartida">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="folio" type="xsd:long"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="idOperacion" type="xsd:long"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="origen" nillable="true" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerInformacionPartidaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true" type="ns1:InformacionOperacionBancaria"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WebServiceException" type="ns2:WebServiceException"/>
			<xsd:element name="ServiceException" type="ns2:ServiceException"/>
			<xsd:element name="registrarOperacion">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="folio" type="xsd:long"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="idOperacion" type="xsd:long"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="importe" nillable="true" type="xsd:decimal"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="origen" nillable="true" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="transaccion" type="xsd:long"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="autorizacion" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registrarOperacionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="return" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.model.midas.nmp.com.mx">
			<xsd:complexType name="InformacionOperacionBancaria">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="detalleOperacionBancaria" nillable="true" type="ns1:DetalleOperacionBancaria"/>
					<xsd:element minOccurs="0" name="folio" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="sucursal" type="xsd:long"/>
					<xsd:element minOccurs="0" name="ticketBancario" nillable="true" type="ns1:TicketBancario"/>
					<xsd:element minOccurs="0" name="tipoContrato" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="transaccion" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DetalleOperacionBancaria">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="idOperacion" type="xsd:long"/>
					<xsd:element minOccurs="0" name="montoMaximo" nillable="true" type="xsd:decimal"/>
					<xsd:element minOccurs="0" name="montoMinimo" nillable="true" type="xsd:decimal"/>
					<xsd:element minOccurs="0" name="nombreOperacion" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TicketBancario">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="t01_BilleteContrato" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t02_ClienteLinea1" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t03_ClienteLinea2" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t04_NoSucursal" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t05_FolioVerificador" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t06_ImportePrestamo" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t07_InteresesDevengados" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t08_Comisiones" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t09_CapitalActual" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t10_Calendario1" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t11_Calendario2" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t12_Calendario3" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t13_Calendario4" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t14_Calendario5" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t15_Calendario6" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t16_MontoSigOperacion" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t17_FechaLimitePago" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t18_SeguroPoliza1" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t19_SeguroPoliza2" type="xsd:string"/>
					<xsd:element minOccurs="0" name="t20_SeguroPoliza3" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.midas.nmp.com.mx">
			<xsd:complexType name="WebServiceException">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType abstract="true" name="ServiceException">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ServiceException">
		<wsdl:part name="ServiceException" element="tns:ServiceException"/>
	</wsdl:message>
	<wsdl:message name="obtenerInformacionPartidaRequest">
		<wsdl:part name="parameters" element="tns:obtenerInformacionPartida"/>
	</wsdl:message>
	<wsdl:message name="WebServiceException">
		<wsdl:part name="WebServiceException" element="tns:WebServiceException"/>
	</wsdl:message>
	<wsdl:message name="registrarOperacionRequest">
		<wsdl:part name="parameters" element="tns:registrarOperacion"/>
	</wsdl:message>
	<wsdl:message name="obtenerInformacionPartidaResponse">
		<wsdl:part name="parameters" element="tns:obtenerInformacionPartidaResponse"/>
	</wsdl:message>
	<wsdl:message name="registrarOperacionResponse">
		<wsdl:part name="parameters" element="tns:registrarOperacionResponse"/>
	</wsdl:message>
	<wsdl:portType name="ServicioBancarioPortType">
		<wsdl:operation name="obtenerInformacionPartida">
			<wsdl:input name="obtenerInformacionPartidaRequest" message="tns:obtenerInformacionPartidaRequest"/>
			<wsdl:output name="obtenerInformacionPartidaResponse" message="tns:obtenerInformacionPartidaResponse"/>
			<wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
			<wsdl:fault name="ServiceException" message="tns:ServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="registrarOperacion">
			<wsdl:input name="registrarOperacionRequest" message="tns:registrarOperacionRequest"/>
			<wsdl:output name="registrarOperacionResponse" message="tns:registrarOperacionResponse"/>
			<wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
			<wsdl:fault name="ServiceException" message="tns:ServiceException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServicioBancarioHttpBinding" type="tns:ServicioBancarioPortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="obtenerInformacionPartida">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="obtenerInformacionPartidaRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="obtenerInformacionPartidaResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<wsdlsoap:fault name="WebServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceException">
				<wsdlsoap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registrarOperacion">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="registrarOperacionRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="registrarOperacionResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<wsdlsoap:fault name="WebServiceException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceException">
				<wsdlsoap:fault name="ServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicioBancario">
		<wsdl:port name="ServicioBancarioHttpPort" binding="tns:ServicioBancarioHttpBinding">
			<wsdlsoap:address location="http://10.30.3.55:8023/midas-web/services/ServicioBancario"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>