SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Creditos/Resources/WSDLs/SAPZlmWsInfoCredBpWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char200">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal10.7">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="10"/>
          <xsd:fractionDigits value="7"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal15.8">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15"/>
          <xsd:fractionDigits value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time">
          <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions"
                attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZlmStrHistSolicitudes">
        <xsd:sequence>
          <xsd:element name="ClaveProducto" type="n0:char25"/>
          <xsd:element name="NumContrato" type="n0:char13"/>
          <xsd:element name="NumCliente" type="n0:char10"/>
          <xsd:element name="NombreCliente" type="n0:char200"/>
          <xsd:element name="DescripcionEstatus" type="n0:char20"/>
          <xsd:element name="Subestatus" type="n0:char20"/>
          <xsd:element name="Pendiente" type="n0:numeric2"/>
          <xsd:element name="MotivoPendiente" type="n0:char40"/>
          <xsd:element name="EstatusPago" type="n0:char20"/>
          <xsd:element name="EstatusAnterior" type="n0:char20"/>
          <xsd:element name="FechaSolicitud" type="n0:date10"/>
          <xsd:element name="FechaSuscripcion" type="n0:date10"/>
          <xsd:element name="TiempoAprob" type="xsd:int"/>
          <xsd:element name="FechaAutorizacion" type="n0:date10"/>
          <xsd:element name="FechaDesembolso" type="n0:date10"/>
          <xsd:element name="Fecha1erPago" type="n0:date10"/>
          <xsd:element name="Destino" type="n0:char2"/>
          <xsd:element name="HoraCita" type="n0:time"/>
          <xsd:element name="GerenteSucursal" type="n0:char12"/>
          <xsd:element name="Desembolso" type="n0:curr13.2"/>
          <xsd:element name="Moneda" type="n0:cuky5"/>
          <xsd:element name="Frecuencia" type="n0:numeric2"/>
          <xsd:element name="NumeroDePagos" type="n0:char15"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmInfoProyeccion">
        <xsd:sequence>
          <xsd:element name="Ranl" type="n0:char13"/>
          <xsd:element name="Santwhr" type="n0:cuky5"/>
          <xsd:element name="SActual" type="n0:curr13.2"/>
          <xsd:element name="SCorte" type="n0:curr13.2"/>
          <xsd:element name="FCorte" type="n0:date10"/>
          <xsd:element name="SCorte2" type="n0:curr13.2"/>
          <xsd:element name="FCorte2" type="n0:date10"/>
          <xsd:element name="SCorte3" type="n0:curr13.2"/>
          <xsd:element name="FCorte3" type="n0:date10"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrSaldos">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="Producto" type="n0:char50"/>
          <xsd:element name="Moneda" type="n0:cuky5"/>
          <xsd:element name="Desembolso" type="n0:curr13.2"/>
          <xsd:element name="CapVig" type="n0:curr13.2"/>
          <xsd:element name="CapVen" type="n0:curr13.2"/>
          <xsd:element name="SaldoVig" type="n0:curr13.2"/>
          <xsd:element name="SaldoVen" type="n0:curr13.2"/>
          <xsd:element name="SaldoCap" type="n0:curr13.2"/>
          <xsd:element name="IntVig" type="n0:curr13.2"/>
          <xsd:element name="IntVen" type="n0:curr13.2"/>
          <xsd:element name="SaldoInt" type="n0:curr13.2"/>
          <xsd:element name="SaldoCom" type="n0:curr13.2"/>
          <xsd:element name="PagosNoAplicados" type="n0:curr13.2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrMoratorios">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="Monto" type="n0:decimal15.8"/>
          <xsd:element name="MontoProyectado" type="n0:decimal15.8"/>
          <xsd:element name="Tasa" type="n0:decimal10.7"/>
          <xsd:element name="Dias" type="n0:char5"/>
          <xsd:element name="ImporteBase" type="n0:curr13.2"/>
          <xsd:element name="Texto" type="n0:char50"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrVencimientos">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="FechaVencimiento" type="n0:date10"/>
          <xsd:element name="PlaneadoReal" type="n0:char1"/>
          <xsd:element name="Interes" type="n0:curr13.2"/>
          <xsd:element name="Otros" type="n0:curr13.2"/>
          <xsd:element name="IvaInteres" type="n0:curr13.2"/>
          <xsd:element name="Importe" type="n0:curr13.2"/>
          <xsd:element name="Moneda" type="n0:cuky5"/>
          <xsd:element name="Concepto" type="n0:char30"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrAmortizacion">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="NumPago" type="xsd:int"/>
          <xsd:element name="FechaPago" type="n0:date10"/>
          <xsd:element name="PagoTotal" type="n0:curr13.2"/>
          <xsd:element name="Capital" type="n0:curr13.2"/>
          <xsd:element name="Interes" type="n0:curr13.2"/>
          <xsd:element name="IvaInteres" type="n0:curr13.2"/>
          <xsd:element name="SaldoCapital" type="n0:curr13.2"/>
          <xsd:element name="SaldoInteres" type="n0:curr13.2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrHistGestion">
        <xsd:sequence>
          <xsd:element name="Partner" type="n0:char10"/>
          <xsd:element name="Estatus" type="n0:numeric2"/>
          <xsd:element name="Nombre" type="n0:char200"/>
          <xsd:element name="FechaCreacion" type="n0:date10"/>
          <xsd:element name="Promotor" type="n0:char20"/>
          <xsd:element name="VisitaVentas" type="n0:char50"/>
          <xsd:element name="GestionVentas" type="n0:char50"/>
          <xsd:element name="VisitaVentas2" type="n0:char50"/>
          <xsd:element name="GestionTransmision" type="n0:char50"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrPagos">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="FechaPago" type="n0:date10"/>
          <xsd:element name="Capital" type="n0:curr13.2"/>
          <xsd:element name="Interes" type="n0:curr13.2"/>
          <xsd:element name="Otros" type="n0:curr13.2"/>
          <xsd:element name="Iva" type="n0:curr13.2"/>
          <xsd:element name="Importe" type="n0:curr13.2"/>
          <xsd:element name="Moneda" type="n0:cuky5"/>
          <xsd:element name="Concepto" type="n0:char30"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmStrPartidasAbiertas">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="FechaValor" type="n0:date10"/>
          <xsd:element name="FechaContable" type="n0:date10"/>
          <xsd:element name="Moneda" type="n0:cuky5"/>
          <xsd:element name="Monto" type="n0:curr13.2"/>
          <xsd:element name="Descripcion" type="n0:char50"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmRfcInfoCredBp.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZlmRfcInfoCredBp.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message"
                       minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtHistSolicitudes">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrHistSolicitudes"
                       minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtProyeccion">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmInfoProyeccion" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtSaldos">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrSaldos" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtMoratorios">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrMoratorios" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtVencimientos">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrVencimientos" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtAmortizacion">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrAmortizacion" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtHistGestion">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrHistGestion" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtPagos">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrPagos" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtPartidasAbiertas">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrPartidasAbiertas"
                       minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZlmRfcInfoCredBp.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ExFecha"/>
          <xsd:enumeration value="ExVacio"/>
          <xsd:enumeration value="ExContrato"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZlmRfcInfoCredBp.Exception"
                   type="tns:ZlmRfcInfoCredBp.RfcException"/>
      <xsd:element name="ZlmRfcInfoCredBp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Contrato" type="n0:char13"/>
            <xsd:element name="FechaFin" type="n0:date10"/>
            <xsd:element name="FechaInicio" type="n0:date10"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmRfcInfoCredBpResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Amortizaciones" type="tns:ZlmTtAmortizacion"/>
            <xsd:element name="GestionVenta" type="tns:ZlmTtHistGestion"/>
            <xsd:element name="Moratorios" type="tns:ZlmTtMoratorios"/>
            <xsd:element name="Pagos" type="tns:ZlmTtPagos"/>
            <xsd:element name="PartidasAbiertas"
                         type="tns:ZlmTtPartidasAbiertas"/>
            <xsd:element name="Proyeccion" type="tns:ZlmTtProyeccion"/>
            <xsd:element name="Saldos" type="tns:ZlmTtSaldos"/>
            <xsd:element name="Solicitudes" type="tns:ZlmTtHistSolicitudes"/>
            <xsd:element name="Vencimientos" type="tns:ZlmTtVencimientos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmRfcInfoCredBp">
    <wsdl:part name="parameters" element="tns:ZlmRfcInfoCredBp"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcInfoCredBpResponse">
    <wsdl:part name="parameter" element="tns:ZlmRfcInfoCredBpResponse"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcInfoCredBp.Exception">
    <wsdl:part name="ZlmRfcInfoCredBp.Exception"
               element="tns:ZlmRfcInfoCredBp.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_INFO_CRED_BP">
    <wsdl:operation name="ZlmRfcInfoCredBp">
      <wsdl:input message="tns:ZlmRfcInfoCredBp"/>
      <wsdl:output message="tns:ZlmRfcInfoCredBpResponse"/>
      <wsdl:fault name="ZlmRfcInfoCredBp.Exception"
                  message="tns:ZlmRfcInfoCredBp.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_INFO_CRED_BP" type="tns:ZLM_WS_INFO_CRED_BP">
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"/>
    <wsdl:operation name="ZlmRfcInfoCredBp">
      <soap:operation soapAction="ZlmRfcInfoCredBp" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZlmRfcInfoCredBp.Exception">
        <soap:fault name="ZlmRfcInfoCredBp.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_INFO_CRED_BP">
    <wsdl:port name="ZLM_WS_INFO_CRED_BP" binding="tns:ZLM_WS_INFO_CRED_BP">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_info_cred_bp/300/zlm_ws_info_cred_bp/zlm_ws_info_cred_bp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>