SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Creditos/Resources/WSDLs/SAPZlmWsDesembolso.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_ZLM_WS_DESEMBOLSO">
<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_ZLM_WS_DESEMBOLSO">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_ZlmfmRfcDesembolso">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char13">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char18">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="18"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char5">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char7">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="7"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="date10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:simpleType name="RfcException.Message.Number">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="RfcException.Message">
<xsd:sequence>
<xsd:element name="ID" type="xsd:string"/>
<xsd:element name="Number" type="tns:RfcException.Message.Number"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZlmfmRfcDesembolso.RfcException">
<xsd:sequence>
<xsd:element name="Name" type="tns:ZlmfmRfcDesembolso.RfcExceptions"/>
<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
<xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ZlmfmRfcDesembolso.RfcExceptions">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ExCat"/>
<xsd:enumeration value="ExFecha"/>
<xsd:enumeration value="ExDatos"/>
<xsd:enumeration value="ExDesembolso"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="ZlmfmRfcDesembolso.Exception" type="tns:ZlmfmRfcDesembolso.RfcException"/>
<xsd:element name="ZlmfmRfcDesembolso">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BancoRetiro" type="n0:char5" minOccurs="0"/>
<xsd:element name="Clabe" type="n0:char18" minOccurs="0"/>
<xsd:element name="Contrato" type="n0:char13"/>
<xsd:element name="Cuenta" type="n0:char7" minOccurs="0"/>
<xsd:element name="CveMov" type="n0:char4" minOccurs="0"/>
<xsd:element name="FechaDesembolso" type="n0:date10"/>
<xsd:element name="Sociedad" type="n0:char4"/>
<xsd:element name="Sucursal" type="n0:char4" minOccurs="0"/>
<xsd:element name="ViaPago" type="n0:char1"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZlmfmRfcDesembolsoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CatActualizado" type="tns:char1"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZlmfmRfcDesembolso">
<wsdl:part name="parameters" element="tns:ZlmfmRfcDesembolso"/>
</wsdl:message>
<wsdl:message name="ZlmfmRfcDesembolsoResponse">
<wsdl:part name="parameter" element="tns:ZlmfmRfcDesembolsoResponse"/>
</wsdl:message>
<wsdl:message name="ZlmfmRfcDesembolso.Exception">
<wsdl:part name="ZlmfmRfcDesembolso.Exception" element="tns:ZlmfmRfcDesembolso.Exception"/>
</wsdl:message>
<wsdl:portType name="ZLM_WS_DESEMBOLSO">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_ZLM_WS_DESEMBOLSO"/>
</wsp:Policy>
<wsdl:operation name="ZlmfmRfcDesembolso">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_ZlmfmRfcDesembolso"/>
</wsp:Policy>
<wsdl:input message="tns:ZlmfmRfcDesembolso"/>
<wsdl:output message="tns:ZlmfmRfcDesembolsoResponse"/>
<wsdl:fault name="ZlmfmRfcDesembolso.Exception" message="tns:ZlmfmRfcDesembolso.Exception"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZLM_WS_DESEMBOLSO" type="tns:ZLM_WS_DESEMBOLSO">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_ZLM_WS_DESEMBOLSO"/>
</wsp:Policy>
<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
<wsa:ReferenceParameters/>
</wsa:EndpointReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ZlmfmRfcDesembolso">
<soap:operation soapAction="" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ZlmfmRfcDesembolso.Exception">
<soap:fault name="ZlmfmRfcDesembolso.Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZLM_WS_DESEMBOLSO">
<wsdl:port name="ZLM_WS_DESEMBOLSO" binding="tns:ZLM_WS_DESEMBOLSO">
<soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_desembolso/330/zlm_ws_desembolso/zlm_ws_desembolso"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>