SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Creditos/Resources/WSDLs/SAPZlmWsEstatusSolicitudWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_ESTATUS_SOLICITUD">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_ESTATUS_SOLICITUD">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZlmRfcEstatusSolicitud">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char200">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZlmStrEstatusSolicitud">
        <xsd:sequence>
          <xsd:element name="NombreCliente" type="n0:char200"/>
          <xsd:element name="Solicitud" type="n0:char13"/>
          <xsd:element name="EstatusGestion" type="n0:char50"/>
          <xsd:element name="EstatusSolicitud" type="n0:char50"/>
          <xsd:element name="MotivoPen" type="n0:char200"/>
          <xsd:element name="FechaFirma" type="n0:date10"/>
          <xsd:element name="MontoDesembolso" type="n0:curr13.2"/>
          <xsd:element name="SaldoFecha" type="n0:curr13.2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmRfcEstatusSolicitud.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZlmRfcEstatusSolicitud.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtEstatusSolicitud">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrEstatusSolicitud" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZlmRfcEstatusSolicitud.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ExErrorLog"/>
          <xsd:enumeration value="ExErrorParam"/>
          <xsd:enumeration value="ExErrorData"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZlmRfcEstatusSolicitud.Exception" type="tns:ZlmRfcEstatusSolicitud.RfcException"/>
      <xsd:element name="ZlmRfcEstatusSolicitud">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Cliente" type="n0:char10" minOccurs="0"/>
            <xsd:element name="Contrato" type="n0:char13" minOccurs="0"/>
            <xsd:element name="FechaFinal" type="n0:date10" minOccurs="0"/>
            <xsd:element name="FechaInicial" type="n0:date10" minOccurs="0"/>
            <xsd:element name="Promotor" type="n0:char20"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmRfcEstatusSolicitudResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EstatusSolicitud" type="tns:ZlmTtEstatusSolicitud"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmRfcEstatusSolicitud">
    <wsdl:part name="parameters" element="tns:ZlmRfcEstatusSolicitud"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcEstatusSolicitudResponse">
    <wsdl:part name="parameter" element="tns:ZlmRfcEstatusSolicitudResponse"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcEstatusSolicitud.Exception">
    <wsdl:part name="ZlmRfcEstatusSolicitud.Exception" element="tns:ZlmRfcEstatusSolicitud.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_ESTATUS_SOLICITUD">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_ESTATUS_SOLICITUD"/>
    </wsp:Policy>
    <wsdl:operation name="ZlmRfcEstatusSolicitud">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZlmRfcEstatusSolicitud"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZlmRfcEstatusSolicitud"/>
      <wsdl:output message="tns:ZlmRfcEstatusSolicitudResponse"/>
      <wsdl:fault name="ZlmRfcEstatusSolicitud.Exception" message="tns:ZlmRfcEstatusSolicitud.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_ESTATUS_SOLICITUD" type="tns:ZLM_WS_ESTATUS_SOLICITUD">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_ESTATUS_SOLICITUD"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZlmRfcEstatusSolicitud">
      <soap:operation soapAction="ZlmRfcEstatusSolicitud" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZlmRfcEstatusSolicitud.Exception">
        <soap:fault name="ZlmRfcEstatusSolicitud.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_ESTATUS_SOLICITUD">
    <wsdl:port name="ZLM_WS_ESTATUS_SOLICITUD" binding="tns:ZLM_WS_ESTATUS_SOLICITUD">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_estatus_solicitud/300/zlm_ws_estatus_solicitud/zlm_ws_estatus_solicitud"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>