SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Creditos/Resources/WSDLs/SAPZlmWsGeneraKitWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_ZLM_WS_GENERA_KIT">
<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_ZLM_WS_GENERA_KIT">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_ZlmfmGeneraKit">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char13">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:element name="ZlmfmGeneraKit">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Contrato" type="n0:char13"/>
<xsd:element name="Sociedad" type="n0:char4"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZlmfmGeneraKitResponse">
<xsd:complexType>
<xsd:sequence/>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZlmfmGeneraKit">
<wsdl:part name="parameters" element="tns:ZlmfmGeneraKit"/>
</wsdl:message>
<wsdl:message name="ZlmfmGeneraKitResponse">
<wsdl:part name="parameter" element="tns:ZlmfmGeneraKitResponse"/>
</wsdl:message>
<wsdl:portType name="ZLM_WS_GENERA_KIT">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_ZLM_WS_GENERA_KIT"/>
</wsp:Policy>
<wsdl:operation name="ZlmfmGeneraKit">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_ZlmfmGeneraKit"/>
</wsp:Policy>
<wsdl:input message="tns:ZlmfmGeneraKit"/>
<wsdl:output message="tns:ZlmfmGeneraKitResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZLM_WS_GENERA_KIT" type="tns:ZLM_WS_GENERA_KIT">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_ZLM_WS_GENERA_KIT"/>
</wsp:Policy>
<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
<wsa:ReferenceParameters/>
</wsa:EndpointReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ZlmfmGeneraKit">
<soap:operation soapAction="" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZLM_WS_GENERA_KIT">
<wsdl:port name="ZLM_WS_GENERA_KIT" binding="tns:ZLM_WS_GENERA_KIT">
<soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_genera_kit/330/zlm_ws_genera_kit/zlm_ws_genera_kit"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>