SOL4IT - DEV/OSB_Desarrollo_NMP/Utileria/NotificacionesPush/Resorces/WSDL/NMPNotificacionesPushSvcWSDL.wsdl

<wsdl:definitions name="Codigo" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPNotificacionesPush" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPNotificacionesPush" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPNotificacionesPush" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPNotificacionesPush" schemaLocation="../Schemas/NMPNotificacionesPushXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notificarRequestMessage">
    <wsdl:part name="notificarRequest" element="inp1:input"/>
  </wsdl:message>
  <wsdl:message name="notificarResponseMessage">
    <wsdl:part name="notificarResponse" element="inp1:notificarResponse"/>
  </wsdl:message>
  <wsdl:message name="notificaionesPushFaultMessage">
    <wsdl:part name="notificaionesPushFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:portType name="NotificaionesPush_ptt">
    <wsdl:operation name="notificar">
      <wsdl:input message="tns:notificarRequestMessage"/>
      <wsdl:output message="tns:notificarResponseMessage"/>
      <wsdl:fault name="Fault" message="tns:notificaionesPushFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificaionesPushBinding" type="tns:NotificaionesPush_ptt">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notificar">
      <wsdlsoap:operation style="document" soapAction="notificar"/>
      <wsdl:input>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <wsdlsoap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificaionesSMS">
    <wsdl:port name="NotificaionesSMSPort" binding="tns:NotificaionesPushBinding">
      <wsdlsoap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>