SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/InteligenciaNegocio/RiesgoTransaccional/Resources/Schemas/NMPRiesgoTransaccionalMsgXSD.xsd

<xsd:schema targetNamespace="http://servicios.montepiedad.com.mx/NMP/Schema/RiesgoTransaccional" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://servicios.montepiedad.com.mx/NMP/Schema/RiesgoTransaccional" xmlns:ns1="http://servicios.montepiedad.com.mx/NMP/Schema/commons/RT">
  <xsd:import namespace="http://servicios.montepiedad.com.mx/NMP/Schema/commons/RT" schemaLocation="NMPRiesgoTransaccionalComunXSD.xsd"/>
  <xsd:element name="transaccionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccion" type="ns1:transaccionType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="transaccionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultaTranHistClienteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="consultaTranHistCliente" type="ns1:consultaTranHistClienteType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultaTranHistClienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transacciones" type="ns1:transaccionListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultaInfoClienteCRMRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="consultaInfoClienteCRM" type="ns1:idClienteType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- <xsd:element name="consultaInfoClienteCRMResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="infoClienteCRM" type="ns1:infoClienteCRMType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultaInfoGerenteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idSucursal" type="ns1:idSucursalType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultaInfoGerenteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="infoGerenteZona" type="ns1:infoGerenteZonaType"/>
        <xsd:element name="infoGerenteRegional" type="ns1:infoGerenteRegionalType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> -->
   <!-- <xsd:element name="cambioScoreClienteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cambioScoreCliente" type="ns1:cambioScoreClienteType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> 
  <xsd:element name="cambioScoreClienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> -->
  <xsd:element name="consultaMovPrendariosRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccion" type="ns1:transaccionType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultaMovPrendariosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="orquestadorAnalisisRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccion" type="ns1:transaccionType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--<xsd:element name="orquestadorAnalisisResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="infoAlerta" type="ns1:infoAlertaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>-->
  <xsd:element name="almacenaTransDiariasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccion" type="ns1:transaccionType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="almacenaTransDiariasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="almacenaAlertaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="infoAlerta" type="ns1:infoAlertaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="almacenaAlertaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="inicioProcesoGestionCasosRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccion" type="ns1:transaccionType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="inicioProcesoGestionCasosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ordenamientoTransaccionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccionList" type="ns1:transaccionListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ordenamientoTransaccionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transaccionList" type="ns1:transaccionListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validacionAlertaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="validaAlerta" type="ns1:validaAlertaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validacionAlertaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="alerta" type="ns1:alertaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
    <xsd:element name="aplicaReglaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="validaAlerta" type="ns1:validaAlertaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="aplicaReglaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="alertasList" type="ns1:alertasListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="recalculoCalificaCasoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idCaso" type="xsd:int"/>
        <xsd:element name="idCliente" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="recalculoCalificaCasoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="suma" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="analizarExpedienteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idTransaccion" type="xsd:int" minOccurs="0"/>
        <xsd:element name="alertasList" type="ns1:alertasListType" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="generaCaso" type="ns1:generaCasoType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="analizarExpedienteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="analizarExpediente" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="verificarProcesoBPMRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="procesoGestionCaso" type="ns1:procesoGestionCasoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="verificarProcesoBPMResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="actualizaCasoRequest"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="actualizaCaso" type="ns1:actualizaCasoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizaCasoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:element name="aplicarReglaRequest"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transacciones" type="ns1:transaccionListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="aplicarReglaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="alertasList" type="ns1:alertasListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
<xsd:element name="filtrarTransaccionesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numeroDias" type="xsd:string"/>
        <xsd:element name="tipoTransaccion" type="xsd:string"/>
    <xsd:element name="aplicaReglaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="validaAlerta" type="ns1:validaAlertaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> 

 <xsd:element name="cambioScoreRequest"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cambioScore" type="ns1:cambioScoreType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cambioScoreResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:element name="infoUsSucRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sucursal" type="ns1:idSucursalType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="infoUsSucResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="infoUsuarios" type="ns1:consultInfoUsuarioSucType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
 
 <xsd:element name="cargaDocRequest"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cargaDoc" type="ns1:infoDocClienteType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cargaDocResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="resultado" type="ns1:resultadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   <xsd:element name="consultDocRequest"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cliente" type="ns1:ConsultDocCliente"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultDocResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="infoDoc" type="ns1:infoDocClienteType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType> 
   </xsd:element>

</xsd:schema>