SOL4IT - DEV/OSB_Desarrollo_NMP/InversionSocial/ProcesosDonataria/Resources/WSDLs/NMPDocumentoDonatariaSvcWSDL.wsdl

<wsdl:definitions name="NMPDocumentoDonatariaSvcWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/DocumentoDonataria/v1" xmlns:inp2="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:smcmnsn="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/DocumentoDonataria/v1" schemaLocation="../Schemas/NMPDocumentoDonatariaSvcXSD.xsd"/>
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="../../../../Common/XSD/NMPStandardFault.xsd.xsd"/>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerURLDocumentoRequestMessage">
    <wsdl:part name="request" element="inp1:ObtenerURLDocumentoRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerURLDocumentoResponseMessage">
    <wsdl:part name="response" element="inp1:ObtenerURLDocumentoResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentosDonatariaRequestMessage">
    <wsdl:part name="request" element="inp1:ObtenerDocumentosDonatariaRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerDocumentosDonatariaResponseMessage">
    <wsdl:part name="response" element="inp1:ObtenerDocumentosDonatariaResponse"/>
  </wsdl:message>
  <wsdl:message name="documentoFaultMessage">
    <wsdl:part name="documentoFault" element="inp2:Fault"/>
  </wsdl:message>
  <wsdl:message name="documentoHeaderMessage">
    <wsdl:part name="documentoHeader" element="smcmnsn:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="prDocumento_ptt">
    <wsdl:operation name="obtenerURLDocumento">
      <wsdl:input message="tns:obtenerURLDocumentoRequestMessage"/>
      <wsdl:output message="tns:obtenerURLDocumentoResponseMessage"/>
      <wsdl:fault name="obtenerURLDocumentoFault" message="tns:documentoFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerDocumentosDonataria">
      <wsdl:input message="tns:obtenerDocumentosDonatariaRequestMessage"/>
      <wsdl:output message="tns:obtenerDocumentosDonatariaResponseMessage"/>
      <wsdl:fault name="obtenerURLDocumentoFault" message="tns:documentoFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="prDocumento_bind" type="tns:prDocumento_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerURLDocumento">
      <soap:operation style="document" soapAction="execute"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1"/>
        <soap:header message="tns:documentoHeaderMessage" part="documentoHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1"/>
        <soap:header message="tns:documentoHeaderMessage" part="documentoHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="obtenerURLDocumentoFault">
        <soap:fault name="obtenerURLDocumentoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerDocumentosDonataria">
      <soap:operation style="document" soapAction="execute"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1"/>
        <soap:header message="tns:documentoHeaderMessage" part="documentoHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1"/>
        <soap:header message="tns:documentoHeaderMessage" part="documentoHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="obtenerURLDocumentoFault">
        <soap:fault name="obtenerURLDocumentoFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcDocumento">
    <wsdl:port name="prDocumento_pttPort" binding="tns:prDocumento_bind">
      <soap:address location="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Documento/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>