SOL4IT - DEV/OSB_Desarrollo_NMP/InversionSocial/ProcesosDonataria/Resources/WSDLs/NMPProcesoRegistroDonatariaSvcWSDL.wsdl

<wsdl:definitions name="NMPProcesoRegistroDonatariaSvcWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/Proceso/Registro/Donataria/v1" xmlns:inp2="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:smcmnsn="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/Proceso/Registro/Donataria/v1" schemaLocation="../Schemas/NMPProcesoRegistroDonatariaSvcXSD.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="../../../../Common/XSD/NMPStandardFault.xsd.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="registrarCuentaDonatariaRequestMessage">
        <wsdl:part name="request" element="inp1:RegistrarCuentaDonatariaRequest"/>
    </wsdl:message>
    <wsdl:message name="registrarCuentaDonatariaResponseMessage">
        <wsdl:part name="response" element="inp1:RegistrarCuentaDonatariaResponse"/>
    </wsdl:message>
    <wsdl:message name="registroDonatariaFaultMessage">
        <wsdl:part name="registroDonatariaFault" element="inp2:Fault"/>
    </wsdl:message>
    <wsdl:message name="enviarUrlActivacionCuentaRequestMessage">
        <wsdl:part name="request" element="inp1:EnviarUrlActivacionCuentaRequest"/>
    </wsdl:message>
    <wsdl:message name="enviarUrlActivacionCuentaResponseMessage">
        <wsdl:part name="response" element="inp1:EnviarUrlActivacionCuentaResponse"/>
    </wsdl:message>
    <wsdl:message name="activarCuentaRequestMessage">
        <wsdl:part name="request" element="inp1:ActivarCuentaRequest"/>
    </wsdl:message>
    <wsdl:message name="activarCuentaResponseMessage">
        <wsdl:part name="response" element="inp1:ActivarCuentaResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenerDonatariaRequestMessage">
        <wsdl:part name="request" element="inp1:ObtenerDonatariaRequest"/>
    </wsdl:message>
    <wsdl:message name="obtenerDonatariaResponseMessage">
        <wsdl:part name="response" element="inp1:ObtenerDonatariaResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarInformacionGeneralRequestMessage">
        <wsdl:part name="request" element="inp1:GuardarInformacionGeneralRequest"/>
    </wsdl:message>
    <wsdl:message name="guardarInformacionGeneralResponseMessage">
        <wsdl:part name="response" element="inp1:GuardarInformacionGeneralResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarInformacionGeneralRequestMessage">
        <wsdl:part name="request" element="inp1:ConsultarInformacionGeneralRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarInformacionGeneralResponseMessage">
        <wsdl:part name="response" element="inp1:ConsultarInformacionGeneralResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarDatosContactoRequestMessage">
        <wsdl:part name="request" element="inp1:GuardarDatosContactoRequest"/>
    </wsdl:message>
    <wsdl:message name="guardarDatosContactoResponseMessage">
        <wsdl:part name="response" element="inp1:GuardarDatosContactoResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarDatosContactoRequestMessage">
        <wsdl:part name="request" element="inp1:ConsultarDatosContactoRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarDatosContactoResponseMessage">
        <wsdl:part name="response" element="inp1:ConsultarDatosContactoResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarPatronosConsejerosRequestMessage">
        <wsdl:part name="request" element="inp1:GuardarPatronosConsejerosRequest"/>
    </wsdl:message>
    <wsdl:message name="guardarPatronosConsejerosResponseMessage">
        <wsdl:part name="response" element="inp1:GuardarPatronosConsejerosResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarPatronosConsejerosRequestMessage">
        <wsdl:part name="request" element="inp1:ConsultarPatronosConsejerosRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarPatronosConsejerosResponseMessage">
        <wsdl:part name="response" element="inp1:ConsultarPatronosConsejerosResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarActaConstitutivaRequestMessage">
        <wsdl:part name="request" element="inp1:GuardarActaConstitutivaRequest"/>
    </wsdl:message>
    <wsdl:message name="guardarActaConstitutivaResponseMessage">
        <wsdl:part name="response" element="inp1:GuardarActaConstitutivaResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarActaConstitutivaRequestMessage">
        <wsdl:part name="request" element="inp1:ConsultarActaConstitutivaRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarActaConstitutivaResponseMessage">
        <wsdl:part name="response" element="inp1:ConsultarActaConstitutivaResponse"/>
    </wsdl:message>
    <wsdl:message name="guardarRepresentantesLegalesRequestMessage">
        <wsdl:part name="request" element="inp1:GuardarRepresentantesLegalesRequest"/>
    </wsdl:message>
    <wsdl:message name="guardarRepresentantesLegalesResponseMessage">
        <wsdl:part name="response" element="inp1:GuardarRepresentantesLegalesResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarRepresentantesLegalesRequestMessage">
        <wsdl:part name="request" element="inp1:ConsultarRepresentantesLegalesRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarRepresentantesLegalesResponseMessage">
        <wsdl:part name="response" element="inp1:ConsultarRepresentantesLegalesResponse"/>
    </wsdl:message>
    <wsdl:message name="consultarRegistroDonatariaRequestMessage">
        <wsdl:part name="request" element="inp1:ConsultarRegistroDonatariaRequest"/>
    </wsdl:message>
    <wsdl:message name="consultarRegistroDonatariaResponseMessage">
        <wsdl:part name="response" element="inp1:ConsultarRegistroDonatariaResponse"/>
    </wsdl:message>
    <wsdl:message name="headerRequestMessage">
        <wsdl:part name="headerRequest" element="smcmnsn:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="headerResponseMessage">
        <wsdl:part name="headerResponse" element="smcmnsn:headerMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="prDonataria_ptt">
        <wsdl:operation name="registrarCuentaDonataria">
            <wsdl:input message="tns:registrarCuentaDonatariaRequestMessage"/>
            <wsdl:output message="tns:registrarCuentaDonatariaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="enviarUrlActivacionCuenta">
            <wsdl:input message="tns:enviarUrlActivacionCuentaRequestMessage"/>
            <wsdl:output message="tns:enviarUrlActivacionCuentaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="activarCuenta">
            <wsdl:input message="tns:activarCuentaRequestMessage"/>
            <wsdl:output message="tns:activarCuentaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDonataria">
            <wsdl:input message="tns:obtenerDonatariaRequestMessage"/>
            <wsdl:output message="tns:obtenerDonatariaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="guardarInformacionGeneral">
            <wsdl:input message="tns:guardarInformacionGeneralRequestMessage"/>
            <wsdl:output message="tns:guardarInformacionGeneralResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarInformacionGeneral">
            <wsdl:input message="tns:consultarInformacionGeneralRequestMessage"/>
            <wsdl:output message="tns:consultarInformacionGeneralResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="guardarDatosContacto">
            <wsdl:input message="tns:guardarDatosContactoRequestMessage"/>
            <wsdl:output message="tns:guardarDatosContactoResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarDatosContacto">
            <wsdl:input message="tns:consultarDatosContactoRequestMessage"/>
            <wsdl:output message="tns:consultarDatosContactoResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="guardarPatronosConsejeros">
            <wsdl:input message="tns:guardarPatronosConsejerosRequestMessage"/>
            <wsdl:output message="tns:guardarPatronosConsejerosResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarPatronosConsejeros">
            <wsdl:input message="tns:consultarPatronosConsejerosRequestMessage"/>
            <wsdl:output message="tns:consultarPatronosConsejerosResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="guardarActaConstitutiva">
            <wsdl:input message="tns:guardarActaConstitutivaRequestMessage"/>
            <wsdl:output message="tns:guardarActaConstitutivaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarActaConstitutiva">
            <wsdl:input message="tns:consultarActaConstitutivaRequestMessage"/>
            <wsdl:output message="tns:consultarActaConstitutivaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="guardarRepresentantesLegales">
            <wsdl:input message="tns:guardarRepresentantesLegalesRequestMessage"/>
            <wsdl:output message="tns:guardarRepresentantesLegalesResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarRepresentantesLegales">
            <wsdl:input message="tns:consultarRepresentantesLegalesRequestMessage"/>
            <wsdl:output message="tns:consultarRepresentantesLegalesResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarRegistroDonataria">
            <wsdl:input message="tns:consultarRegistroDonatariaRequestMessage"/>
            <wsdl:output message="tns:consultarRegistroDonatariaResponseMessage"/>
            <wsdl:fault name="registroDonatariaFault" message="tns:registroDonatariaFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="prDonataria_bind" type="tns:prDonataria_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registrarCuentaDonataria">
            <soap:operation style="document" soapAction="registrarCuentaDonataria"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enviarUrlActivacionCuenta">
            <soap:operation style="document" soapAction="obtenerUrlActivacionCuenta"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activarCuenta">
            <soap:operation style="document" soapAction="obtenerActivacionCuenta"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtenerDonataria">
            <soap:operation style="document" soapAction="obtenerDonataria"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="guardarInformacionGeneral">
            <soap:operation style="document" soapAction="guardarInformacionGeneral"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarInformacionGeneral">
            <soap:operation style="document" soapAction="consultarInformacionGeneral"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="guardarDatosContacto">
            <soap:operation style="document" soapAction="guardarDatosContacto"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarDatosContacto">
            <soap:operation style="document" soapAction="consultarDatosContacto"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="guardarPatronosConsejeros">
            <soap:operation style="document" soapAction="guardarPatronosConsejeros"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarPatronosConsejeros">
            <soap:operation style="document" soapAction="consultarPatronosConsejeros"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="guardarActaConstitutiva">
            <soap:operation style="document" soapAction="guardarActaConstitutiva"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarActaConstitutiva">
            <soap:operation style="document" soapAction="consultarActaConstitutiva"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="guardarRepresentantesLegales">
            <soap:operation style="document" soapAction="guardarRepresentanteLegales"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarRepresentantesLegales">
            <soap:operation style="document" soapAction="consultarRepresentanteLegales"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultarRegistroDonataria">
            <soap:operation style="document" soapAction="consultarRegistroDonataria"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
                <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="registroDonatariaFault">
                <soap:fault name="registroDonatariaFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="prDonataria_ptt">
        <wsdl:port name="prDonataria_pttPort" binding="tns:prDonataria_bind">
            <soap:address location="http://servicios.montedepiedad.com.mx/NMP/Service/Donataria/Registro/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>