SOL4IT - DEV/osb_Jack/MasterData/Oficinas/Resources/XMLSchema_1252131864.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Oficina/validarOficinas/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Oficina/validarOficinas/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-719253935.xsd"/>
    <element name="validarOficinasRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:validarOficinas" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="validarOficinasResponse">
        <complexType>
            <sequence>
                <element name="OperationResponse" type="tnsq:OperationResponse" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="validarOficinas">
        <sequence>
            <element name="claveOficina" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="Oficina">
        <sequence>
            <element name="codigoValidacion" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="claveOficina" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>