SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/businessCatalog/PagosAdministrativos/Comunes/BoOrdenDePago.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="PagosAdministrativos.Comunes.BoOrdenDePago" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/PagosAdministrativos/Comunes/BoOrdenDePago" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/PagosAdministrativos/Comunes/BoOrdenDePago"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoOrdenDePagoType">
        <xs:sequence>
            <xs:element name="numOrden" nillable="true" type="xs:string"/>
            <xs:element name="numCaratula" nillable="true" type="xs:int"/>
            <xs:element name="estadoPago" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoOrdenDePago" type="BoOrdenDePagoType"/>
</xs:schema>
