SOL4IT - DEV/OSB_Desarrollo_NMP/BuroCredito/Resources/XSD/BuroCreditoSvcXSD.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:NMPConsultaBC="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"
            elementFormDefault="qualified">
  <xsd:complexType name="infoEncabezadoType">
    <xsd:sequence>
      <xsd:element name="version" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="numeroReferenciaOperador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="claveProductoRequerido" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="clavePais" type="xsd:string" minOccurs="1" maxOccurs="1" default="MX"/>
      <xsd:element name="identificadorBuro" type="xsd:string" minOccurs="1" maxOccurs="1" default="0000"/>
      <xsd:element name="claveUsuario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="contrasenaUsuario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tipoConsulta" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tipoContrato" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="claveUnidadMonetaria" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="importeContrato" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idioma" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tipoSalida" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoScoreClienteType">
    <xsd:sequence>
      <xsd:element name="probabilidadIncumplimiento" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="siva" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoPersonalClienteType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="primerNombre" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="segundoNombre" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="apellidoPaterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="apellidoMaterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="apellidoAdicional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaNacimiento" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="rfc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="prefijoPersonal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sufijoPersonal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveNacionalidad" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveTipoResidencia" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroLicenciaConducir" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveEstadoCivil" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="genero" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroCedulaProfesional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroRegistroElectoral" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveImpuestoOtroPais" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveOtroPais" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroDependientes" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="edadesDependientes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="listaDomicilios">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="domicilio" type="NMPConsultaBC:infoDomicilioType" minOccurs="1" maxOccurs="4"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listaEmpleos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="empleo" type="NMPConsultaBC:infoEmpleoType" minOccurs="0" maxOccurs="2"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listaCuentas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cuenta" type="NMPConsultaBC:infoCuentasCreditoType" minOccurs="0" maxOccurs="4"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="score" type="NMPConsultaBC:infoScoreClienteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoDomicilioType">
    <xsd:sequence>
      <xsd:element name="direccion" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="direccionAdicional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="coloniaPoblacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="delegacionMunicipio" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ciudad" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="estado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codigoPostal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="fechaResidencia" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroTelefono" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="extension" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fax" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoDomicilio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="indicadorEspecialDomicilio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaReporteDireccion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoEmpleoType">
    <xsd:sequence>
      <xsd:element name="nombreEmpresa" type="xsd:string" minOccurs="0" maxOccurs="1" default="NO PROPORCIONADO"/>
      <xsd:element name="direccion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="direccionAdicional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="coloniaPoblacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="delegacionMunicipio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ciudad" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="estado" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoPostal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroTelefono" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="extension" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fax" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="puesto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaContratacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveMonedaSalario" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="salario" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="baseSalarial" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroEmpleado" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaUltimoDiaEmpleo" type="xsd:date" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoCuentasCreditoType">
    <xsd:sequence>
      <xsd:element name="numeroCuenta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveOtorgnte" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nombreOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoAutenticacionType">
    <xsd:sequence>
      <xsd:element name="tipoReporte" type="xsd:string" minOccurs="1" maxOccurs="1" default="RCN"/>
      <xsd:element name="tipoSalida" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="referenciaOperador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tarjetaCredito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ultimosCuatroDigitos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ejercidoCreditoHipotecario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ejercidoCreditoAutomotriz" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaVigenteBCRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaBCRequestType">
    <xsd:sequence>
      <xsd:element name="informacionGeneral" type="NMPConsultaBC:infoEncabezadoType"/>
      <xsd:element name="informacionCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="personal" type="NMPConsultaBC:infoPersonalClienteType" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="informacionAutenticacion" type="NMPConsultaBC:infoAutenticacionType" minOccurs="0"
                   maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaBCResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaAutografaBCRequestType">
    <xsd:sequence>
      <xsd:element name="IdWorkOrderFormType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="IdWorkOrder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ExternalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Action" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InputFields" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Nombre1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Nombre2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Apellido_Paterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Apellido_Materno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CalleCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="NoExtCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="DelegacionCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="EstadoCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CPCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="RFCCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="FechadeNacimientoCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="BP_PROBINCUMPL" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="BP_SIVA" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Frecuencia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ExternalType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Username" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WorkOrderType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TasaInteresListType">
    <xsd:sequence>
      <xsd:element name="TasaInteres" type="NMPConsultaBC:TasaInteresItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TasaInteresItemType">
    <xsd:sequence>
      <xsd:element name="Tasa" type="xsd:string"/>
      <xsd:element name="Plazo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaAutografaBCResponseFaultType">
    <xsd:sequence>
      <xsd:element name="UpdateFieldsValues">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MensajeBuro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Estatus" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Folio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BP" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Riesgo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ListaTasasInteres" type="NMPConsultaBC:TasaInteresListType" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AfectedFields" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Settings">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ReadOnly" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="Resquested" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="Visible" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FormiikReservedWords" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReservedWord" type="xsd:string" />
            <xsd:element name="Value" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaBCRequest" type="NMPConsultaBC:consultaBCRequestType"/>
  <xsd:element name="consultaBCResponse" type="NMPConsultaBC:consultaBCResponseType"/>
  <xsd:element name="consultaVigenteBCRequest" type="NMPConsultaBC:consultaVigenteBCRequestType"/>
  <xsd:element name="consultaVigenteBCResponse" type="NMPConsultaBC:consultaBCResponseType"/>
  <xsd:element name="consultaAutografaBCRequest" type="NMPConsultaBC:consultaAutografaBCRequestType"/>
  <xsd:element name="consultaAutografaBCResponse" type="NMPConsultaBC:consultaAutografaBCResponseFaultType"/>
  <xsd:element name="consultaAutografaBCFault" type="NMPConsultaBC:consultaAutografaBCResponseFaultType"/>
</xsd:schema>