SOL4IT - DEV/OSB_Desarrollo_NMP/Common/WSDL/BalancerValidationWSDL.wsdl

<wsdl:definitions name="Clientes" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Clientes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Clientes" xmlns:inpl2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" schemaLocation="../XSD/BalancerValidationXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" schemaLocation="../XSD/BalancerValidationUpdateXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="getClientesByIDrequestMessage">
    <wsdl:part name="getClientesByIDRequest" element="inp1:getClientesByIDRequest"/>
  </wsdl:message>
  <wsdl:message name="getClientesByIDresponseMessage">
    <wsdl:part name="getClientesByIDResponse" element="inp1:getClientesByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="getClientesByNumCredencialrequestMessage">
    <wsdl:part name="getClientesByNumCredencialRequest" element="inp1:getClientesByNumCredencialRequest"/>
  </wsdl:message>
  <wsdl:message name="getClientesByNumCredencialresponseMessage">
    <wsdl:part name="getClientesByNumCredencialResponse" element="inp1:getClientesByNumCredencialResponse"/>
  </wsdl:message>
  <wsdl:message name="listClientesrequestMessage">
    <wsdl:part name="listClientesRequest" element="inp1:listClientesRequest"/>
  </wsdl:message>
  <wsdl:message name="listClientesresponseMessage">
    <wsdl:part name="listClientesResponse" element="inp1:listClientesResponse"/>
  </wsdl:message>
  <wsdl:message name="countClientesrequestMessage">
    <wsdl:part name="countClientesRequest" element="inp1:countClientesRequest"/>
  </wsdl:message>
  <wsdl:message name="countClientesresponseMessage">
    <wsdl:part name="countClientesResponse" element="inp1:countClientesResponse"/>
  </wsdl:message>
  <wsdl:message name="getHuellaClienterequestMessage">
    <wsdl:part name="getHuellaClienteRequest" element="inp1:getHuellaClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="getHuellaClienteresponseMessage">
    <wsdl:part name="getHuellaClienteResponse" element="inp1:getHuellaClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="updateClienteRequestMessage">
    <wsdl:part name="updateClienteRequest" element="inpl2:updateClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="updateClienteResponseMessage">
    <wsdl:part name="updateClienteResponse" element="inpl2:updateClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="insertClienteRequestMessage">
    <wsdl:part name="insertClienteRequest" element="inpl2:insertClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="insertClienteResponseMessage">
    <wsdl:part name="insertClienteResponse" element="inpl2:insertClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="clientesFaultMessage">
    <wsdl:part name="clientesFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="Clientes_ptt">
    <wsdl:operation name="getClientesByID">
      <wsdl:input message="tns:getClientesByIDrequestMessage"/>
      <wsdl:output message="tns:getClientesByIDresponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="getClientesByNumCredencial">
      <wsdl:input message="tns:getClientesByNumCredencialrequestMessage"/>
      <wsdl:output message="tns:getClientesByNumCredencialresponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="listClientes">
      <wsdl:input message="tns:listClientesrequestMessage"/>
      <wsdl:output message="tns:listClientesresponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="countClientes">
      <wsdl:input message="tns:countClientesrequestMessage"/>
      <wsdl:output message="tns:countClientesresponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="getHuellaCliente">
      <wsdl:input message="tns:getHuellaClienterequestMessage"/>
      <wsdl:output message="tns:getHuellaClienteresponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="updateCliente">
      <wsdl:input message="tns:updateClienteRequestMessage"/>
      <wsdl:output message="tns:updateClienteResponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="insertCliente">
      <wsdl:input message="tns:insertClienteRequestMessage"/>
      <wsdl:output message="tns:insertClienteResponseMessage"/>
      <wsdl:fault message="tns:clientesFaultMessage" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientesBinding" type="tns:Clientes_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getClientesByID">
      <soap:operation style="document" soapAction="getClientesByID"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="getClientesByNumCredencial">
      <soap:operation style="document" soapAction="getClientesByNumCredencial"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="listClientes">
      <soap:operation style="document" soapAction="listClientes"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="countClientes">
      <soap:operation style="document" soapAction="countClientes"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="getHuellaCliente">
      <soap:operation style="document" soapAction="getHuellaCliente"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="updateCliente">
      <soap:operation style="document" soapAction="updateCliente"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="insertCliente">
      <soap:operation style="document" soapAction="insertCliente"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault"/>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clientes">
    <wsdl:port name="ClientesPort" binding="tns:ClientesBinding">
      <soap:address location="http://10.30.2.47:8011/NMP/CRM/Clientes"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>