SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Articulo/Resources/WADLs/NMPProductosWADL.wadl

<ns:application xmlns:ns="http://wadl.dev.java.net/2009/02" xmlns:rest="http://www.oracle.com/soa/rest">
    <ns:doc title="Agiliron">Agiliron</ns:doc>
    <ns:resources>
        <ns:resource path="/Productos">
            <ns:method name="GET" rest:name="ObtenerProducto">
                <ns:request>
                    <ns:param name="CodigoProducto" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
            <ns:method name="PUT" rest:name="ActualizarProducto">
                <ns:request>
                    <ns:representation mediaType="application/xml"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
            <ns:method name="POST" rest:name="CrearProducto">
                <ns:request>
                    <ns:representation mediaType="application/xml"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
            <ns:method name="DELETE" rest:name="EliminarProducto">
                <ns:request>
                    <ns:param name="CodigoProducto" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
        </ns:resource>		
		<ns:resource path="/InventarioProductos">
           <ns:method name="GET" rest:name="ObtenerInventario">
                <ns:request>
                    <ns:param name="CodigoProducto" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
			<ns:method name="POST" rest:name="ActualizarInventario">
                <ns:request>
                    <ns:representation mediaType="application/xml"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
		</ns:resource>
		<ns:resource path="/ListaPreciosProductos">
           <ns:method name="GET" rest:name="ObtenerListadePrecios">
                <ns:request>
                    <ns:param name="CodigoProducto" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
			<ns:method name="POST" rest:name="ActualizarListadePrecios">
                <ns:request>
                    <ns:representation mediaType="application/xml"/>
                </ns:request>
                <ns:response status="200">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
                <ns:response status="500">
                    <ns:representation mediaType="application/xml"/>
                </ns:response>
            </ns:method>
		</ns:resource>
    </ns:resources>
</ns:application>