SOL4IT - DEV/osb_Jack/SolicitudesBDQry/Resources/CentroCostoAreaDataSvc.wsdl

<wsdl:definitions
     name="CentroCostoAreaDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/CentroCostoAreaDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/CentroCostoAreaDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CentroCostoAreaDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="CentroCostoAreaDataSvc_plt" >
    <plt:role name="CentroCostoAreaDataSvc_role" >
      <plt:portType name="tns:CentroCostoAreaDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CentroCostoAreaDataSvc" schemaLocation="CentroCostoAreaDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="CentroCostoAreaDataSvcSelect_inputParameters">
        <wsdl:part name="CentroCostoAreaDataSvcSelect_inputParameters" element="top:CentroCostoAreaDataSvcSelect_pCCInputParameters"/>
    </wsdl:message>
    <wsdl:message name="GpaCatCcAreaCollection_msg">
        <wsdl:part name="GpaCatCcAreaCollection" element="top:GpaCatCcAreaCollection"/>
    </wsdl:message>
    <wsdl:portType name="CentroCostoAreaDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:GpaCatCcAreaCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="CentroCostoAreaDataSvcSelect">
            <wsdl:input message="tns:CentroCostoAreaDataSvcSelect_inputParameters"/>
            <wsdl:output message="tns:GpaCatCcAreaCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
