SOL4IT - DEV/osb_Jack/SolicitudesBDQry/Resources/CentroCostoOficinaDataSvc.wsdl

<wsdl:definitions
     name="CentroCostoOficinaDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/CentroCostoOficinaDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/CentroCostoOficinaDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CentroCostoOficinaDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="CentroCostoOficinaDataSvc_plt" >
    <plt:role name="CentroCostoOficinaDataSvc_role" >
      <plt:portType name="tns:CentroCostoOficinaDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CentroCostoOficinaDataSvc" schemaLocation="CentroCostoOficinaDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="CentroCostoOficinaDataSvcSelect_inputParameters">
        <wsdl:part name="CentroCostoOficinaDataSvcSelect_inputParameters" element="top:CentroCostoOficinaDataSvcSelect_pCCInputParameters"/>
    </wsdl:message>
    <wsdl:message name="GpaCatCcOficinaCollection_msg">
        <wsdl:part name="GpaCatCcOficinaCollection" element="top:GpaCatCcOficinaCollection"/>
    </wsdl:message>
    <wsdl:portType name="CentroCostoOficinaDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:GpaCatCcOficinaCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="CentroCostoOficinaDataSvcSelect">
            <wsdl:input message="tns:CentroCostoOficinaDataSvcSelect_inputParameters"/>
            <wsdl:output message="tns:GpaCatCcOficinaCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
