SOL4IT - DEV/osb_Jack/SolicitudesBDQry/Resources/SolicitudDataSvc_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolicitudDataSvc" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolicitudDataSvc" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Gpa001SolicitudCollection" type="Gpa001SolicitudCollection"/>
   <xs:complexType name="Gpa001SolicitudCollection">
      <xs:sequence>
         <xs:element name="Gpa001Solicitud" type="Gpa001Solicitud" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa001Solicitud">
      <xs:sequence>
         <xs:element name="idSolicitud" type="string15"/>
         <xs:element name="idTpSolicitud" type="xs:int" minOccurs="0"/>
         <xs:element name="nuEmpleado" type="string10" minOccurs="0"/>
         <xs:element name="nombreEmpleado" type="string120" minOccurs="0"/>
         <xs:element name="fhActualizacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idUsuario" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="totalPagar" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="fhCreacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="nuOrden" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="fhFinProceso" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="oficinaDestino" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idSubtpSolic" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="impCContablesCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa020ImpCcontables" type="Gpa020ImpCcontables" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="servicio" type="Gpa015Servicios" minOccurs="0" nillable="true"/>
         <xs:element name="proyecto" type="Gpa013Proyecto" minOccurs="0" nillable="true"/>
         <xs:element name="pagosCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa019Pagos" type="Gpa019Pagos" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="estado" type="Gpa006Estados" minOccurs="0" nillable="true"/>
         <xs:element name="importesCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa002Importes" type="Gpa002Importes" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa020ImpCcontables">
      <xs:sequence>
         <xs:element name="idImpCc" type="xs:long"/>
         <xs:element name="idDescIva" type="xs:long" minOccurs="0"/>
         <xs:element name="idUsuario" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="descPago" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ccSubtotal" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="ccIva" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="ccRetencionIva" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="ccRetencionIsr" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="ccOtrosImpuestos" type="string20" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa015Servicios">
      <xs:sequence>
         <xs:element name="idServicio" type="string20"/>
         <xs:element name="descServicio" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="idTpServicio" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="centroCosto" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="idSolicitud" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="idPrestador" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="fhRegistro" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="descOficina" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="descArea" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="responsableArea" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="cveOficina" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa013Proyecto">
      <xs:sequence>
         <xs:element name="idProyecto" type="xs:long"/>
         <xs:element name="descProyecto" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="stProyecto" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="presupuestoAprobado" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parcialidades" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fhCreacionProy" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idCondicionesPago" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idSolicitud" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="idPrestador" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="centroCosto" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="descOficina" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="descArea" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="responsableArea" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="nombreProyecto" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="cveOficina" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="presupuestoDisponible" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="pagosProceso" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idProyectomarco" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="parcialidadActual" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="tipoMoneda" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa019Pagos">
      <xs:sequence>
         <xs:element name="idPagos" type="string10"/>
         <xs:element name="numOrden" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numCaratula" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="estadoPago" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fhCreacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fhActualizacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa006Estados">
      <xs:sequence>
         <xs:element name="idEstado" type="xs:long"/>
         <xs:element name="descripcion" type="string60" minOccurs="0"/>
         <xs:element name="stRegistro" type="xs:int" minOccurs="0"/>
         <xs:element name="clasificacion" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa002Importes">
      <xs:sequence>
         <xs:element name="idImportes" type="xs:long"/>
         <xs:element name="montoIva" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="tasaIva" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="observaciones" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="folioFiscal" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="nombreDocumento" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="xmlFactura" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="tpMoneda" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="montoRetencionIsr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="montoRetencionIva" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="otrosImpuestos" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="subtotal" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="total" type="xs:double" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Gpa001SolicitudPrimaryKey" type="Gpa001SolicitudPrimaryKey"/>
   <xs:complexType name="Gpa001SolicitudPrimaryKey">
      <xs:sequence>
         <xs:element name="idSolicitud" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
