SOL4IT - DEV/osb_Jack/SolicitudesBDQry/Resources/Servicios/ServicioDataSvc.wsdl

<wsdl:definitions
     name="ServicioDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/ServicioDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/ServicioDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServicioDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="ServicioDataSvc_plt" >
    <plt:role name="ServicioDataSvc_role" >
      <plt:portType name="tns:ServicioDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServicioDataSvc"
                schemaLocation="ServicioDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa015ServiciosPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa015ServiciosCollection_msg">
        <wsdl:part name="Gpa015ServiciosCollection" element="top:Gpa015ServiciosCollection"/>
    </wsdl:message>
    <wsdl:portType name="ServicioDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa015ServiciosCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa015ServiciosCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
