SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/AutosSinResguardo/Files/Schemas/DatosClienteRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="datosClienteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DatosCliente">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cliente">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="IdCliente"/>
                    <xs:element type="xs:string" name="NumeroCredencial"/>
                    <xs:element type="xs:string" name="PrimerNombre"/>
                    <xs:element type="xs:string" name="SegundoNombre"/>
                    <xs:element type="xs:string" name="ApellidoPaterno"/>
                    <xs:element type="xs:string" name="ApellidoMaterno"/>
                    <xs:element type="xs:string" name="FechaNacimiento"/>
                    <xs:element type="xs:string" name="Rfc"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:string" name="Telefono"/>
                    <xs:element type="xs:int" name="Edad"/>
                    <xs:element type="xs:int" name="Ocupacion"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Domicilio">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Calle"/>
                    <xs:element type="xs:string" name="NumExt"/>
                    <xs:element type="xs:string" name="NumInt"/>
                    <xs:element type="xs:string" name="Colonia"/>
                    <xs:element type="xs:int" name="Cp"/>
                    <xs:element type="xs:string" name="Municipio"/>
                    <xs:element type="xs:string" name="Estado"/>
                    <xs:element type="xs:string" name="TipoDomicilio"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DatosAuto">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Marca"/>
              <xs:element type="xs:string" name="Submarca"/>
              <xs:element type="xs:string" name="Modelo"/>
              <xs:element type="xs:string" name="Version"/>
              <xs:element type="xs:string" name="Kilometraje"/>
              <xs:element type="xs:string" name="Color"/>
              <xs:element type="xs:string" name="Placa"/>
              <xs:element type="xs:string" name="SerieMotor"/>
              <xs:element type="xs:string" name="SerieChasis"/>
              <xs:element type="xs:string" name="EquipoAdicional"/>
              <xs:element type="xs:string" name="Comentarios"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:decimal" name="MontoPrestamo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>