SOL4IT - DEV/OSB_Desarrollo/Finance/AP/GPA/Entity/Resources/ImporteDB.wsdl

<wsdl:definitions name="ImporteDB" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/ImporteDB" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/ImporteDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ImporteDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ImporteDB_plt">
    <plt:role name="ImporteDB_role">
      <plt:portType name="tns:ImporteDB_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ImporteDB" schemaLocation="ImporteDB_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="ImporteDBSelect_inputParameters">
        <wsdl:part name="ImporteDBSelect_inputParameters" element="top:ImporteDBSelect_pSolicitudInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa002ImportesPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa002ImportesCollection_msg">
        <wsdl:part name="Gpa002ImportesCollection" element="top:Gpa002ImportesCollection"/>
    </wsdl:message>
    <wsdl:portType name="ImporteDB_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa002ImportesCollection_msg"/>
        </wsdl:operation>
        <!--wsdl:operation name="insert">
            <wsdl:input message="tns:Gpa002ImportesCollection_msg"/>
        </wsdl:operation-->
        <wsdl:operation name="ImporteDBSelect">
            <wsdl:input message="tns:ImporteDBSelect_inputParameters"/>
            <wsdl:output message="tns:Gpa002ImportesCollection_msg"/>
        </wsdl:operation>
        <!--wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa002ImportesCollection_msg"/>
        </wsdl:operation-->
    </wsdl:portType>
</wsdl:definitions>