SOL4IT - DEV/Aplicacion_SOA_Qualitas/OrdenPagoProrrateoPrj/SOA/Schemas/OrdenPagoProrrateo.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/GestionOrdenPagoApp/OrdenPagoProrrateoPrj/OrdenPagoProrrateo" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="process">
      <complexType>
         <sequence>
            <element name="monto" type="float"/>
            <element name="idSolicitud" type="string"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="codigo" type="string"/>
            <element name="mensaje" type="string"/>
            <element name="numOrden" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
