SOL4IT - DEV/OSB_Depurado_SOAINT/Finance/AP/GPA/Data/Resources/SolicitudBasicDataSvc/SolicitudBasicDataSvc.wsdl

<wsdl:definitions name="SolicitudBasicDataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudDataSvc/SolicitudBasicDataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudDataSvc/SolicitudBasicDataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolicitudBasicDataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="SolicitudBasicDataSvc_plt">
    <plt:role name="SolicitudBasicDataSvc_role">
      <plt:portType name="tns:SolicitudBasicDataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolicitudBasicDataSvc" schemaLocation="SolicitudBasicDataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa001SolicitudPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa001SolicitudCollection_msg">
        <wsdl:part name="Gpa001SolicitudCollection" element="top:Gpa001SolicitudCollection"/>
    </wsdl:message>
    <wsdl:portType name="SolicitudBasicDataSvc_ptt">
        <wsdl:operation name="update">
            <wsdl:input message="tns:Gpa001SolicitudCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa001SolicitudCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>