SOL4IT - DEV/VisualizacionComposite/Finance/AP/GPA/Data/Resources/ProyectoDataSvc.wsdl

<wsdl:definitions name="ProyectoDataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/ProyectoDataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudesBDQry/ProyectoDataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ProyectoDataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ProyectoDataSvc_plt">
    <plt:role name="ProyectoDataSvc_role">
      <plt:portType name="tns:ProyectoDataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ProyectoDataSvc" schemaLocation="ProyectoDataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa013ProyectoPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa013ProyectoCollection_msg">
        <wsdl:part name="Gpa013ProyectoCollection" element="top:Gpa013ProyectoCollection"/>
    </wsdl:message>
    <wsdl:portType name="ProyectoDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>