SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionIdentidades/MIDAS/Autorizacion/Resources/WSDL/MIDASClaveAutorizacionSvcWSDL.wsdl

<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="urn:mx.com.nmp.midas">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="validarClaveAutorizacion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarClaveAutorizacionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validarClaveAutorizacionResponse">
    <wsdl:part name="parameters" element="tns:validarClaveAutorizacionResponse"/>
  </wsdl:message>
  <wsdl:message name="validarClaveAutorizacionRequest">
    <wsdl:part name="parameters" element="tns:validarClaveAutorizacion"/>
  </wsdl:message>
  <wsdl:portType name="ClaveAutorizacionServicePortType">
    <wsdl:operation name="validarClaveAutorizacion">
      <wsdl:input name="validarClaveAutorizacionRequest" message="tns:validarClaveAutorizacionRequest"/>
      <wsdl:output name="validarClaveAutorizacionResponse" message="tns:validarClaveAutorizacionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClaveAutorizacionServiceHttpBinding" type="tns:ClaveAutorizacionServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validarClaveAutorizacion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validarClaveAutorizacionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validarClaveAutorizacionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaveAutorizacionService">
    <wsdl:port name="ClaveAutorizacionServiceHttpPort" binding="tns:ClaveAutorizacionServiceHttpBinding">
      <wsdlsoap:address location="http://10.1.5.19:8010/midas-web/services/ClaveAutorizacionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>