SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/BuroCredito/Resources/Schemas/NMPBuroCreditoSvcXSD.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:NMPConsultaBC="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"
            elementFormDefault="qualified">
  <xsd:complexType name="infoEncabezadoType">
    <xsd:sequence>
      <xsd:element name="version" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="numeroReferenciaOperador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="claveProductoRequerido" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="clavePais" type="xsd:string" minOccurs="1" maxOccurs="1" default="MX"/>
      <xsd:element name="identificadorBuro" type="xsd:string" minOccurs="1" maxOccurs="1" default="0000"/>
      <xsd:element name="claveUsuario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="contrasenaUsuario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tipoConsulta" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tipoContrato" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="claveUnidadMonetaria" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="importeContrato" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idioma" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tipoSalida" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoEncabezadoResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaBC:infoEncabezadoType">
        <xsd:sequence>
          <xsd:element name="claveOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="claveRetornoConsumidorPrincipal" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="claveRetornoConsumidorSecundario" maxOccurs="1" minOccurs="0" type="xsd:string"/>
          <xsd:element name="numeroControlConsulta" maxOccurs="1" minOccurs="1" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="infoCalificacionClienteType">
    <xsd:sequence>
      <xsd:element name="probabilidadIncumplimiento" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="siva" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoClienteType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="primerNombre" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="segundoNombre" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="apellidoPaterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="apellidoMaterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="apellidoAdicional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaNacimiento" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="rfc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="prefijoPersonal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sufijoPersonal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveNacionalidad" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveTipoResidencia" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroLicenciaConducir" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveEstadoCivil" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="genero" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroCedulaProfesional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroRegistroElectoral" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveImpuestoOtroPais" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveOtroPais" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroDependientes" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="edadesDependientes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoClienteResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaBC:infoClienteType">
        <xsd:sequence>
          <xsd:element name="fechaRecepcionInformacionDependientes" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaDefusion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="infoPersonalClienteType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaBC:infoClienteType">
        <xsd:sequence>
          <xsd:element name="listaDomicilios">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="domicilio" type="NMPConsultaBC:infoDomicilioType" minOccurs="1" maxOccurs="4"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="listaEmpleos">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="empleo" type="NMPConsultaBC:infoEmpleoType" minOccurs="0" maxOccurs="2"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="listaCuentas">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="cuenta" type="NMPConsultaBC:infoCuentasCreditoType" minOccurs="0" maxOccurs="4"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="score" type="NMPConsultaBC:infoCalificacionClienteType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="infoDomicilioType">
    <xsd:sequence>
      <xsd:element name="direccion" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="direccionAdicional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="coloniaPoblacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="delegacionMunicipio" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ciudad" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="estado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="codigoPostal" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="fechaResidencia" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroTelefono" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="extension" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fax" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoDomicilio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="indicadorEspecialDomicilio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaReporteDireccion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoDomiciliosResponseType">
    <xsd:sequence>
      <xsd:element name="domicilio" type="NMPConsultaBC:infoDomicilioType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoEmpleoType">
    <xsd:sequence>
      <xsd:element name="nombreEmpresa" type="xsd:string" minOccurs="0" maxOccurs="1" default="NO PROPORCIONADO"/>
      <xsd:element name="direccion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="direccionAdicional" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="coloniaPoblacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="delegacionMunicipio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ciudad" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="estado" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoPostal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroTelefono" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="extension" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fax" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="puesto" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaContratacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveMonedaSalario" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="salario" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="baseSalarial" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroEmpleado" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaUltimoDiaEmpleo" type="xsd:date" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoEmpleoExtensionType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaBC:infoEmpleoType">
        <xsd:sequence>
          <xsd:element name="fechaReporteEmpleo" maxOccurs="1" minOccurs="0" type="xsd:date"/>
          <xsd:element name="fechaVerificacion" maxOccurs="1" minOccurs="0" type="xsd:date"/>
          <xsd:element name="modoVerificacion" maxOccurs="1" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="infoEmpleosResponseType">
    <xsd:sequence>
      <xsd:element name="empleo" type="NMPConsultaBC:infoEmpleoExtensionType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoCuentasCreditoType">
    <xsd:sequence>
      <xsd:element name="numeroCuenta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveOtorgnte" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nombreOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoCuenasCreditoExtensionType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaBC:infoCuentasCreditoType">
        <xsd:sequence>
          <xsd:element name="fechaReporteEmpleo" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaVerificacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="modoVerificacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaActualizacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="registroImpugnado" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="numeroTelefonoOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="identificadorSociedadInformacionCrediticia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="indicadorTipoResponsabilidad" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipoCuenta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipoContrato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="claveUnidadMonetaria" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="valorActivoValuacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="numeroPagos" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="frecuenciaPagos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="montoPagar" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaAperturaCuenta" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaUltimoPago" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaUltimaCompra" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaCierreCuenta" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaReporte" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="modoReportar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ultimaFechaSaldoCero" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="garantia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="creditoMaximo" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="saldoActual" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="limiteCredito" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="saldoVencido" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="numeroPagosVencidos" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="formaPagoActual" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="historicoPagos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaMasRecienteHistoricoPagos" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaMasAntiguaHistoricoPagos" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="claveObservacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="totalPagosReportados" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="totalPagosCalificadosMOP2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="totalPagosCalificadosMOP3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="totalPagosCalificadosMOP4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="totalPagosCalificadosMOP5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="importeSaldoMorosidadHistMasGrave" type="xsd:long" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaHistoricaMorosidadMasGrave" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="mopHistoricoMorosidadMasGrave" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaInicioReestructura" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="montoUltimoPago" type="xsd:long" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="infoCuenasCreditoResponseType">
    <xsd:sequence>
      <xsd:element name="cuenta" minOccurs="0" maxOccurs="unbounded"
                   type="NMPConsultaBC:infoCuenasCreditoExtensionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoAutenticacionType">
    <xsd:sequence>
      <xsd:element name="tipoReporte" type="xsd:string" minOccurs="1" maxOccurs="1" default="RCN"/>
      <xsd:element name="tipoSalida" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="referenciaOperador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="tarjetaCredito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ultimosCuatroDigitos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ejercidoCreditoHipotecario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ejercidoCreditoAutomotriz" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoConsultaBCType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="calificacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="folioConsulta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaConsulta" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="origenConsulta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoConsultaEfectuadaType">
    <xsd:sequence>
      <xsd:element name="fechaConsulta" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="identificacionBuro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nombreOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="telefonoOtorgante" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoContrato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="claveUnidadMonetaria" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="importeContrato" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="indicadorTipoResponsabilidad" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="consumidorNuevo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="resultadoFinal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="identificadorOrigenConsulta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoConsultaEfectuadaResponseType">
    <xsd:sequence>
      <xsd:element name="consultaEfectuda" maxOccurs="unbounded" minOccurs="0"
                   type="NMPConsultaBC:infoConsultaEfectuadaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoResumenReporteBCResponseType">
    <xsd:sequence>
      <xsd:element name="resumen" type="NMPConsultaBC:infoResumenReporteBCType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoResumenReporteBCType">
    <xsd:sequence>
      <xsd:element name="fechaIngresoBD" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP0" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOPUR" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroCuentas" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuentasPagosFijosHipotecas" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuentasRevolventesAbiertas" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuentasCerradas" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuentasNegativasActuales" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuentasClavesHistoriaNegativa" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuentasDisputa" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroSolicitudesUltimos6Meses" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nuevaDireccionReportadaUltimos60Dias" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="mensajesAlerta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="existenciaDeclaracionesConsumidor" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoMoneda" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalCreditosMaximosRevolventes" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalLimitesCreditoRevolventes" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalSaldosActualesRevolventes" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalSaldosVencidosRevolventes" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalPagosRevolventes" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="pctLimiteCreditoUtilizadoRevolventes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalCreditosMaximosPagosFijos" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalSaldosActualesPagosFijos" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalSaldosVencidosPagosFijos" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalPagosPagosFijos" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP96" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP97" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroMOP99" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaAperturaCuentaMasAntigua" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaAperturaCuentaMasReciente" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="totalSolicitudesReporte" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaSolicitudReporteMasReciente" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroTotalCuentasDespachoCobranza" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaAperturaCuentaMasRecienteDespachoCobranza" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="numeroTotalSolicitudesDespachosCobranza" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaSolicitudMasRecienteDespachoCobranza" type="xsd:date" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoAlertaBCType">
    <xsd:sequence>
      <xsd:element name="fechaReporte" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoClave" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoInstitucion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="mensaje" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoAlertasBCType">
    <xsd:sequence>
      <xsd:element name="alerta" type="NMPConsultaBC:infoAlertaBCType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoAlertasHawkBCResponseType">
    <xsd:sequence>
      <xsd:element name="informacionConsulta" type="NMPConsultaBC:infoAlertasBCType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="informacionBaseDatos" type="NMPConsultaBC:infoAlertasBCType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoRazonErrorBCType">
    <xsd:sequence>
      <xsd:element name="codigoRazon" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoCalificacionBCType">
    <xsd:sequence>
      <xsd:element name="nombreScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="valorScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigosRazon" type="NMPConsultaBC:infoRazonErrorBCType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoError" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoCalificacionResponseType">
    <xsd:sequence>
      <xsd:element name="calificacion" maxOccurs="unbounded" minOccurs="0" type="NMPConsultaBC:infoCalificacionBCType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoErrorBCType">
    <xsd:sequence>
      <xsd:element name="mensaje" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoErroresBCResponseType">
    <xsd:sequence>
      <xsd:element name="usuario" type="NMPConsultaBC:infoErrorBCType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="autenticacion" type="NMPConsultaBC:infoErrorBCType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoDeclaracionResponseType">
    <xsd:sequence>
      <xsd:element name="declaracionConsumidor" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TasaInteresItemType">
    <xsd:sequence>
      <xsd:element name="Tasa" type="xsd:string"/>
      <xsd:element name="Plazo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TasaInteresListType">
    <xsd:sequence>
      <xsd:element name="TasaInteres" type="NMPConsultaBC:TasaInteresItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaVigenteBCRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaVigenteBCResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
      <xsd:element name="informeBuro" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1">
            <xsd:element name="encabezado" maxOccurs="1" minOccurs="0" type="NMPConsultaBC:infoEncabezadoResponseType"/>
            <xsd:element name="cliente" minOccurs="0" maxOccurs="1" type="NMPConsultaBC:infoClienteResponseType"/>
            <xsd:element name="domicilios" maxOccurs="1" minOccurs="0" type="NMPConsultaBC:infoDomiciliosResponseType"/>
            <xsd:element name="empleos" maxOccurs="1" minOccurs="0" type="NMPConsultaBC:infoEmpleosResponseType"/>
            <xsd:element name="cuentas" minOccurs="0" maxOccurs="1" type="NMPConsultaBC:infoCuenasCreditoResponseType"/>
            <xsd:element name="consultasEfectuadasExpediente" type="NMPConsultaBC:infoConsultaEfectuadaResponseType"
                         minOccurs="0" maxOccurs="1"/>
            <xsd:element name="reportesResumenExpediente" maxOccurs="1" minOccurs="0"
                         type="NMPConsultaBC:infoResumenReporteBCResponseType"/>
            <xsd:element name="alertasHawk" maxOccurs="1" minOccurs="0"
                         type="NMPConsultaBC:infoAlertasHawkBCResponseType"/>
            <xsd:element name="declaracionesCliente" minOccurs="0" maxOccurs="1"
                         type="NMPConsultaBC:infoDeclaracionResponseType"/>
            <xsd:element name="calificaciones" minOccurs="0" maxOccurs="1" type="NMPConsultaBC:infoCalificacionResponseType" />
            <xsd:element name="Errores" minOccurs="0" maxOccurs="1" type="NMPConsultaBC:infoErroresBCResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaBCRequestType">
    <xsd:sequence>
      <xsd:element name="informacionGeneral" type="NMPConsultaBC:infoEncabezadoType"/>
      <xsd:element name="informacionCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="personal" type="NMPConsultaBC:infoPersonalClienteType" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="informacionAutenticacion" type="NMPConsultaBC:infoAutenticacionType" minOccurs="0"
                   maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaBCResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
      <xsd:element name="resumenConsultaBuro" type="NMPConsultaBC:infoConsultaBCType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaAutografaBCRequestType">
    <xsd:sequence>
      <xsd:element name="IdWorkOrderFormType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="IdWorkOrder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ExternalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Action" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InputFields" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Nombre1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Nombre2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Apellido_Paterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Apellido_Materno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CalleCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="NoExtCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="DelegacionCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="EstadoCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CPCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="RFCCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="FechadeNacimientoCB" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="BP_PROBINCUMPL" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="BP_SIVA" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Frecuencia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ExternalType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Username" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WorkOrderType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaAutografaBCResponseFaultType">
    <xsd:sequence>
      <xsd:element name="UpdateFieldsValues">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MensajeBuro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Estatus" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Folio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BP" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Riesgo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ListaTasasInteres" type="NMPConsultaBC:TasaInteresListType" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AfectedFields" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Settings">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ReadOnly" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="Resquested" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="Visible" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FormiikReservedWords" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReservedWord" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaBCRequest" type="NMPConsultaBC:consultaBCRequestType"/>
  <xsd:element name="consultaBCResponse" type="NMPConsultaBC:consultaBCResponseType"/>
  <xsd:element name="consultaVigenteBCRequest" type="NMPConsultaBC:consultaVigenteBCRequestType"/>
  <xsd:element name="consultaVigenteBCResponse" type="NMPConsultaBC:consultaVigenteBCResponseType"/>
  <xsd:element name="consultaAutografaBCRequest" type="NMPConsultaBC:consultaAutografaBCRequestType"/>
  <xsd:element name="consultaAutografaBCResponse" type="NMPConsultaBC:consultaAutografaBCResponseFaultType"/>
  <xsd:element name="consultaAutografaBCFault" type="NMPConsultaBC:consultaAutografaBCResponseFaultType"/>
</xsd:schema>