SOL4IT - DEV/OSB_Desarrollo_NMP/Utileria/AdminCuentasExternas/Resoures/WSDLs/AdminCuentasExternasSvcWSDL.wsdl

<wsdl:definitions name="AdminCuentasExternasSvcWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos" xmlns:nmp="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos" xmlns:nmps="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPUsuariosExternos" xmlns:nmpf="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPUsuariosExternos" schemaLocation="../Schemas/NMPAdminCuentasExternasSvcSXD.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdminCuentasExternasHeaderMessage">
    <wsdl:part name="part_AdminCuentasExternasHeader" element="nmph:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="AdminCuentasExternasFaultMessage">
    <wsdl:part name="part_AdminCuentasExternasFault" element="nmpf:messageError"/>
  </wsdl:message>
  <wsdl:message name="registrarCuentaRequestMessage">
    <wsdl:part name="part_registrarCuentaRequest" element="nmps:registrarCuentaRequest"/>
  </wsdl:message>
  <wsdl:message name="registrarCuentaResponseMessage">
    <wsdl:part name="part_registrarCuentaResponse" element="nmps:registrarCuentaResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerUrlActivacionRequestMessage">
    <wsdl:part name="part_obtenerUrlActivacionRequest" element="nmps:obtenerUrlActivacionRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerUrlActivacionResponseMessage">
    <wsdl:part name="part_obtenerUrlActivacionResponse" element="nmps:obtenerUrlActivacionResponse"/>
  </wsdl:message>
  <wsdl:message name="activarCuentaRequestMessage">
    <wsdl:part name="part_activarCuentaRequest" element="nmps:activarCuentaRequest"/>
  </wsdl:message>
  <wsdl:message name="activarCuentaResponseMessage">
    <wsdl:part name="part_activarCuentaResponse" element="nmps:activarCuentaResponse"/>
  </wsdl:message>
  <wsdl:message name="reestablecerContrasenaRequestMessage">
    <wsdl:part name="part_reestablecerContrasenaRequest" element="nmps:reestablecerContrasenaRequest"/>
  </wsdl:message>
  <wsdl:message name="reestablecerContrasenaResponseMessage">
    <wsdl:part name="part_reestablecerContrasenaResponse" element="nmps:reestablecerContrasenaResponse"/>
  </wsdl:message>
  <wsdl:message name="buscarCuentaRequestMessage">
    <wsdl:part name="part_buscarCuentaRequest" element="nmps:buscarCuentaRequest"/>
  </wsdl:message>
  <wsdl:message name="buscarCuentaResponseMessage">
    <wsdl:part name="part_buscarCuentaResponse" element="nmps:buscarCuentaResponse"/>
  </wsdl:message>
  <wsdl:message name="eliminarCuentaRequestMessage">
    <wsdl:part name="part_eliminarCuentaRequest" element="nmps:eliminarCuentaRequest"/>
  </wsdl:message>
  <wsdl:message name="eliminarCuentaResponseMessage">
    <wsdl:part name="part_eliminarCuentaResponse" element="nmps:eliminarCuentaResponse"/>
  </wsdl:message>
  <wsdl:portType name="adminCuentasExterna_ptt">
    <wsdl:operation name="registrarCuenta">
      <wsdl:input message="nmp:registrarCuentaRequestMessage"/>
      <wsdl:output message="nmp:registrarCuentaResponseMessage"/>
      <wsdl:fault name="adminCuentasExternasFault" message="nmp:AdminCuentasExternasFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerUrlActivacion">
      <wsdl:input message="nmp:obtenerUrlActivacionRequestMessage"/>
      <wsdl:output message="nmp:obtenerUrlActivacionResponseMessage"/>
      <wsdl:fault message="nmp:AdminCuentasExternasFaultMessage" name="adminCuentasExternasFault"/>
    </wsdl:operation>
    <wsdl:operation name="activarCuenta">
      <wsdl:input message="nmp:activarCuentaRequestMessage"/>
      <wsdl:output message="nmp:activarCuentaResponseMessage"/>
      <wsdl:fault message="nmp:AdminCuentasExternasFaultMessage" name="adminCuentasExternasFault"/>
    </wsdl:operation>
    <wsdl:operation name="reestablecerContrasena">
      <wsdl:input message="nmp:reestablecerContrasenaRequestMessage"/>
      <wsdl:output message="nmp:reestablecerContrasenaResponseMessage"/>
      <wsdl:fault message="nmp:AdminCuentasExternasFaultMessage" name="adminCuentasExternasFault"/>
    </wsdl:operation>
    <wsdl:operation name="buscarCuenta">
      <wsdl:input message="nmp:buscarCuentaRequestMessage"/>
      <wsdl:output message="nmp:buscarCuentaResponseMessage"/>
      <wsdl:fault message="nmp:AdminCuentasExternasFaultMessage" name="adminCuentasExternasFault"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarCuenta">
      <wsdl:input message="nmp:eliminarCuentaRequestMessage"/>
      <wsdl:output message="nmp:eliminarCuentaResponseMessage"/>
      <wsdl:fault message="nmp:AdminCuentasExternasFaultMessage" name="adminCuentasExternasFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="adminCuentasExternas_bindingSoap12" type="nmp:adminCuentasExterna_ptt">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
    <wsdl:operation name="registrarCuenta">
      <soap12:operation style="document" soapAction="registrarCuenta"/>
      <wsdl:input>
        <soap12:header message="nmp:AdminCuentasExternasHeaderMessage" part="part_AdminCuentasExternasHeader" use="literal"/>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:output>
      <wsdl:fault name="adminCuentasExternasFault">
        <soap12:fault name="adminCuentasExternasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerUrlActivacion">
      <soap12:operation style="document" soapAction="obtenerUrlActivacion"/>
      <wsdl:input>
      <soap12:header message="nmp:AdminCuentasExternasHeaderMessage" part="part_AdminCuentasExternasHeader" use="literal"/>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:output>
      <wsdl:fault name="adminCuentasExternasFault">
        <soap12:fault name="adminCuentasExternasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activarCuenta">
      <soap12:operation style="document" soapAction="activarCuenta"/>
      <wsdl:input>
      <soap12:header message="nmp:AdminCuentasExternasHeaderMessage" part="part_AdminCuentasExternasHeader" use="literal"/>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:output>
      <wsdl:fault name="adminCuentasExternasFault">
        <soap12:fault name="adminCuentasExternasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reestablecerContrasena">
      <soap12:operation style="document" soapAction="reestablecerContrasena"/>
      <wsdl:input>
      <soap12:header message="nmp:AdminCuentasExternasHeaderMessage" part="part_AdminCuentasExternasHeader" use="literal"/>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:output>
      <wsdl:fault name="adminCuentasExternasFault">
        <soap12:fault name="adminCuentasExternasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscarCuenta">
      <soap12:operation style="document" soapAction="buscarCuenta"/>
      <wsdl:input>
      <soap12:header message="nmp:AdminCuentasExternasHeaderMessage" part="part_AdminCuentasExternasHeader" use="literal"/>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:output>
      <wsdl:fault name="adminCuentasExternasFault">
        <soap12:fault name="adminCuentasExternasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="eliminarCuenta">
      <soap12:operation style="document" soapAction="eliminarCuenta"/>
      <wsdl:input>
      <soap12:header message="nmp:AdminCuentasExternasHeaderMessage" part="part_AdminCuentasExternasHeader" use="literal"/>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPUsuariosExternos"/>
      </wsdl:output>
      <wsdl:fault name="adminCuentasExternasFault">
        <soap12:fault name="adminCuentasExternasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="adminCuentasExternas_svc_port">
    <wsdl:port name="adminCuentasExternas_port" binding="nmp:adminCuentasExternas_bindingSoap12">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>