SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/cenmp/resources/xsd/MakoNMP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_nombre">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Curso de Rod"/>
			<xs:enumeration value="Cusro Prueba"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_id">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_gpo_id">
		<xs:restriction base="xs:int">
			<xs:enumeration value="2"/>
			<xs:enumeration value="789095"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_gpo_clave">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_fecha_inicio">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2014-03-02 00:00:00"/>
			<xs:enumeration value="2014-03-13 00:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_fecha_fin_insc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2014-03-02 00:00:00"/>
			<xs:enumeration value="2014-03-13 00:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_fecha_fin">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2014-03-31 00:00:00"/>
			<xs:enumeration value="2014-12-08 00:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_alias">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ecat1nmp"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="success">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:boolean">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="o">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="data"/>
				<xs:element ref="message"/>
				<xs:element ref="success"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nombre">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_nombre">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_id">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="number"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="gpo_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_gpo_id">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="number"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="gpo_clave">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_gpo_clave">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fecha_inicio_insc">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="fecha_inicio">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_fecha_inicio">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fecha_fin_insc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_fecha_fin_insc">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fecha_fin">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_fecha_fin">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="e">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="alias"/>
				<xs:element ref="fecha_fin"/>
				<xs:element ref="fecha_fin_insc"/>
				<xs:element ref="fecha_inicio"/>
				<xs:element ref="fecha_inicio_insc"/>
				<xs:element ref="gpo_clave"/>
				<xs:element ref="gpo_id"/>
				<xs:element ref="id"/>
				<xs:element ref="nombre"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="object"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="e" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="array"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="alias">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_alias">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>