SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/cenmp/resources/xsd/XMLSchema_-732217302.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/nmpApp/WSInscribir/InscribirBPELProcess"
     xmlns:tns="http://xmlns.oracle.com/nmpApp/WSInscribir/InscribirBPELProcess" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="PerteneceTEC" type="tns:stringType10"/>
                <element name="idCurso" type="tns:stringType10"/>
                <element name="idGrupo" type="tns:stringType10"/>
                <element name="idUsuario" type="tns:stringType64"/>
                <element name="descCentro" type="tns:stringType30"/>
                <element name="emailProm" type="tns:emailAddressType"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="IdInscripcion" type="tns:stringType30"/>
                <element name="StatusInscripcion" type="tns:stringType20"/>
                <element name="ErrorCode" type="tns:stringType20"/>
                <element name="ErrorDescription" type="tns:stringType128"/>
                <element name="ErrorDetail" type="tns:stringType512"/>
            </sequence>
        </complexType>
    </element>
    <simpleType name="stringType02">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="2"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType10">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="10"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType20">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType30">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType64">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType128">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType256">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType512">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="educacionTypee">
        <restriction base="string">
            <enumeration value="Primaria"/>
            <enumeration value="Secundaria"/>
            <enumeration value="Preparatoria"/>
            <enumeration value="Universidad"/>
        </restriction>
    </simpleType>
    <simpleType name="emailAddressType">
        <restriction base="string">
            <pattern value="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$"/>
            <pattern value="[^@]+@[^\.]+\..+"/>
        </restriction>
    </simpleType>
</schema>