SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/cenmp/resources/xsd/XMLSchema_-1083482731.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/nmpApp/WSRegistrarSocio/RegistrarSocioBPELProcess"
     xmlns:tns="http://xmlns.oracle.com/nmpApp/WSRegistrarSocio/RegistrarSocioBPELProcess"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="Actualizar" type="boolean"/>
                <element name="Correo" type="tns:emailAddressType" nillable="false"/>
                <element name="Usuario" type="tns:stringType30" nillable="false"/>
                <element name="Pasword" type="tns:stringType20" nillable="false"/>
                <element name="Nombre" type="tns:stringType64" nillable="false"/>
                <element name="ApellidoPaterno" type="tns:stringType64" nillable="false"/>
                <element name="ApellidoMaterno" type="tns:stringType64" nillable="false"/>
                <element name="FechaNacimiento" type="date" nillable="false"/>
                <element name="Telefono" type="tns:stringType10" nillable="true"/>
                <element name="Celular" type="tns:stringType10" nillable="true"/>
                <element name="Escolaridad" type="tns:stringType20" nillable="true"/>
                <element name="Sexo" type="tns:stringType02" nillable="true"/>
                <element name="Calle" type="tns:stringType256" nillable="true"/>
                <element name="NumeroExt" type="tns:stringType20" nillable="true"/>
                <element name="NumeroInt" type="tns:stringType20" nillable="true"/>
                <element name="Colonia" type="tns:stringType64" nillable="true"/>
                <element name="CodigoPostal" type="tns:stringType10" nillable="true"/>
                <element name="Municipio" type="tns:stringType64" nillable="true"/>
                <element name="Ciudad" type="tns:stringType64" nillable="true"/>
                <element name="ContactoEmergencias" type="tns:stringType30" nillable="true"/>
                <element name="ContactoEmergencia1s" type="tns:stringType30" nillable="true"/>
                <element name="TutorResponsable" type="tns:stringType128" nillable="true"/>
                <element name="TelefonoEmergencia" type="tns:stringType10" nillable="true"/>
                <element name="Trabaja" type="tns:stringType30" nillable="true"/>
                <element name="Estudia" type="tns:stringType30" nillable="true"/>
                <element name="CURP" type="tns:stringType20" nillable="true"/>
                <element name="HabilidadInformatica" type="tns:stringType02" nillable="true"/>
                <element name="FolioCupon" type="tns:stringType20" nillable="true"/>
                <element name="ClienteMP" type="tns:stringType20" nillable="true"/>
                <element name="NegocioPropio" type="tns:stringType02" nillable="true"/>
                <element name="DependientesEconomicos" type="integer" nillable="true"/>
                <element name="CasaPropia" type="tns:stringType02" nillable="true"/>
                <element name="UtilizaInternet" type="tns:stringType02" nillable="true"/>
                <element name="IdMotivo" type="tns:stringType02" nillable="true"/>
                <element name="IdEstadoCivil" type="tns:stringType02" nillable="true"/>
                <element name="IdEstado" type="tns:stringType02" nillable="false"/>
                <element name="IdGrado" type="tns:stringType02" nillable="false"/>
                <element name="IdOcupacion" type="tns:stringType02" nillable="true"/>
                <element name="IdActEconomica" type="tns:stringType02" nillable="true"/>
                <element name="IdDominioIngles" type="tns:stringType02" nillable="true"/>
                <element name="IdDiscapacidad" type="tns:stringType02" nillable="true"/>
                <element name="IdMotivoAcercamiento" type="tns:stringType02" nillable="true"/>
                <element name="IdTiempoActividad" type="tns:stringType02" nillable="true"/>
                <element name="IdProblemasActualesEmpresa" type="tns:stringType02" nillable="true"/>
                <element name="IdMedio" type="tns:stringType02" nillable="true"/>
                <element name="IdCentro" type="string" nillable="true" />
				<element name="CentroNombre" type="string" nillable="true" />
				<element name="fechaRegistro" type="date" nillable="false"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="IdRegistroSocio" type="tns:stringType20"/>
                <element name="IdMicroSitio" type="tns:stringType20"/>
                <element name="IdCCAS" type="tns:stringType20"/>
                <element name="StatusCenmp" type="tns:stringType20"/>
                <element name="ErrorCode" type="tns:stringType20"/>
                <element name="ErrorDescription" type="tns:stringType128"/>
                <element name="ErrorDetail" type="tns:stringType512"/>
            </sequence>
        </complexType>
    </element>
    <simpleType name="stringType02">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="2"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType10">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="10"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType20">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="20"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType30">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="30"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType64">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="64"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType128">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="128"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType256">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="256"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType512">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="512"/>
        </restriction>
    </simpleType>
    <simpleType name="educacionTypee">
        <restriction base="string">
            <enumeration value="Primaria"/>
            <enumeration value="Secundaria"/>
            <enumeration value="Preparatoria"/>
            <enumeration value="Universidad"/>
        </restriction>
    </simpleType>
    <simpleType name="emailAddressType">
        <restriction base="string">
            <pattern value="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$"/>
            <pattern value="[^@]+@[^\.]+\..+"/>
        </restriction>
    </simpleType>
</schema>