SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/cenmp/resources/xsd/XMLSchema_510219435.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/nmpApp/WSObtenerOfertaTEC/ObtenerOfertaTECBPELProcess"
     xmlns:tns="http://xmlns.oracle.com/nmpApp/WSObtenerOfertaTEC/ObtenerOfertaTECBPELProcess"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="FechaInicio" type="date" nillable="false"/>
                <element name="FechaFin" type="date" nillable="false"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence maxOccurs="unbounded">
    <element name="Cursos" type="tns:CursoType" maxOccurs="unbounded"/>
    <element name="ErrorCode" type="tns:stringType20"/>
    <element name="ErrorDescription" type="tns:stringType128"/>
    <element name="ErrorDetail" type="tns:stringType512"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="CursoType">
        <sequence>
            <element name="idCurso" type="tns:stringType10"/>
            <element name="DescCurso" type="tns:stringType256"/>
            <element name="idGrupo" type="tns:stringType10"/>
            <element name="CveGrupo" type="tns:stringType256"/>
            <element name="FechaInicio" type="date" nillable="false"/>
            <element name="FechaFin" type="date" nillable="false"/>
            <element name="FechaInicioInsc" type="date" nillable="false"/>
            <element name="FechaFinInsc" type="date" nillable="false"/>
        </sequence>
    </complexType>
    <simpleType name="stringType02">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="2"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType10">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="10"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType20">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="20"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType30">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="30"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType64">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="64"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType128">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="128"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType256">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="256"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType512">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="512"/>
        </restriction>
    </simpleType>
    <simpleType name="educacionTypee">
        <restriction base="string">
            <enumeration value="Primaria"/>
            <enumeration value="Secundaria"/>
            <enumeration value="Preparatoria"/>
            <enumeration value="Universidad"/>
        </restriction>
    </simpleType>
    <simpleType name="emailAddressType">
        <restriction base="string">
            <pattern value="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$"/>
            <pattern value="[^@]+@[^\.]+\..+"/>
        </restriction>
    </simpleType>
</schema>