SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Avaluo/Resources/Schemas/MIDASCotizadorAutomovilDetalleResponseTypeXSD.xsd

<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx" xmlns:tns="urn:mx.com.nmp.midas">
              <xsd:import namespace="urn:mx.com.nmp.midas" schemaLocation="MIDASCotizadorAutomovilResponseTypeXSD.xsd"/>
      <xsd:complexType name="CotizadorAutomovilDetalleResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="avaluo" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="complementos" nillable="true" type="tns:ArrayOfLong"/>
          <xsd:element minOccurs="0" name="idKilometraje" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idMarca" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idModelo" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idSubMarca" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idVersion" nillable="true" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CotizadorAutomovilResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="avaluo" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="catalogoCotizadorAutomovil" nillable="true" type="ns1:ArrayOfValorCatalogoCotizador"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfValorCatalogoCotizador">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ValorCatalogoCotizador" nillable="true" type="ns1:ValorCatalogoCotizador"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValorCatalogoCotizador">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>