SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/ProcesoBuc/Resouces/Schemas/GATEWAYS_NMP_ACTUALIZA_CLIENTES_TYPE.xsd

<schema targetNamespace="http://xmlns.oracle.com/xdb/GATEWAYS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:GATEWAYS="http://xmlns.oracle.com/xdb/GATEWAYS" elementFormDefault="unqualified" attributeFormDefault="qualified">
   <complexType name="NMP_ACTUALIZA_CLIENTES_TYPE">
      <sequence>
         <element name="IDPERSONA" type="double" nillable="true" minOccurs="0"/>
         <element name="PERSONAUNICAID" type="double" nillable="true" minOccurs="0"/>
         <element name="CONSECUTIVOUNICO" type="double" nillable="true" minOccurs="0"/>
         <element name="DUPLICADO" type="double" nillable="true" minOccurs="0"/>
         <element name="FECHAACTUALIZACION_BP" type="string" nillable="true" minOccurs="0"/>
         <element name="USUARIOMODIFICA_BP" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RFC" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="13"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OCUPACIONGIROID" type="double" nillable="true" minOccurs="0"/>
         <element name="TIPOPERSONAID" type="double" nillable="true" minOccurs="0"/>
         <element name="CONTACTIDORIGEN" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="36"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_RFC" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ID_FUENTE" type="double" nillable="true" minOccurs="0"/>
         <element name="ID_CLIENTE_CRM" type="double" nillable="true" minOccurs="0"/>
         <element name="IDDIRECCION" type="double" nillable="true" minOccurs="0"/>
         <element name="CALLE" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMEROEXTERIOR" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMEROINTERIOR" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EDIFICIO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MANZANA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REFERENCIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDCODIGOPOSTAL" type="double" nillable="true" minOccurs="0"/>
         <element name="MUNICIPIO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CIUDAD" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ESTADO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALIDO" type="double" nillable="true" minOccurs="0"/>
         <element name="FECHAACTUALIZACION_BD" type="string" nillable="true" minOccurs="0"/>
         <element name="USUARIOMODIFICA_BD" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDASENTAMIENTO" type="double" nillable="true" minOccurs="0"/>
         <element name="TITULODOMICILIO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RS_TIPOVIVIENDAID" type="double" nillable="true" minOccurs="0"/>
         <element name="IDPAIS" type="double" nillable="true" minOccurs="0"/>
         <element name="IDESTADO" type="double" nillable="true" minOccurs="0"/>
         <element name="IDCIUDAD" type="double" nillable="true" minOccurs="0"/>
         <element name="IDMUNICIPIO" type="double" nillable="true" minOccurs="0"/>
         <element name="IDTIPOASENTAMIENTO" type="double" nillable="true" minOccurs="0"/>
         <element name="IDPERSCONTROL_BD" type="double" nillable="true" minOccurs="0"/>
         <element name="COLONIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RS_DOMICILIOID_ORIGINAL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="36"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOTE" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_CALLE" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_MUNICIPIO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_CIUDAD" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_ESTADO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_COLONIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="APARTADOPOSTAL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="UNIDAD" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DATOADICIONAL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FLAGSTD_CP" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDMEDIOCONTACTO_BT" type="double" nillable="true" minOccurs="0"/>
         <element name="NUMERO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXTENSION" type="double" nillable="true" minOccurs="0"/>
         <element name="IDTIPOTELEFONO" type="double" nillable="true" minOccurs="0"/>
         <element name="TITULOTELEFONO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LADA" type="double" nillable="true" minOccurs="0"/>
         <element name="TELEFONOVALIDADO" type="double" nillable="true" minOccurs="0"/>
         <element name="IDPERSCONTROL_BT" type="double" nillable="true" minOccurs="0"/>
         <element name="IDPOBLTELEFONO" type="double" nillable="true" minOccurs="0"/>
         <element name="TIPOTELEFONO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDTIPOCOFETEL" type="double" nillable="true" minOccurs="0"/>
         <element name="TELEFONOIDORIGEN" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="36"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDTELEFONO" type="double" nillable="true" minOccurs="0"/>
         <element name="FECHA_ACTUALIZACION_BT" type="string" nillable="true" minOccurs="0"/>
         <element name="FLAGSTD_TELEFONO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NOMBRECOMPANIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDTIPOEMAIL" type="double" nillable="true" minOccurs="0"/>
         <element name="EMAIL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="IDMEDIOCONTACTO_BE" type="double" nillable="true" minOccurs="0"/>
         <element name="IDPERSCONTROL_BE" type="double" nillable="true" minOccurs="0"/>
         <element name="FECHA_ACTUALIZACION_BE" type="string" nillable="true" minOccurs="0"/>
         <element name="FLAGSTD_EMAIL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <element name="NMP_ACTUALIZA_CLIENTES_TYPE" type="GATEWAYS:NMP_ACTUALIZA_CLIENTES_TYPE" />
</schema>