SOL4IT - DEV/SOA_Desarrollo/BPM_Desarrollo_Qualitas/BpmPagosAdministrativos/SOA/WSDLs/OrdenesPagoService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="OrdenesPagoService" targetNamespace="http://oracle.com/sca/soapservice/GestionOrdenPagoApp/OrdenesPagoPrj/OrdenesPagoService" xmlns:tns="http://oracle.com/sca/soapservice/GestionOrdenPagoApp/OrdenesPagoPrj/OrdenesPagoService" xmlns:inp1="http://qualitas.com.mx/Comunes/OrdenesPago/v1/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:documentation>
      <abstractWSDL>http://11.50.0.22:7007/soa-infra/services/GPADomain/OrdenesPagoPrj!1.0/WSDLs/OrdenesPagoService.wsdl</abstractWSDL>
   </wsdl:documentation>
   <plnk:partnerLinkType name="OrdenesPagoService">
      <plnk:role name="OrdenesPagoBPELPortType" portType="tns:OrdenesPagoBPELPortType"/>
   </plnk:partnerLinkType>
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://qualitas.com.mx/Comunes/OrdenesPago/v1/" schemaLocation="../Schemas/OrdenesPago.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="consultarOrdenPagoBPELRequestMessage">
      <wsdl:part name="consultarOrdenPagoReq" element="inp1:consultarOrdenPagoRequest"/>
   </wsdl:message>
   <wsdl:message name="consultarOrdenPagoBPELResponseMessage">
      <wsdl:part name="consultarOrdenPagoRes" element="inp1:consultarOrdenPagoResponse"/>
   </wsdl:message>
   <wsdl:message name="generarOrdenPagoBPELRequestMessage">
      <wsdl:part name="generarOrdenPagoReq" element="inp1:generarOrdenPagoRequest"/>
   </wsdl:message>
   <wsdl:message name="generarOrdenPagoBPELResponseMessage">
      <wsdl:part name="generarOrdenPagoRes" element="inp1:generarOrdenPagoResponse"/>
   </wsdl:message>
   <wsdl:portType name="OrdenesPagoBPELPortType">
      <wsdl:operation name="consultarOrdenPago">
         <wsdl:input message="tns:consultarOrdenPagoBPELRequestMessage"/>
         <wsdl:output message="tns:consultarOrdenPagoBPELResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="generarOrdenPago">
         <wsdl:input message="tns:generarOrdenPagoBPELRequestMessage"/>
         <wsdl:output message="tns:generarOrdenPagoBPELResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OrdenesPagoBPELBinding" type="tns:OrdenesPagoBPELPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="consultarOrdenPago">
         <soap:operation style="document" soapAction="consultarOrdenPago"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="generarOrdenPago">
         <soap:operation style="document" soapAction="generarOrdenPago"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OrdenesPagpService">
      <wsdl:port name="OrdenesPagoBPELPort" binding="tns:OrdenesPagoBPELBinding">
         <soap:address location="http://11.50.0.22:7007/soa-infra/services/GPADomain/OrdenesPagoPrj/OrdenesPagoService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
