SOL4IT - DEV/SOA_Desarrollo/BPM_Desarrollo_Qualitas/BpmPagosAdministrativos/SOA/WSDLs/ReglasPagosAdministrativos.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ReglasPagosAdministrativos" targetNamespace="http://xmlns.oracle.com/BPM-QUALITAS-PAGOS_ADMINISTRATIVOS/ReglasPagosAdministrativos/ReglasPagosAdministrativos" xmlns:tns="http://xmlns.oracle.com/BPM-QUALITAS-PAGOS_ADMINISTRATIVOS/ReglasPagosAdministrativos/ReglasPagosAdministrativos" xmlns:inp1="http://www.qualitas.com.mx/ReglasPagosAdministrativos/asignarUsuario" xmlns:inp2="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarNacionalidadPrestador" xmlns:inp3="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarArchivoProrrateo" xmlns:inp4="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarImportesFactura" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/asignarUsuario" schemaLocation="../Schemas/asignarUsuario.xsd"/>
         <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarNacionalidadPrestador" schemaLocation="../Schemas/validarNacionalidadPrestador.xsd"/>
         <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarArchivoProrrateo" schemaLocation="../Schemas/validarArchivoProrrateo.xsd"/>
         <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarImportesFactura" schemaLocation="../Schemas/validarImportesFactura.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="asignarUsuarioRequest">
      <wsdl:part name="request" element="inp1:AsignarUsuarioRequest"/>
   </wsdl:message>
   <wsdl:message name="asignarUsuarioResponse">
      <wsdl:part name="reply" element="inp1:AsignarUsuarioResponse"/>
   </wsdl:message>
   <wsdl:message name="validarNacionalidadPrestadorRequest">
      <wsdl:part name="request" element="inp2:ValidarNacionalidadPrestadorRequest"/>
   </wsdl:message>
   <wsdl:message name="validarNacionalidadPrestadorResponse">
      <wsdl:part name="reply" element="inp2:ValidarNacionalidadPrestadorResponse"/>
   </wsdl:message>
   <wsdl:message name="validarArchivoProrrateoRequest">
      <wsdl:part name="request" element="inp3:ValidarArchivoProrrateoRequest"/>
   </wsdl:message>
   <wsdl:message name="validarArchivoProrrateoResponse">
      <wsdl:part name="reply" element="inp3:ValidarArchivoProrrateoResponse"/>
   </wsdl:message>
   <wsdl:message name="validarImportesFacturaRequest">
      <wsdl:part name="request" element="inp4:ValidarImportesFacturaRequest"/>
   </wsdl:message>
   <wsdl:message name="validarImportesFacturaResponse">
      <wsdl:part name="reply" element="inp4:ValidarImportesFacturaResponse"/>
   </wsdl:message>
   <wsdl:portType name="execute_ptt">
      <wsdl:operation name="asignarUsuario">
         <wsdl:input message="tns:asignarUsuarioRequest"/>
         <wsdl:output message="tns:asignarUsuarioResponse"/>
      </wsdl:operation>
      <wsdl:operation name="validarNacionalidadPrestador">
         <wsdl:input message="tns:validarNacionalidadPrestadorRequest"/>
         <wsdl:output message="tns:validarNacionalidadPrestadorResponse"/>
      </wsdl:operation>
      <wsdl:operation name="validarArchivoProrrateo">
         <wsdl:input message="tns:validarArchivoProrrateoRequest"/>
         <wsdl:output message="tns:validarArchivoProrrateoResponse"/>
      </wsdl:operation>
      <wsdl:operation name="validarImportesFactura">
         <wsdl:input message="tns:validarImportesFacturaRequest"/>
         <wsdl:output message="tns:validarImportesFacturaResponse"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
