SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Finanzas/Resources/WSDLs/SAPConsultaTasasWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_CONSULTA_TASA">
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_CONSULTA_TASA">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZlmfmRfcConsultaTasa">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal10.7">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="10"/>
          <xsd:fractionDigits value="7"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal13.5">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal10.5">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="10"/>
          <xsd:fractionDigits value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZlmstTasa">
        <xsd:sequence>
          <xsd:element name="Producto" type="tns:char3"/>
          <xsd:element name="Subprod" type="n0:char10"/>
          <xsd:element name="Frecuencia" type="n0:numeric2"/>
          <xsd:element name="Plazo" type="n0:numeric2"/>
          <xsd:element name="ScoreMinBc" type="xsd:int"/>
          <xsd:element name="ScoreMaxBc" type="xsd:int"/>
          <xsd:element name="ScoreMinPi" type="tns:decimal10.5"/>
          <xsd:element name="ScoreMaxPi" type="tns:decimal10.5"/>
          <xsd:element name="Tasa" type="n0:decimal10.7"/>
          <xsd:element name="TasaMin" type="n0:decimal10.7"/>
          <xsd:element name="TasaMax" type="n0:decimal10.7"/>
          <xsd:element name="Etiqueta" type="tns:char15"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmttTasas">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmstTasa" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZlmfmRfcConsultaTasa">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Bc" type="xsd:int" minOccurs="0"/>
            <xsd:element name="Frecuencia" type="n0:numeric2" minOccurs="0"/>
            <xsd:element name="Pi" type="n0:decimal13.5" minOccurs="0"/>
            <xsd:element name="Plazo" type="n0:numeric2" minOccurs="0"/>
            <xsd:element name="Producto" type="n0:char3" minOccurs="0"/>
            <xsd:element name="Subproducto" type="n0:char10" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmfmRfcConsultaTasaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Tasa" type="tns:ZlmttTasas"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmfmRfcConsultaTasa">
    <wsdl:part name="parameters" element="tns:ZlmfmRfcConsultaTasa"/>
  </wsdl:message>
  <wsdl:message name="ZlmfmRfcConsultaTasaResponse">
    <wsdl:part name="parameter" element="tns:ZlmfmRfcConsultaTasaResponse"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_CONSULTA_TASA">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_CONSULTA_TASA"/>
    </wsp:Policy>
    <wsdl:operation name="ZlmfmRfcConsultaTasa">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZlmfmRfcConsultaTasa"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZlmfmRfcConsultaTasa"/>
      <wsdl:output message="tns:ZlmfmRfcConsultaTasaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_CONSULTA_TASA" type="tns:ZLM_WS_CONSULTA_TASA">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_CONSULTA_TASA"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZlmfmRfcConsultaTasa">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_CONSULTA_TASAService">
    <wsdl:port name="ZLM_WS_CONSULTA_TASA" binding="tns:ZLM_WS_CONSULTA_TASA">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_consulta_tasa/330/zlm_ws_consulta_tasa/zlm_ws_consulta_tasa"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>