SOL4IT - DEV/OSB_NMP_Actual/Utileria/NotificacionesSMS/Resources/WSDL/NMPNotificacionesSMSSvcWSDL.wsdl

<wsdl:definitions name="Codigo" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPNotificacionesSMS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPNotificacionesSMS" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPNotificacionesSMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPNotificacionesSMS" schemaLocation="../Schemas/NMPNotificacionesSMSXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <!--Fin cambio 8/4/2016 -->
  <wsdl:message name="validarCodigoSMSRequestMessage">
    <wsdl:part name="validarCodigoSMSRequest" element="inp1:validarCodigoSMSRequest"/>
  </wsdl:message>
  <wsdl:message name="validarCodigoSMSresponseMessage">
    <wsdl:part name="validarCodigoSMSResponse" element="inp1:validarCodigoSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="notificaionesSMSFaultMessage">
    <wsdl:part name="notificaionesSMSFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="NotificaionesSMS_ptt">
    <wsdl:operation name="validarCodigo">
      <wsdl:input message="tns:validarCodigoSMSRequestMessage"/>
      <wsdl:output message="tns:validarCodigoSMSresponseMessage"/>
      <wsdl:fault message="tns:notificaionesSMSFaultMessage" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificaionesSMSBinding" type="tns:NotificaionesSMS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validarCodigo">
      <soap:operation style="document" soapAction="validarCodigo"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <wsdlsoap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!--Incio Cambio 8/4/2016 Se agrega nueva operación getClienteCampaniasById -->
    <!--Fin cambio 8/4/2016 -->
  </wsdl:binding>
  <wsdl:service name="NotificaionesSMS">
    <wsdl:port name="NotificaionesSMSPort" binding="tns:NotificaionesSMSBinding">
      <soap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>