SOL4IT - DEV/SOA_Desarrollo/BpmApplication/BpmProject/SOA/WSDLs/GestionPagoDeViaticos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoDeViaticos" xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/PagosAdministrativos/Comunes/BoGestionDeProceso"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoDeViaticos"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoDeViaticos">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosAdministrativos/Comunes/BoGestionDeProceso" schemaLocation="../businessCatalog/PagosAdministrativos/Comunes/BoGestionDeProceso.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:BoGestionDeProceso"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="GestionPagoDeViaticosPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GestionPagoDeViaticosPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="GestionPagoDeViaticosPortTypePartnerLinkType">
        <plnk:role name="GestionPagoDeViaticosPortTypeProvider">
            <plnk:portType name="tns:GestionPagoDeViaticosPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
