SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/MasterData/CentrosCostos/Resources/XMLSchema_-2132380513.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/CentroCostos/validarCentroCostos/v1/" xmlns:tns="http://qualitas.com.mx/Comun/CentroCostos/validarCentroCostos/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-695417366.xsd"/>
    <element name="ValidarCentroCostosRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:ValidarcentroCostos"/>
            </sequence>
        </complexType>
    </element>
    <element name="ValidarCentroCostosResponse">
        <complexType>
            <sequence>
                <element name="idTipoCC" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="centroCostos" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="claveOficina" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="descOficina" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="responsableArea" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="ValidarcentroCostos">
        <sequence>
            <element name="centroCostos" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="idTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>