SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionCatalogos/Sepomex/Resources/WSDLs/CRMSepomexWrapperWSDL.wsdl

<wsdl:definitions name="Portal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:NMPSM="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../Schemas/CRMServiciosPortalMsgSvc.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../Schemas/CRMCatalogosEntityDataContractXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      <xsd:import schemaLocation="../Schemas/CRMCatalogosEntityXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
      <xsd:import schemaLocation="../Schemas/CRMCatalogosEntityModelosXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortal_ConsultaEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstados"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstadosResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaDelegacionMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDelegacionMunicipios"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaDelegacionMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDelegacionMunicipiosResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaCodigosPostales_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCodigosPostales"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaCodigosPostales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCodigosPostalesResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaColonias"/>
  </wsdl:message>
  <wsdl:message name="IPortal_ConsultaColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaColoniasResponse"/>
  </wsdl:message>
  <wsdl:portType name="IPortal">
    <wsdl:operation name="ConsultaEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortal/ConsultaEstados" message="tns:IPortal_ConsultaEstados_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortal/ConsultaEstadosResponse" message="tns:IPortal_ConsultaEstados_OutputMessage"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDelegacionMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortal/ConsultaDelegacionMunicipios" message="tns:IPortal_ConsultaDelegacionMunicipios_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortal/ConsultaDelegacionMunicipiosResponse" message="tns:IPortal_ConsultaDelegacionMunicipios_OutputMessage"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCodigosPostales">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortal/ConsultaCodigosPostales" message="tns:IPortal_ConsultaCodigosPostales_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortal/ConsultaCodigosPostalesResponse" message="tns:IPortal_ConsultaCodigosPostales_OutputMessage"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortal/ConsultaColonias" message="tns:IPortal_ConsultaColonias_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortal/ConsultaColoniasResponse" message="tns:IPortal_ConsultaColonias_OutputMessage"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Portal">
    <wsdl:port name="BasicHttpBinding_IPortal" binding="tns:BasicHttpBinding_IPortal">
      <soap:address location="http://dcpimsdcrmint01.nmp.com.mx/ServiciosCrm/Nmp.Crm.Servicios.Portal.svc"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="NMPSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:binding name="BasicHttpBinding_IPortal" type="tns:IPortal">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaEstados">
      <soap:operation style="document" soapAction="http://tempuri.org//ConsultaEstados"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDelegacionMunicipios">
      <soap:operation style="document" soapAction="http://tempuri.org//ConsultaDelegacionMunicipios"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCodigosPostales">
      <soap:operation style="document" soapAction="http://tempuri.org//ConsultaCodigosPostales"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultaColonias">
      <soap:operation style="document" soapAction="http://tempuri.org//ConsultaColonias"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" use="literal" part="header"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>