SOL4IT - DEV/OSB_Desarrollo_NMP/Utileria/OperacionSucursal/Resources/WADLs/NMPOperacionSucursalRestPXY.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:os="http://servicios.montedepiedad.com.mx/NMP/Schema/OperacionSucursal" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="NMPOperacionSucursalRestPXY">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/OperacionSucursal" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/OperacionSucursal" schemaLocation="../Schemas/NMPOperacionSucursalXSD.xsd"/>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/OperacionSucursal" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/OperacionSucursal" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </schema>
   </grammars>
   <resources>
      <resource path="/obtenerDiasInhabiles">
         <method name="GET" soa:wsdlOperation="obtenerDiasInhabiles">
            <request soa:paramElement="pns:obtenerDiasInhabilesRequest" xmlns:pns="http://servicios.montedepiedad.com.mx/NMP/Schema/OperacionSucursal">
               <param name="idSucursal" style="query" soa:expression="$msg.req/os:sucursal/os:idSucursal" type="xsd:int"/>
               <param name="fechaInicial" style="query" soa:expression="$msg.req/os:criterios/os:rangoFecha/os:fechaInicial" type="xsd:date"/>
               <param name="fechaFinal" style="query" soa:expression="$msg.req/os:criterios/os:rangoFecha/os:fechaFinal" type="xsd:date"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerDiasInhabilesResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/OperacionSucursal"/>
            </response>
            <response status="500" soa:wsdlFaultName="operacionSucursalFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>