SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/Finance/AP/GPA/Entity/Resources/Prorrateo/XMLSchema_213729416.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comunes/Prorrateo/gestionArchivoProrrateo/v1/" xmlns:tns="http://qualitas.com.mx/Comunes/Prorrateo/gestionArchivoProrrateo/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-1840764529.xsd"/>
    <element name="guardarArchivoRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:guardarArchivoProrrateo"/>
            </sequence>
        </complexType>
    </element>
    <element name="guardarArchivoResponse">
        <complexType>
            <sequence>
                <element name="resultDataResponse" type="tns:guardarArchivoResp" minOccurs="0" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <element name="obtenerArchivoRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:ArchivoProrrateo"/>
            </sequence>
        </complexType>
    </element>
    <element name="obtenerArchivoResponse">
        <complexType>
            <sequence>
                <element name="resultDataResponse" type="tns:ArchivoProrrateoResponse" minOccurs="0" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <element name="eliminarArchivoRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:ArchivoProrrateo"/>
            </sequence>
        </complexType>
    </element>
    <element name="eliminarArchivoResponse">
        <complexType>
            <sequence>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="guardarArchivoProrrateo">
        <sequence>
            <element name="id_solicitud" type="string"/>
            <element name="nombreArchivo" type="string"/>
            <element name="archivoProrrateo" type="base64Binary"/>
        </sequence>
    </complexType>
    <complexType name="guardarArchivoResp">
        <sequence>
            <element name="fechaRecepcion" type="dateTime"/>
            <element name="folioAfore" type="string"/>
            <element name="fechaCreacion" type="dateTime"/>
            <element name="nombreArchivo" type="string"/>
        </sequence>
    </complexType>
    <complexType name="ArchivoProrrateo">
        <sequence>
            <element name="id_solicitud" type="string"/>
        </sequence>
    </complexType>
    <complexType name="ArchivoProrrateoResponse">
        <sequence>
            <element name="nombreArchivo" type="string"/>
            <element name="archivoProrrateo" type="base64Binary"/>
        </sequence>
    </complexType>
</schema>