SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/Schemas/CRMClienteCreditoSvcModeloTipoXSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos">
  <xs:import schemaLocation="CRMClienteCreditoSvcRespuestaTipoXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta"/>
 	<xs:complexType name="ClientConin">
		<xs:sequence>
			<xs:element minOccurs="0" name="Beneficiarios" nillable="true" type="tns:ArrayOfBeneficiario"/>
			<xs:element minOccurs="0" name="DatosCalifiacionPrendaria" nillable="true" type="tns:CalificacionPrendaria"/>
			<xs:element minOccurs="0" name="DatosCalificacionCredito" nillable="true" type="tns:CalificacionCredito"/>
			<xs:element minOccurs="0" name="DatosContacto" nillable="true" type="tns:DatosContacto"/>
			<xs:element minOccurs="0" name="DatosCuenta" nillable="true" type="tns:DatosCuenta"/>
			<xs:element minOccurs="0" name="DatosPersonales" nillable="true" type="tns:DatosPersonales"/>
			<xs:element minOccurs="0" name="Otros" nillable="true" type="tns:Otros"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClientConin" nillable="true" type="tns:ClientConin"/>
	<xs:complexType name="ArrayOfBeneficiario">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Beneficiario" nillable="true" type="tns:Beneficiario"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfBeneficiario" nillable="true" type="tns:ArrayOfBeneficiario"/>
	<xs:complexType name="Beneficiario">
		<xs:sequence>
			<xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Beneficiario" nillable="true" type="tns:Beneficiario"/>
	<xs:complexType name="ArrayOfTelefono">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Telefono" nillable="true" type="tns:Telefono"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTelefono" nillable="true" type="tns:ArrayOfTelefono"/>
	<xs:complexType name="Telefono">
		<xs:sequence>
			<xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FuenteDato" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Lada" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Telefono" nillable="true" type="tns:Telefono"/>
	<xs:complexType name="CalificacionPrendaria">
		<xs:sequence>
			<xs:element minOccurs="0" name="CalificacionAjustada" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="CalificacionMidas" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="CalificacionReal" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="CalificacionSIVA2" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="CapacidadPago" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="GradoConfianza" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="IndiceRecuperacion" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="PorcentajeDesempeño" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="ProbabilidadIncumplimiento" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="SobreAforo" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="SobreAforoAjustado" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="SobreAforoSIVA2" nillable="true" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CalificacionPrendaria" nillable="true" type="tns:CalificacionPrendaria"/>
	<xs:complexType name="CalificacionCredito">
		<xs:sequence>
			<xs:element minOccurs="0" name="CalificacionSIVA2" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="CapacidadPago" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="Pagos" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="PorcentajeDesempeno" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="PrestamoPromedio" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="PrestamoPromedioValuacion" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="Prestamos" nillable="true" type="xs:decimal"/>
			<xs:element minOccurs="0" name="ProbabilidadIncumplimiento" nillable="true" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CalificacionCredito" nillable="true" type="tns:CalificacionCredito"/>
	<xs:complexType name="DatosContacto">
		<xs:sequence>
			<xs:element minOccurs="0" name="Direcciones" nillable="true" type="tns:ArrayOfDireccion"/>
			<xs:element minOccurs="0" name="Email" nillable="true" type="tns:ArrayOfEmail"/>
			<xs:element minOccurs="0" name="EmailPrincipal" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DatosContacto" nillable="true" type="tns:DatosContacto"/>
	<xs:complexType name="ArrayOfDireccion">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion"/>
	<xs:complexType name="Direccion">
		<xs:sequence>
			<xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Delegacionmunicipio" nillable="true" type="tns:Direccion.DelegacionMunicipio">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DomicilioExtranjero" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EntreCalle1" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EntreCalle2" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FuenteDato" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="NumeroExterior" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="NumeroInterior" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TipoDomicilio" nillable="true" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="colonia" nillable="true" type="tns:Direccion.Colonia">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cp" nillable="true" type="tns:Direccion.CP">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="estado" nillable="true" type="tns:Direccion.Estado">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pais" nillable="true" type="tns:Direccion.Pais">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="vivienda" nillable="true" type="tns:Direccion.Vivienda">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion" nillable="true" type="tns:Direccion"/>
	<xs:complexType name="Direccion.DelegacionMunicipio">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ID" type="xs:int"/>
			<xs:element minOccurs="0" name="Otro" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion.DelegacionMunicipio" nillable="true" type="tns:Direccion.DelegacionMunicipio"/>
	<xs:complexType name="Direccion.Colonia">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="Otro" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion.Colonia" nillable="true" type="tns:Direccion.Colonia"/>
	<xs:complexType name="Direccion.CP">
		<xs:sequence>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Otro" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion.CP" nillable="true" type="tns:Direccion.CP"/>
	<xs:complexType name="Direccion.Estado">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="Otro" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion.Estado" nillable="true" type="tns:Direccion.Estado"/>
	<xs:complexType name="Direccion.Pais">
		<xs:sequence>
			<xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion.Pais" nillable="true" type="tns:Direccion.Pais"/>
	<xs:complexType name="Direccion.Vivienda">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Direccion.Vivienda" nillable="true" type="tns:Direccion.Vivienda"/>
	<xs:complexType name="ArrayOfEmail">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfEmail" nillable="true" type="tns:ArrayOfEmail"/>
	<xs:complexType name="Email">
		<xs:complexContent mixed="false">
			<xs:extension base="q1:Validador" xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta">
				<xs:sequence>
					<xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FuenteDato" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Email" nillable="true" type="tns:Email"/>
	<xs:complexType name="DatosCuenta">
		<xs:sequence>
			<xs:element minOccurs="0" name="Boletinado" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="CredencialNMP" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="DeseaserContactado" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="FuenteDato" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="IdCliente" type="xs:int"/>
			<xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DatosCuenta" nillable="true" type="tns:DatosCuenta"/>
	<xs:complexType name="DatosPersonales">
		<xs:sequence>
			<xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Escolaridad" nillable="true" type="tns:Escolaridad"/>
			<xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="tns:EstadoCivil"/>
			<xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Genero" nillable="true" type="tns:Genero"/>
			<xs:element minOccurs="0" name="Giro" nillable="true" type="tns:Giro"/>
			<xs:element minOccurs="0" name="Identificacion" nillable="true" type="tns:Identificacion"/>
			<xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="tns:Nacionalidad"/>
			<xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="NumeroDependientes" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="PaisResidencia" nillable="true" type="tns:PaisResidencia"/>
			<xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="RepresentanteLegal" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="Tipo" nillable="true" type="tns:Tipo"/>
			<xs:element minOccurs="0" name="Trabaja" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DatosPersonales" nillable="true" type="tns:DatosPersonales"/>
	<xs:complexType name="Escolaridad">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Escolaridad" nillable="true" type="tns:Escolaridad"/>
	<xs:complexType name="EstadoCivil">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EstadoCivil" nillable="true" type="tns:EstadoCivil"/>
	<xs:complexType name="Genero">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Genero" nillable="true" type="tns:Genero"/>
	<xs:complexType name="Giro">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Giro" nillable="true" type="tns:Giro"/>
	<xs:complexType name="Identificacion">
		<xs:sequence>
			<xs:element minOccurs="0" name="Expiracion" nillable="true" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Identificacion" nillable="true" type="tns:Identificacion"/>
	<xs:complexType name="Nacionalidad">
		<xs:sequence>
			<xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Nacionalidad" nillable="true" type="tns:Nacionalidad"/>
	<xs:complexType name="PaisResidencia">
		<xs:sequence>
			<xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PaisResidencia" nillable="true" type="tns:PaisResidencia"/>
	<xs:complexType name="Tipo">
		<xs:sequence>
			<xs:element minOccurs="0" name="ClaveSap" nillable="true" type="xs:int"/>
			<xs:element minOccurs="0" name="ID" nillable="true" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Tipo" nillable="true" type="tns:Tipo"/>
	<xs:complexType name="Otros">
		<xs:sequence>
			<xs:element minOccurs="0" name="URLVision360" nillable="true" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Otros" nillable="true" type="tns:Otros"/>
</xs:schema>