SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/Schemas/CRMClienteCreditoSvcRespuestaTipoXSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta">
  <xs:import schemaLocation="CRMClienteCreditoSvcModeloTipoXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
  <xs:complexType name="RespuestaClientConin">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClientConin" Namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q1:ClientConin" xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaClientConin" nillable="true" type="tns:RespuestaClientConin"/>
  <xs:complexType name="Validador">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Validador" nillable="true" type="tns:Validador"/>
</xs:schema>