SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/Schemas/NMPClientesSvcElementosXSD.xsd

<xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NMPConsultaC="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:NMPCampania="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Campania">
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Campania" schemaLocation="../../../../Common/XSD/NMPCampania_TIPOS.xsd"/>
  <xsd:element name="getClientesByIDRequest" type="NMPConsultaC:getClientesByIDRequestType"/>
  <xsd:element name="getClientesByIDResponse" type="NMPConsultaC:getClientesResponseType"/>
  <xsd:element name="getClientesByNumCredencialRequest" type="NMPConsultaC:getClientesByNumCredencialRequestType"/>
  <xsd:element name="getClientesByNumCredencialResponse" type="NMPConsultaC:getClientesResponseType"/>
  <xsd:element name="getHuellaClienteRequest" type="NMPConsultaC:getHuellaClienteRequestType"/>
  <xsd:element name="getHuellaClienteResponse" type="NMPConsultaC:getHuellaClienteResponseType"/>
  <xsd:element name="updateClienteRequest" type="NMPConsultaC:updateClienteRequestType"/>
  <xsd:element name="updateClienteResponse" type="NMPConsultaC:StandardResponseType"/>
  <xsd:element name="validarClienteRequest" type="NMPConsultaC:validarClienteRequestType"/>
  <xsd:element name="validarClienteResponse" type="NMPConsultaC:StandardResponseType"/>
  <xsd:element name="consultarEstadoRegistroRequest" type="NMPConsultaC:ConsultaEstadoType"/>
  <xsd:element name="consultarEstadoRegistroResponse" type="NMPConsultaC:DetalleRespuestaType"/>
  <xsd:element name="obtenerClientePorUsuarioRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="usuarioMonte" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerClientePorUsuarioResponse" type="NMPConsultaC:getClientesResponseType"/>
  <xsd:complexType name="getClientesByIDRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long"/>
      <xsd:element name="idSucursal" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getClientesResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idCliente" type="xsd:long"/>
            <xsd:element name="genero" type="xsd:string"/>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="apellidoPaterno" type="xsd:string"/>
            <xsd:element name="apellidoMaterno" type="xsd:string"/>
            <xsd:element name="fechaDeNacimiento" type="xsd:dateTime"/>
            <xsd:element name="fechaIngreso" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="ocupacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="trabaja" type="xsd:string"/>
            <xsd:element name="URLVision360" type="xsd:string" minOccurs="0"/>
            <xsd:element name="banderaDeBoletinacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="numeroDeCredencial" type="xsd:string"/>
            <xsd:element name="Cotitular">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string"/>
                  <xsd:element name="apellidoPaterno" type="xsd:string"/>
                  <xsd:element name="apellidoMaterno" type="xsd:string"/>
                  <xsd:element name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Beneficiarios" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Beneficiario" maxOccurs="unbounded" minOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellidoPaterno" type="xsd:string"/>
                        <xsd:element name="apellidoMaterno" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="email" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CorreosElectronicos" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CorreoElectronico" maxOccurs="unbounded" minOccurs="1">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="tipoEmail" type="xsd:string"/>
                        <xsd:element name="fuenteDato" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="origenDato" type="xsd:string" minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="porcentajeAforo" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="sobreAforo" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="calificacionAjustada" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="calificacionSIVA2" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="sobreaforoAjustado" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="sobreaforoSIVA2" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="calificacionReal" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="calificacionMidas" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="capacidadDePago" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="probabilidadIncumplimiento" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="indiceRecuperacion" type="xsd:decimal" nillable="false" minOccurs="0"/>
            <xsd:element name="gradoDeConfianza" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="estatusAlmacenamientoImagen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreDeLaImagen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="numeroIdentificacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="existCamp" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="escolaridad" type="xsd:string" minOccurs="0"/>
            <xsd:element name="deseaSerContactado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="alertaMIDAS" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="Contacto" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" minOccurs="0"/>
                  <xsd:element name="ListaDirecciones" type="NMPConsultaC:DireccionListType" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="tipoCliente" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="listaAlertas" type="NMPConsultaC:listaAlertasType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaAlertasType">
    <xsd:sequence>
      <xsd:element name="alerta" type="NMPConsultaC:alertaType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="alertaType">
    <xsd:sequence>
      <xsd:element name="nombreAlerta" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getClientesByNumCredencialRequestType">
    <xsd:sequence>
      <xsd:element name="numCredencial" type="xsd:string"/>
      <xsd:element name="idSucursal" type="xsd:int" minOccurs="0"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listClientesRequestType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="apellidoPaterno" type="xsd:string"/>
      <xsd:element name="apellidoMaterno" type="xsd:string"/>
      <xsd:element name="fechaNacimiento" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countClientesRequestType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="apellidoPaterno" type="xsd:string"/>
      <xsd:element name="apellidoMaterno" type="xsd:string"/>
      <xsd:element name="fechaNacimiento" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="countClientesResponseType">
    <xsd:sequence>
      <xsd:element name="noRegistros" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHuellaClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long"/>
      <xsd:element name="idSucursal" type="xsd:int" minOccurs="0"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getHuellaClienteResponseType">
    <xsd:sequence>
      <xsd:element name="huellaCliente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" minOccurs="0" nillable="true"/>
      <xsd:element name="aplicacionMovil" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="genero" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="apellidoPaterno" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="apellidoMaterno" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fechaDeNacimiento" type="xsd:dateTime" minOccurs="0" nillable="true"/>
      <xsd:element name="ocupacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="trabaja" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="banderaDeBoletinacion" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="numeroDeCredencial" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="Cotitular" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string" nillable="true"/>
            <xsd:element name="apellidoPaterno" type="xsd:string" nillable="true"/>
            <xsd:element name="apellidoMaterno" type="xsd:string" nillable="true"/>
            <xsd:element name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Beneficiarios" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Beneficiario" maxOccurs="unbounded" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nombre" type="xsd:string" nillable="true"/>
                  <xsd:element name="apellidoPaterno" type="xsd:string" nillable="true"/>
                  <xsd:element name="apellidoMaterno" type="xsd:string" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CorreosElectronicos" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CorreoElectronico" maxOccurs="unbounded" nillable="true" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="email" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="tipoEmail" type="xsd:string" minOccurs="0" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="estatusAlmacenamientoImagen" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="nombreDeLaImagen" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="numeroIdentificacion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="existCamp" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="escolaridad" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="deseaSerContactado" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="Contacto" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ListaTelefonos" type="NMPConsultaC:TelefonoListType" minOccurs="0" nillable="true"/>
            <xsd:element name="ListaDirecciones" type="NMPConsultaC:DireccionListType" minOccurs="0" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DatosUsuario" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="estatus" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tipoFlujo" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validarClienteRequestType">
    <xsd:sequence>
      <xsd:element name="numCredencial" type="xsd:string"/>
      <xsd:element name="email" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StandardResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoType">
    <xsd:sequence>
      <xsd:element name="codigoPais" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoArea" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroTelefonico" type="xsd:string" minOccurs="0"/>
      <xsd:element name="extension" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoTelefono" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelefonoListType">
    <xsd:sequence>
      <xsd:element name="Telefono" type="NMPConsultaC:TelefonoType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionType">
    <xsd:sequence>
      <xsd:element name="nombreDelaCalle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroExterior" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroInterior" type="xsd:string" minOccurs="0"/>
      <xsd:element name="entreCalle1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="entreCalle2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idEstado" type="xsd:int" minOccurs="0"/>
      <xsd:element name="delegacionMunicipio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idDelegacionMunicipio" minOccurs="0" type="xsd:int"/>
      <xsd:element name="colonia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idColonia" minOccurs="0" type="xsd:int"/>
      <xsd:element name="codigoPostal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idCodigoPostal" minOccurs="0" type="xsd:int"/>
      <xsd:element name="tipoDomicilio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadPoblacion" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccionListType">
    <xsd:sequence>
      <xsd:element name="Direccion" type="NMPConsultaC:DireccionType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Inicio Cambio 8/14/2016 Se agrega nuevo mensaje getClienteCampaniasById -->
  <xsd:element name="getClienteCampaniasByIdRequest" type="NMPConsultaC:getClienteCampaniaRequestType"/>
  <xsd:element name="getClienteCampaniasByIdResponse" type="NMPConsultaC:getClienteCampaniasResponseType"/>
  <xsd:complexType name="getClienteCampaniaRequestType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaC:identificadorClienteType">
        <xsd:sequence>
          <xsd:element name="idSucursal" type="xsd:int" minOccurs="0" nillable="true"/>
          <xsd:element name="usuario" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="identificadorClienteType">
    <xsd:choice minOccurs="1">
      <xsd:element name="idCliente" type="xsd:long" minOccurs="1"/>
      <xsd:element name="numCredencial" type="xsd:string" minOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="getClienteCampaniasResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPConsultaC:getClientesResponseType">
        <xsd:sequence>
          <xsd:element name="listaCampanias" minOccurs="0" type="NMPCampania:CampaniaListType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultaEstadoType">
    <xsd:choice>
      <xsd:element ref="NMPConsultaC:idCliente"/>
      <xsd:element ref="NMPConsultaC:numCredencial"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DetalleRespuestaType">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string"/>
      <xsd:element name="mensaje" type="xsd:string"/>
      <xsd:element name="cliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="NMPConsultaC:idCliente"/>
            <xsd:element ref="NMPConsultaC:numCredencial"/>
            <xsd:element name="estadosFlujo">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="estadoFlujo" type="NMPConsultaC:EstatusType" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstatusType">
    <xsd:sequence>
      <xsd:element name="idFlujo" type="xsd:int"/>
      <xsd:element name="idEstado" type="xsd:int"/>
      <xsd:element name="fechaEstado" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="idCliente" type="xsd:long"/>
  <xsd:element name="numCredencial" type="xsd:string"/>
  <!--Fin Cambio 8/14/2016-->
</xsd:schema>