SOL4IT - DEV/OSB_NMP_Actual/OperacionCreditos/Cotizador/Resources/WADLs/NMPCotizadorRestPXY.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="NMPCotizadorRestPXY">Cotizador de bienes</doc>
    <grammars>
        <xsd:schema xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Servicios/Cotizador" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:smcmnsn="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" schemaLocation="../Schemas/NMPCotizadorSvcXSD.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Servicios/Cotizador" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:smcmnsn="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Servicios/Cotizador" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:smcmnsn="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </xsd:schema>
    </grammars>
    <resources>
        <resource path="/Vehiculo">
            <method name="GET" soa:wsdlOperation="cotizarVehiculo">
                <doc title="GET cotizarVehiculo">Cotizador para vehículos</doc>
                <request soa:paramElement="pns:cotizarVehiculoRequest" xmlns:pns="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador">
                    <param name="calificacionMidas" style="query" soa:expression="$msg.request/inp1:cliente/inp1:calificacion/inp1:calificacionMidas" type="xsd:decimal"/>
                    <param name="sobreAforo" style="query" soa:expression="$msg.request/inp1:cliente/inp1:calificacion/inp1:sobreAforo" type="xsd:decimal"/>
                    <param name="tipoVehiculo" style="query" soa:expression="$msg.request/inp1:datosCotizar/inp1:tipoVehiculo" type="xsd:int"/>
                    <param name="plazo" style="query" soa:expression="$msg.request/inp1:datosCotizar/inp1:plazo" type="xsd:int"/>
                    <param name="montoAvaluo" style="query" soa:expression="$msg.request/inp1:datosCotizar/inp1:montoAvaluo" type="xsd:decimal"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json" element="cns:cotizarVehiculoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador"/>
                </response>
                <response status="500" soa:wsdlFaultName="cotizadorFault">
                    <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
                </response>
            </method>
        </resource>
    </resources>
</application>