SOL4IT - DEV/OSB_NMP_Actual/GestionCatalogos/Sepomex/Resources/Schemas/CRMCatalogosEntityDataContractXSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract">
  <xs:import schemaLocation="CRMCatalogosEntityXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
  <xs:import schemaLocation="CRMCatalogosEntityModelosXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
  
  <xs:complexType name="RespuestaArrayOfEstados">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEstados" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q1:ArrayOfEstados" xmlns:q1="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfEstados" nillable="true" type="tns:RespuestaArrayOfEstados"/>
  <xs:complexType name="RespuestaArrayOfDelegacionMunicipio">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDelegacionMunicipio" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q2:ArrayOfDelegacionMunicipio" xmlns:q2="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfDelegacionMunicipio" nillable="true" type="tns:RespuestaArrayOfDelegacionMunicipio"/>
  <xs:complexType name="RespuestaArrayOfCodigoPostal">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCodigoPostal" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q3:ArrayOfCodigoPostal" xmlns:q3="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfCodigoPostal" nillable="true" type="tns:RespuestaArrayOfCodigoPostal"/>
  <xs:complexType name="RespuestaArrayOfColonia">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfColonia" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q4:ArrayOfColonia" xmlns:q4="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfColonia" nillable="true" type="tns:RespuestaArrayOfColonia"/>
  <xs:complexType name="RespuestaArrayOfCampaign">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCampaign" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q5:ArrayOfCampaign" xmlns:q5="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfCampaign" nillable="true" type="tns:RespuestaArrayOfCampaign"/>
  <xs:complexType name="RespuestaArrayOfCanalNMP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCanalNMP" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q6:ArrayOfCanalNMP" xmlns:q6="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfCanalNMP" nillable="true" type="tns:RespuestaArrayOfCanalNMP"/>
  <xs:complexType name="RespuestaArrayOfOfrecimiento">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOfrecimiento" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q7:ArrayOfOfrecimiento" xmlns:q7="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfOfrecimiento" nillable="true" type="tns:RespuestaArrayOfOfrecimiento"/>
</xs:schema>