SOL4IT - DEV/OSB_NMP_Actual/GestionCatalogos/Sepomex/Resources/Schemas/CRMServiciosPortalMsgSvc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="CRMCatalogosEntityDataContractXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      <xs:element name="ConsultaEstados">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaEstadosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaEstadosResult" nillable="true" type="q1:RespuestaArrayOfEstados" xmlns:q1="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaDelegacionMunicipios">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IdEstado" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaDelegacionMunicipiosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaDelegacionMunicipiosResult" nillable="true" type="q2:RespuestaArrayOfDelegacionMunicipio" xmlns:q2="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCodigosPostales">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IdDelegacionMunicipio" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCodigosPostalesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaCodigosPostalesResult" nillable="true" type="q3:RespuestaArrayOfCodigoPostal" xmlns:q3="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaColonias">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IdCodigoPostal" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaColoniasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaColoniasResult" nillable="true" type="q4:RespuestaArrayOfColonia" xmlns:q4="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCampaign">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TipoOperacion" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCampaignResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaCampaignResult" nillable="true" type="q5:RespuestaArrayOfCampaign" xmlns:q5="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCanales">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCanalesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaCanalesResult" nillable="true" type="q6:RespuestaArrayOfCanalNMP" xmlns:q6="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaListaCampañasCliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CredencialNMP" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaListaCampañasClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaListaCampañasClienteResult" nillable="true" type="q7:RespuestaArrayOfOfrecimiento" xmlns:q7="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>