SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/GestionRoles/Resources/WSDL/IdentidadesServiceWSDL.wsdl

<definitions name="IdentityService" targetNamespace="http://xmlns.oracle.com/bpel/services/IdentityService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/bpel/services/IdentityService" xmlns:isxsd="http://xmlns.oracle.com/bpel/services/IdentityService" xmlns:iscrem="http://www.oracle.com/pcbpel/identityservice/isconfig" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:isc="http://xmlns.oracle.com/bpel/services/IdentityService/schema">
  <documentation>Service used to model  Identity Service for BPEL process</documentation>
  <plnk:partnerLinkType name="IdentityService">
    <plnk:role name="IdentityService">
      <plnk:portType name="tns:IdentityServicePortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpel/services/IdentityService/schema" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel/services/IdentityService" schemaLocation="../Schemas/IdentidadesXSD.xsd"/>
      <import namespace="http://www.oracle.com/pcbpel/identityservice/isconfig" schemaLocation="../Schemas/IdentidadesConfigXSD.xsd"/>
      <element name="configuration" type="iscrem:ConfigurationType"/>
      <element name="configurations" type="iscrem:ConfigurationListType"/>
    </schema>
  </types>
  <message name="UserAttributeRequestMessage">
    <documentation>User's Attribute Request.</documentation>
    <part name="payload" element="tns:userAttributeRequest"/>
  </message>
  <message name="AttributeResponseMessage">
    <documentation>Attribute Query Response.</documentation>
    <part name="payload" element="tns:attribute"/>
  </message>
  <message name="IdentityServiceErrorMessage">
    <documentation>Identity Service Error Message.</documentation>
    <part name="faultInfo" element="tns:identityServiceError"/>
  </message>
  <message name="IdentityNotFoundErrorMessage">
    <documentation>Identity Not Found Error Message.</documentation>
    <part name="faultInfo" element="tns:identityNotFoundError"/>
  </message>
  <message name="GroupAttributeRequestMessage">
    <documentation>Group's Attribute Request.</documentation>
    <part name="payload" element="tns:groupAttributeRequest"/>
  </message>
  <message name="LookupUserRequestMessage">
    <documentation>User Request.</documentation>
    <part name="payload" element="tns:lookupUserRequest"/>
  </message>
  <message name="UserObjectResponseMessage">
    <documentation>User Object Response.</documentation>
    <part name="payload" element="tns:userObject"/>
  </message>
  <message name="GetLocaleSpecificUserNamesRequestMessage">
    <documentation>Users Locale Names Request</documentation>
    <part name="payload" element="tns:localeSpecificUserNamesRequest"/>
  </message>
  <message name="GetLocaleSpecificUserNamesResponseMessage">
    <documentation>User Locale Names Response.</documentation>
    <part name="payload" element="tns:localeSpecificUserNames"/>
  </message>
  <message name="GetLocaleSpecificGroupNamesRequestMessage">
    <documentation>Groups Locale Names Request</documentation>
    <part name="payload" element="tns:localeSpecificGroupNamesRequest"/>
  </message>
  <message name="GetLocaleSpecificGroupNamesResponseMessage">
    <documentation>Grpus Locale Names Response.</documentation>
    <part name="payload" element="tns:localeSpecificGroupNames"/>
  </message>
  <message name="LookupGroupRequestMessage">
    <documentation>Group Request.</documentation>
    <part name="payload" element="tns:lookupGroupRequest"/>
  </message>
  <message name="GroupObjectResponseMessage">
    <documentation>Group Object Response.</documentation>
    <part name="payload" element="tns:groupObject"/>
  </message>
  <message name="LookupRoleRequestMessage">
    <documentation>Role Request.</documentation>
    <part name="payload" element="tns:lookupRoleRequest"/>
  </message>
  <message name="RoleObjectResponseMessage">
    <documentation>Role Object Response.</documentation>
    <part name="payload" element="tns:roleObject"/>
  </message>
  <message name="LookupAppRoleRequestMessage">
    <documentation>AppRole Request.</documentation>
    <part name="payload" element="tns:lookupAppRoleRequest"/>
  </message>
  <message name="AppRoleObjectResponseMessage">
    <documentation>Role Object Response.</documentation>
    <part name="payload" element="tns:appRoleObject"/>
  </message>
  <message name="ManagerRequestMessage">
    <documentation>Manager Request.</documentation>
    <part name="payload" element="tns:managerRequest"/>
  </message>
  <message name="ManagerResponseMessage">
    <documentation>Management Chain Request.</documentation>
    <part name="payload" element="tns:manager"/>
  </message>
  <message name="ManagementChainRequestMessage">
    <documentation>Management Chain Request.</documentation>
    <part name="payload" element="tns:managementChainRequest"/>
  </message>
  <message name="UserObjectListResponseMessage">
    <documentation>List of principals Response.</documentation>
    <part name="payload" element="tns:userObjects"/>
  </message>
  <message name="ReporteesRequestMessage">
    <documentation>Reportees Request.</documentation>
    <part name="payload" element="tns:reporteesRequest"/>
  </message>
  <message name="ReporteesResponseMessage">
    <documentation>Role grantees Request.</documentation>
    <part name="payload" element="tns:reportees"/>
  </message>
  <message name="GranteesRequestMessage">
    <documentation>Grantees to Role Request. Deprecated since 11.1.1</documentation>
    <part name="payload" element="tns:granteesRequest"/>
  </message>
  <message name="GranteesResponseMessage">
    <documentation>Role grantees Request.</documentation>
    <part name="payload" element="tns:reportees"/>
  </message>
  <message name="GranteesToGroupRequestMessage">
    <documentation>Grantees to the Group Request.</documentation>
    <part name="payload" element="tns:granteesToGroupRequest"/>
  </message>
  <message name="GranteesToAppRoleRequestMessage">
    <documentation>Grantees to the AppRole Request.</documentation>
    <part name="payload" element="tns:granteesToAppRoleRequest"/>
  </message>
  <message name="ParticipantsRequestMessage">
    <documentation>Participants(user grantees) to the Group Request. Deprecated since 11.1.1</documentation>
    <part name="payload" element="tns:participantsRequest"/>
  </message>
  <message name="ParticipantsResponseMessage">
    <documentation>Role grantees Request.</documentation>
    <part name="payload" element="tns:participants"/>
  </message>
  <message name="ParticipantsToGroupRequestMessage">
    <documentation>Participants(user grantees) to the Group Request.</documentation>
    <part name="payload" element="tns:participantsToGroupRequest"/>
  </message>
  <message name="ParticipantsToAppRoleRequestMessage">
    <documentation>Participants(user grantees) to the AppRole Request.</documentation>
    <part name="payload" element="tns:participantsToAppRoleRequest"/>
  </message>
  <message name="RoleOwnersRequestMessage">
    <documentation>Role owners Request.</documentation>
    <part name="payload" element="tns:roleOwnersRequest"/>
  </message>
  <message name="RoleOwnersResponseMessage">
    <documentation>Role owners Response.</documentation>
    <part name="payload" element="tns:owners"/>
  </message>
  <message name="RoleManagersRequestMessage">
    <documentation>Role Managers Request.</documentation>
    <part name="payload" element="tns:roleManagersRequest"/>
  </message>
  <message name="RoleManagersResponseMessage">
    <documentation>Role Managers Response.</documentation>
    <part name="payload" element="tns:managers"/>
  </message>
  <message name="ManagedRolesByUserRequestMessage">
    <documentation>Managed Roles Request.</documentation>
    <part name="payload" element="tns:managedRolesByUserRequest"/>
  </message>
  <message name="ManagedRolesResponseMessage">
    <documentation>Managed Roles Response.</documentation>
    <part name="payload" element="tns:roles"/>
  </message>
  <message name="ManagedRolesByRoleRequestMessage">
    <documentation>Managed Roles Request.</documentation>
    <part name="payload" element="tns:managedRolesByRoleRequest"/>
  </message>
  <message name="OwnedRolesByUserRequestMessage">
    <documentation>Roles Owned by User Request.</documentation>
    <part name="payload" element="tns:ownedRolesByUserRequest"/>
  </message>
  <message name="RoleObjectListResponseMessage">
    <documentation>Role Object Response.</documentation>
    <part name="payload" element="tns:roleObjects"/>
  </message>
  <message name="OwnedRolesByRoleRequestMessage">
    <documentation>Roles Owned by Role Request.</documentation>
    <part name="payload" element="tns:ownedRolesByRoleRequest"/>
  </message>
  <message name="GrantedRolesToRoleRequestMessage">
    <documentation>Granted Roles To Role Request. Deprecated since 11.1.1</documentation>
    <part name="payload" element="tns:grantedRolesToRoleRequest"/>
  </message>
  <message name="GrantedRolesToAppRoleRequestMessage">
    <documentation>Granted Roles To AppRole Request.</documentation>
    <part name="payload" element="tns:grantedRolesToAppRoleRequest"/>
  </message>
  <message name="GrantedRolesToGroupRequestMessage">
    <documentation>Granted Roles to Group Request.</documentation>
    <part name="payload" element="tns:grantedRolesToGroupRequest"/>
  </message>
  <message name="GrantedRolesToUserRequestMessage">
    <documentation>Granted role to User Request.</documentation>
    <part name="payload" element="tns:grantedRolesToUserRequest"/>
  </message>
  <message name="SearchUsersRequestMessage">
    <documentation>Search Users Request.</documentation>
    <part name="payload" element="tns:searchUsersRequest"/>
  </message>
  <message name="SearchUsersByAttributeRequestMessage">
    <documentation>Search Users By Attribute Request.</documentation>
    <part name="payload" element="tns:searchUsersByAttributeRequest"/>
  </message>
  <message name="SearchUsersByFilterRequestMessage">
    <documentation>Search Users By Filter Request.</documentation>
    <part name="payload" element="tns:searchUsersByFilterRequest"/>
  </message>
  <message name="SearchGroupsRequestMessage">
    <documentation>Search Groups Request.</documentation>
    <part name="payload" element="tns:searchGroupsRequest"/>
  </message>
  <message name="GroupObjectListResponseMessage">
    <documentation>Group Object List Response.</documentation>
    <part name="payload" element="tns:groupObjects"/>
  </message>
  <message name="SearchGroupsByAttributeRequestMessage">
    <documentation>Search Groups By Attribute Request.</documentation>
    <part name="payload" element="tns:searchGroupsByAttributeRequest"/>
  </message>
  <message name="SearchGroupsByFilterRequestMessage">
    <documentation>Search Groups By Filter Request.</documentation>
    <part name="payload" element="tns:searchGroupsByFilterRequest"/>
  </message>
  <message name="SearchAppRolesRequestMessage">
    <documentation>Search AppRoles Request.</documentation>
    <part name="payload" element="tns:searchAppRolesRequest"/>
  </message>
  <message name="AppRoleObjectListResponseMessage">
    <documentation>AppRoleObjectList Response.</documentation>
    <part name="payload" element="tns:appRoleObjects"/>
  </message>
  <message name="UsersRequestMessage">
    <documentation>User List Request.</documentation>
    <part name="payload" element="tns:usersRequest"/>
  </message>
  <message name="GroupsRequestMessage">
    <documentation>Group List Request.</documentation>
    <part name="payload" element="tns:groupsRequest"/>
  </message>
  <message name="AppRolesRequestMessage">
    <documentation>App Role List Request.</documentation>
    <part name="payload" element="tns:appRolesRequest"/>
  </message>
  <message name="HasPermissionRequestMessage">
    <documentation>Has Permission Request.</documentation>
    <part name="payload" element="tns:hasPermissionRequest"/>
  </message>
  <message name="HasPermissionResponseMessage">
    <documentation>Has Permission response.</documentation>
    <part name="payload" element="tns:hasPermission"/>
  </message>
  <message name="HasPermissionForAppRoleRequestMessage">
    <documentation>Has Permission For AppRole Request.</documentation>
    <part name="payload" element="tns:hasPermissionForAppRoleRequest"/>
  </message>
  <message name="HasPermissionForAppRoleResponseMessage">
    <documentation>Has Permission For AppRole response.</documentation>
    <part name="payload" element="tns:hasPermissionForAppRole"/>
  </message>
  <message name="GetPermissionsRequestMessage">
    <documentation>Get Permissions Request.</documentation>
    <part name="payload" element="tns:getPermissionsRequest"/>
  </message>
  <message name="GetPermissionsResponseMessage">
    <documentation>Get Permissions response.</documentation>
    <part name="payload" element="tns:getPermissions"/>
  </message>
  <message name="GetPermissionsForAppRoleRequestMessage">
    <documentation>Get Permissions For AppRoleRequest.</documentation>
    <part name="payload" element="tns:getPermissionsForAppRoleRequest"/>
  </message>
  <message name="GetPermissionsForAppRoleResponseMessage">
    <documentation>Get Permissions For AppRole response.</documentation>
    <part name="payload" element="tns:getPermissionsForAppRole"/>
  </message>
  <message name="GetAllPermissionsRequestMessage">
    <documentation>Get All Permissions Request.</documentation>
    <part name="payload" element="tns:getAllPermissionsRequest"/>
  </message>
  <message name="GetAllPermissionsResponseMessage">
    <documentation>Get All Permission response.</documentation>
    <part name="payload" element="tns:getAllPermissions"/>
  </message>
  <message name="AuthenticationRequestMessage">
    <documentation>User Authentication Request.</documentation>
    <part name="payload" element="tns:authenticationRequest"/>
  </message>
  <message name="AuthenticationResponseMessage">
    <documentation>User Authentication Response.</documentation>
    <part name="payload" element="tns:authentication"/>
  </message>
  <message name="ServiceStatusRequestMessage">
    <documentation>Service Status Request.</documentation>
    <part name="payload" element="tns:serviceStatusRequest"/>
  </message>
  <message name="ServiceStatusResponseMessage">
    <documentation>Service Status Response.</documentation>
    <part name="payload" element="tns:serviceStatus"/>
  </message>
  <message name="GranteesToPositionRequestMessage">
    <documentation>Grantees To Position Request Message .</documentation>
    <part name="payload" element="tns:granteesToPositionRequest"/>
  </message>
  <message name="GrantedPositionsToUserRequestMessage">
    <documentation>User Positions Request Message .</documentation>
    <part name="payload" element="tns:grantedPositionsToUserRequest"/>
  </message>
  <message name="PositionDisplayNamesRequestMessage">
    <documentation>Positions display names Request Message .</documentation>
    <part name="payload" element="tns:positionDisplayNamesRequest"/>
  </message>
  <message name="PositionDisplayNamesResponseMessage">
    <documentation>Get Position DisplayNames Response.</documentation>
    <part name="payload" element="tns:positionDisplayNamesResponse"/>
  </message>
  <message name="SearchableUserAttributesRequestMessage">
    <documentation>Searchable User Attribute Request Message.</documentation>
    <part name="payload" element="tns:searchableUserAttributesRequest"/>
  </message>
  <message name="SearchableUserAttributesResponseMessage">
    <documentation>Searchable User Attribute Response.</documentation>
    <part name="payload" element="tns:searchableUserAttributesResponse"/>
  </message>
  <message name="ConfigurationRequestMessage">
    <documentation>Configuration Request.</documentation>
    <part name="payload" element="tns:configurationRequest"/>
  </message>
  <message name="ConfigurationResponseMessage">
    <documentation>Configuration Response.</documentation>
    <part name="payload" element="isc:configuration"/>
  </message>
  <message name="ConfigurationsRequestMessage">
    <documentation>Configuration Request.</documentation>
    <part name="payload" element="tns:configurationsRequest"/>
  </message>
  <message name="ConfigurationsResponseMessage">
    <documentation>Configuration Response.</documentation>
    <part name="payload" element="isc:configurations"/>
  </message>
  <message name="SupportedRealmNamesRequestMessage">
    <documentation>Supported Realm Names Request.</documentation>
    <part name="payload" element="tns:supportedRealmNamesRequest"/>
  </message>
  <message name="SupportedRealmNamesResponseMessage">
    <documentation>Supported Realm Names Response.</documentation>
    <part name="payload" element="tns:realms"/>
  </message>
  <message name="ConfiguredApplicationsRequestMessage">
    <documentation>Configured Applications Request.</documentation>
    <part name="payload" element="tns:configuredApplicationsRequest"/>
  </message>
  <message name="ConfiguredApplicationsResponseMessage">
    <documentation>Configured Applications Response.</documentation>
    <part name="payload" element="tns:applications"/>
  </message>
  <message name="DefaultRealmRequestMessage">
    <documentation>Default realm Name Response.</documentation>
    <part name="payload" element="tns:defaultRealmNameRequest"/>
  </message>
  <message name="DefaultRealmResponseMessage">
    <documentation>Default realm Name Response.</documentation>
    <part name="payload" element="tns:realmName"/>
  </message>
  <message name="UserResponseMessage">
    <documentation>User Response.</documentation>
    <part name="payload" element="tns:user"/>
  </message>
  <message name="UserListResponseMessage">
    <documentation>User List Response.</documentation>
    <part name="payload" element="tns:users"/>
  </message>
  <message name="GroupListResponseMessage">
    <documentation>Group List Response.</documentation>
    <part name="payload" element="tns:groups"/>
  </message>
  <message name="ManagementChainResponseMessage">
    <documentation>Management Chain Request.</documentation>
    <part name="payload" element="tns:managementChain"/>
  </message>
  <message name="IdentityConfigErrorMessage">
    <documentation>Identity Configuration Error Message.</documentation>
    <part name="faultInfo" element="tns:identityConfigServiceError"/>
  </message>
  <portType name="IdentityServicePortType">
    <operation name="getUserAttribute">
      <documentation>Gets User's Attribute</documentation>
      <input name="getUserAttributeInput" message="tns:UserAttributeRequestMessage"/>
      <output name="getUserAttributeOutput" message="tns:AttributeResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="getGroupAttribute">
      <documentation>Gets Group's Attribute</documentation>
      <input name="getGroupAttributeInput" message="tns:GroupAttributeRequestMessage"/>
      <output name="getGroupAttributeOutput" message="tns:AttributeResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="lookupUser">
      <documentation>Lookup User</documentation>
      <input name="lookupUserInput" message="tns:LookupUserRequestMessage"/>
      <output name="lookupUserOutput" message="tns:UserObjectResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="getLocaleSpecificUserNames">
      <documentation>Gets users Locale Names</documentation>
      <input name="getLocaleSpecificUserNamesInput" message="tns:GetLocaleSpecificUserNamesRequestMessage"/>
      <output name="getLocaleSpecificUserNamesOutput" message="tns:GetLocaleSpecificUserNamesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="getLocaleSpecificGroupNames">
      <documentation>Gets users Locale Names</documentation>
      <input name="getLocaleSpecificGroupNamesInput" message="tns:GetLocaleSpecificGroupNamesRequestMessage"/>
      <output name="getLocaleSpecificGroupNamesOutput" message="tns:GetLocaleSpecificGroupNamesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="lookupGroup">
      <documentation>Lookup Group</documentation>
      <input name="lookupGroupInput" message="tns:LookupGroupRequestMessage"/>
      <output name="lookupGroupOutput" message="tns:GroupObjectResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="lookupRole">
      <documentation>Lookup Role (depecated, use lookupAppRole or lookupGroup)</documentation>
      <input name="lookupRoleInput" message="tns:LookupRoleRequestMessage"/>
      <output name="lookupRoleOutput" message="tns:RoleObjectResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="lookupAppRole">
      <documentation>Lookup AppRole</documentation>
      <input name="lookupRoleInput" message="tns:LookupAppRoleRequestMessage"/>
      <output name="lookupRoleOutput" message="tns:AppRoleObjectResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
      <fault name="identityNotFoundFault" message="tns:IdentityNotFoundErrorMessage"/>
    </operation>
    <operation name="getManager">
      <documentation>Get Manager</documentation>
      <input name="input" message="tns:ManagerRequestMessage"/>
      <output name="output" message="tns:ManagerResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getManagementChain">
      <documentation>Get Management Chain</documentation>
      <input name="getManagementChainInput" message="tns:ManagementChainRequestMessage"/>
      <output name="getManagementChainOutput" message="tns:UserObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getReportees">
      <documentation>Get Reportees</documentation>
      <input name="getReporteesInput" message="tns:ReporteesRequestMessage"/>
      <output name="getReporteesOutput" message="tns:ReporteesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGrantees">
      <documentation>Get Grantees</documentation>
      <input name="getGranteesInput" message="tns:GranteesRequestMessage"/>
      <output name="getGranteesOutput" message="tns:GranteesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGranteesToGroup">
      <documentation>Get Grantees To Group</documentation>
      <input name="getGranteesInput" message="tns:GranteesToGroupRequestMessage"/>
      <output name="getGranteesOutput" message="tns:GranteesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGranteesToAppRole">
      <documentation>Get Grantees To AppRole</documentation>
      <input name="getGranteesInput" message="tns:GranteesToAppRoleRequestMessage"/>
      <output name="getGranteesOutput" message="tns:GranteesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getParticipants">
      <documentation>Get Role Participants</documentation>
      <input name="getParticipantsInput" message="tns:ParticipantsRequestMessage"/>
      <output name="getParticipantsOutput" message="tns:ParticipantsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getParticipantsToGroup">
      <documentation>Get Role Participants To Group</documentation>
      <input name="getParticipantsInput" message="tns:ParticipantsToGroupRequestMessage"/>
      <output name="getParticipantsOutput" message="tns:ParticipantsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getParticipantsToAppRole">
      <documentation>Get Role Participants To AppRole</documentation>
      <input name="getParticipantsInput" message="tns:ParticipantsToAppRoleRequestMessage"/>
      <output name="getParticipantsOutput" message="tns:ParticipantsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getRoleOwners">
      <documentation>Get Role Owners</documentation>
      <input name="getRoleOwnersInput" message="tns:RoleOwnersRequestMessage"/>
      <output name="getRoleOwnersOutput" message="tns:RoleOwnersResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getRoleManagers">
      <documentation>Get Role Managers</documentation>
      <input name="getRoleManagersInput" message="tns:RoleManagersRequestMessage"/>
      <output name="getRoleManagersOutput" message="tns:RoleManagersResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getManagedRolesByUser">
      <documentation>Get Managed Role</documentation>
      <input name="getManagedRolesByUserInput" message="tns:ManagedRolesByUserRequestMessage"/>
      <output name="getManagedRolesByUserOutput" message="tns:ManagedRolesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getManagedRolesByRole">
      <documentation>Get Managed Role</documentation>
      <input name="getManagedRolesByRoleInput" message="tns:ManagedRolesByRoleRequestMessage"/>
      <output name="getManagedRolesByRoleOutput" message="tns:ManagedRolesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getOwnedRolesByUser">
      <documentation>Get Roles Owned by User</documentation>
      <input name="getOwnedRolesByUserInput" message="tns:OwnedRolesByUserRequestMessage"/>
      <output name="getOwnedRolesByUserOutput" message="tns:RoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getOwnedRolesByRole">
      <documentation>Get Roles Owned by Role</documentation>
      <input name="getOwnedRolesByRoleInput" message="tns:OwnedRolesByRoleRequestMessage"/>
      <output name="getOwnedRolesByRoleOutput" message="tns:RoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGrantedRolesToRole">
      <documentation>Get Granted Roles to Role. Deprecated since 11.1.1</documentation>
      <input name="getGrantedRolesToRoleInput" message="tns:GrantedRolesToRoleRequestMessage"/>
      <output name="getGrantedRolesToRoleOutput" message="tns:RoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGrantedRolesToAppRole">
      <documentation>Get Granted Roles to AppRole</documentation>
      <input name="getGrantedRolesToAppRoleInput" message="tns:GrantedRolesToAppRoleRequestMessage"/>
      <output name="getGrantedRolesToAppRoleOutput" message="tns:RoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGrantedRolesToGroup">
      <documentation>Get Granted Roles to Group</documentation>
      <input name="getGrantedRolesToGroupInput" message="tns:GrantedRolesToGroupRequestMessage"/>
      <output name="getGrantedRolesToGroupOutput" message="tns:RoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGrantedRolesToUser">
      <documentation>Get Granted Roles to User</documentation>
      <input name="getGrantedRolesToUserInput" message="tns:GrantedRolesToUserRequestMessage"/>
      <output name="getGrantedRolesToUserOutput" message="tns:RoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchUsers">
      <documentation>Search Users</documentation>
      <input name="searchUsersInput" message="tns:SearchUsersRequestMessage"/>
      <output name="searchUsersOutput" message="tns:UserObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchUsersByAttribute">
      <documentation>Search UsersByAttribute</documentation>
      <input name="searchUsersInput" message="tns:SearchUsersByAttributeRequestMessage"/>
      <output name="searchUsersOutput" message="tns:UserObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchUsersByFilter">
      <documentation>Search Users By Filter</documentation>
      <input name="searchUsersInput" message="tns:SearchUsersByFilterRequestMessage"/>
      <output name="searchUsersOutput" message="tns:UserObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchGroups">
      <documentation>Search Groups</documentation>
      <input name="searchGroupsInput" message="tns:SearchGroupsRequestMessage"/>
      <output name="searchGroupsOutput" message="tns:GroupObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchGroupsByAttribute">
      <documentation>Search Groups By Attribute</documentation>
      <input name="searchGroupsInput" message="tns:SearchGroupsByAttributeRequestMessage"/>
      <output name="searchGroupsOutput" message="tns:GroupObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchGroupsByFilter">
      <documentation>Search Groups By Filter</documentation>
      <input name="searchGroupsInput" message="tns:SearchGroupsByFilterRequestMessage"/>
      <output name="searchGroupsOutput" message="tns:GroupObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="searchAppRoles">
      <documentation>Search AppRoles</documentation>
      <input name="searchRolesInput" message="tns:SearchAppRolesRequestMessage"/>
      <output name="searchRolesOutput" message="tns:AppRoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getUsers">
      <documentation>Get Users</documentation>
      <input name="getUsersInput" message="tns:UsersRequestMessage"/>
      <output name="getUsersOutput" message="tns:UserObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGroups">
      <documentation>Get Groups</documentation>
      <input name="getGroupsInput" message="tns:GroupsRequestMessage"/>
      <output name="getGroupsOutput" message="tns:GroupObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getAppRoles">
      <documentation>Get all App Roles</documentation>
      <input name="getAppRolesInput" message="tns:AppRolesRequestMessage"/>
      <output name="getAppRolesOutput" message="tns:AppRoleObjectListResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="hasPermission">
      <documentation>Check whether user has permission</documentation>
      <input name="hasPermissionInput" message="tns:HasPermissionRequestMessage"/>
      <output name="hasPermissionOutput" message="tns:HasPermissionResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="hasPermissionForAppRole">
      <documentation>Check whether appRole has permission</documentation>
      <input name="hasPermissionForAppRoleInput" message="tns:HasPermissionForAppRoleRequestMessage"/>
      <output name="hasPermissionForAppRoleOutput" message="tns:HasPermissionForAppRoleResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getPermissions">
      <documentation>Get Permissions for user</documentation>
      <input name="getPermissionsInput" message="tns:GetPermissionsRequestMessage"/>
      <output name="getPermissionsOutput" message="tns:GetPermissionsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getPermissionsForAppRole">
      <documentation>Get Permissions for appRole</documentation>
      <input name="getPermissionsForAppRoleInput" message="tns:GetPermissionsForAppRoleRequestMessage"/>
      <output name="getPermissionsForAppRoleOutput" message="tns:GetPermissionsForAppRoleResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getAllPermissions">
      <documentation>Get All Permissions</documentation>
      <input name="getAllPermissionsInput" message="tns:GetAllPermissionsRequestMessage"/>
      <output name="getAllPermissionsOutput" message="tns:GetAllPermissionsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="authenticateUser">
      <documentation>Authenticate User</documentation>
      <input name="authenticateInput" message="tns:AuthenticationRequestMessage"/>
      <output name="authenticateOutput" message="tns:AuthenticationResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getServiceStatus">
      <documentation>Get Service Status</documentation>
      <input name="getServiceStatusInput" message="tns:ServiceStatusRequestMessage"/>
      <output name="getServiceStatusOutput" message="tns:ServiceStatusResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGranteesToPosition">
      <documentation>Get Granted Users to Position</documentation>
      <input name="getGranteesToPositionInput" message="tns:GranteesToPositionRequestMessage"/>
      <output name="getGranteesToPositionOutput" message="tns:GranteesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getGrantedPositionsToUser">
      <documentation>Get Granted Positions To User</documentation>
      <input name="getGrantedPositionsToUserInput" message="tns:GrantedPositionsToUserRequestMessage"/>
      <output name="getGrantedPositionsToUserOutput" message="tns:GranteesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getPositionDisplayNames">
      <documentation>Get Positions display Name in given language and country</documentation>
      <input name="getPositionDisplayNamesInput" message="tns:PositionDisplayNamesRequestMessage"/>
      <output name="getPositionDisplayNamesOutput" message="tns:PositionDisplayNamesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getSearchableUserAttributes">
      <documentation>Gets the list of user attribute names that are searchable</documentation>
      <input name="getSearchableUserAttributesInput" message="tns:SearchableUserAttributesRequestMessage"/>
      <output name="getSearchableUserAttributesOutput" message="tns:SearchableUserAttributesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
  </portType>
  <portType name="IdentityConfigServicePortType">
    <operation name="getConfiguration">
      <documentation>Get Configuration</documentation>
      <input name="getConfigurationInput" message="tns:ConfigurationRequestMessage"/>
      <output name="getConfigurationOutput" message="tns:ConfigurationResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getConfigurations">
      <documentation>Get Configurations</documentation>
      <input name="getConfigurationsInput" message="tns:ConfigurationsRequestMessage"/>
      <output name="getConfigurationsOutput" message="tns:ConfigurationsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getSupportedRealmNames">
      <documentation>Get Supported Realm Names</documentation>
      <input name="getSupportedRealmNamesInput" message="tns:SupportedRealmNamesRequestMessage"/>
      <output name="getSupportedRealmNamesOutput" message="tns:SupportedRealmNamesResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getConfiguredApplications">
      <documentation>Get Configured Application ids</documentation>
      <input name="getConfiguredApplicationsInput" message="tns:ConfiguredApplicationsRequestMessage"/>
      <output name="getConfiguredApplicationsOutput" message="tns:ConfiguredApplicationsResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
    <operation name="getDefaultRealmName">
      <documentation>Get Default Realm Name</documentation>
      <input name="getDefaultRealmNameInput" message="tns:DefaultRealmRequestMessage"/>
      <output name="getDefaultRealmNameOutput" message="tns:DefaultRealmResponseMessage"/>
      <fault name="identityServiceFault" message="tns:IdentityServiceErrorMessage"/>
    </operation>
  </portType>
</definitions>