SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/GestionRoles/Resources/WSDL/IdentidadesWSDL.wsdl

<definitions name="IdentityService" targetNamespace="http://xmlns.oracle.com/bpel/services/IdentityService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/bpel/services/IdentityService" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:isc="http://www.oracle.com/pcbpel/identityservice/isconfig" xmlns:isxsd="http://xmlns.oracle.com/bpel/services/IdentityService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>Service used to interact with the task service</documentation>
  <import namespace="http://xmlns.oracle.com/bpel/services/IdentityService" location="IdentidadesServiceWSDL.wsdl"/>
  <binding name="IdentityServiceSOAPBinding" type="tns:IdentityServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getUserAttribute">
      <soap:operation style="document" soapAction=""/>
      <input name="getUserAttributeInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getUserAttributeOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="lookupUserFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="lookupUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGroupAttribute">
      <soap:operation style="document" soapAction=""/>
      <input name="getGroupAttributeInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGroupAttributeOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="lookupUserFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="lookupUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupUser">
      <soap:operation style="document" soapAction=""/>
      <input name="lookupUserInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="lookupUserOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="lookupUserFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="lookupUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getLocaleSpecificUserNames">
      <soap:operation style="document" soapAction=""/>
      <input name="getLocaleSpecificUserNamesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getLocaleSpecificUserNamesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getLocaleSpecificUserNamesFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="getLocaleSpecificUserNamesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getLocaleSpecificGroupNames">
      <soap:operation style="document" soapAction=""/>
      <input name="getLocaleSpecificGroupNamesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getLocaleSpecificGroupNamesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getLocaleSpecificGroupNamesFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="getLocaleSpecificGroupNamesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupGroup">
      <soap:operation style="document" soapAction=""/>
      <input name="lookupGroupInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="lookupGroupOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="lookupGroupFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="lookupGroupFault" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupRole">
      <soap:operation style="document" soapAction=""/>
      <input name="lookupRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="lookupRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="lookupRoleFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="lookupGroupFault" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAppRole">
      <soap:operation style="document" soapAction=""/>
      <input name="lookupRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="lookupRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="lookupAppRoleFault" use="literal"/>
      </fault>
      <fault name="identityNotFoundFault">
        <soap:fault name="lookupAppRoleFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getManager">
      <soap:operation style="document" soapAction=""/>
      <input name="input">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="output">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getManagerFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getManagementChain">
      <soap:operation style="document" soapAction=""/>
      <input name="getManagementChainInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getManagementChainOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getManagementChain" use="literal"/>
      </fault>
    </operation>
    <operation name="getReportees">
      <soap:operation style="document" soapAction=""/>
      <input name="getReporteesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getReporteesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getReporteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGrantees">
      <soap:operation style="document" soapAction=""/>
      <input name="getGranteesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGranteesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGranteesToGroup">
      <soap:operation style="document" soapAction=""/>
      <input name="getGranteesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGranteesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGranteesToAppRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getGranteesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGranteesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getParticipants">
      <soap:operation style="document" soapAction=""/>
      <input name="getParticipantsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getParticipantsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getParticipantsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getParticipantsToGroup">
      <soap:operation style="document" soapAction=""/>
      <input name="getParticipantsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getParticipantsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getParticipantsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getParticipantsToAppRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getParticipantsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getParticipantsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getParticipantsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGrantedRolesToRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getGrantedRolesToRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGrantedRolesToRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGrantedRolesToAppRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getGrantedRolesToAppRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGrantedRolesToAppRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGrantedRolesToGroup">
      <soap:operation style="document" soapAction=""/>
      <input name="getGrantedRolesToGroupInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGrantedRolesToGroupOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGrantedRolesToUser">
      <soap:operation style="document" soapAction=""/>
      <input name="getGrantedRolesToUserInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGrantedRolesToUserOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGrantedRolesToUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getRoleOwners">
      <soap:operation style="document" soapAction=""/>
      <input name="getRoleOwnersInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getRoleOwnersOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getRoleOwnersFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getRoleManagers">
      <soap:operation style="document" soapAction=""/>
      <input name="getRoleManagersInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getRoleManagersOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getRoleManagersFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getManagedRolesByUser">
      <soap:operation style="document" soapAction=""/>
      <input name="getManagedRolesByUserInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getManagedRolesByUserOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getManagedRolesByUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getManagedRolesByRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getManagedRolesByRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getManagedRolesByRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getManagedRolesByRoleFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getOwnedRolesByUser">
      <soap:operation style="document" soapAction=""/>
      <input name="getOwnedRolesByUserInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getOwnedRolesByUserOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getOwnedRolesByUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getOwnedRolesByRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getOwnedRolesByRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getOwnedRolesByRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getOwnedRolesByRoleFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchUsers">
      <soap:operation style="document" soapAction=""/>
      <input name="searchUsersInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchUsersOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchUsersFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchUsersByAttribute">
      <soap:operation style="document" soapAction=""/>
      <input name="searchUsersInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchUsersOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchUsersFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchUsersByFilter">
      <soap:operation style="document" soapAction=""/>
      <input name="searchUsersInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchUsersOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchUsersFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchGroups">
      <soap:operation style="document" soapAction=""/>
      <input name="searchGroupsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchGroupsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchGroupsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchGroupsByAttribute">
      <soap:operation style="document" soapAction=""/>
      <input name="searchGroupsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchGroupsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchGroupsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchGroupsByFilter">
      <soap:operation style="document" soapAction=""/>
      <input name="searchGroupsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchGroupsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchGroupsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="searchAppRoles">
      <soap:operation style="document" soapAction=""/>
      <input name="searchRolesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="searchRolesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="searchAppRoleFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getUsers">
      <soap:operation style="document" soapAction=""/>
      <input name="getUsersInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getUsersOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getUsersFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGroups">
      <soap:operation style="document" soapAction=""/>
      <input name="getGroupsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGroupsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGroupsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getAppRoles">
      <soap:operation style="document" soapAction=""/>
      <input name="getAppRolesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getAppRolesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getAppRolesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="authenticateUser">
      <soap:operation style="document" soapAction=""/>
      <input name="authenticateInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="authenticateOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="authenticateUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hasPermission">
      <soap:operation style="document" soapAction=""/>
      <input name="hasPermissionInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="hasPermissionOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="authenticateUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="hasPermissionForAppRole">
      <soap:operation style="document" soapAction=""/>
      <input name="hasPermissionForAppRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="hasPermissionForAppRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="authenticateUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getPermissions">
      <soap:operation style="document" soapAction=""/>
      <input name="getPermissionsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getPermissionsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="authenticateUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getPermissionsForAppRole">
      <soap:operation style="document" soapAction=""/>
      <input name="getPermissionsForAppRoleInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getPermissionsForAppRoleOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="authenticateUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllPermissions">
      <soap:operation style="document" soapAction=""/>
      <input name="getAllPermissionsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getAllPermissionsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="authenticateUserFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceStatus">
      <soap:operation style="document" soapAction=""/>
      <input name="getServiceStatusInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getServiceStatusOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getServiceStatusFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGranteesToPosition">
      <soap:operation style="document" soapAction=""/>
      <input name="getGranteesToPositionInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGranteesToPositionOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGrantedPositionsToUser">
      <soap:operation style="document" soapAction=""/>
      <input name="getGrantedPositionsToUserInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getGrantedPositionsToUserOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getGranteesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getPositionDisplayNames">
      <soap:operation style="document" soapAction=""/>
      <input name="getPositionDisplayNamesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getPositionDisplayNamesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getPositionDisplayNamesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getSearchableUserAttributes">
      <soap:operation style="document" soapAction=""/>
      <input name="getSearchableUserAttributesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getSearchableUserAttributesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getSearchableUserAttributesFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="IdentityConfigServiceSOAPBinding" type="tns:IdentityConfigServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getConfiguration">
      <soap:operation style="document" soapAction=""/>
      <input name="getConfigurationInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getConfigurationOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getConfigurationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getConfigurations">
      <soap:operation style="document" soapAction=""/>
      <input name="getConfigurationsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getConfigurationsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getConfigurationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getSupportedRealmNames">
      <soap:operation style="document" soapAction=""/>
      <input name="getSupportedRealmNamesInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getSupportedRealmNamesOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getSupportedRealmNamesFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getDefaultRealmName">
      <soap:operation style="document" soapAction=""/>
      <input name="getDefaultRealmNameInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getDefaultRealmNameOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getDefaultRealmNameFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getConfiguredApplications">
      <soap:operation style="document" soapAction=""/>
      <input name="getConfiguredApplicationsInput">
        <soap:body use="literal" parts="payload"/>
      </input>
      <output name="getConfiguredApplicationsOutput">
        <soap:body use="literal" parts="payload"/>
      </output>
      <fault name="identityServiceFault">
        <soap:fault name="getConfiguredApplicationsFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IdentityService">
    <documentation>Identity Service</documentation>
    <port name="IdentityServicePort" binding="tns:IdentityServiceSOAPBinding">
      <soap:address location="http://10.30.3.15:8001/integration/services/IdentityService/identity"/>
    </port>
    <port name="IdentityConfigServicePort" binding="tns:IdentityConfigServiceSOAPBinding">
      <soap:address location="http://10.30.3.15:8001/integration/services/IdentityService/configuration/*"/>
    </port>
  </service>
</definitions>