SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/GestionRoles/Resources/WSDL/NMPGestionIdentidadesWSDL.wsdl

<wsdl:definitions name="Codigo" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPIdentidades" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPIdentidades" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPIdentidades" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPIdentidades" schemaLocation="../Schemas/NMPGestionIdentidades.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <!--Fin cambio 8/4/2016 -->
  <wsdl:message name="ObtenerRolesAutorizadosRequestMessage">
    <wsdl:part name="ObtenerRolesAutorizadosRequest" element="inp1:ObtenerRolesAutorizadosRequest"/>
  </wsdl:message>
  <wsdl:message name="ObtenerRolesAutorizadosResponseMessage">
    <wsdl:part name="ObtenerRolesAutorizadosResponse" element="inp1:ObtenerRolesAutorizadosResponse"/>
  </wsdl:message>
  <wsdl:message name="ObtenerRolesFaultMessage">
    <wsdl:part name="ObtenerRolesAutorizadosFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:message name="ObtenerPerfilUsuarioRequestMessage">
    <wsdl:part name="ObtenerPerfilUsuarioRequest" element="inp1:ObtenerPerfilUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="ObtenerPerfilUsuarioResponseMessage">
    <wsdl:part name="ObtenerPerfilUsuarioResponse" element="inp1:ObtenerPerfilUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="ObtenerPerfilUsuarioFaultMessage">
    <wsdl:part name="ObtenerPerfilUsuarioFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="ObtenerRolesAutorizados_ptt">
    <wsdl:operation name="ObtenerRoles">
      <wsdl:input message="tns:ObtenerRolesAutorizadosRequestMessage"/>
      <wsdl:output message="tns:ObtenerRolesAutorizadosResponseMessage"/>
      <wsdl:fault message="tns:ObtenerRolesFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfilUsuario">
      <wsdl:input message="tns:ObtenerPerfilUsuarioRequestMessage"/>
      <wsdl:output message="tns:ObtenerPerfilUsuarioResponseMessage"/>
      <wsdl:fault message="tns:ObtenerPerfilUsuarioFaultMessage" name="ObtenerPerfilUsuarioFault"/>
    </wsdl:operation>
  </wsdl:portType>   
  <wsdl:binding name="ObtenerRolesAutorizadosBinding" type="tns:ObtenerRolesAutorizados_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerRoles">
      <soap:operation style="document" soapAction="ObtenerRoles"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <wsdlsoap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
     <wsdl:operation name="ObtenerPerfilUsuario">
      <soap:operation style="document" soapAction="ObtenerRoles"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ObtenerPerfilUsuarioFault">
        <wsdlsoap:fault name="ObtenerPerfilUsuarioFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <!--Incio Cambio 8/4/2016 Se agrega nueva operación getClienteCampaniasById -->
    <!--Fin cambio 8/4/2016 -->
  </wsdl:binding>
  <wsdl:service name="ObtenerRoles">
    <wsdl:port name="ObtenerRolesPort" binding="tns:ObtenerRolesAutorizadosBinding">
      <soap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>