SOL4IT - DEV/OSB_NMP_Actual/Common/XSD/NMPStandardFault.xsd.xsd

<xs:schema targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:nmp="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage">
  <xs:import schemaLocation="NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
  <xs:complexType name="SoapFaultType">
    <xs:sequence>
      <xs:element name="faultcode" type="xs:string" minOccurs="1"/>
      <xs:element name="faultstring" type="xs:string" minOccurs="1"/>
      <xs:element name="detail" type="nmp:messageErrorNmpType" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault" type="soap:SoapFaultType"/>
</xs:schema>