SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/FuerzaDeVentas/Citas/Resources/Schemas/CancelOrderFormiik.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.datacontract.org/2004/07/Mobiik.Formiik.Domain.Entities"
            targetNamespace="http://schemas.datacontract.org/2004/07/Mobiik.Formiik.Domain.Entities" elementFormDefault="qualified">
  <xsd:element name="Coleccion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CancelOrder" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:attribute name="id"/>
            <xsd:attribute name="userName"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>