SOL4IT - DEV/OSB_Desarrollo/Commons/Filter/GestorTransacciones/Resources/GestorTransacciones.wsdl

<wsdl:definitions name="GestorTransacciones" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/GestorTransacciones/GestorTransacciones" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/GestorTransacciones/GestorTransacciones" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/GestorTransacciones" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="GestorTransacciones_plt">
    <plt:role name="GestorTransacciones_role">
      <plt:portType name="tns:GestorTransacciones_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/GestorTransacciones" schemaLocation="GestorTransacciones_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="GestorTransaccionesSelect_inputParameters">
        <wsdl:part name="GestorTransaccionesSelect_inputParameters" element="top:GestorTransaccionesSelect_pCantidadInputParameters"/>
    </wsdl:message>
    <wsdl:message name="MensajesProcesoCollection_msg">
        <wsdl:part name="MensajesProcesoCollection" element="top:MensajesProcesoCollection"/>
    </wsdl:message>
    <wsdl:portType name="GestorTransacciones_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:MensajesProcesoCollection_msg"/>
            <wsdl:output message="tns:MensajesProcesoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:MensajesProcesoCollection_msg"/>
            <wsdl:output message="tns:MensajesProcesoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="GestorTransaccionesSelect">
            <wsdl:input message="tns:GestorTransaccionesSelect_inputParameters"/>
            <wsdl:output message="tns:MensajesProcesoCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>