SOL4IT - DEV/OSB_Desarrollo/Finance/AP/GPA/Rules/Resources/ReglasPagosAdministrativosWSDL.wsdl

<wsdl:definitions name="ReglasPagosAdministrativos" targetNamespace="http://xmlns.oracle.com/BPM-QUALITAS-PAGOS_ADMINISTRATIVOS/ReglasPagosAdministrativos/ReglasPagosAdministrativos" xmlns:tns="http://xmlns.oracle.com/BPM-QUALITAS-PAGOS_ADMINISTRATIVOS/ReglasPagosAdministrativos/ReglasPagosAdministrativos" xmlns:inp1="http://www.qualitas.com.mx/ReglasPagosAdministrativos/asignarUsuario" xmlns:inp2="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarNacionalidadPrestador" xmlns:inp3="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarArchivoProrrateo" xmlns:inp4="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarImportesFactura" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>http://11.50.0.22:7007/soa-infra/services/GPADomain/ReglasPagosAdministrativos!1.0/WSDLs/ReglasPagosAdministrativos.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/asignarUsuario" schemaLocation="XMLSchema_-536858537.xsd"/>
            <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarNacionalidadPrestador" schemaLocation="XMLSchema_-1697195276.xsd"/>
            <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarArchivoProrrateo" schemaLocation="XMLSchema_-2508813.xsd"/>
            <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarImportesFactura" schemaLocation="XMLSchema_-1197495632.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="asignarUsuarioRequest">
        <wsdl:part name="request" element="inp1:AsignarUsuarioRequest"/>
    </wsdl:message>
    <wsdl:message name="asignarUsuarioResponse">
        <wsdl:part name="reply" element="inp1:AsignarUsuarioResponse"/>
    </wsdl:message>
    <wsdl:message name="validarNacionalidadPrestadorRequest">
        <wsdl:part name="request" element="inp2:ValidarNacionalidadPrestadorRequest"/>
    </wsdl:message>
    <wsdl:message name="validarNacionalidadPrestadorResponse">
        <wsdl:part name="reply" element="inp2:ValidarNacionalidadPrestadorResponse"/>
    </wsdl:message>
    <wsdl:message name="validarArchivoProrrateoRequest">
        <wsdl:part name="request" element="inp3:ValidarArchivoProrrateoRequest"/>
    </wsdl:message>
    <wsdl:message name="validarArchivoProrrateoResponse">
        <wsdl:part name="reply" element="inp3:ValidarArchivoProrrateoResponse"/>
    </wsdl:message>
    <wsdl:message name="validarImportesFacturaRequest">
        <wsdl:part name="request" element="inp4:ValidarImportesFacturaRequest"/>
    </wsdl:message>
    <wsdl:message name="validarImportesFacturaResponse">
        <wsdl:part name="reply" element="inp4:ValidarImportesFacturaResponse"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="asignarUsuario">
            <wsdl:input message="tns:asignarUsuarioRequest"/>
            <wsdl:output message="tns:asignarUsuarioResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validarNacionalidadPrestador">
            <wsdl:input message="tns:validarNacionalidadPrestadorRequest"/>
            <wsdl:output message="tns:validarNacionalidadPrestadorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validarArchivoProrrateo">
            <wsdl:input message="tns:validarArchivoProrrateoRequest"/>
            <wsdl:output message="tns:validarArchivoProrrateoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validarImportesFactura">
            <wsdl:input message="tns:validarImportesFacturaRequest"/>
            <wsdl:output message="tns:validarImportesFacturaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="asignarUsuario">
            <soap:operation style="document" soapAction="asignarUsuario"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validarNacionalidadPrestador">
            <soap:operation style="document" soapAction="validarNacionalidadPrestador"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validarArchivoProrrateo">
            <soap:operation style="document" soapAction="validarArchivoProrrateo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validarImportesFactura">
            <soap:operation style="document" soapAction="validarImportesFactura"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReglasPagosAdministrativos_ep">
        <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
            <soap:address location="http://11.50.0.22:7007/soa-infra/services/GPADomain/ReglasPagosAdministrativos/ReglasPagosAdministrativos_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>