SOL4IT - DEV/OSB_NMP_Actual/FuerzaDeVentas/Campanias/Prendario/Resources/Schemas/CRMCampaniasClienteTiposXSD3.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessTypes">
  <xs:import schemaLocation="CRMCampaniasClienteTiposXSD4.xsd" namespace="http://schemas.datacontract.org/2004/07/BusinessTypes.Response.Campaigns"/>
  <xs:complexType name="Validador">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Validador" nillable="true" type="tns:Validador"/>
  <xs:complexType name="RespuestaCampaignsResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/BusinessTypes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CampaignsResponse" Namespace="http://schemas.datacontract.org/2004/07/BusinessTypes.Response.Campaigns"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q1:CampaignsResponse" xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessTypes.Response.Campaigns"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCampaignsResponse" nillable="true" type="tns:RespuestaCampaignsResponse"/>
</xs:schema>