SOL4IT - DEV/SOA_Desarrollo/OrdenesPago/SOA/WSDLs/GestionPagoViaticosCargoDeudor.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoViaticosCargoDeudor" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoViaticosCargoDeudor">
   <wsdl:types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoViaticosCargoDeudor">
         <xsd:element name="start">
            <xsd:complexType>
               <xsd:sequence/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="endResponse">
            <xsd:complexType>
               <xsd:sequence/>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="start">
      <wsdl:part name="parameters" element="tns:start"/>
   </wsdl:message>
   <wsdl:message name="endResponse">
      <wsdl:part name="parameters" element="tns:endResponse"/>
   </wsdl:message>
   <wsdl:portType name="GestionPagoViaticosCargoDeudorPortType">
      <wsdl:operation name="start">
         <wsdl:input message="tns:start"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="GestionPagoViaticosCargoDeudorPortTypeCallBack">
      <wsdl:operation name="end">
         <wsdl:input message="tns:endResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="GestionPagoViaticosCargoDeudorPortTypePartnerLinkType">
      <plnk:role name="GestionPagoViaticosCargoDeudorPortTypeProvider">
         <plnk:portType name="tns:GestionPagoViaticosCargoDeudorPortType"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
