SOL4IT - DEV/SOA_Desarrollo/OrdenesPago/SOA/WSDLs/ReglasPagosAdministrativos_ep.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ReglasPagosAdministrativos" targetNamespace="http://xmlns.oracle.com/BPM-QUALITAS-PAGOS_ADMINISTRATIVOS/ReglasPagosAdministrativos/ReglasPagosAdministrativos" xmlns:tns="http://xmlns.oracle.com/BPM-QUALITAS-PAGOS_ADMINISTRATIVOS/ReglasPagosAdministrativos/ReglasPagosAdministrativos" xmlns:inp1="http://www.qualitas.com.mx/ReglasPagosAdministrativos/asignarUsuario" xmlns:inp2="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarNacionalidadPrestador" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:documentation>
      <abstractWSDL>http://192.168.1.10:7004/soa-infra/services/default/ReglasPagosAdministrativos!1.0/WSDLs/ReglasPagosAdministrativos.wsdl</abstractWSDL>
   </wsdl:documentation>
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/asignarUsuario" schemaLocation="../Schemas/asignarUsuario.xsd"/>
         <xsd:import namespace="http://www.qualitas.com.mx/ReglasPagosAdministrativos/validarNacionalidadPrestador" schemaLocation="../Schemas/validarNacionalidadPrestador.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="asignarUsuarioRequest">
      <wsdl:part name="request" element="inp1:AsignarUsuarioRequest"/>
   </wsdl:message>
   <wsdl:message name="asignarUsuarioResponse">
      <wsdl:part name="reply" element="inp1:AsignarUsuarioResponse"/>
   </wsdl:message>
   <wsdl:message name="validarNacionalidadPrestadorRequest">
      <wsdl:part name="request" element="inp2:ValidarNacionalidadPrestadorRequest"/>
   </wsdl:message>
   <wsdl:message name="validarNacionalidadPrestadorResponse">
      <wsdl:part name="reply" element="inp2:ValidarNacionalidadPrestadorResponse"/>
   </wsdl:message>
   <wsdl:portType name="execute_ptt">
      <wsdl:operation name="asignarUsuario">
         <wsdl:input message="tns:asignarUsuarioRequest"/>
         <wsdl:output message="tns:asignarUsuarioResponse"/>
      </wsdl:operation>
      <wsdl:operation name="validarNacionalidadPrestador">
         <wsdl:input message="tns:validarNacionalidadPrestadorRequest"/>
         <wsdl:output message="tns:validarNacionalidadPrestadorResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="asignarUsuario">
         <soap:operation style="document" soapAction="asignarUsuario"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="validarNacionalidadPrestador">
         <soap:operation style="document" soapAction="validarNacionalidadPrestador"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ReglasPagosAdministrativos_ep">
      <wsdl:port name="execute_pt" binding="tns:execute_pttBinding">
         <soap:address location="http://192.168.1.10:7004/soa-infra/services/default/ReglasPagosAdministrativos/ReglasPagosAdministrativos_ep"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
