SOL4IT - DEV/osb_Jack/MasterData/CentrosCostos/Resources/XMLSchema_32508826.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/CentroCostos/validarCentrosDeCostos/v1/" xmlns:tns="http://qualitas.com.mx/Comun/CentroCostos/validarCentrosDeCostos/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-486131707.xsd"/>
    <element name="validarCentrosDeCostosRequest">
        <complexType>
            <sequence>
                <element name="Input" type="tns:validarCentrosDeCostos" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="validarCentrosDeCostosResponse">
        <complexType>
            <sequence>
                <element name="OperationResponse" type="tnsq:OperationResponse" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="validarCentrosDeCostos">
        <sequence>
            <element name="centroCostos" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="CentroCostos">
        <sequence>
            <element name="codigoValidacion" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="centroCosto" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>