SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Prendas/Resources/WSDLs/MIDASCatClasficaPrendasWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:mx.com.nmp.midas"
                  xmlns:ns2="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns1="http://nmpcatalogobpm.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns3="http://nmpcatalogobpm.services.nmp.servicios.montedepiedad.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpcatalogobpm.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="ReglaMarcadoRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criterios" nillable="true" type="ns1:ArrayOfCriterio"/>
          <xsd:element minOccurs="0" name="etapa" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="fechaEjecucion" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="fechaSolicitud" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="idSolicitud" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="proyecto" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="subetapa" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCriterio">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Criterio" nillable="true" type="ns1:Criterio"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Criterio">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="subcriterios" nillable="true" type="ns1:ArrayOfSubcriterio"/>
          <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSubcriterio">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Subcriterio" nillable="true" type="ns1:Subcriterio"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Subcriterio">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReglaMarcadoResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigo" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="mensaje" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubCatalogoBPMRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idProyecto" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idValorCatalogoPadre" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="subCatalogo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogoBPM">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idCatalogoPadre" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nombreCatalogoPadre" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="valorCatalogoBPM" nillable="true" type="ns1:ArrayOfValorCatalogoBPM"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfValorCatalogoBPM">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ValorCatalogoBPM" nillable="true"
                       type="ns1:ValorCatalogoBPM"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValorCatalogoBPM">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListCatalogoBPMRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idProyecto" nillable="true" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetCatalogoBPMResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="catalogoBPM" nillable="true" type="ns1:ArrayOfCatalogoBPM"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCatalogoBPM">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CatalogoBPM" nillable="true" type="ns1:CatalogoBPM"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogoBPMRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="catalogo" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="idProyecto" nillable="true" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpcatalogobpm.services.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="CatalogoBPMFaultMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true" type="ns2:MessageError"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReglaMarcadoFaultMessage">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="faultInfo" nillable="true"
                        type="ns2:MessageError"/>
                </xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
    
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="MessageError">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="descripcionError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="severidad" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tipoError" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="obtenerSubCatalogoBPM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:SubCatalogoBPMRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerSubCatalogoBPMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:CatalogoBPM"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CatalogoBPMFaultMessage" type="ns3:CatalogoBPMFaultMessage"/>
      <xsd:element name="obtenerCatalogosBPM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:ListCatalogoBPMRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerCatalogosBPMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:GetCatalogoBPMResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerCatalogoBPM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:CatalogoBPMRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerCatalogoBPMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:CatalogoBPM"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reintentarRegistroReglaMarcado">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="regla" nillable="true" type="ns1:ReglaMarcadoRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reintentarRegistroReglaMarcadoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ReglaMarcadoResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReglaMarcadoFaultMessage" type="ns3:ReglaMarcadoFaultMessage"/>
      <xsd:element name="registrarReglaMarcado">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="regla" nillable="true" type="ns1:ReglaMarcadoRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registrarReglaMarcadoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="reglaMarcadoResponseType" nillable="true"
                         type="ns1:ReglaMarcadoResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    
  </wsdl:types>
  <wsdl:message name="obtenerCatalogoBPMResponse">
    <wsdl:part name="parameters" element="tns:obtenerCatalogoBPMResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerCatalogosBPMRequest">
    <wsdl:part name="parameters" element="tns:obtenerCatalogosBPM"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerCatalogoBPMRequest">
    <wsdl:part name="parameters" element="tns:obtenerCatalogoBPM"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CatalogoBPMFaultMessage">
    <wsdl:part name="CatalogoBPMFaultMessage" element="tns:CatalogoBPMFaultMessage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerCatalogosBPMResponse">
    <wsdl:part name="parameters" element="tns:obtenerCatalogosBPMResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSubCatalogoBPMResponse">
    <wsdl:part name="parameters" element="tns:obtenerSubCatalogoBPMResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSubCatalogoBPMRequest">
    <wsdl:part name="parameters" element="tns:obtenerSubCatalogoBPM"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CatalogoBPMWSPortType">
    <wsdl:operation name="obtenerSubCatalogoBPM">
      <wsdl:input name="obtenerSubCatalogoBPMRequest" message="tns:obtenerSubCatalogoBPMRequest"></wsdl:input>
      <wsdl:output name="obtenerSubCatalogoBPMResponse" message="tns:obtenerSubCatalogoBPMResponse"></wsdl:output>
      <wsdl:fault name="CatalogoBPMFaultMessage" message="tns:CatalogoBPMFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerCatalogosBPM">
      <wsdl:input name="obtenerCatalogosBPMRequest" message="tns:obtenerCatalogosBPMRequest"></wsdl:input>
      <wsdl:output name="obtenerCatalogosBPMResponse" message="tns:obtenerCatalogosBPMResponse"></wsdl:output>
      <wsdl:fault name="CatalogoBPMFaultMessage" message="tns:CatalogoBPMFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerCatalogoBPM">
      <wsdl:input name="obtenerCatalogoBPMRequest" message="tns:obtenerCatalogoBPMRequest"></wsdl:input>
      <wsdl:output name="obtenerCatalogoBPMResponse" message="tns:obtenerCatalogoBPMResponse"></wsdl:output>
      <wsdl:fault name="CatalogoBPMFaultMessage" message="tns:CatalogoBPMFaultMessage"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatalogoBPMWSHttpBinding" type="tns:CatalogoBPMWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerSubCatalogoBPM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerSubCatalogoBPMRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerSubCatalogoBPMResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CatalogoBPMFaultMessage">
        <wsdlsoap:fault name="CatalogoBPMFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerCatalogosBPM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerCatalogosBPMRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerCatalogosBPMResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CatalogoBPMFaultMessage">
        <wsdlsoap:fault name="CatalogoBPMFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerCatalogoBPM">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerCatalogoBPMRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerCatalogoBPMResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CatalogoBPMFaultMessage">
        <wsdlsoap:fault name="CatalogoBPMFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogoBPMWS">
    <wsdl:port name="CatalogoBPMWSHttpPort" binding="tns:CatalogoBPMWSHttpBinding">
      <wsdlsoap:address location="http://localhost:9010/midas-web/services/CatalogoBPMWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>