SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/InteligenciaNegocio/RiesgoTransaccional/Resources/WSDLs/BITxHistoricasClienteDBWSDL.wsdl

<wsdl:definitions name="TxHistoricasCliente" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/RT_DB/RT_DB/TxHistoricasCliente" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/RT_DB/RT_DB/TxHistoricasCliente" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/TxHistoricasCliente" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="TxHistoricasCliente_plt">
    <plt:role name="TxHistoricasCliente_role">
      <plt:portType name="tns:TxHistoricasCliente_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/TxHistoricasCliente" schemaLocation="../Schemas/BITxHistoricasClienteXSD.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="TxHistoricasClienteInput_msg">
        <wsdl:part name="TxHistoricasClienteInput_msg" element="db:TxHistoricasClienteInput"/>
    </wsdl:message>
    <wsdl:message name="TxHistoricasClienteOutputCollection_msg">
        <wsdl:part name="TxHistoricasClienteOutputCollection" element="db:TxHistoricasClienteOutputCollection"/>
    </wsdl:message>
    <wsdl:portType name="TxHistoricasCliente_ptt">
        <wsdl:operation name="TxHistoricasClientePP_DS_RF_IA">
            <wsdl:input message="tns:TxHistoricasClienteInput_msg"/>
            <wsdl:output message="tns:TxHistoricasClienteOutputCollection_msg"/>
        </wsdl:operation>
         <wsdl:operation name="TxHistoricasCliente_VB_VP">
            <wsdl:input message="tns:TxHistoricasClienteInput_msg"/>
            <wsdl:output message="tns:TxHistoricasClienteOutputCollection_msg"/>
        </wsdl:operation>
         <wsdl:operation name="TxHistoricasCliente_DP">
            <wsdl:input message="tns:TxHistoricasClienteInput_msg"/>
            <wsdl:output message="tns:TxHistoricasClienteOutputCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TxHistoricasCliente_pttSOAP11Binding" type="tns:TxHistoricasCliente_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TxHistoricasClientePP_DS_RF_IA">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/RT_DB/RT_DB/TxHistoricasCliente/TxHistoricasCliente"/>
            <wsdl:input>
                <soap:body use="literal" parts="TxHistoricasClienteInput_msg"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="TxHistoricasClienteOutputCollection"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TxHistoricasCliente_VB_VP">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/RT_DB/RT_DB/TxHistoricasCliente/TxHistoricasCliente"/>
            <wsdl:input>
                <soap:body use="literal" parts="TxHistoricasClienteInput_msg"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="TxHistoricasClienteOutputCollection"/>
            </wsdl:output>
        </wsdl:operation>
          <wsdl:operation name="TxHistoricasCliente_DP">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/RT_DB/RT_DB/TxHistoricasCliente/TxHistoricasCliente"/>
            <wsdl:input>
                <soap:body use="literal" parts="TxHistoricasClienteInput_msg"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="TxHistoricasClienteOutputCollection"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>