SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/InteligenciaNegocio/RiesgoTransaccional/Resources/WSDLs/NMPGestionCasosBPMWSDL.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCasoProceso" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:NMPSM="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCasoProceso" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>http://10.30.3.15:8001/soa-infra/services/RT_BPM/GestionRiesgoBPM!1.0/WSDLs/GestionCasoProceso.wsdl</abstractWSDL>
    </wsdl:documentation>
    
    <plnk:partnerLinkType name="GestionCasoProcesoPortTypePartnerLinkType">
    <plnk:role name="GestionCasoProcesoPortTypeProvider">
      <plnk:portType name="tns:GestionCasoProcesoPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  
  
<wsp:Policy wsu:Id="wsaddr_policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
   <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
</wsp:Policy>    <wsdl:types>
<xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCasoProceso">
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="iniciarGestion">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="idCaso" type="xsd:long"/>
                        <xsd:element name="modo" type="xsd:string"/>
                        <xsd:element name="idCliente" type="xsd:string"/>
                        <xsd:element name="credencialCliente" type="xsd:string"/>
                        <xsd:element name="calificacionInicialCaso" type="xsd:float"/>
                        <xsd:element name="idSucursal" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
<xsd:element name="iniciarGesionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codigoRespuesta" type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="iniciarGestion">
        <wsdl:part name="parameters" element="tns:iniciarGestion"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="GestionCasoProcesoPortType">
        <wsdl:operation name="iniciarGestion">
            <wsdl:input message="tns:iniciarGestion"/>
      <wsdl:output message="tns:iniciarGesionResponse"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:portType name="GestionCasoProcesoPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="faulr" element="NMPSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="iniciarGesionResponse">
    <wsdl:part name="iniciarGesionResponse" element="tns:iniciarGesionResponse"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="GestionCasoProcesoBinding" type="tns:GestionCasoProcesoPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	
	
	
    <wsdl:operation name="iniciarGestion">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCasoProceso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
        <wsdlsoap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" parts="iniciarGesionResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>