SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Concentradora/Resources/WSDLs/MIDASRecepcionReglaMarcadoWDL.wsdl

<wsdl:definitions targetNamespace="urn:mx.com.nmp.midas" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="urn:mx.com.nmp.midas" schemaLocation="../Schemas/MIDASReglaMarcadoMsgXSD.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="reintentarRegistroReglaMarcadoResponse">
    <wsdl:part name="parameters" element="tns:reintentarRegistroReglaMarcadoResponse"/>
  </wsdl:message>
  <wsdl:message name="registrarReglaMarcadoRequest">
    <wsdl:part name="parameters" element="tns:registrarReglaMarcado"/>
  </wsdl:message>
  <wsdl:message name="registrarReglaMarcadoResponse">
    <wsdl:part name="parameters" element="tns:registrarReglaMarcadoResponse"/>
  </wsdl:message>
  <wsdl:message name="reintentarRegistroReglaMarcadoRequest">
    <wsdl:part name="parameters" element="tns:reintentarRegistroReglaMarcado"/>
  </wsdl:message>
  <wsdl:message name="ReglaMarcadoFaultMessage">
    <wsdl:part name="ReglaMarcadoFaultMessage" element="tns:ReglaMarcadoFaultMessage"/>
  </wsdl:message>
  <wsdl:portType name="RecepcionReglaMarcadoWSPortType">
    <wsdl:operation name="reintentarRegistroReglaMarcado">
      <wsdl:input name="reintentarRegistroReglaMarcadoRequest" message="tns:reintentarRegistroReglaMarcadoRequest"/>
      <wsdl:output name="reintentarRegistroReglaMarcadoResponse" message="tns:reintentarRegistroReglaMarcadoResponse"/>
      <wsdl:fault name="ReglaMarcadoFaultMessage" message="tns:ReglaMarcadoFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="registrarReglaMarcado">
      <wsdl:input name="registrarReglaMarcadoRequest" message="tns:registrarReglaMarcadoRequest"/>
      <wsdl:output name="registrarReglaMarcadoResponse" message="tns:registrarReglaMarcadoResponse"/>
      <wsdl:fault name="ReglaMarcadoFaultMessage" message="tns:ReglaMarcadoFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecepcionReglaMarcadoWSHttpBinding" type="tns:RecepcionReglaMarcadoWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reintentarRegistroReglaMarcado">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reintentarRegistroReglaMarcadoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reintentarRegistroReglaMarcadoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReglaMarcadoFaultMessage">
        <wsdlsoap:fault name="ReglaMarcadoFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registrarReglaMarcado">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="registrarReglaMarcadoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registrarReglaMarcadoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReglaMarcadoFaultMessage">
        <wsdlsoap:fault name="ReglaMarcadoFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecepcionReglaMarcadoWS">
    <wsdl:port name="RecepcionReglaMarcadoWSHttpPort" binding="tns:RecepcionReglaMarcadoWSHttpBinding">
      <wsdlsoap:address location="http://localhost/services/RecepcionReglaMarcadoWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>