SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionIdentidades/BAM/Resources/WSDL/BAMManageAppRolesWSDL.wsdl

<wsdl:definitions name="manageAppRoles_WSDL" targetNamespace="http://www.montedepiedad.com.mx/Identity/WSDL/manageAppRoles" xmlns:s_mroles="http://www.montedepiedad.com.mx/Identity/WSDL/manageAppRoles" xmlns:e_mroles="http://types.montedepiedad.com.mx/Identity/Schemas/manageAppRoles_ELEMENTS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://types.montedepiedad.com.mx/Identity/Schemas/manageAppRoles_ELEMENTS" schemaLocation="../XSD/BAMManageAppRolesElementsXSD.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="grantAppRoleRequest">
		<wsdl:part element="e_mroles:grantAppRoleRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="grantAppRoleResponse">
		<wsdl:part element="e_mroles:grantAppRoleResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="grantAppRoleFault">
		<wsdl:part element="e_mroles:grantAppRoleFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="revokeAppRoleRequest">
		<wsdl:part element="e_mroles:revokeAppRoleRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="revokeAppRoleResponse">
		<wsdl:part element="e_mroles:revokeAppRoleResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="revokeAppRoleFault">
		<wsdl:part element="e_mroles:revokeAppRoleFault" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="manageAppRoles_Port">
		<wsdl:operation name="grantAppRoles">
			<wsdl:input message="s_mroles:grantAppRoleRequest"/>
			<wsdl:output message="s_mroles:grantAppRoleResponse"/>
			<wsdl:fault name="grantAppRoleFault" message="s_mroles:grantAppRoleFault"/>
		</wsdl:operation>
		<wsdl:operation name="revokeAppRoles">
			<wsdl:input message="s_mroles:revokeAppRoleRequest"/>
			<wsdl:output message="s_mroles:revokeAppRoleResponse"/>
			<wsdl:fault name="revokeAppRoleFault" message="s_mroles:revokeAppRoleFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="manageAppRoles_Binding" type="s_mroles:manageAppRoles_Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="grantAppRoles">
			<soap:operation soapAction="grantAppRoles"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="grantAppRoleFault">
				<soap:fault name="grantAppRoleFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="revokeAppRoles">
			<soap:operation soapAction="revokeAppRoles"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="revokeAppRoleFault">
				<soap:fault name="revokeAppRoleFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="manageAppRoles_Service">
		<wsdl:port binding="s_mroles:manageAppRoles_Binding" name="manageAppRoles_EP">
			<soap:address location="http://www.montedepiedad.com.mx/Identity/Services/manageAppRoles"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>