SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionIdentidades/BAM/Resources/WSDL/BAMManageGroupsWSDL.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://spsolutions.com.mx/" name="BAMManageGroupsService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://spsolutions.com.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://spsolutions.com.mx/" schemaLocation="../XSD/BAMManageGroupsXSD.xsd"/>
</xsd:schema>
</types>
<message name="removeFromGroup">
<part name="parameters" element="tns:removeFromGroup"/>
</message>
<message name="removeFromGroupResponse">
<part name="parameters" element="tns:removeFromGroupResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addToGroup">
<part name="parameters" element="tns:addToGroup"/>
</message>
<message name="addToGroupResponse">
<part name="parameters" element="tns:addToGroupResponse"/>
</message>
<message name="addEntry">
<part name="parameters" element="tns:addEntry"/>
</message>
<message name="addEntryResponse">
<part name="parameters" element="tns:addEntryResponse"/>
</message>
<portType name="BAMManageGroups">
<operation name="removeFromGroup">
<input message="tns:removeFromGroup"/>
<output message="tns:removeFromGroupResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="addToGroup">
<input message="tns:addToGroup"/>
<output message="tns:addToGroupResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="addEntry">
<input message="tns:addEntry"/>
<output message="tns:addEntryResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
</portType>
<binding name="BAMManageGroupsSoap12HttpPortBinding" type="tns:BAMManageGroups">
<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
<operation name="removeFromGroup">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception">
<soap12:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addToGroup">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception">
<soap12:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addEntry">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="Exception">
<soap12:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="BAMManageGroupsService">
<port name="BAMManageGroupsSoap12HttpPort" binding="tns:BAMManageGroupsSoap12HttpPortBinding">
<soap12:address location="http://10.30.3.105:8001/NMPConnectors-BAMLDAPGroupWS-context-root/BAMManageGroupsSoap12HttpPort"/>
</port>
</service>
</definitions>