SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Ofertas/Resources/Schemas/CRMActualizarOfertasTipos1XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessTypes">
  <xs:complexType name="Validador">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Validador" nillable="true" type="tns:Validador"/>
  <xs:complexType name="Respuestaboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/BusinessTypes"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuestaboolean" nillable="true" type="tns:Respuestaboolean"/>
</xs:schema>