SOL4IT - DEV/osb_Jack/Finance/AP/GPA/Entity/Resources/Solicitud/XMLSchema_-1434260010.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Seguimiento/GenerarSeguimiento/v1/"
     xmlns:tns="http://qualitas.com.mx/Seguimiento/GenerarSeguimiento/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="SeguimientoOEN">
        <sequence>
            <element name="actividad" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="usuario" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="MotivoRechazo">
        <sequence>
            <element name="idTpObservacion" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="txObservaciones" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>