SOL4IT - DEV/ServiceBusApplication_FGJED/SBProject_FGJED/Resources/Schemas/CasosTiposXSD.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cas="http://mx.gob.edomex.fgjem.entidades.casos"
            targetNamespace="http://mx.gob.edomex.fgjem.entidades.casos" elementFormDefault="qualified">
  <!--Inicio Caso -->
  <xsd:complexType name="CasoType">
    <xsd:sequence>
      <xsd:element name="nic" type="cas:NICType"/>
      <xsd:element name="nuc" type="cas:NUCType"/>
      <xsd:element name="titularCaso" type="cas:TitularCasoType"/>
      <xsd:element name="listaPersonas" type="cas:PersonaType"/>
      <xsd:element name="delitoCaso" type="cas:DelitoCasoType"/>
      <xsd:element name="lugarAsociado" type="cas:LugarAsociadoType"/>
      <xsd:element name="arma" type="cas:ArmaType"/>
      <xsd:element name="vehiculo" type="cas:VehiculoType"/>
      <xsd:element name="relacionCaso" type="cas:RelacionCasoType"/>
      <xsd:element name="documento" type="cas:DocumentoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NICType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NUCType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Inicio Titular Caso-->
  <xsd:complexType name="TitularCasoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Fin Titular Caso-->
  <!-- Inicio Delito-->
  <xsd:complexType name="DelitoCasoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="delito" type="cas:DelitoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelitoType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Fin Delito-->
  <!--Inicio Lugar Asociado-->
  <xsd:complexType name="LugarAsociadoType">
    <xsd:sequence>
      <xsd:element name="tipoLugarAsociado" type="cas:TipoLugarAsociadoType"/>
      <xsd:element name="estado" type="cas:EstadoType"/>
      <xsd:element name="localidad" type="cas:LocalidadType"/>
      <xsd:element name="colonia" type="cas:ColoniaType"/>
      <xsd:element name="tipoZona" type="cas:TipoZonaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoLugarAsociadoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocalidadType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="latitud" type="xsd:int"/>
      <xsd:element name="longuitud" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ColoniaType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoZonaType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Fin Lugar Asociado-->
  <!--inicio de Arma-->
  <xsd:complexType name="ArmaType">
    <xsd:sequence>
      <xsd:element name="claseArma" type="cas:ClaseArmaType"/>
      <xsd:element name="tipoArma" type="cas:TipoArmaType"/>
      <xsd:element name="mecanismoArma" type="cas:MecanismoArmaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaseArmaType">
    <xsd:sequence>
      <xsd:element name="clase" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MecanismoArmaType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoArmaType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="subtipoArma" type="cas:SubtipoArmaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubtipoArmaType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="subtipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Fin de Arma-->
  <!--Informacion de Vehiculo-->
  <xsd:complexType name="VehiculoType">
    <xsd:sequence>
      <xsd:element name="motorRegistroVehiculo" type="cas:MotorRegistroVehiculoType"/>
      <xsd:element name="aseguradoraVehiculo" type="cas:AseguradoraVehiculoType"/>
      <xsd:element name="situacionVehiculo" type="cas:SituacionVehiculoType"/>
      <xsd:element name="tipoVehiculo" type="cas:TipoVehiculoType"/>
      <xsd:element name="claseVehiculo" type="cas:ClaseVehiculoType"/>
      <xsd:element name="marcaVehiculo" type="cas:MarcaVehiculoType"/>
      <xsd:element name="submarcaVehiculo" type="cas:SubmarcaVehiculoType"/>
      <xsd:element name="modelo" type="cas:ModeloType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MotorRegistroVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="registro" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AseguradoraVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SituacionVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaseVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarcaVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubmarcaVehiculoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ModeloType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="codigo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Vehiculo-->
  <!-- Inicio Relacion Caso-->
  <xsd:complexType name="RelacionCasoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipoRelacionCaso" type="cas:TipoRelacionCasoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoRelacionCasoType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Relacion Caso-->
  <!-- Inicio Documento-->
  <xsd:complexType name="DocumentoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipoDocumento" type="cas:TipoDocumentoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoDocumentoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="fechaExpedicion" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Documento-->
  <!--Fin de Caso-->
  <!--Inicio Persona-->
  <xsd:complexType name="PersonaType">
    <xsd:sequence>
      <xsd:element name="rolPersona" type="cas:RolPersonaType"/>
      <xsd:element name="tipoDocumentoIdentificacion" type="cas:TipoDocumentoIdentificacionType"/>
      <xsd:element name="autoridadEmisoraDocumentoIdentificacion"
                   type="cas:AutoridadEmisoraDocumentoIdentificacionType"/>
      <xsd:element name="informacionPersona" type="cas:InformacionPersonaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RolPersonaType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneroType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoDocumentoIdentificacionType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="noRegistro" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NacionalidadType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutoridadEmisoraDocumentoIdentificacionType">
    <xsd:sequence>
      <xsd:element name="nombreDependencia" type="xsd:string"/>
      <xsd:element name="nombreAutoridadEmisora" type="xsd:string"/>
      <xsd:element name="noRegistro" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Iniciio Informacion de Persona-->
  <xsd:complexType name="InformacionPersonaType">
    <xsd:sequence>
      <xsd:element name="informacionDefensor" type="cas:InformacionDefensorType"/>
      <xsd:element name="informacionLocalizacion" type="cas:InformacionLocalizacionType"/>
      <xsd:element name="informacionViolenciaGenero" type="cas:InformacionViolenciaGeneroType"/>
      <xsd:element name="informacionMediaAfiliacion" type="cas:InformacionMediaAfiliacionType"/>
      <xsd:element name="tipoConvicencia" type="cas:TipoConvicenciaType"/>
      <xsd:element name="nivelEscolaridad" type="cas:NivelEscolaridadType"/>
      <xsd:element name="estadoCivil" type="cas:EstadoCivilType"/>
      <xsd:element name="religion" type="cas:ReligionType"/>
      <xsd:element name="lenguaIndigena" type="cas:LenguaIndigenaType"/>
      <xsd:element name="grupoEtnico" type="cas:GrupoEtnicoType"/>
      <xsd:element name="alfabetismo" type="cas:AlfabetismoType"/>
      <xsd:element name="familiaLinguistica" type="cas:FamiliaLinguisticaType"/>
      <xsd:element name="estadoPsicologico" type="cas:EstadoPsicologicoType"/>
      <xsd:element name="tipoTutor" type="cas:TipoTutorType"/>
      <xsd:element name="informacionInputado" type="cas:InformacionInputadoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDefensorType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipoDefensorType" type="cas:TipoDefensorType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoDefensorType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionLocalizacionType">
    <xsd:sequence>
      <xsd:element name="pais" type="cas:PaisType"/>
      <xsd:element name="poblado" type="xsd:string"/>
      <xsd:element name="latitud" type="xsd:double"/>
      <xsd:element name="longuitus" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaisType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionViolenciaGeneroType">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoConvicenciaType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NivelEscolaridadType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadoCivilType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReligionType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LenguaIndigenaType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="clasificacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GrupoEtnicoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="region" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AlfabetismoType">
    <xsd:sequence>
      <xsd:element name="nivel" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FamiliaLinguisticaType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadoPsicologicoType">
    <xsd:sequence>
      <xsd:element name="esatdo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoTutorType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionInputadoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="edad" type="xsd:int"/>
      <xsd:element name="genero" type="cas:GeneroType"/>
      <xsd:element name="tipoSangre" type="xsd:string"/>
      <xsd:element name="nacionalidad" type="cas:NacionalidadType"/>
      <xsd:element name="lugarNacimiento" type="xsd:string"/>
      <xsd:element name="alias" type="xsd:string"/>
      <xsd:element name="otroNombreImputrado" type="cas:OtroNombreImputradoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OtroNombreImputradoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Informacion de Media Afiliacion-->
  <xsd:complexType name="InformacionMediaAfiliacionType">
    <xsd:sequence>
      <xsd:element name="tipoCantidadCabello" type="cas:TipoCantidadCabelloType"/>
      <xsd:element name="tipoComplexion" type="cas:TipoComplexionType"/>
      <xsd:element name="colorPiel" type="cas:ColorPielType"/>
      <xsd:element name="formaCara" type="cas:FormaCaraType"/>
      <xsd:element name="colorCabello" type="cas:ColorCabelloType"/>
      <xsd:element name="formaCabello" type="cas:FormaCabelloType"/>
      <xsd:element name="tipoCalvicie" type="cas:TipoCalvicieType"/>
      <xsd:element name="tipoImplantacionCabello" type="cas:TipoImplantacionCabelloType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoCantidadCabelloType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoComplexionType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ColorPielType">
    <xsd:sequence>
      <xsd:element name="color" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormaCaraType">
    <xsd:sequence>
      <xsd:element name="forma" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ColorCabelloType">
    <xsd:sequence>
      <xsd:element name="color" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormaCabelloType">
    <xsd:sequence>
      <xsd:element name="forma" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoCalvicieType">
    <xsd:sequence>
      <xsd:element name="forma" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoImplantacionCabelloType">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Informacion de Media Afiliacion-->
  <!-- Fin Informacion de Persona-->
  <!--Fin Persona-->
  
</xsd:schema>
