SOL4IT - DEV/OSB_Desarrollo_NMP/PoC/QuienEsQuien/NMPQuienEsQuienPXY.wsdl

<wsdl:definitions name="NMPQuienEsQuienPXY" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien" xmlns:inp3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="accesoRequest">
                <complexType>
                    <sequence>
                        <element name="usuario" type="xsd:string"/>
                        <element name="contrasena" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="accesoResponse">
                <complexType>
                    <sequence>
                        <element name="cookie" maxOccurs="unbounded">
                            <complexType>
                                <sequence>
                                    <element name="nombre" type="xsd:string"/>
                                    <element name="valor" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../AutosSinResguardo/AutoInfoDes/Resources/XSD/NMPStandardMessage.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="accesoRequest">
        <wsdl:part name="request" element="tns:accesoRequest"/>
    </wsdl:message>
    <wsdl:message name="accesoResponse">
        <wsdl:part name="response" element="tns:accesoResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="inp3:messageError"/>
    </wsdl:message>
    <wsdl:portType name="QuienEsQuientPT">
        <wsdl:operation name="Acceso">
            <wsdl:input message="tns:accesoRequest"/>
            <wsdl:output message="tns:accesoResponse"/>
            <wsdl:fault name="Accesofault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QuienEsQuien" type="tns:QuienEsQuientPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Acceso">
            <soap:operation style="document" soapAction="Acceso"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Servicios/QuienEsQuien"/>
            </wsdl:output>
            <wsdl:fault name="Accesofault">
                <soap:fault name="Accesofault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>