SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/CRM/Resources/XSD/CRMIdmTypesXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/Modelo.Clases">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccesoCorreoEntrante" type="xs:int"/>
      <xs:element minOccurs="0" name="AccesoCorreoSaliente" type="xs:int"/>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MetodoAcceso" type="xs:int"/>
      <xs:element minOccurs="0" name="NombrePila" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRol"/>
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoLiciencia" type="xs:int"/>
      <xs:element minOccurs="0" name="UnidadNegocio" nillable="true" type="tns:UnidadNegocio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario"/>
  <xs:complexType name="ArrayOfRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRol" nillable="true" type="tns:ArrayOfRol"/>
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IdRol" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="UnidadNegocio" nillable="true" type="tns:UnidadNegocio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol"/>
  <xs:complexType name="UnidadNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUnidadNegocio" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadNegocio" nillable="true" type="tns:UnidadNegocio"/>
  <xs:complexType name="ResultadoCMOOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfstring" nillable="true" type="tns:ResultadoCMOOfstring"/>
  <xs:complexType name="ResultadoCMOOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfboolean" nillable="true" type="tns:ResultadoCMOOfboolean"/>
  <xs:complexType name="ResultadoCMOOfArrayOfUnidadNegocioFCQBnUh3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUnidadNegocio"
                            Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfUnidadNegocio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfArrayOfUnidadNegocioFCQBnUh3" nillable="true"
              type="tns:ResultadoCMOOfArrayOfUnidadNegocioFCQBnUh3"/>
  <xs:complexType name="ArrayOfUnidadNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnidadNegocio" nillable="true" type="tns:UnidadNegocio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidadNegocio" nillable="true" type="tns:ArrayOfUnidadNegocio"/>
  <xs:complexType name="ResultadoCMOOfArrayOfOrganizacionFCQBnUh3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOrganizacion"
                            Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfOrganizacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfArrayOfOrganizacionFCQBnUh3" nillable="true"
              type="tns:ResultadoCMOOfArrayOfOrganizacionFCQBnUh3"/>
  <xs:complexType name="ArrayOfOrganizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organizacion" nillable="true" type="tns:Organizacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizacion" nillable="true" type="tns:ArrayOfOrganizacion"/>
  <xs:complexType name="Organizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdOrganizacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organizacion" nillable="true" type="tns:Organizacion"/>
  <xs:complexType name="ResultadoCMOOfArrayOfRolFCQBnUh3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRol" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfRol"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfArrayOfRolFCQBnUh3" nillable="true" type="tns:ResultadoCMOOfArrayOfRolFCQBnUh3"/>
  <xs:complexType name="ResultadoCMOOfUsuarioFCQBnUh3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Usuario" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:Usuario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfUsuarioFCQBnUh3" nillable="true" type="tns:ResultadoCMOOfUsuarioFCQBnUh3"/>
  <xs:complexType name="ResultadoCMOOfArrayOfUsuarioFCQBnUh3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUsuario" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfUsuario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfArrayOfUsuarioFCQBnUh3" nillable="true"
              type="tns:ResultadoCMOOfArrayOfUsuarioFCQBnUh3"/>
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario"/>
  <xs:complexType name="ResultadoCMOOfArrayOfSucursalFCQBnUh3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfSucursal" Namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="tns:ArrayOfSucursal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfArrayOfSucursalFCQBnUh3" nillable="true"
              type="tns:ResultadoCMOOfArrayOfSucursalFCQBnUh3"/>
  <xs:complexType name="ArrayOfSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sucursal" nillable="true" type="tns:Sucursal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSucursal" nillable="true" type="tns:ArrayOfSucursal"/>
  <xs:complexType name="Sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveSucursal" type="xs:int"/>
      <xs:element minOccurs="0" name="IdSucursal" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sucursal" nillable="true" type="tns:Sucursal"/>
  <xs:complexType name="CRMIdmFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoError" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionError" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoError" type="xs:string"/>
      <xs:element minOccurs="0" name="severidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRMIdmFault" type="tns:CRMIdmFault"/>
</xs:schema>