SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/UsuariosMonte/Resources/WADLs/NMPUsuariosMonteWADL.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:um="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="NMPUsuariosMonteRestPXY">Servicio rest para administración de los usuarios del portal</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte" schemaLocation="../Schemas/NMPUsuariosMonteXSD.xsd"/>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </schema>
   </grammars>
   <resources>
      <resource path="/validarDatos">
         <method name="POST" soa:wsdlOperation="validarDatos">
            <request>
               <representation mediaType="application/json" element="cns:validarDatosRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:validarDatosResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/validarMedioContacto">
         <method name="POST" soa:wsdlOperation="validarMedioContacto">
            <request>
               <representation mediaType="application/json" element="cns:validarMedioContactoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:validarMedioContactoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/actualizarDatos">
         <method name="POST" soa:wsdlOperation="actualizarDatos">
            <request>
               <representation mediaType="application/json" element="cns:actualizarDatosRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:actualizarDatosResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/solicitarAlta">
         <method name="POST" soa:wsdlOperation="solicitarAlta">
            <request>
               <representation mediaType="application/json" element="cns:solicitarAltaRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:solicitarAltaResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/solicitarActivacion">
         <method name="PUT" soa:wsdlOperation="solicitarActivacion">
            <request>
               <representation mediaType="application/json" element="cns:solicitarActivacionRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:solicitarActivacionResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/solicitarReinicioContrasena">
         <method name="POST" soa:wsdlOperation="solicitarReinicioContrasena">
            <request>
               <representation mediaType="application/json" element="cns:solicitarReinicioContrasenaRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:solicitarReinicioContrasenaResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/registrarContrasena">
         <method name="PUT" soa:wsdlOperation="registrarContrasena">
            <request>
               <representation mediaType="application/json" element="cns:registrarContrasenaRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:registrarContrasenaResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte"/>
            </response>
            <response status="500" soa:wsdlFaultName="usuariosMonteFault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>