SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/MIDAS/Resources/XSD/MidasProvisioningNewXSD_Types.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ns1="http://nmpusuario.schema.nmp.servicios.montedepiedad.com.mx"
            targetNamespace="http://nmpusuario.schema.nmp.servicios.montedepiedad.com.mx" elementFormDefault="qualified">
  <xsd:complexType name="getAllPerfilesOperativosResponseType">
    <xsd:sequence>
      <xsd:element name="listaSucursalPerfiles" type="ns1:ListaSucursalPerfiles"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaSucursalPerfiles">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sucursalPerfiles" nillable="true" type="ns1:ArrayOfSucursalPerfiles"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfSucursalPerfiles">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SucursalPerfiles" nillable="true"
                   type="ns1:SucursalPerfiles"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SucursalPerfiles">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="perfiles" nillable="true" type="ns1:Perfiles"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Perfiles">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="perfil" nillable="true" type="ns1:ArrayOfPerfilType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPerfilType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PerfilType" nillable="true" type="ns1:PerfilType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PerfilType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipo" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sucursal" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>