SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Ofertas/Resources/WSDLs/NMPOfertasSvcWSDL.wsdl

<wsdl:definitions name="Ofertas" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Ofertas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:SvcNMPOfertasE="http://servicios.montedepiedad.com.mx/NMP/Servicios/Schema/Elementos/Ofertas" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Ofertas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Servicios/Schema/Elementos/Ofertas" schemaLocation="../Schemas/NMPOfertasSvcElementosXSD.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="generarOfertasRequestMessage">
    <wsdl:part name="generarOfertasRequest" element="SvcNMPOfertasE:GenerarOfertasRequest"/>
  </wsdl:message>
  <wsdl:message name="generarOfertasResponseMessage">
    <wsdl:part name="generarOfertasResponse" element="SvcNMPOfertasE:GenerarOfertasResponse"/>
  </wsdl:message>
  <wsdl:message name="actualizarOfertasRequestMessage">
    <wsdl:part name="actualizarOfertasRequest" element="SvcNMPOfertasE:ActualizarOfertasRequest"/>
  </wsdl:message>
  <wsdl:message name="actualizarOfertasResponseMessage">
    <wsdl:part name="actualizarOfertasResponse" element="SvcNMPOfertasE:ActualizarOfertasResponse"/>
  </wsdl:message>
  <wsdl:message name="guardarOfertasRequestMessage">
    <wsdl:part name="guardarOfertasRequest" element="SvcNMPOfertasE:GuardarOfertasRequest"/>
  </wsdl:message>
  <wsdl:message name="guardarOfertasResponseMessage">
    <wsdl:part name="guardarOfertasResponse" element="SvcNMPOfertasE:GuardarOfertasResponse"/>
  </wsdl:message>
  <wsdl:message name="ofertasFaultMessage">
    <wsdl:part name="ofertasFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="Ofertas_ptt">
    <wsdl:operation name="generarOfertas">
      <wsdl:input message="tns:generarOfertasRequestMessage"/>
      <wsdl:output message="tns:generarOfertasResponseMessage"/>
      <wsdl:fault message="tns:ofertasFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarOfertas">
      <wsdl:input message="tns:actualizarOfertasRequestMessage"/>
      <wsdl:output message="tns:actualizarOfertasResponseMessage"/>
      <wsdl:fault message="tns:ofertasFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="guardarOfertas">
      <wsdl:input message="tns:guardarOfertasRequestMessage"/>
      <wsdl:output message="tns:guardarOfertasResponseMessage"/>
      <wsdl:fault message="tns:ofertasFaultMessage" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfertasBinding" type="tns:Ofertas_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generarOfertas">
      <soap:operation style="document" soapAction="generarOfertas"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <wsdlsoap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarOfertas">
      <soap:operation style="document" soapAction="actualizarOfertas"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <wsdlsoap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="guardarOfertas">
      <soap:operation style="document" soapAction="guardarOfertas"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <wsdlsoap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ofertas">
    <wsdl:port name="OfertasPort" binding="tns:OfertasBinding">
      <soap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>