SOL4IT - DEV/OSB_NMP_Actual/OperacionCreditos/Creditos/Resources/WSDLs/SAPZlmWsConsultaSaldosWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_CONSULTA_SALDO">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_CONSULTA_SALDO">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZlmRfcConsultaSaldos">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZlmStrSaldos">
        <xsd:sequence>
          <xsd:element name="Contrato" type="n0:char13"/>
          <xsd:element name="Producto" type="n0:char50"/>
          <xsd:element name="Moneda" type="n0:cuky5"/>
          <xsd:element name="Desembolso" type="n0:curr13.2"/>
          <xsd:element name="CapVig" type="n0:curr13.2"/>
          <xsd:element name="CapVen" type="n0:curr13.2"/>
          <xsd:element name="SaldoVig" type="n0:curr13.2"/>
          <xsd:element name="SaldoVen" type="n0:curr13.2"/>
          <xsd:element name="SaldoCap" type="n0:curr13.2"/>
          <xsd:element name="IntVig" type="n0:curr13.2"/>
          <xsd:element name="IntVen" type="n0:curr13.2"/>
          <xsd:element name="SaldoInt" type="n0:curr13.2"/>
          <xsd:element name="SaldoCom" type="n0:curr13.2"/>
          <xsd:element name="PagosNoAplicados" type="n0:curr13.2"/>
          <xsd:element name="SaldoLiquidar" type="n0:curr13.2"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmRfcConsultaSaldos.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZlmRfcConsultaSaldos.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmTtSaldos">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmStrSaldos" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZlmRfcConsultaSaldos.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ExLog"/>
          <xsd:enumeration value="ExCliente"/>
          <xsd:enumeration value="ExNoInfo"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZlmRfcConsultaSaldos.Exception" type="tns:ZlmRfcConsultaSaldos.RfcException"/>
      <xsd:element name="ZlmRfcConsultaSaldos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Cliente" type="n0:char10"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmRfcConsultaSaldosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Saldos" type="tns:ZlmTtSaldos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmRfcConsultaSaldos">
    <wsdl:part name="parameters" element="tns:ZlmRfcConsultaSaldos"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcConsultaSaldosResponse">
    <wsdl:part name="parameter" element="tns:ZlmRfcConsultaSaldosResponse"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcConsultaSaldos.Exception">
    <wsdl:part name="ZlmRfcConsultaSaldos.Exception" element="tns:ZlmRfcConsultaSaldos.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_CONSULTA_SALDO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_CONSULTA_SALDO"/>
    </wsp:Policy>
    <wsdl:operation name="ZlmRfcConsultaSaldos">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZlmRfcConsultaSaldos"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZlmRfcConsultaSaldos"/>
      <wsdl:output message="tns:ZlmRfcConsultaSaldosResponse"/>
      <wsdl:fault name="ZlmRfcConsultaSaldos.Exception" message="tns:ZlmRfcConsultaSaldos.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_CONSULTA_SALDO" type="tns:ZLM_WS_CONSULTA_SALDO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_CONSULTA_SALDO"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZlmRfcConsultaSaldos">
      <soap:operation soapAction="ZlmRfcConsultaSaldos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZlmRfcConsultaSaldos.Exception">
        <soap:fault name="ZlmRfcConsultaSaldos.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_CONSULTA_SALDO">
    <wsdl:port name="ZLM_WS_CONSULTA_SALDO" binding="tns:ZLM_WS_CONSULTA_SALDO">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_consulta_saldo/300/zlm_ws_consulta_saldo/zlm_ws_consulta_saldo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>