SOL4IT - DEV/OSB_Desarrollo/Finance/AP/GPA/Entity/Resources/GuardarSolicitudRESV1/TipoServicioSchema.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/TipoServicio/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/TipoServicio/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsds="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/" schemaLocation="TipoServicioDataSchema.xsd"/>
    <complexType name="TipoServicio">
        <sequence>
            <element name="idTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
            <choice>
                <sequence>
                    <element name="servicioGastoFijo" type="tnsds:GastosFijos" minOccurs="0" maxOccurs="1"/>
                    <element name="servicioOperaciones" type="tnsds:Operaciones" minOccurs="0" maxOccurs="1"/>
                    <element name="proyecto" type="tnsds:Proyecto" minOccurs="0" maxOccurs="1"/>
                    <element name="viaticos" type="tnsds:Viaticos" minOccurs="0" maxOccurs="1"/>
                    <element name="cargoDeudor" type="tnsds:CargoDeudor" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </choice>
        </sequence>
    </complexType>
</schema>