SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Common/Resources/WSDLs/NMPDecisionAccionesBRWSDL.wsdl

<wsdl:definitions name="DecisionServiceActionProcess" targetNamespace="http://xmlns.oracle.com/OracleRulesEventProcessOperation/DecisionServiceActionProcess" xmlns:tns="http://xmlns.oracle.com/OracleRulesEventProcessOperation/DecisionServiceActionProcess" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:java="http://schemas.xmlsoap.org/wsdl/java/" xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/OracleRulesEventProcessOperation/DecisionServiceActionProcess" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="../Schemas/NMPDecisionAccionesBRTiposXSD.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="callFunctionStatelessMessage">
    <wsdl:part name="payload" element="tns:callFunctionStateless"/>
  </wsdl:message>
  <wsdl:message name="callFunctionStatelessDecisionMessage">
    <wsdl:part name="payload" element="tns:callFunctionStatelessDecision"/>
  </wsdl:message>
  <wsdl:message name="callFunctionStatefulMessage">
    <wsdl:part name="payload" element="tns:callFunctionStateful"/>
  </wsdl:message>
  <wsdl:message name="callFunctionStatefulDecisionMessage">
    <wsdl:part name="payload" element="tns:callFunctionStatefulDecision"/>
  </wsdl:message>
  <wsdl:message name="decisionServiceError">
    <wsdl:part name="payload" element="tns:errorInfo"/>
  </wsdl:message>
  <wsdl:portType name="IDecisionService">
    <wsdl:operation name="callFunctionStateless">
      <wsdl:input name="callFunctionStatelessInput" message="tns:callFunctionStatelessMessage"/>
      <wsdl:output name="callFunctionStatelessOutput" message="tns:callFunctionStatelessDecisionMessage"/>
      <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
    </wsdl:operation>
    <wsdl:operation name="callFunctionStateful">
      <wsdl:input name="callFunctionStatefulInput" message="tns:callFunctionStatefulMessage"/>
      <wsdl:output name="callFunctionStatefulOutput" message="tns:callFunctionStatefulDecisionMessage"/>
      <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IDecisionServiceSOAP11Binding" type="tns:IDecisionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="callFunctionStateless">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/OracleRulesEventProcessOperation/DecisionServiceActionProcess/callFunctionStateless"/>
      <wsdl:input>
        <soap:body use="literal" parts="payload"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload"/>
      </wsdl:output>
      <wsdl:fault name="operationErroredFault">
        <soap:fault name="operationErroredFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="callFunctionStateful">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/OracleRulesEventProcessOperation/DecisionServiceActionProcess/callFunctionStateful"/>
      <wsdl:input>
        <soap:body use="literal" parts="payload"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload"/>
      </wsdl:output>
      <wsdl:fault name="operationErroredFault">
        <soap:fault name="operationErroredFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>