SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Common/Resources/WSDLs/NMPNotificacionEtapasBPELWrapperWSDL.wsdl

<wsdl:definitions name="BPELRespuestaMIDAS" targetNamespace="http://xmlns.oracle.com/ConcentradoraBPM/Resources/WSDL/BPELRespuestaMIDAS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/RespuestaMIDAS_BPM/RespuestaMIDAS/BPELRespuestaMIDAS" xmlns:midas="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPNotificacionMidasBPM" xmlns:NMPSM="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:ns2="http://xmlns.oracle.com/ConcentradoraBPM/Resources/WSDL/BPELRespuestaMIDAS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/RespuestaMIDAS_BPM/RespuestaMIDAS/BPELRespuestaMIDAS" schemaLocation="../Schemas/NMPNotificacionEtapaXSD.xsd"/>
    </schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPNotificacionMidasBPM" schemaLocation="../Schemas/NMPNotificacionEtapaCorrelacionXSD.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPSH:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="BPELRespuestaMIDASRequestMessage">
    <wsdl:part name="payload" element="client:process"/>
  </wsdl:message>
  <wsdl:message name="MIDASRespuesta">
    <wsdl:part name="payload" element="midas:NotificacionMidas"/>
  </wsdl:message>
  <wsdl:message name="BPELRespuestaMIDASResponseMessage">
    <wsdl:part name="payload" element="client:processResponse"/>
  </wsdl:message>
  <wsdl:portType name="BPELRespuestaMIDAS">
    <wsdl:operation name="iniciaNotificacion">
      <wsdl:input message="ns2:BPELRespuestaMIDASRequestMessage"/>
      <wsdl:output message="ns2:BPELRespuestaMIDASResponseMessage"/>
      <wsdl:fault name="Fault" message="ns2:standardMessageFault"/>
    </wsdl:operation>
    <wsdl:operation name="envioNotificacion">
      <wsdl:input message="ns2:MIDASRespuesta"/>
      <wsdl:output message="ns2:BPELRespuestaMIDASResponseMessage"/>
      <wsdl:fault name="Fault" message="ns2:standardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="NMPSM:messageError"/>
  </wsdl:message>
  <wsdl:portType name="BPELRespuestaMIDASCallback">
    <wsdl:operation name="processResponse">
      <wsdl:input message="ns2:BPELRespuestaMIDASResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPELRespuestaMIDASSOAP11Binding" type="ns2:BPELRespuestaMIDAS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="envioNotificacion">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/ConcentradoraBPM/Resources/WSDL/BPELRespuestaMIDAS/envioNotificacion"/>
      <wsdl:input>
        <soap:header message="ns2:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal" parts="payload"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="ns2:NMPHeaderResponse" part="responseHeader" use="literal"/>
        <soap:body use="literal" parts="payload"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="iniciaNotificacion">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/ConcentradoraBPM/Resources/WSDL/BPELRespuestaMIDAS/iniciaNotificacion"/>
      <wsdl:input>
        <soap:header message="ns2:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal" parts="payload"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="ns2:NMPHeaderResponse" part="responseHeader" use="literal"/>
        <soap:body use="literal" parts="payload"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <partnerLinkType name="NotificacionMidasBPM_PL" xmlns="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <role name="provider">
      <portType name="ns2:BPELRespuestaMIDAS"/>
    </role>
  </partnerLinkType>
</wsdl:definitions>