SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/AutosSinResguardo/StartBpm/Resources/WSDL/AutosSinResguardoPrc.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AutosSinResguardoPrc" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AutosSinResguardoPrc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:tns6="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAutosSinResguardo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>http://10.30.3.15:8001/soa-infra/services/AutosSinResguardo/AutosSinResguardoBPM!1.0/WSDLs/AutosSinResguardoPrc.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="AutosSinResguardoPrcPortTypePartnerLinkType">
        <plnk:role name="AutosSinResguardoPrcPortTypeProvider">
            <plnk:portType name="tns:AutosSinResguardoPrcPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AutosSinResguardoPrc">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAutosSinResguardo" schemaLocation="../XSD/AutosSinResguardoXSD.xsd"/>
            <xsd:element name="inicioGestionBPM">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:Cliente"/>
                        <xsd:element ref="tns6:Auto"/>
                        <xsd:element ref="tns6:Url"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inicioGestionBPM">
        <wsdl:part name="parameters" element="tns:inicioGestionBPM"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutosSinResguardoPrcPortType">
        <wsdl:operation name="inicioGestionBPM">
            <wsdl:input message="tns:inicioGestionBPM"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AutosSinResguardoPrcPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutosSinResguardoPrcBinding" type="tns:AutosSinResguardoPrcPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inicioGestionBPM">
            <wsdlsoap:operation style="document" soapAction="inicioGestionBPM"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutosSinResguardoPrc.service">
        <wsdl:port name="AutosSinResguardoPrcPort" binding="tns:AutosSinResguardoPrcBinding">
            <wsdlsoap:address location="http://10.30.3.15:8001/soa-infra/services/AutosSinResguardo/AutosSinResguardoBPM/AutosSinResguardoPrc.service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>