SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/AutosSinResguardo/CotizadorMidas/Resources/WSDL/NmpCotizadorAutomovilWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/CotizadorAutomovil" xmlns:ca="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:nmpsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/CotizadorAutomovil" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" schemaLocation="../XSD/NmpCotizadorAutomovilXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerAvaluoAutomovilRequest">
    <wsdl:part name="parameters" element="ca:obtenerAvaluoAutomovil"/>
  </wsdl:message>
   <wsdl:message name="obtenerAvaluoAutomovilResponse">
    <wsdl:part name="parameters" element="ca:obtenerAvaluoAutomovilResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerComplementosRequest">
    <wsdl:part name="parameters" element="ca:obtenerComplementos"/>
  </wsdl:message>
   <wsdl:message name="obtenerComplementosResponse">
    <wsdl:part name="parameters" element="ca:obtenerComplementosResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerMarcasRequest">
    <wsdl:part name="parameters" element="ca:obtenerMarcas"/>
  </wsdl:message>
  <wsdl:message name="obtenerMarcasResponse">
    <wsdl:part name="parameters" element="ca:obtenerMarcasResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerKilometrajesRequest">
    <wsdl:part name="parameters" element="ca:obtenerKilometrajes"/>
  </wsdl:message>
  <wsdl:message name="obtenerKilometrajesResponse">
    <wsdl:part name="parameters" element="ca:obtenerKilometrajesResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerVersionesRequest">
    <wsdl:part name="parameters" element="ca:obtenerVersiones"/>
  </wsdl:message>
  <wsdl:message name="obtenerVersionesResponse">
    <wsdl:part name="parameters" element="ca:obtenerVersionesResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerModelosRequest">
    <wsdl:part name="parameters" element="ca:obtenerModelos"/>
  </wsdl:message>
  <wsdl:message name="obtenerModelosResponse">
    <wsdl:part name="parameters" element="ca:obtenerModelosResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerSubMarcasRequest">
    <wsdl:part name="parameters" element="ca:obtenerSubMarcas"/>
  </wsdl:message>
  <wsdl:message name="obtenerSubMarcasResponse">
    <wsdl:part name="parameters" element="ca:obtenerSubMarcasResponse"/>
  </wsdl:message> 
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="headerReq" element="nmpsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="headerRes" element="nmpsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPFaultMessage">
    <wsdl:part name="fault" element="nmpsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="CotizadorAutomovilWSPortType">
   <wsdl:operation name="obtenerAvaluoAutomovil">
      <wsdl:input name="obtenerAvaluoAutomovilRequest" message="tns:obtenerAvaluoAutomovilRequest"/>
      <wsdl:output name="obtenerAvaluoAutomovilResponse" message="tns:obtenerAvaluoAutomovilResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerKilometrajes">
      <wsdl:input name="obtenerKilometrajesRequest" message="tns:obtenerKilometrajesRequest"/>
      <wsdl:output name="obtenerKilometrajesResponse" message="tns:obtenerKilometrajesResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerComplementos">
      <wsdl:input name="obtenerComplementosRequest" message="tns:obtenerComplementosRequest"/>
      <wsdl:output name="obtenerComplementosResponse" message="tns:obtenerComplementosResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerModelos">
      <wsdl:input name="obtenerModelosRequest" message="tns:obtenerModelosRequest"/>
      <wsdl:output name="obtenerModelosResponse" message="tns:obtenerModelosResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerVersiones">
      <wsdl:input name="obtenerVersionesRequest" message="tns:obtenerVersionesRequest"/>
      <wsdl:output name="obtenerVersionesResponse" message="tns:obtenerVersionesResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerMarcas">
      <wsdl:input name="obtenerMarcasRequest" message="tns:obtenerMarcasRequest"/>
      <wsdl:output name="obtenerMarcasResponse" message="tns:obtenerMarcasResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerSubMarcas">
      <wsdl:input name="obtenerSubMarcasRequest" message="tns:obtenerSubMarcasRequest"/>
      <wsdl:output name="obtenerSubMarcasResponse" message="tns:obtenerSubMarcasResponse"/>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CotizadorAutomovilWSHttpBinding" type="tns:CotizadorAutomovilWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerAvaluoAutomovil">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerAvaluoAutomovilRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerAvaluoAutomovilResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerKilometrajes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerKilometrajesRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerKilometrajesResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerComplementos">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerComplementosRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerComplementosResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerModelos">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerModelosRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerModelosResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerVersiones">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerVersionesRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerVersionesResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerMarcas">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerMarcasRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerMarcasResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerSubMarcas">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerSubMarcasRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerSubMarcasResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CotizadorAutomovilWS">
    <wsdl:port name="CotizadorAutomovilWSHttpPort" binding="tns:CotizadorAutomovilWSHttpBinding">
      <wsdlsoap:address location="http://www.montepiedad.com/cotizadorAutomovil"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>