SOL4IT - DEV/OSB_Depurado_SOAINT/Finance/AP/GPA/Commons/Resources/ValidacionSolicitudesSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.gpa.qualitas.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.gpa.qualitas.mx/">
  <xsd:complexType name="limpiarSolicitudes">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:validacionRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validacionRequest">
    <xsd:sequence>
      <xsd:element name="minutos" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="limpiarSolicitudes" type="ns0:limpiarSolicitudes"/>
</xsd:schema>