SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/Concentradora/Resources/WSDLs/NMPConcentradoraBPMWSDL.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Concentradora" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/Concentradora" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/Concentradora/ConcentradoraBO" xmlns:NMPSM="http://servicios.montepiedad.com.mx/Schema/NMPStandardMessage" xmlns:NMPSH="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Concentradora">
      <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Concentradora/ConcentradoraBO" schemaLocation="../Schemas/NMPConcentradoraBPMXSD.xsd"/>
      <xsd:element name="start">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns6:ConcentradoraBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="endResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Mensaje" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montepiedad.com.mx/Schema/NMPStandardMessage" schemaLocation="../../../Common/Resources/Schemas/NMPStandardMessageXSD.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iniciarProceso">
    <wsdl:part name="parameters" element="tns:start"/>
  </wsdl:message>
  <wsdl:message name="endResponse">
    <wsdl:part name="parameters" element="tns:endResponse"/>
  </wsdl:message>
  <wsdl:portType name="ConcentradoraPortTypeCallBack">
    <wsdl:operation name="finalizarProceso">
      <wsdl:input message="tns:endResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConcentradoraPortType">
    <wsdl:operation name="start">
      <wsdl:input message="tns:iniciarProceso"/>
      <wsdl:output message="tns:endResponse"/>
      <wsdl:fault name="fault" message="tns:standardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <plnk:partnerLinkType name="ConcentradoraPortTypePartnerLinkType">
    <plnk:role name="ConcentradoraPortTypeProvider">
      <plnk:portType name="tns:ConcentradoraPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="NMPSM:ErrorMessage"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="NMPSH:headerMessage"/>
  </wsdl:message>
  <wsdl:binding name="ConcentradoraPortTypeSOAP11Binding" type="tns:ConcentradoraPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="start">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/Concentradora/start"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
        <wsdlsoap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" parts="parameters"/>
        <wsdlsoap:header message="tns:standardMessageHeader" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>