SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/Concentradora/Resources/WSDLs/NMPReglasMarcadoWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Servicio/ReglasMarcado" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Servicio/ReglasMarcado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rm="http://servicios.montedepiedad.com.mx/NMP/Schema/ReglasMarcado" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/ReglasMarcado" schemaLocation="../Schemas/NMPReglasMarcadoMsgXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="reintentarRegistroReglaMarcadoResponse">
    <wsdl:part name="parameters" element="rm:reintentarRegistroReglaMarcadoResponse"/>
  </wsdl:message>
  <wsdl:message name="registrarReglaMarcadoRequest">
    <wsdl:part name="parameters" element="rm:registrarReglaMarcado"/>
  </wsdl:message>
  <wsdl:message name="registrarReglaMarcadoResponse">
    <wsdl:part name="parameters" element="rm:registrarReglaMarcadoResponse"/>
  </wsdl:message>
  <wsdl:message name="reintentarRegistroReglaMarcadoRequest">
    <wsdl:part name="parameters" element="rm:reintentarRegistroReglaMarcado"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="headerReq" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="headerRes" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPFaultMessage">
    <wsdl:part name="error" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="ReglasMarcadoWSPortType">
    <wsdl:operation name="reintentarRegistroReglaMarcado">
      <wsdl:input name="reintentarRegistroReglaMarcadoRequest" message="tns:reintentarRegistroReglaMarcadoRequest"/>
      <wsdl:output name="reintentarRegistroReglaMarcadoResponse" message="tns:reintentarRegistroReglaMarcadoResponse"/>
      <wsdl:fault name="ReglaMarcadoFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="registrarReglaMarcado">
      <wsdl:input name="registrarReglaMarcadoRequest" message="tns:registrarReglaMarcadoRequest"/>
      <wsdl:output name="registrarReglaMarcadoResponse" message="tns:registrarReglaMarcadoResponse"/>
      <wsdl:fault name="ReglaMarcadoFaultMessage" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReglasMarcadoWSHttpBinding" type="tns:ReglasMarcadoWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reintentarRegistroReglaMarcado">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reintentarRegistroReglaMarcadoRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reintentarRegistroReglaMarcadoResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReglaMarcadoFaultMessage">
        <wsdlsoap:fault name="ReglaMarcadoFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registrarReglaMarcado">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="registrarReglaMarcadoRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderRequest" part="headerReq" use="literal"/>
      </wsdl:input>
      <wsdl:output name="registrarReglaMarcadoResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:NMPHeaderResponse" part="headerRes" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReglaMarcadoFaultMessage">
        <wsdlsoap:fault name="ReglaMarcadoFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReglasMarcadoWS">
    <wsdl:port name="ReglasMarcadoWSHttpPort" binding="tns:ReglasMarcadoWSHttpBinding">
      <wsdlsoap:address location="http://localhost/services/ReglasMarcadoWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>