SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Inventario/Resources/Schemas/BDAArticulosAgilirionBD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/BDAArticulosAgilirionBD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/BDAArticulosAgilirionBD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="BDAArticulosAgilirionBDInput" type="BDAArticulosAgilirionBDInput"/>
   <xs:complexType name="BDAArticulosAgilirionBDInput">
      <xs:sequence>
         <xs:element name="ESTATUS_SOA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_ERROR" type="xs:string" nillable="true"/>
         <xs:element name="ID" type="xs:string" nillable="true"/>
         <xs:element name="FOLIO" type="xs:string" nillable="true"/>
         <xs:element name="MERCANCIA" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>