SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Inventario/Resources/Schemas/CMPLATAFORMACOMERCIAL_NMP_AJUSTE_PRECIOS_TYPE.xsd

<schema targetNamespace="http://xmlns.oracle.com/xdb/CMPLATAFORMACOMERCIAL" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:CMPLATAFORMACOMERCIAL="http://xmlns.oracle.com/xdb/CMPLATAFORMACOMERCIAL" elementFormDefault="unqualified" attributeFormDefault="qualified">
   <complexType name="NMP_AJUSTE_PRECIOS_TYPE">
      <sequence>
         <element name="ID" type="double" nillable="true" minOccurs="0"/>
         <element name="MERCANCIA" type="double" nillable="true" minOccurs="0"/>
         <element name="PRECIO_VENTA" type="double" nillable="true" minOccurs="0"/>
         <element name="PROCESADO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TIPO_OPERACION" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FOLIO" type="double" nillable="true" minOccurs="0"/>
         <element name="DESCRIPCION" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RAMO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBRAMO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CANAL_INGRESO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FACTOR_HECHURA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FECHA_INGRESO_DEPOSITO" type="string" nillable="true" minOccurs="0"/>
         <element name="FECHA_INGRESO_INSTITUCION" type="string" nillable="true" minOccurs="0"/>
         <element name="FECHA_COMERCIALIZACION" type="string" nillable="true" minOccurs="0"/>
         <element name="AVALUO_TECNICO" type="double" nillable="true" minOccurs="0"/>
         <element name="AVALUO_COMERCIAL" type="double" nillable="true" minOccurs="0"/>
         <element name="MONTO_AVALUO" type="double" nillable="true" minOccurs="0"/>
         <element name="PRESTAMO" type="double" nillable="true" minOccurs="0"/>
         <element name="PRECIO_VENTA_INICIAL" type="double" nillable="true" minOccurs="0"/>
         <element name="PRECIO_VENTA_ACTUAL" type="double" nillable="true" minOccurs="0"/>
         <element name="GRAMAJE" type="double" nillable="true" minOccurs="0"/>
         <element name="KILATAJE" type="double" nillable="true" minOccurs="0"/>
         <element name="SUCURSAL" type="double" nillable="true" minOccurs="0"/>
         <element name="DIRECCION" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COLONIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CODIGO_POSTAL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="6"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ESTADO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TELEFONO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DELEGACION_MUNICIPIO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INCREMENTO" type="double" nillable="true" minOccurs="0"/>
         <element name="DESPLAZAMIENTO" type="double" nillable="true" minOccurs="0"/>
         <element name="REFRENDOS" type="double" nillable="true" minOccurs="0"/>
         <element name="VALUADOR" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="7"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXPENDIO" type="double" nillable="true" minOccurs="0"/>
         <element name="ESTADO_CAJA" type="double" nillable="true" minOccurs="0"/>
         <element name="ESTADO_PRENDA" type="double" nillable="true" minOccurs="0"/>
         <element name="NOTA_PRENDARIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NOTA_COMERCIAL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="255"/>
               </restriction>
            </simpleType>
         </element>
         <element name="METAL" type="double" nillable="true" minOccurs="0"/>
         <element name="CALIDAD" type="double" nillable="true" minOccurs="0"/>
         <element name="PRECIO_ORO" type="double" nillable="true" minOccurs="0"/>
         <element name="COSTO_METAL" type="double" nillable="true" minOccurs="0"/>
         <element name="VALOR_MONTE" type="double" nillable="true" minOccurs="0"/>
         <element name="VALOR_ANCLA" type="double" nillable="true" minOccurs="0"/>
         <element name="FAMILIA" type="double" nillable="true" minOccurs="0"/>
         <element name="TIPO_MONEDA" type="double" nillable="true" minOccurs="0"/>
         <element name="CANTIDAD" type="double" nillable="true" minOccurs="0"/>
         <element name="MARCA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MODELO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBMARCA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="45"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VERSION" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="230"/>
               </restriction>
            </simpleType>
         </element>
         <element name="KILOMETRAJE" type="double" nillable="true" minOccurs="0"/>
         <element name="CORTE" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="233"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COLOR" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="202"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CLARIDAD" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="202"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CERTIFICADO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="202"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMERO_CERTIFICADO" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TIPO_CORTE" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMERO_SERIE" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMERO_REFERENCIA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ESTADO_RELOJ" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MARCA_RELOJ" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MODELO_RELOJ" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MATERIAL_CAJA_RELOJ" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MATERIAL_CORREA" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MATERIAL_CRISTAL" nillable="true" minOccurs="0">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ANIO_RELOJ" type="double" nillable="true" minOccurs="0"/>
      </sequence>
   </complexType>
   <element name="NMP_AJUSTE_PRECIOS_TYPE" type="CMPLATAFORMACOMERCIAL:NMP_AJUSTE_PRECIOS_TYPE" />
</schema>