SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/Cognito/Resources/WSDLs/NMPAdministradorIdentidadesSvcWSDL.wsdl

<wsdl:definitions name="NMPAdminUsuariosRestPXY" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/NMPAdministradorIdentidades" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/NMPAdministradorIdentidades" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAdministradorIdentidades" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:inp3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <plnk:partnerLinkType name="NMPAdminUsuariosRestPXY">
    <plnk:role name="NMPAdminUsuariosRestPXYProvider" portType="tns:NMPAdminUsuariosRestPXY_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAdministradorIdentidades" schemaLocation="../Schemas/NMPAdministradorIdentidadesSvcXSD.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="crearUsuarioRequestMessage">
    <wsdl:part name="crearUsuarioRequest" element="inp1:crearUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="crearUsuarioResponseMessage">
    <wsdl:part name="crearUsuarioResponse" element="inp1:crearUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPFaultMessage">
    <wsdl:part name="faultMessage" element="inp2:messageError"/>
  </wsdl:message>
  <wsdl:portType name="NMPAdministradorIdentidades_ptt">
    <wsdl:operation name="crearUsuario">
      <wsdl:input message="tns:crearUsuarioRequestMessage"/>
      <wsdl:output message="tns:crearUsuarioResponseMessage"/>
      <wsdl:fault name="administradorIdentidadesFault" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="borrarUsuario">
      <wsdl:input message="tns:borrarUsuarioRequestMessage"/>
      <wsdl:output message="tns:borrarUsuarioResponseMessage"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="administradorIdentidadesFault"/>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <wsdl:input message="tns:autenticarUsuarioRequestMessage"/>
      <wsdl:output message="tns:autenticarUsuarioResponseMessage"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="administradorIdentidadesFault"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarParamAutenticacion">
      <wsdl:input message="tns:actualizarParamAutenticacionRequestMessage"/>
      <wsdl:output message="tns:actualizarParamAutenticacionResponseMessage"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="administradorIdentidadesFault"/>
    </wsdl:operation>
    <wsdl:operation name="activarUsuario">
      <wsdl:input message="tns:activarUsuarioRequestMessage"/>
      <wsdl:output message="tns:activarUsuarioResponseMessage"/>
      <wsdl:fault name="administradorIdentidadesFault" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="desactivarUsuario">
      <wsdl:input message="tns:desactivarUsuarioRequestMessage"/>
      <wsdl:output message="tns:desactivarUsuarioResponseMessage"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="administradorIdentidadesFault"/>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <wsdl:input message="tns:buscarUsuarioRequestMessage"/>
      <wsdl:output message="tns:buscarUsuarioResponseMessage"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="administradorIdentidadesFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NMPAdministradorIdentidades_ptt-binding" type="tns:NMPAdministradorIdentidades_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearUsuario">
      <soap:operation soapAction="crearUsuario"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderMessage" part="headerMessage" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarUsuario">
      <soap:operation soapAction="borrarUsuario"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderMessage" part="headerMessage" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <soap:operation soapAction="autenticarUsuario"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderMessage" part="headerMessage" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarParamAutenticacion">
      <soap:operation soapAction="actualizarParamAutenticacion"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderMessage" part="headerMessage" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activarUsuario">
      <soap:operation soapAction="activarUsuario"/>
      <wsdl:input>
        <soap:header part="headerMessage" use="literal" message="tns:NMPHeaderMessage"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desactivarUsuario">
      <soap:operation soapAction="desactivarUsuario"/>
      <wsdl:input>
        <soap:header part="headerMessage" message="tns:NMPHeaderMessage" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <soap:operation soapAction="buscarUsuario"/>
      <wsdl:input>
        <soap:header part="headerMessage" message="tns:NMPHeaderMessage" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="NMPHeaderMessage">
    <wsdl:part name="headerMessage" element="inp3:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="borrarUsuarioRequestMessage">
    <wsdl:part name="borrarUsuarioRequest" element="inp1:borrarUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="borrarUsuarioResponseMessage">
    <wsdl:part name="borrarUsuarioResponse" element="inp1:borrarUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioRequestMessage">
    <wsdl:part name="autenticarUsuarioRequest" element="inp1:autenticarUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioResponseMessage">
    <wsdl:part name="autenticarUsuarioResponse" element="inp1:autenticarUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="actualizarParamAutenticacionRequestMessage">
    <wsdl:part name="actualizarParamAutenticacionRequest" element="inp1:actualizarParamAutenticacionRequest"/>
  </wsdl:message>
  <wsdl:message name="actualizarParamAutenticacionResponseMessage">
    <wsdl:part name="actualizarParamAutenticacionResponse" element="inp1:actualizarParamAutenticacionResponse"/>
  </wsdl:message>
  <wsdl:message name="activarUsuarioRequestMessage">
    <wsdl:part name="activarUsuarioRequest" element="inp1:activarUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="activarUsuarioResponseMessage">
    <wsdl:part name="activarUsuarioResponse" element="inp1:activarUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="desactivarUsuarioRequestMessage">
    <wsdl:part name="desactivarUsuarioResponse" element="inp1:desactivarUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="desactivarUsuarioResponseMessage">
    <wsdl:part name="desactivarUsuarioResponse" element="inp1:desactivarUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="buscarUsuarioRequestMessage">
    <wsdl:part name="buscarrUsuarioRequest" element="inp1:buscarUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="buscarUsuarioResponseMessage">
    <wsdl:part name="buscarrUsuarioResponse" element="inp1:buscarUsuarioResponse"/>
  </wsdl:message>
</wsdl:definitions>