SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/PoC/AutosSinResguardo/InfoClienteAuto/Resources/WSDL/AutosInfoWSDLv2.wsdl

<WL5G3N2:definitions name="ClientesAutosDB" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB" xmlns:WL5G3N0="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:WL5G3N1="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N3="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB" xmlns:WL5G3N4="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:WL5G3N5="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:partnerLinkType name="ClientesAutosDB_plt">
    <WL5G3N0:role name="ClientesAutosDB_role">
      <WL5G3N0:portType name="WL5G3N1:ClientesAutosDB_ptt"/>
    </WL5G3N0:role>
  </WL5G3N0:partnerLinkType>
  <WL5G3N2:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ca="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmpsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB" schemaLocation="../XSD/ClientesAutoInfoXSD.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../XSD/NMPStandardMessage.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../XSD/NMPStandardHeader.xsd"/>
    </schema>
  </WL5G3N2:types>
  <WL5G3N2:message name="getInfoClienteAutoRequest">
    <WL5G3N2:part element="WL5G3N3:getInfoClienteAutoRequest" name="selectByPrimaryKey_inputParameters"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="getFoliosClienteRequest">
    <WL5G3N2:part element="WL5G3N3:getFoliosClienteRequest" name="req"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="getFoliosClienteResponse">
    <WL5G3N2:part element="WL5G3N3:getFoliosClienteResponse" name="req"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="NmpClientesInfoCollection_msg">
    <WL5G3N2:part element="WL5G3N3:NmpClientesInfoCollection" name="NmpClientesInfoCollection"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="UpdateNmpClientesInfoCollection">
    <WL5G3N2:part element="WL5G3N3:updateClientesInfoCollection" name="NmpClientesInfoCollection"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="NMPHeaderRequest">
    <WL5G3N2:part element="WL5G3N4:headerMessage" name="headerReq"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="NMPHeaderResponse">
    <WL5G3N2:part element="WL5G3N4:headerMessageResponse" name="headerRes"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="NMPFaultMessage">
    <WL5G3N2:part element="WL5G3N5:messageError" name="fault"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="clientesAutosResponse">
    <WL5G3N2:part element="WL5G3N3:clientesAutosResponse" name="res"/>
  </WL5G3N2:message>
  <WL5G3N2:portType name="ClientesAutosDB_ptt">
    <WL5G3N2:operation name="insertClienteAutoInfo">
      <WL5G3N2:input message="WL5G3N1:NmpClientesInfoCollection_msg"/>
      <WL5G3N2:output message="WL5G3N1:clientesAutosResponse"/>
      <WL5G3N2:fault message="WL5G3N1:NMPFaultMessage" name="faultClientesAutosDb"/>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="getClienteAutoInfo">
      <WL5G3N2:input message="WL5G3N1:getInfoClienteAutoRequest"/>
      <WL5G3N2:output message="WL5G3N1:NmpClientesInfoCollection_msg"/>
      <WL5G3N2:fault message="WL5G3N1:NMPFaultMessage" name="faultClientesAutosDb"/>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="updateClienteAutoInfo">
      <WL5G3N2:input message="WL5G3N1:UpdateNmpClientesInfoCollection"/>
      <WL5G3N2:output message="WL5G3N1:clientesAutosResponse"/>
      <WL5G3N2:fault message="WL5G3N1:NMPFaultMessage" name="faultClientesAutosDb"/>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="getFoliosCliente">
      <WL5G3N2:input message="WL5G3N1:getFoliosClienteRequest"/>
      <WL5G3N2:output message="WL5G3N1:getFoliosClienteResponse"/>
      <WL5G3N2:fault message="WL5G3N1:NMPFaultMessage" name="faultClientesAutosDb"/>
    </WL5G3N2:operation>
  </WL5G3N2:portType>
  <WL5G3N2:binding name="ClientesAutosDB_pttSOAP11Binding" type="WL5G3N1:ClientesAutosDB_ptt">
    <WL5G3N6:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N2:operation name="insertClienteAutoInfo">
      <WL5G3N6:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB/insertClienteAutoInfo" style="document"/>
      <WL5G3N2:input>
        <WL5G3N6:body parts="NmpClientesInfoCollection" use="literal"/>
        <WL5G3N6:header message="WL5G3N1:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N6:body parts="res" use="literal"/>
        <WL5G3N6:header message="WL5G3N1:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N2:output>
      <WL5G3N2:fault name="faultClientesAutosDb">
        <WL5G3N6:fault name="faultClientesAutosDb" use="literal"/>
      </WL5G3N2:fault>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="getClienteAutoInfo">
      <WL5G3N6:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB/getClienteAutoInfo" style="document"/>
      <WL5G3N2:input>
        <WL5G3N6:body parts="selectByPrimaryKey_inputParameters" use="literal"/>
        <WL5G3N6:header message="WL5G3N1:NMPHeaderRequest" part="headerReq" use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N6:body parts="NmpClientesInfoCollection" use="literal"/>
        <WL5G3N6:header message="WL5G3N1:NMPHeaderResponse" part="headerRes" use="literal"/>
      </WL5G3N2:output>
      <WL5G3N2:fault name="faultClientesAutosDb">
        <WL5G3N6:fault name="faultClientesAutosDb" use="literal"/>
      </WL5G3N2:fault>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="updateClienteAutoInfo">
      <WL5G3N6:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB/updateClienteAutoInfo" style="document"/>
      <WL5G3N2:input>
        <WL5G3N6:body parts="NmpClientesInfoCollection" use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N6:body parts="res" use="literal"/>
      </WL5G3N2:output>
      <WL5G3N2:fault name="faultClientesAutosDb">
        <WL5G3N6:fault name="faultClientesAutosDb" use="literal"/>
      </WL5G3N2:fault>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="getFoliosCliente">
      <WL5G3N6:operation soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB/getFoliosCliente" style="document"/>
      <WL5G3N2:input>
        <WL5G3N6:body parts="req" use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N6:body parts="req" use="literal"/>
      </WL5G3N2:output>
      <WL5G3N2:fault name="faultClientesAutosDb">
        <WL5G3N6:fault name="faultClientesAutosDb" use="literal"/>
      </WL5G3N2:fault>
    </WL5G3N2:operation>
  </WL5G3N2:binding>
  <WL5G3N2:service name="ClientesAutosDB_pttSOAP11BindingQSService">
    <WL5G3N2:documentation>OSB Service</WL5G3N2:documentation>
    <WL5G3N2:port binding="WL5G3N1:ClientesAutosDB_pttSOAP11Binding" name="ClientesAutosDB_pttSOAP11BindingQSPort">
      <WL5G3N6:address location="http://10.30.3.15:8011/NMP/DB/Clientes/AutosInfo"/>
    </WL5G3N2:port>
  </WL5G3N2:service>
</WL5G3N2:definitions>