SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/PagoEnLinea/Resources/WSDLs/MIDASCajaOnlineWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://exception.midas.nmp.com.mx" xmlns:ns1="http://dto.model.midas.nmp.com.mx"
    xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="urn:mx.com.nmp.midas">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" 
            elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
            <xsd:import namespace="http://dto.model.midas.nmp.com.mx"></xsd:import>
            <xsd:import namespace="http://exception.midas.nmp.com.mx"></xsd:import>
            <xsd:element name="obtenerInformacionPartida">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="folio" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerInformacionPartidaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true" type="ns1:InformacionOperacionOnline"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ServiceException" type="ns2:ServiceException"/>
            <xsd:element name="registrarOperacion">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="folio" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="idOperacion" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="importe" nillable="true" type="xsd:decimal"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="transaccion" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="autorizacion" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="origen" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarOperacionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true" type="ns1:RegistroOperacionOnline"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="rechazarOperacion">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="folio" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="idOperacion" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="transaccion" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="origen" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="referenciaBancaria" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="rechazarOperacionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:RegistroOperacionOnline"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerComprobante">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="transaccion" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerComprobanteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true" type="ns1:ArrayOfComprobanteOnline"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified" targetNamespace="http://dto.model.midas.nmp.com.mx">
            <xsd:complexType name="InformacionOperacionOnline">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="aplicaReempenio" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="detalleOperacionOnline" nillable="true"
                        type="ns1:ArrayOfDetalleOperacionOnline"/>
                    <xsd:element minOccurs="0" name="fechaComercializacion" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="folio" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="idCliente" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="numeroRefrendo" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="prestamoPagado" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="sucursal" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="tipoContrato" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="transaccion" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDetalleOperacionOnline">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="DetalleOperacionOnline" nillable="true"
                        type="ns1:DetalleOperacionOnline"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DetalleOperacionOnline">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="idOperacion" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="montoMaximo" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="montoMinimo" nillable="true" type="xsd:decimal"/>
                    <xsd:element minOccurs="0" name="nombreOperacion" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegistroOperacionOnline">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="exitoso" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="transaccion" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfComprobanteOnline">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ComprobanteOnline" nillable="true"
                        type="ns1:ComprobanteOnline"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ComprobanteOnline">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="archivo" nillable="true" type="xsd:base64Binary"/>
                    <xsd:element minOccurs="0" name="idOperacion" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
            elementFormDefault="qualified" targetNamespace="http://exception.midas.nmp.com.mx">
            <xsd:complexType abstract="true" name="ServiceException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ServiceException">
        <wsdl:part name="ServiceException" element="tns:ServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerInformacionPartidaRequest">
        <wsdl:part name="parameters" element="tns:obtenerInformacionPartida"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registrarOperacionRequest">
        <wsdl:part name="parameters" element="tns:registrarOperacion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="rechazarOperacionResponse">
        <wsdl:part name="parameters" element="tns:rechazarOperacionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerInformacionPartidaResponse">
        <wsdl:part name="parameters" element="tns:obtenerInformacionPartidaResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerComprobanteRequest">
        <wsdl:part name="parameters" element="tns:obtenerComprobante"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="rechazarOperacionRequest">
        <wsdl:part name="parameters" element="tns:rechazarOperacion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtenerComprobanteResponse">
        <wsdl:part name="parameters" element="tns:obtenerComprobanteResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registrarOperacionResponse">
        <wsdl:part name="parameters" element="tns:registrarOperacionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ServicioCajaOnlinePortType">
        <wsdl:operation name="obtenerInformacionPartida">
            <wsdl:input name="obtenerInformacionPartidaRequest" message="tns:obtenerInformacionPartidaRequest"></wsdl:input>
            <wsdl:output name="obtenerInformacionPartidaResponse" message="tns:obtenerInformacionPartidaResponse"></wsdl:output>
            <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registrarOperacion">
            <wsdl:input name="registrarOperacionRequest" message="tns:registrarOperacionRequest"></wsdl:input>
            <wsdl:output name="registrarOperacionResponse" message="tns:registrarOperacionResponse"></wsdl:output>
            <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rechazarOperacion">
            <wsdl:input name="rechazarOperacionRequest" message="tns:rechazarOperacionRequest"></wsdl:input>
            <wsdl:output name="rechazarOperacionResponse" message="tns:rechazarOperacionResponse"></wsdl:output>
            <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtenerComprobante">
            <wsdl:input name="obtenerComprobanteRequest" message="tns:obtenerComprobanteRequest"></wsdl:input>
            <wsdl:output name="obtenerComprobanteResponse" message="tns:obtenerComprobanteResponse"></wsdl:output>
            <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicioCajaOnlineHttpBinding" type="tns:ServicioCajaOnlinePortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerInformacionPartida">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="obtenerInformacionPartidaRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerInformacionPartidaResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <wsdlsoap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registrarOperacion">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="registrarOperacionRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registrarOperacionResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <wsdlsoap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rechazarOperacion">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="rechazarOperacionRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rechazarOperacionResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <wsdlsoap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="obtenerComprobante">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="obtenerComprobanteRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerComprobanteResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <wsdlsoap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicioCajaOnline">
        <wsdl:port name="ServicioCajaOnlineHttpPort" binding="tns:ServicioCajaOnlineHttpBinding">
            <wsdlsoap:address location="http://10.30.3.55:9032/midas-web/services/ServicioCajaOnline"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>