SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/PagoEnLinea/Resources/WSDLs/NMPUtileriaAdminPagosWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:NMPAdminPago="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPAdminPagosSvc" xmlns:upa="http://servicios.montedepiedad.com.mx/NMP/Schema/UtileriaAdminPagos" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/UtileriaAdminPagos" schemaLocation="../Schemas/NMPUtileriaAdminPagosXSD.xsd"/>     
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="responseHeader" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="registrarTransaccionPagoRequest">
    <wsdl:part name="parameters" element="upa:registrarTransaccionPagoRequest"/>
  </wsdl:message>
  <wsdl:message name="registrarTransaccionPagoResponse">
    <wsdl:part name="parameters" element="upa:registrarTransaccionPagoResponse"/>
  </wsdl:message>
  <wsdl:message name="registrarTransaccionPagoBitacoraRequest">
    <wsdl:part name="parameters" element="upa:registrarTransaccionPagoBitRequest"/>
  </wsdl:message>
  <wsdl:message name="registrarTransaccionPagoBitacoraResponse">
    <wsdl:part name="parameters" element="upa:registrarTransaccionPagoBitResponse"/>
  </wsdl:message>
  <wsdl:message name="consultarInformacionPartidaRequest">
    <wsdl:part name="parameters" element="upa:consultarInformacionPartidaRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarInformacionPartidaResponse">
    <wsdl:part name="parameters" element="upa:consultarInformacionPartidaResponse"/>
  </wsdl:message>
  <wsdl:message name="rechazarOperacionRequest">
    <wsdl:part name="parameters" element="upa:rechazarOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="rechazarOperacionResponse">
    <wsdl:part name="parameters" element="upa:rechazarOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerComprobantesRequest">
    <wsdl:part name="parameters" element="upa:obtenerComprobantesRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerComprobantesResponse">
    <wsdl:part name="parameters" element="upa:obtenerComprobantesResponse"/>
  </wsdl:message>
  <wsdl:message name="validarTransaccionPagoRequest">
    <wsdl:part name="parameters" element="upa:validarTransaccionPagoRequest"/>
  </wsdl:message>
  <wsdl:message name="validarTransaccionPagoResponse">
    <wsdl:part name="parameters" element="upa:validarTransaccionPagoResponse"/>
  </wsdl:message>
  <wsdl:message name="validarTransaccionBancoRequest">
    <wsdl:part name="parameters" element="upa:validarTransaccionBancoRequest"/>
  </wsdl:message>
  <wsdl:message name="validarTransaccionBancoResponse">
    <wsdl:part name="parameters" element="upa:validarTransaccionBancoResponse"/>
  </wsdl:message>
  <wsdl:message name="actualizarTransaccionPagoRequest">
    <wsdl:part name="req" element="upa:actualizarTransaccionPagoRequest"/>
  </wsdl:message>
  <wsdl:message name="actualizarTransaccionPagoResponse">
    <wsdl:part name="res" element="upa:actualizarTransaccionPagoResponse"/>
  </wsdl:message>
  <wsdl:message name="adminPagosFault">
    <wsdl:part name="parameters" element="NMPsm:messageError"/>
  </wsdl:message>
  
  <wsdl:portType name="AdminPagos_ptt">
    <wsdl:operation name="registrarTransaccionPago">
      <wsdl:input message="tns:registrarTransaccionPagoRequest"/>
      <wsdl:output message="tns:registrarTransaccionPagoResponse"/>
      <wsdl:fault name="adminPagosFault" message="tns:adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="consultarInformacionPartida">
      <wsdl:input message="tns:consultarInformacionPartidaRequest"/>
      <wsdl:output message="tns:consultarInformacionPartidaResponse"/>
      <wsdl:fault name="adminPagosFault" message="tns:adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="rechazarOperacion">
      <wsdl:input message="tns:rechazarOperacionRequest"/>
      <wsdl:output message="tns:rechazarOperacionResponse"/>
      <wsdl:fault name="adminPagosFault" message="tns:adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerComprobantes">
      <wsdl:input message="tns:obtenerComprobantesRequest"/>
      <wsdl:output message="tns:obtenerComprobantesResponse"/>
      <wsdl:fault name="adminPagosFault" message="tns:adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="validarTransaccionPago">
      <wsdl:input message="tns:validarTransaccionPagoRequest"/>
      <wsdl:output message="tns:validarTransaccionPagoResponse"/>
      <wsdl:fault message="tns:adminPagosFault" name="adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="validarTransaccionBanco">
      <wsdl:input message="tns:validarTransaccionBancoRequest"/>
      <wsdl:output message="tns:validarTransaccionBancoResponse"/>
      <wsdl:fault message="tns:adminPagosFault" name="adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarTransaccionPago">
      <wsdl:input message="tns:actualizarTransaccionPagoRequest"/>
      <wsdl:output message="tns:actualizarTransaccionPagoResponse"/>
      <wsdl:fault message="tns:adminPagosFault" name="adminPagosFault"/>
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionPagoBitacora">
      <wsdl:input message="tns:registrarTransaccionPagoBitacoraRequest"/>
      <wsdl:output message="tns:registrarTransaccionPagoBitacoraResponse"/>
      <wsdl:fault name="adminPagosFault" message="tns:adminPagosFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminPagosBinding" type="tns:AdminPagos_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrarTransaccionPago">
      <soap:operation soapAction="setOperacion" style="document"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:NMPHeaderResponse" use="literal" part="responseHeader"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="setOperacionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarInformacionPartida">
      <soap:operation soapAction="getPartida" style="document"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="getPartidaFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rechazarOperacion">
      <soap:operation soapAction="rejectOperacion" style="document"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="rejectOperacionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerComprobantes">
      <soap:operation soapAction="getComprobantes" style="document"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="getComprobantesFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarTransaccionPago">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc/validarTransaccionDB"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="adminPagosFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarTransaccionBanco">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc/validarTransaccionBanco"/>
      <wsdl:input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="adminPagosFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="actualizarTransaccionPago">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPAdminPagosSvc/actualizarTransaccionPago"/>
      <wsdl:input>
        <soap:body use="literal" parts="req"/>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="res"/>
        <soap:header message="tns:NMPHeaderResponse" part="responseHeader" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="adminPagosFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
     <wsdl:operation name="registrarTransaccionPagoBitacora">
      <soap:operation soapAction="setOperacion" style="document"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:NMPHeaderResponse" use="literal" part="responseHeader"/>
      </wsdl:output>
      <wsdl:fault name="adminPagosFault">
        <soap:fault name="setOperacionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminPagos">
    <wsdl:port binding="tns:AdminPagosBinding" name="AdminPagosPort">
      <soap:address location="www.montepiedad.com/adminPagos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>