SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/ListasPreciosRapaport/Resources/Schemas/NMPObtenerPreciosXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/OperacionPrendaria/ObtenerPrecios/ObtenerPreciosRapaport"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="obtenerPrecios">
        <complexType>
            <sequence>
                <element name="parametro" type="string" nillable="true" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="obtenerPreciosResponse">
        <complexType>
            <sequence>
                <element name="respuesta" type="string" nillable="true" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
</schema>