SOL4IT - DEV/VisualizacionComposite/Finance/AP/GPA/Entity/Resources/Prorrateo/GestionArchivoProrrateoWSDL.wsdl

<wsdl:definitions name="GestionArchivoProrrateoBPEL" targetNamespace="http://xmlns.oracle.com/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/GestionArchivoProrrateoBPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/GestionArchivoProrrateoBPEL" xmlns:ns1="http://qualitas.com.mx/Comunes/Prorrateo/gestionArchivoProrrateo/v1/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>http://11.50.0.20:7007/soa-infra/services/GPADomain/GestionArchivoProrrateoPrj!1.0/WSDLs/GestionArchivoProrrateoBPEL.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="GestionArchivoProrrateoBPEL">
        <plnk:role name="gestionArchivoProrrateoBPEL" portType="client:gestionArchivoProrrateoBPEL"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://qualitas.com.mx/Comunes/Prorrateo/gestionArchivoProrrateo/v1/" schemaLocation="XMLSchema_213729416.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="guardarArchivoProrrateoBPELRequestMessage">
        <wsdl:part name="guardarArchivoReq" element="ns1:guardarArchivoRequest"/>
    </wsdl:message>
    <wsdl:message name="guardarArchivoProrrateoBPELResponseMessage">
        <wsdl:part name="guardarArchivoRes" element="ns1:guardarArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="obtenerArchivoProrrateoBPELRequestMessage">
        <wsdl:part name="obtenerArchivoReq" element="ns1:obtenerArchivoRequest"/>
    </wsdl:message>
    <wsdl:message name="obtenerArchivoProrrateoBPELResponseMessage">
        <wsdl:part name="obtenerArchivoRes" element="ns1:obtenerArchivoResponse"/>
    </wsdl:message>
    <wsdl:message name="eliminarArchivoProrrateoBPELRequestMessage">
        <wsdl:part name="eliminarArchivoReq" element="ns1:eliminarArchivoRequest"/>
    </wsdl:message>
    <wsdl:message name="eliminarArchivoProrrateoBPELResponseMessage">
        <wsdl:part name="eliminarArchivoRes" element="ns1:eliminarArchivoResponse"/>
    </wsdl:message>
    <wsdl:portType name="gestionArchivoProrrateoBPEL">
        <wsdl:operation name="guardarArchivoProrrateo">
            <wsdl:input message="client:guardarArchivoProrrateoBPELRequestMessage"/>
            <wsdl:output message="client:guardarArchivoProrrateoBPELResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerArchivoProrrateo">
            <wsdl:input message="client:obtenerArchivoProrrateoBPELRequestMessage"/>
            <wsdl:output message="client:obtenerArchivoProrrateoBPELResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarArchivoProrrateo">
            <wsdl:input message="client:eliminarArchivoProrrateoBPELRequestMessage"/>
            <wsdl:output message="client:eliminarArchivoProrrateoBPELResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="gestionArchivoProrrateoBPELSOAP11Binding" type="client:gestionArchivoProrrateoBPEL">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="guardarArchivoProrrateo">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/GestionArchivoProrrateoBPEL/guardarArchivoProrrateo"/>
            <wsdl:input>
                <soap:body use="literal" parts="guardarArchivoReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="guardarArchivoRes"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerArchivoProrrateo">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/GestionArchivoProrrateoBPEL/obtenerArchivoProrrateo"/>
            <wsdl:input>
                <soap:body use="literal" parts="obtenerArchivoReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="obtenerArchivoRes"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarArchivoProrrateo">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/GestionArchivoProrrateo/GestionArchivoProrrateoPrj/GestionArchivoProrrateoBPEL/eliminarArchivoProrrateo"/>
            <wsdl:input>
                <soap:body use="literal" parts="eliminarArchivoReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="eliminarArchivoRes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="gestionarchivoprorrateobpel_client_ep">
        <wsdl:port name="gestionArchivoProrrateoBPEL_pt" binding="client:gestionArchivoProrrateoBPELSOAP11Binding">
            <soap:address location="http://11.50.0.20:7007/soa-infra/services/GPADomain/GestionArchivoProrrateoPrj/gestionarchivoprorrateobpel_client"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>