SOL4IT - DEV/VisualizacionComposite/Finance/AP/GPA/Entity/Resources/Solicitud/XMLSchema_-790113000.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/ActualizarEstadoSolicitudApp/ActualizarEstadoSolicitudPrj/ActualizaEstadoSolicitudBPEL" xmlns:tns="http://qualitas.com.mx/ActualizarEstadoSolicitudApp/ActualizarEstadoSolicitudPrj/ActualizaEstadoSolicitudBPEL" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:tnss="http://qualitas.com.mx/Seguimiento/GenerarSeguimiento/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-331798363.xsd"/>
    <import namespace="http://qualitas.com.mx/Seguimiento/GenerarSeguimiento/v1/" schemaLocation="XMLSchema_-1434260010.xsd"/>
    <element name="estadoSolicitudRequest">
        <complexType>
            <sequence>
                <element name="idSolicitud" type="string" minOccurs="1" maxOccurs="1"/>
                <element name="idTpSolicitud" type="int" minOccurs="1" maxOccurs="1"/>
                <element name="idEdoSolicitud" type="int" minOccurs="1" maxOccurs="1"/>
                <element name="idRespuesta" type="int" minOccurs="1" maxOccurs="1"/>
                <element name="seguimientoOEN" type="tnss:SeguimientoOEN" minOccurs="0" maxOccurs="1"/>
                <element name="motivoRechazo" type="tnss:MotivoRechazo" minOccurs="0" maxOccurs="1"/>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            </sequence>
        </complexType>
    </element>
    <element name="estadoSolicitudResponse">
        <complexType>
            <sequence>
                <element name="idSolicitud" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="idTpSolicitud" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="idEdoSolicitud" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="descEstadoSol" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="fhActualizacion" type="dateTime" minOccurs="0" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
</schema>