SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/BuroCredito/Resources/WSDLs/SAPConsultaVigenteConinWSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BN_ZLM_WS_CONSULTA_VIGENTE">
		<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
		<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
		<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
		<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF_ZLM_WS_CONSULTA_VIGENTE">
		<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
			<sapsession:enableSession>false</sapsession:enableSession>
		</sapsession:Session>
		<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
			<sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
		</sapcentraladmin:CentralAdministration>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP_ZlmRfcConsultaVigente">
		<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
		<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
		<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
		<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
			<xsd:simpleType name="RfcException.Message.Number">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="RfcException.Message">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:string"/>
					<xsd:element name="Number" type="tns:RfcException.Message.Number"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZlmRfcConsultaVigente.RfcException">
				<xsd:sequence>
					<xsd:element name="Name" type="tns:ZlmRfcConsultaVigente.RfcExceptions"/>
					<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ZlmRfcConsultaVigente.RfcExceptions">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ExNoExisteBp"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="ZlmRfcConsultaVigente.Exception" type="tns:ZlmRfcConsultaVigente.RfcException"/>
			<xsd:element name="ZlmRfcConsultaVigente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cliente" type="n0:char10"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZlmRfcConsultaVigenteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Confirmacion" type="tns:char1"/>
						<xsd:element name="EstatusKo" type="n0:char1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZlmRfcConsultaVigente">
		<wsdl:part name="parameters" element="tns:ZlmRfcConsultaVigente"/>
	</wsdl:message>
	<wsdl:message name="ZlmRfcConsultaVigenteResponse">
		<wsdl:part name="parameter" element="tns:ZlmRfcConsultaVigenteResponse"/>
	</wsdl:message>
	<wsdl:message name="ZlmRfcConsultaVigente.Exception">
		<wsdl:part name="ZlmRfcConsultaVigente.Exception" element="tns:ZlmRfcConsultaVigente.Exception"/>
	</wsdl:message>
	<wsdl:portType name="ZLM_WS_CONSULTA_VIGENTE">
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF_ZLM_WS_CONSULTA_VIGENTE"/>
		</wsp:Policy>
		<wsdl:operation name="ZlmRfcConsultaVigente">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ZlmRfcConsultaVigente"/>
			</wsp:Policy>
			<wsdl:input message="tns:ZlmRfcConsultaVigente"/>
			<wsdl:output message="tns:ZlmRfcConsultaVigenteResponse"/>
			<wsdl:fault name="ZlmRfcConsultaVigente.Exception" message="tns:ZlmRfcConsultaVigente.Exception"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZLM_WS_CONSULTA_VIGENTE" type="tns:ZLM_WS_CONSULTA_VIGENTE">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_ZLM_WS_CONSULTA_VIGENTE"/>
		</wsp:Policy>
		<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
			<wsa:ReferenceParameters/>
		</wsa:EndpointReference>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZlmRfcConsultaVigente">
			<soap:operation soapAction="ZlmRfcConsultaVigente" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ZlmRfcConsultaVigente.Exception">
				<soap:fault name="ZlmRfcConsultaVigente.Exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZLM_WS_CONSULTA_VIGENTE">
		<wsdl:port name="ZLM_WS_CONSULTA_VIGENTE" binding="tns:ZLM_WS_CONSULTA_VIGENTE">
			<soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_consulta_vigente/330/zlm_ws_consulta_vigente/zlm_ws_consulta_vigente"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>