SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/BuroCredito/Resources/WSDLs/SAPConsultaBuroCreditoMovilWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_MOVILIDAD_CONSULTA_BURO">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_MOVILIDAD_CONSULTA_BURO">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZLM_RFC_CONSULTABURO">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char99">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="99"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal10.7">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="10"/>
          <xsd:fractionDigits value="7"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal13.5">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal4.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="4"/>
          <xsd:fractionDigits value="0"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric11">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="11"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZLM_BURO_DATOS_M">
        <xsd:sequence>
          <xsd:element name="NOMBRE1" type="tns:char40"/>
          <xsd:element name="NOMBRE2" type="tns:char40"/>
          <xsd:element name="APELLIDOP" type="tns:char40"/>
          <xsd:element name="APELLIDOM" type="tns:char40"/>
          <xsd:element name="OCUPACION" type="tns:char30"/>
          <xsd:element name="ACT_ECO" type="tns:char30"/>
          <xsd:element name="SEXO" type="tns:char10"/>
          <xsd:element name="FECHANAC" type="tns:char10"/>
          <xsd:element name="RFC" type="tns:char20"/>
          <xsd:element name="CALLE" type="tns:char60"/>
          <xsd:element name="NUM_EXT" type="tns:char10"/>
          <xsd:element name="ESTADO" type="tns:char30"/>
          <xsd:element name="MUNICIPIO" type="tns:char40"/>
          <xsd:element name="CP" type="tns:numeric5"/>
          <xsd:element name="COLONIA" type="tns:char40"/>
          <xsd:element name="LOCALIDAD" type="tns:char50"/>
          <xsd:element name="CALLE_EXT1" type="tns:char50"/>
          <xsd:element name="CALLE_EXT2" type="tns:char50"/>
          <xsd:element name="USERNAME" type="tns:char100"/>
          <xsd:element name="BP" type="tns:char10"/>
          <xsd:element name="EXTERNAL_ID" type="tns:char100"/>
          <xsd:element name="SIVA" type="tns:decimal4.0"/>
          <xsd:element name="PI" type="tns:decimal13.5"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZLM_STR_TASAS">
        <xsd:sequence>
          <xsd:element name="PLAZO" type="tns:numeric2"/>
          <xsd:element name="TASA" type="tns:decimal10.7"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Z00_BURO_TL">
        <xsd:sequence>
          <xsd:element name="MANDT" type="tns:clnt3"/>
          <xsd:element name="ID_CONSULTA" type="tns:char13"/>
          <xsd:element name="CONSECUTIVO" type="tns:numeric3"/>
          <xsd:element name="FECHA_ACTUALIZA" type="tns:date10"/>
          <xsd:element name="REG_IMPUGNADO" type="tns:numeric4"/>
          <xsd:element name="OTORGANTE" type="tns:char10"/>
          <xsd:element name="NOMBRE_OTORGANTE" type="tns:char16"/>
          <xsd:element name="TELEFONO" type="tns:numeric11"/>
          <xsd:element name="SIC" type="tns:numeric11"/>
          <xsd:element name="CUENTA" type="tns:char25"/>
          <xsd:element name="TIPO_RESPON" type="tns:char1"/>
          <xsd:element name="TIPO_CUENTA" type="tns:char1"/>
          <xsd:element name="TIPO_CONTRATO" type="tns:char2"/>
          <xsd:element name="MONEDA" type="tns:char2"/>
          <xsd:element name="VALOR_ACTIVO" type="tns:numeric9"/>
          <xsd:element name="NUM_PAGOS" type="tns:numeric4"/>
          <xsd:element name="FRECUENCIA" type="tns:char1"/>
          <xsd:element name="MONTO" type="tns:numeric9"/>
          <xsd:element name="FECHA_APERTURA" type="tns:date10"/>
          <xsd:element name="FECHA_ULT_PAGO" type="tns:date10"/>
          <xsd:element name="FECHA_ULT_COMPRA" type="tns:date10"/>
          <xsd:element name="FECHA_CIERRE" type="tns:date10"/>
          <xsd:element name="FECHA_REPORTE" type="tns:date10"/>
          <xsd:element name="MODO_REPORTE" type="tns:char1"/>
          <xsd:element name="FECHA_CERO" type="tns:date10"/>
          <xsd:element name="GARANTIA" type="tns:char40"/>
          <xsd:element name="CREDITO_MAX" type="tns:numeric9"/>
          <xsd:element name="SALDO_ACTUAL" type="tns:char9"/>
          <xsd:element name="LIMITE_CREDITO" type="tns:numeric9"/>
          <xsd:element name="SALDO_VENCIDO" type="tns:char9"/>
          <xsd:element name="PAGOS_VENCIDOS" type="tns:numeric4"/>
          <xsd:element name="MOP" type="tns:char2"/>
          <xsd:element name="HISTORICO_PAGOS" type="tns:char24"/>
          <xsd:element name="FECHA_REC_HIST" type="tns:date10"/>
          <xsd:element name="FECHA_ANT_HIST" type="tns:date10"/>
          <xsd:element name="OBSERVACION" type="tns:char2"/>
          <xsd:element name="TOTAL_PAGOS" type="tns:numeric3"/>
          <xsd:element name="CALIF_MOP02" type="tns:numeric2"/>
          <xsd:element name="CALIF_MOP03" type="tns:numeric2"/>
          <xsd:element name="CALIF_MOP04" type="tns:numeric2"/>
          <xsd:element name="CALIF_MOP05" type="tns:numeric2"/>
          <xsd:element name="HIST_MORA_SALDO" type="tns:numeric9"/>
          <xsd:element name="HIST_MORA_FECHA" type="tns:date10"/>
          <xsd:element name="HIST_MORA_MOP02" type="tns:char2"/>
          <xsd:element name="FECHA_INICIO" type="tns:date10"/>
          <xsd:element name="MONTO_ULTIMO" type="tns:char9"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZLM_RFC_CONSULTABURO.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZLM_RFC_CONSULTABURO.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZLM_TT_TASAS">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZLM_STR_TASAS" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_Z00_BURO_TL">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Z00_BURO_TL" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZLM_RFC_CONSULTABURO.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="EX_PROM_NO_AUT"/>
          <xsd:enumeration value="EX_COM_ERROR"/>
          <xsd:enumeration value="EX_ERROR_GENERAL"/>
          <xsd:enumeration value="EX_ID_CONSULTA_YA_EXISTE"/>
          <xsd:enumeration value="EX_NO_DATA"/>
          <xsd:enumeration value="EX_INTL_CORRUPTO"/>
          <xsd:enumeration value="EX_ID_CONSULTA_ERROR"/>
          <xsd:enumeration value="EX_ID_CONSULTA_NO_CREA"/>
          <xsd:enumeration value="EX_UR_ERROR"/>
          <xsd:enumeration value="EX_AUT_ERROR"/>
          <xsd:enumeration value="EX_RESP_FORMATO"/>
          <xsd:enumeration value="EX_DATOS_INCOMP"/>
          <xsd:enumeration value="EX_EXEC_ERROR"/>
          <xsd:enumeration value="EX_NO_AUT"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZLM_RFC_CONSULTABURO.Exception" type="tns:ZLM_RFC_CONSULTABURO.RfcException"/>
      <xsd:element name="ZLM_RFC_CONSULTABURO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="I_BURO_INFO" type="tns:ZLM_BURO_DATOS_M"/>
            <xsd:element name="I_FRECUENCIA" type="tns:numeric2"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZLM_RFC_CONSULTABUROResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_TASAS" type="tns:ZLM_TT_TASAS"/>
            <xsd:element name="E_COMENTARIO" type="tns:char255"/>
            <xsd:element name="E_FOLIO" type="tns:char99"/>
            <xsd:element name="E_STATUS_KO" type="tns:char1"/>
            <xsd:element name="TABLA_BURO_TL" type="tns:TABLE_OF_Z00_BURO_TL"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZLM_RFC_CONSULTABURO">
    <wsdl:part name="parameters" element="tns:ZLM_RFC_CONSULTABURO"/>
  </wsdl:message>
  <wsdl:message name="ZLM_RFC_CONSULTABUROResponse">
    <wsdl:part name="parameter" element="tns:ZLM_RFC_CONSULTABUROResponse"/>
  </wsdl:message>
  <wsdl:message name="ZLM_RFC_CONSULTABURO.Exception">
    <wsdl:part name="ZLM_RFC_CONSULTABURO.Exception" element="tns:ZLM_RFC_CONSULTABURO.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_MOVILIDAD_CONSULTA_BURO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_MOVILIDAD_CONSULTA_BURO"/>
    </wsp:Policy>
    <wsdl:operation name="ZLM_RFC_CONSULTABURO">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZLM_RFC_CONSULTABURO"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZLM_RFC_CONSULTABURO"/>
      <wsdl:output message="tns:ZLM_RFC_CONSULTABUROResponse"/>
      <wsdl:fault name="ZLM_RFC_CONSULTABURO.Exception" message="tns:ZLM_RFC_CONSULTABURO.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_MOVILIDAD_CONSULTA_BURO" type="tns:ZLM_WS_MOVILIDAD_CONSULTA_BURO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_MOVILIDAD_CONSULTA_BURO"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZLM_RFC_CONSULTABURO">
      <soap:operation soapAction="ZLM_RFC_CONSULTABURO" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZLM_RFC_CONSULTABURO.Exception">
        <soap:fault name="ZLM_RFC_CONSULTABURO.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_MOVILIDAD_CONSULTA_BURO">
    <wsdl:port name="ZLM_WS_MOVILIDAD_CONSULTA_BURO" binding="tns:ZLM_WS_MOVILIDAD_CONSULTA_BURO">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_movilidad_consulta_buro/300/zlm_ws_movilidad_consulta_buro/zlm_ws_movilidad_consulta_buro"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>