SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/Commons/Resources/GetSequenceNextValSchema.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://service.common.mx.com.qualitas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.common.mx.com.qualitas/"><xsd:complexType name="getNextVal"><xsd:sequence><xsd:element name="arg0" type="ns0:sequenceRequest" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="getNextValResponse"><xsd:sequence><xsd:element name="return" type="ns0:sequenceResponse" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="sequenceRequest"><xsd:sequence><xsd:element name="dataSourceName" type="xsd:string" minOccurs="0"/><xsd:element name="sequenceName" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="sequenceResponse"><xsd:sequence><xsd:element name="message" type="xsd:string" minOccurs="0"/><xsd:element name="nextVal" type="xsd:long" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="getNextVal" type="ns0:getNextVal"/><xsd:element name="getNextValResponse" type="ns0:getNextValResponse"/></xsd:schema>