SOL4IT - DEV/OSB_Desarrollo/DatosMaestros/Prestador/ConsultarInfoPrestador/Resources/WSDL/XMLSchema_-250956806.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Pagos/CuentasContables/v1/"
     xmlns:xsdLocal="http://qualitas.com.mx/Pagos/CuentasContables/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Ccontables">
        <sequence>
            <element name="idCcontable" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="idImportes" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="descPago" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="idDescIVA" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="idUsuario" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccSubtotal" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccIva" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccRetencionISR" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="ccRetencionIVA" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccOtrosImpuestos" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>