SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Avaluo/Resources/Schemas/MIDASCotizadorAutomovilResponseTypeXSD.xsd

<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:mx.com.nmp.midas" xmlns:ns1="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx" xmlns:ns3="http://nmpcotizadorautomovil.services.nmp.servicios.montedepiedad.com.mx">
  <xsd:import namespace="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx" schemaLocation="MIDASCotizadorAutomovilDetalleResponseTypeXSD.xsd"/>
  <xsd:import namespace="http://nmpcotizadorautomovil.services.nmp.servicios.montedepiedad.com.mx" schemaLocation="MIDASCotizadorAutomovilFaultMessageXSD.xsd"/>
  <xsd:complexType name="ArrayOfLong">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="long" nillable="true" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="obtenerAvaluoAutomovil">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idVersion" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idKilometraje" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="complementos" nillable="true" type="tns:ArrayOfLong"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerAvaluoAutomovilResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilDetalleResponseType" nillable="true" type="ns1:CotizadorAutomovilDetalleResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CotizadorAutomovilFaultMessage" type="ns3:CotizadorAutomovilFaultMessage"/>
  <xsd:element name="obtenerKilometrajes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idVersion" nillable="true" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerKilometrajesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true" type="ns1:CotizadorAutomovilResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerComplementos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idVersion" nillable="true" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerComplementosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true" type="ns1:CotizadorAutomovilResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerModelos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerModelosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true" type="ns1:CotizadorAutomovilResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerVersiones">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerVersionesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true" type="ns1:CotizadorAutomovilResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerMarcas">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="obtenerMarcasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true" type="ns1:CotizadorAutomovilResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerSubMarcas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerSubMarcasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true" type="ns1:CotizadorAutomovilResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>