SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/Finance/AP/GPA/Entity/Resources/CuentaDeudora/CuentaDeudoraSvcXSD.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://service.gpa.mx.com.qualitas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.gpa.mx.com.qualitas/">
  <xsd:complexType name="consultar">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:consultaCtasDeudorasRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarAutorizadores">
    <xsd:sequence>
      <xsd:element name="request" type="ns0:consultaAutorizadoresRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarAutorizadoresResponse">
    <xsd:sequence>
      <xsd:element name="response" type="ns0:consultaAutorizadoresResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarResponse">
    <xsd:sequence>
      <xsd:element name="response" type="ns0:consultaCtasDeudorasResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaCtasDeudorasRequest">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaAutorizadoresRequest">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaAutorizadoresResponse">
    <xsd:sequence>
      <xsd:element name="autorizador" type="ns0:empleadoModel" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="empleadoModel">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseModel">
        <xsd:sequence>
          <xsd:element name="atributo" type="ns0:atributo" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="oficina" type="ns0:oficinaModel" minOccurs="0"/>
          <xsd:element name="area" type="ns0:areaModel" minOccurs="0"/>
          <xsd:element name="centroCosto" type="ns0:centroCostoModel" minOccurs="0"/>
          <xsd:element name="rol" type="ns0:rolModel" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="email" type="xsd:string" minOccurs="0"/>
          <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
          <xsd:element name="puesto" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="numero" type="xsd:int"/>
        <xsd:attribute name="login" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="baseModel">
    <xsd:sequence>
      <xsd:element name="uid" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="atributo">
    <xsd:sequence/>
    <xsd:attribute name="nombre" type="xsd:string"/>
    <xsd:attribute name="valor" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="oficinaModel">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseModel">
        <xsd:sequence>
          <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
          <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="areaModel">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseModel">
        <xsd:sequence>
          <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
          <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="centroCostoModel">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseModel">
        <xsd:sequence>
          <xsd:element name="oficina" type="ns0:oficinaModel" minOccurs="0"/>
          <xsd:element name="area" type="ns0:areaModel" minOccurs="0"/>
          <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="rolModel">
    <xsd:complexContent>
      <xsd:extension base="ns0:baseModel">
        <xsd:sequence>
          <xsd:element name="empleado" type="ns0:empleadoModel" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="consultaCtasDeudorasResponse">
    <xsd:sequence>
      <xsd:element name="resultado" type="ns0:resultado" minOccurs="0"/>
      <xsd:element name="cuenta" type="ns0:cuentaDeudoraModel" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultado">
    <xsd:sequence>
      <xsd:element name="satisfactorio" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cuentaDeudoraModel">
    <xsd:sequence>
      <xsd:element name="autorizador" type="ns0:empleadoModel" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="id" type="xsd:long" minOccurs="0"/>
      <xsd:element name="numero" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultar" type="ns0:consultar"/>
  <xsd:element name="consultarAutorizadores" type="ns0:consultarAutorizadores"/>
  <xsd:element name="consultarAutorizadoresResponse" type="ns0:consultarAutorizadoresResponse"/>
  <xsd:element name="consultarResponse" type="ns0:consultarResponse"/>
</xsd:schema>