SOL4IT - DEV/OSB_Desarrollo/MasterData/Empleados/Resources/XMLSchema_516097970.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Personas/Empleado/obtenerEmpleadoPorNumero/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Personas/Empleado/obtenerEmpleadoPorNumero/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:tnse="http://qualitas.com.mx/Personas/Empleado/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/Personas/Empleado/v1/" schemaLocation="XMLSchema_936966274.xsd"/>
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-836722333.xsd"/>
    <element name="ObtenerEmpleadoRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="xsdLocal:BusquedaEmpleado"/>
            </sequence>
        </complexType>
    </element>
    <element name="ObtenerEmpleadoResponse">
        <complexType>
            <sequence>
                <element name="obtenerEmpleadoResponse" type="tnse:EmpleadoOEN"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="BusquedaEmpleado">
        <sequence>
            <element name="numeroEmpleado" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="loginEmpleado" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>