SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Common/Resources/WSDLs/NMPIniciadorProcesosBPMWSDL.wsdl

<!--########################################################################################--><!--####                                                                                ####--><!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####--><!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####--><!--####                                                                                ####--><!--########################################################################################--><wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/IniciadorProcesosBPM" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Schema/IniciadorProcesosBPM" xmlns:tns6="http://servicios.montedepiedad.com.mx/NMP/Schema/BpmProcess" xmlns:tns1="http://servicios.montedepiedad.com.mx/NMP/Service/IniciadorProcesosBPM" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:nmps="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/IniciadorProcesosBPM" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/BpmProcess" schemaLocation="../Schemas/NMPProcesosBPMXSD.xsd"/>
      <xsd:element name="start">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns6:DetalleProcesoBPM"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="endResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mensaje" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="start">
    <wsdl:part name="parameters" element="tns:start"/>
  </wsdl:message>
  <wsdl:message name="endResponse">
    <wsdl:part name="parameters" element="tns:endResponse"/>
  </wsdl:message>
  <wsdl:message name="MessageFaultStandardNMP">
    <wsdl:part name="msg" element="nmps:messageError"/>
  </wsdl:message>
  <wsdl:message name="HeaderStandardNMP">
    <wsdl:part name="header" element="nmph:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="IniciadorProcesoBPM">
    <wsdl:operation name="start">
      <wsdl:input message="tns1:start"/>
      <wsdl:output message="tns1:endResponse"/>
      <wsdl:fault name="startFault" message="tns1:MessageFaultStandardNMP"/>
    </wsdl:operation>
  </wsdl:portType>
  <plnk:partnerLinkType name="IniciadorProcesoBPMPTLink">
    <plnk:role name="CompraCumplidoPortTypeProvider">
      <plnk:portType name="tns1:IniciadorProcesoBPM"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <wsdl:binding name="IniciadorProcesoBPMSOAP11Binding" type="tns1:IniciadorProcesoBPM">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="start">
      <wsdlsoap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/IniciadorProcesosBPM/start"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
        <wsdlsoap:header message="tns1:HeaderStandardNMP" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" parts="parameters"/>
        <wsdlsoap:header message="tns1:HeaderStandardNMP" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="startFault">
        <wsdlsoap:fault name="startFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>