SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/CRMGestionesTipos2XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract">
  <xs:import schemaLocation="CRMGestionesValidadorXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
  <xs:import schemaLocation="CRMGestionesTipos0XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
  <xs:complexType name="RequestGestiones">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:Validador" xmlns:q1="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartaId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CategoriaInteraccion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="FechaReinserccion" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="Notas" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultadoInteraccion" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGestiones" nillable="true" type="tns:RequestGestiones"/>
  <xs:complexType name="Respuestaboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuestaboolean" nillable="true" type="tns:Respuestaboolean"/>
  <xs:complexType name="RequestAgenda">
    <xs:complexContent mixed="false">
      <xs:extension base="q2:Validador" xmlns:q2="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FechaIni" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="IdWorkerformType" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdWorkorder" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestAgenda" nillable="true" type="tns:RequestAgenda"/>
  <xs:complexType name="RespuestaArrayOfOrden">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfOrden" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q3:ArrayOfOrden" xmlns:q3="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaArrayOfOrden" nillable="true" type="tns:RespuestaArrayOfOrden"/>
  <xs:complexType name="RequestPreregistro">
    <xs:complexContent mixed="false">
      <xs:extension base="q4:Validador" xmlns:q4="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DelegacionMunicipio" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Evento" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="Genero" type="xs:int"/>
          <xs:element minOccurs="0" name="Lada" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:double"/>
          <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:double"/>
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroExterior" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroInterior" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Origen" type="xs:int"/>
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="TipoTelefono" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestPreregistro" nillable="true" type="tns:RequestPreregistro"/>
  <xs:complexType name="RequestAutoAsignacion">
    <xs:complexContent mixed="false">
      <xs:extension base="q5:Validador" xmlns:q5="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaIni" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="HoraVisita" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="IdCliente" type="xs:int"/>
          <xs:element minOccurs="0" name="IdWorkerformType" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdWorkorder" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="TipoActividad" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestAutoAsignacion" nillable="true" type="tns:RequestAutoAsignacion"/>
</xs:schema>