SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/CRMGestionesTipos0XSD.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos">
  <xs:complexType name="ArrayOfOrden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orden" nillable="true" type="tns:Orden"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrden" nillable="true" type="tns:ArrayOfOrden"/>
  <xs:complexType name="Orden">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente"/>
      <xs:element minOccurs="0" name="ScheduledEnd" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ScheduledStart" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orden" nillable="true" type="tns:Orden"/>
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente"/>
</xs:schema>