SOL4IT - DEV/OSB_NMP_Actual/OperacionCreditos/Ministracion/Resources/WSDLs/NMPGestionMinistracionBPMWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/MinistracionesGestionSolicitudProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/MinistracionesGestionSolicitudProcess" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/MinistracionesGestionSolicitudProcess">
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="iniciarSolicitudMinistracion">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="idSolicitud" type="xsd:long"/>
                        <xsd:element name="loginUsuario" type="xsd:string"/>
                        <xsd:element name="codigoSucursal" type="xsd:int"/>
                        <xsd:element name="idSucursal" type="xsd:int"/>
                        <xsd:element name="monto" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:message name="iniciarSolicitudMinistracion">
        <wsdl:part name="parameters" element="tns:iniciarSolicitudMinistracion"/>
    </wsdl:message>
    <wsdl:portType name="MinistracionesGestionSolicitudProcessPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="MinistracionesGestionSolicitudProcessPortType">
        <wsdl:operation name="iniciarSolicitudMinistracion">
            <wsdl:input message="tns:iniciarSolicitudMinistracion"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="MinistracionesGestionSolicitudProcessPortTypePartnerLinkType">
        <plnk:role name="MinistracionesGestionSolicitudProcessPortTypeProvider">
            <plnk:portType name="tns:MinistracionesGestionSolicitudProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:binding name="MinistracioGestionSolicitudPortTypeSOAP11Binding"
                  type="tns:MinistracionesGestionSolicitudProcessPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="iniciarSolicitudMinistracion">
            <wsdlsoap:operation style="document"
                                soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/MinistracionesGestionSolicitudProcess/iniciarSolicitudMinistracion"/>
            <wsdl:input>
                <wsdlsoap:body use="literal" parts="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>