SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/TiendaEnLinea/Resources/WSDLs/MIDASServicioVentasWSDL.wsdl

<wsdl:definitions xmlns:ns2="http://exception.midas.nmp.com.mx" xmlns:ns1="http://dto.model.midas.nmp.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="urn:mx.com.nmp.midas">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="http://dto.model.midas.nmp.com.mx">
      <xsd:complexType name="OperacionVentaCanales">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="digitoVerificador" type="xsd:long"/>
          <xsd:element minOccurs="0" name="fecha" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="folioVenta" type="xsd:long"/>
          <xsd:element minOccurs="0" name="importeIVA" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="importeTotal" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="mercancias" nillable="true" type="ns1:ArrayOfDetalleMercancia"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDetalleMercancia">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DetalleMercancia" nillable="true"
                       type="ns1:DetalleMercancia"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleMercancia">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="folio" type="xsd:long"/>
          <xsd:element minOccurs="0" name="importeIVA" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="precioVenta" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegistroOperacionVentaCanales">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="exitoso" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="urn:mx.com.nmp.midas">
      <xsd:element name="registrarOperacionVenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="operacion" nillable="true" type="ns1:OperacionVentaCanales"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registrarOperacionVentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="return" nillable="true"
                         type="ns1:RegistroOperacionVentaCanales"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ServiceException" type="ns2:ServiceException"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="http://exception.midas.nmp.com.mx">
      <xsd:complexType abstract="true" name="ServiceException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarOperacionVentaResponse">
    <wsdl:part name="parameters" element="tns:registrarOperacionVentaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarOperacionVentaRequest">
    <wsdl:part name="parameters" element="tns:registrarOperacionVenta"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioVentaCanalesPortType">
    <wsdl:operation name="registrarOperacionVenta">
      <wsdl:input name="registrarOperacionVentaRequest" message="tns:registrarOperacionVentaRequest"></wsdl:input>
      <wsdl:output name="registrarOperacionVentaResponse" message="tns:registrarOperacionVentaResponse"></wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioVentaCanalesHttpBinding" type="tns:ServicioVentaCanalesPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrarOperacionVenta">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="registrarOperacionVentaRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registrarOperacionVentaResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioVentaCanales">
    <wsdl:port name="ServicioVentaCanalesHttpPort" binding="tns:ServicioVentaCanalesHttpBinding">
      <wsdlsoap:address location="http://10.30.3.55:9032/midas-web/services/ServicioVentaCanales"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>