SOL4IT - DEV/Aplicacion_SOA_Qualitas/ObtenerArchivoProrrateoPrj/SOA/Schemas/ObtenerArchivoProrrateo.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comunes/Prorrateo/obtenerArchivoProrrateo/v1/" xmlns:tns="http://qualitas.com.mx/Comunes/Prorrateo/obtenerArchivoProrrateo/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <element name="processRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="tns:ArchivoProrrateo"/>
         </sequence>
      </complexType>
   </element>
   <element name="processResponse">
      <complexType>
         <sequence>
            <element name="resultDataResponse" type="tns:obtenerArchivoResponse" minOccurs="0" maxOccurs="1"/>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="ArchivoProrrateo">
      <sequence>
         <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
         <element name="id_solicitud" type="string"/>
      </sequence>
   </complexType>
   <complexType name="obtenerArchivoResponse">
      <sequence>
         <element name="nombreArchivo" type="string"/>
         <element name="archivoProrrateo" type="base64Binary"/>
      </sequence>
   </complexType>
</schema>
