SOL4IT - DEV/OSB_NMP_Actual/PoC/cenmp/resources/xsd/NmpProxy.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:nmp="http://xmlns.montepiedad.com.mx/nmp/cenmp" targetNamespace="http://xmlns.montepiedad.com.mx/nmp/cenmp"
	elementFormDefault="qualified">
	<xsd:element name="RegistrarSocioRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Actualizar" type="xsd:boolean" />
				<xsd:element name="Correo" type="nmp:emailAddressType"
					nillable="false" />
				<xsd:element name="Usuario" type="nmp:stringType30"
					nillable="false" />
				<xsd:element name="Pasword" type="nmp:stringType20"
					nillable="false" />
				<xsd:element name="Nombre" type="nmp:stringType64"
					nillable="false" />
				<xsd:element name="ApellidoPaterno" type="nmp:stringType64"
					nillable="false" />
				<xsd:element name="ApellidoMaterno" type="nmp:stringType64"
					nillable="false" />
				<xsd:element name="FechaNacimiento" type="xsd:date"
					nillable="false" />
				<xsd:element name="Telefono" type="nmp:stringType10"
					nillable="true" />
				<xsd:element name="Celular" type="nmp:stringType10"
					nillable="true" />
				<xsd:element name="Escolaridad" type="nmp:stringType20"
					nillable="true" />
				<xsd:element name="Sexo" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="Calle" type="nmp:stringType256"
					nillable="true" />
				<xsd:element name="NumeroExt" type="nmp:stringType20"
					nillable="true" />
				<xsd:element name="NumeroInt" type="nmp:stringType20"
					nillable="true" />
				<xsd:element name="Colonia" type="nmp:stringType64"
					nillable="true" />
				<xsd:element name="CodigoPostal" type="nmp:stringType10"
					nillable="true" />
				<xsd:element name="Municipio" type="nmp:stringType64"
					nillable="true" />
				<xsd:element name="Ciudad" type="nmp:stringType64"
					nillable="true" />
				<xsd:element name="ContactoEmergencias" type="nmp:stringType30"
					nillable="true" />
				<xsd:element name="ContactoEmergencia1s" type="nmp:stringType30"
					nillable="true" />
				<xsd:element name="TutorResponsable" type="nmp:stringType128"
					nillable="true" />
				<xsd:element name="TelefonoEmergencia" type="nmp:stringType10"
					nillable="true" />
				<xsd:element name="Trabaja" type="nmp:stringType30"
					nillable="true" />
				<xsd:element name="Estudia" type="nmp:stringType30"
					nillable="true" />
				<xsd:element name="CURP" type="nmp:stringType20"
					nillable="true" />
				<xsd:element name="HabilidadInformatica" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="FolioCupon" type="nmp:stringType20"
					nillable="true" />
				<xsd:element name="ClienteMP" type="nmp:stringType20"
					nillable="true" />
				<xsd:element name="NegocioPropio" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="DependientesEconomicos" type="xsd:integer"
					nillable="true" />
				<xsd:element name="CasaPropia" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="UtilizaInternet" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdMotivo" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdEstadoCivil" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdEstado" type="nmp:stringType02"
					nillable="false" />
				<xsd:element name="IdGrado" type="nmp:stringType02"
					nillable="false" />
				<xsd:element name="IdOcupacion" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdActEconomica" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdDominioIngles" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdDiscapacidad" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdMotivoAcercamiento" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdTiempoActividad" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdProblemasActualesEmpresa" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdMedio" type="nmp:stringType02"
					nillable="true" />
				<xsd:element name="IdCentro" type="xsd:string" nillable="true" />
				<xsd:element name="CentroNombre" type="xsd:string" nillable="true" />
				<xsd:element name="fechaRegistro" type="xsd:date" nillable="false"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RegistrarSocioResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdRegistroSocio" type="nmp:stringType20" />
				<xsd:element name="IdMicroSitio" type="nmp:stringType20" />
				<xsd:element name="IdCCAS" type="nmp:stringType20" />
				<xsd:element name="StatusCenmp" type="nmp:stringType20" />
				<xsd:element name="ErrorCode" type="nmp:stringType20" />
				<xsd:element name="ErrorDescription" type="nmp:stringType128" />
				<xsd:element name="ErrorDetail" type="nmp:stringType512" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InscribirRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PerteneceTEC" type="nmp:stringType10" />
				<xsd:element name="idCurso" type="nmp:stringType10" />
				<xsd:element name="idGrupo" type="nmp:stringType10" />
				<xsd:element name="idUsuario" type="nmp:stringType64" />
				<xsd:element name="descCentro" type="nmp:stringType30" />
				<xsd:element name="emailProm" type="nmp:emailAddressType" />
				<xsd:element name="idCentro" type="xsd:string" />
				<xsd:element name="nombreCentro" type="xsd:string" />
				<xsd:element name="fechaRegistro" type="xsd:date" nillable="false" />
				<xsd:element name="tipoSolicitud" type="xsd:string" nillable="false"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InscribirResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdInscripcion" type="nmp:stringType30" />
				<xsd:element name="StatusInscripcion" type="nmp:stringType20" />
				<xsd:element name="ErrorCode" type="nmp:stringType20" />
				<xsd:element name="ErrorDescription" type="nmp:stringType128" />
				<xsd:element name="ErrorDetail" type="nmp:stringType512" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObtenerOfertaTECRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="FechaInicio" type="xsd:date"
					nillable="false" />
				<xsd:element name="FechaFin" type="xsd:date" nillable="false" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObtenerOfertaTECResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Cursos" type="nmp:CursoType"
					maxOccurs="unbounded" />
				<xsd:element name="ErrorCode" type="nmp:stringType20" />
				<xsd:element name="ErrorDescription" type="nmp:stringType128" />
				<xsd:element name="ErrorDetail" type="nmp:stringType512" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="ObtenerCursosSocioTecRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Usuario" type="nmp:stringType30"
					nillable="false" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObtenerCursosSocioTecResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Cursos" type="nmp:CursosSocioType"
					maxOccurs="unbounded" />
				<xsd:element name="ErrorCode" type="nmp:stringType20" />
				<xsd:element name="ErrorDescription" type="nmp:stringType128" />
				<xsd:element name="ErrorDetail" type="nmp:stringType512" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CancelarInscripcionRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Usuario" type="nmp:stringType30"
					nillable="false" />
				<xsd:element name="idCurso" type="nmp:stringType10"
					nillable="false" />
				<xsd:element name="idGrupo" type="nmp:stringType10"
					nillable="false" />
				<xsd:element name="idCentro" type="xsd:string" />
				<xsd:element name="nombreCentro" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CancelarInscripcionResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Usuario" type="nmp:stringType30" />
				<xsd:element name="StatusCancelacion" type="nmp:stringType20" />
				<xsd:element name="ErrorCode" type="nmp:stringType20" />
				<xsd:element name="ErrorDescription" type="nmp:stringType128" />
				<xsd:element name="ErrorDetail" type="nmp:stringType512" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="CursosSocioType">
		<xsd:sequence>
			<xsd:element name="IdCurso" type="nmp:stringType10" />
			<xsd:element name="DescCurso" type="nmp:stringType256" />
			<xsd:element name="IdGrupo" type="nmp:stringType10" />
			<xsd:element name="CveGrupo" type="nmp:stringType256" />
			<xsd:element name="FechaInicio" type="xsd:date" nillable="false" />
			<xsd:element name="FechaFin" type="xsd:date" nillable="false" />
			<xsd:element name="FechaInicioInsc" type="xsd:date"
				nillable="false" />
			<xsd:element name="FechaFinInsc" type="xsd:date"
				nillable="false" />
			<xsd:element name="LigaAccesoSABA" type="nmp:stringType512"
				nillable="false" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ServiceFault">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ErrorCode" type="nmp:stringType20" />
				<xsd:element name="ErrorDescription" type="nmp:stringType128" />
				<xsd:element name="ErrorDetail" type="nmp:stringType512" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="stringType02">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType10">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType30">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType64">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="64" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType128">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="128" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType256">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="256" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stringType512">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="512" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="educacionTypee">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Primaria" />
			<xsd:enumeration value="Secundaria" />
			<xsd:enumeration value="Preparatoria" />
			<xsd:enumeration value="Universidad" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="emailAddressType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$" />
			<xsd:pattern value="[^@]+@[^\.]+\..+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CursoType">
		<xsd:sequence>
			<xsd:element name="idCurso" type="nmp:stringType10" />
			<xsd:element name="DescCurso" type="nmp:stringType256" />
			<xsd:element name="idGrupo" type="nmp:stringType10" />
			<xsd:element name="CveGrupo" type="nmp:stringType256" />
			<xsd:element name="FechaInicio" type="xsd:date" nillable="false" />
			<xsd:element name="FechaFin" type="xsd:date" nillable="false" />
			<xsd:element name="FechaInicioInsc" type="xsd:date"
				nillable="false" />
			<xsd:element name="FechaFinInsc" type="xsd:date"
				nillable="false" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>