SOL4IT - DEV/OSB_NMP_Actual/PoC/cenmp/resources/xsd/wsObtenerOfertaCurso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (x64) (http://www.altova.com) by Multimedios Redes (Multimedios Redes) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="o">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="datos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="e" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="aula" type="xs:string"/>
										<xs:element name="categoria_curso" type="xs:string"/>
										<xs:element name="centro" type="xs:string"/>
										<xs:element name="centro_id" type="xs:string"/>
										<xs:element name="clave_curso" type="xs:string"/>
										<xs:element name="clave_grupo" type="xs:string"/>
										<xs:element name="cupo_actual" type="xs:string"/>
										<xs:element name="cupo_total" type="xs:string"/>
										<xs:element name="curso" type="xs:string"/>
										<xs:element name="curso_id" type="xs:string"/>
										<xs:element name="descripcion" type="xs:string"/>
										<xs:element name="duracion_total_horas" type="xs:string"/>
										<xs:element name="fecha_final" type="xs:string"/>
										<xs:element name="fecha_final_inscripcion" type="xs:string"/>
										<xs:element name="fecha_inicio" type="xs:string"/>
										<xs:element name="fecha_inicio_inscripcion" type="xs:string"/>
										<xs:element name="insitucion_creadora" type="xs:string"/>
										<xs:element name="grupo_id" type="xs:string"/>
										<xs:element name="perfil" type="xs:string"/>
										<xs:element name="seriado" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="estatus" type="xs:string"/>
				<xs:element name="mensaje" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>