SOL4IT - DEV/OSB_NMP_Actual/PoC/cenmp/resources/xsd/wsReporteVentasDiarias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (x64) (http://www.altova.com) by Multimedios Redes (Multimedios Redes) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST4_total">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_tipo_orden">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_socio">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_producto">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="ST4_precio_lista">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_hora">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_folio_venta">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_folio_socio">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_fecha">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_descuento">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_centro_id">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		<xs:simpleType name="ST4_producto_id">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_centro">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_categoria_producto">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST4_cantidad">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST2_estatus">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="o">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="datos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="e" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cantidad">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_cantidad">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="categoria_producto">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_categoria_producto">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="centro">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_centro">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="centro_id">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_centro_id">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="number"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="producto_id">
											<xs:complexType>
												<xs:attribute name="type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="string"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="cupon">
											<xs:complexType>
												<xs:attribute name="type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="string"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="descuento">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_descuento">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="fecha">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_fecha">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="folio_socio">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_folio_socio">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="folio_venta">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_folio_venta">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="number"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="hora">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_hora">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="precio_lista">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_precio_lista">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="producto">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_producto">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="socio">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_socio">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="tipo_orden">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_tipo_orden">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="total">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="ST4_total">
														<xs:attribute name="type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="string"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="class" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="object"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="array"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="estatus">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="ST2_estatus">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="boolean"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="mensaje">
					<xs:complexType>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="string"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>