SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/Clientes/Resources/Schemas/CRMClienteSvcBajaDisTipos1XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract">
  <xs:import schemaLocation="CRMClienteSvcBajaDisTipos0XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
  <xs:complexType name="RespuestaClientNMP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClientNMP" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="q1:ClientNMP" xmlns:q1="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaClientNMP" nillable="true" type="tns:RespuestaClientNMP"/>
  <xs:complexType name="ClienteNMP">
    <xs:complexContent mixed="false">
      <xs:extension base="q2:Validador" xmlns:q2="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">



        <xs:sequence>
          <xs:element minOccurs="0" name="AplicacionMovil" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="correo" nillable="true" type="q3:ArrayOfCorreo" xmlns:q3="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
          <xs:element minOccurs="0" name="domicilio" nillable="true" type="q4:ArrayOfDomicilio" xmlns:q4="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
          <xs:element minOccurs="0" name="telefono" nillable="true" type="q5:ArrayOfTelefono" xmlns:q5="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteNMP" nillable="true" type="tns:ClienteNMP"/>
  <xs:complexType name="Respuestaboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Respuesta{0}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="DetalleRespuesta" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuestaboolean" nillable="true" type="tns:Respuestaboolean"/>
  <xs:complexType name="RequestAccesoPortal">
    <xs:complexContent mixed="false">
      <xs:extension base="q6:Validador" xmlns:q6="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CorreoElectronicoPortal" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CredencialNMP" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestAccesoPortal" nillable="true" type="tns:RequestAccesoPortal"/>
</xs:schema>