SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/Clientes/Resources/Schemas/CRMClienteSvcBajaDisTipos0XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos">
  <xs:import schemaLocation="CRMClienteSvcBajaValidadorXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"/>
  <xs:complexType name="ClientNMP">
        <xs:sequence>
            <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Beneficiarios" nillable="true" type="tns:ArrayOfBeneficiario"/>
            <xs:element minOccurs="0" name="Boletinado" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CalificacionAjustada" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="CalificacionMidas" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="CalificacionReal" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="CalificacionSIVA2" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="CapacidadPago" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Cotitulares" nillable="true" type="tns:ArrayOfCotitular"/>
            <xs:element minOccurs="0" name="CredencialNMP" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DeseaserContactado" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Direcciones" nillable="true" type="tns:ArrayOfDireccion"/>
            <xs:element minOccurs="0" name="Email" nillable="true" type="tns:ArrayOfCorreo">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Escolaridad" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FechaExpiraIdentificacion" nillable="true" type="xs:dateTime">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Giro" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="GradoConfianza" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="HuellaDigital" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IdCliente" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IdClienteFromClientes" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IndiceRecuperacion" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="NoIdentificacion" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="NumeroDependientes" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Pagos" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="PaisNacimiento" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PaisResidencia" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PathImagenesBoletinado" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PathImagenesCreacion" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PorcentajeDesempeño" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="PorcentajePrestamoValuacion" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="PrestamoPromedio" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Prestamos" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="ProbabilidadIncumplimiento" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RepresentanteLegal" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SobreAforo" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="SobreAforoAjustado" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="SobreAforoSIVA2" nillable="true" type="xs:decimal"/>
            <xs:element minOccurs="0" name="SucursaldeRegistro" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono"/>
            <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Trabaja" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="URLVision360" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="UsuarioCreador" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="UsuarioUltimaModificacion" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sistemaorigencliente" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ClientNMP" nillable="true" type="tns:ClientNMP"/>
    <xs:complexType name="ArrayOfBeneficiario">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Beneficiario" nillable="true" type="tns:Beneficiario"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfBeneficiario" nillable="true" type="tns:ArrayOfBeneficiario"/>
    <xs:complexType name="Beneficiario">
        <xs:sequence>
            <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IdCotitular" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IdCotitularFromClientes" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Parentesco" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Beneficiario" nillable="true" type="tns:Beneficiario"/>
    <xs:complexType name="ArrayOfTelefono">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Telefono" nillable="true" type="tns:Telefono"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTelefono" nillable="true" type="tns:ArrayOfTelefono"/>
    <xs:complexType name="Telefono">
        <xs:complexContent mixed="false">
            <xs:extension base="q1:Validador" xmlns:q1="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Lada" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="NumeroTelefono" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="TipoTelefono" nillable="true" type="xs:int">
                        <xs:annotation>
                            <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="TituloTelefono" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Telefono" nillable="true" type="tns:Telefono"/>
    <xs:complexType name="ArrayOfCotitular">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Cotitular" nillable="true" type="tns:Cotitular"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfCotitular" nillable="true" type="tns:ArrayOfCotitular"/>
    <xs:complexType name="Cotitular">
        <xs:sequence>
            <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IdCotitular" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="IdCotitularFromClientes" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Parentesco" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Cotitular" nillable="true" type="tns:Cotitular"/>
    <xs:complexType name="ArrayOfDireccion">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion"/>
    <xs:complexType name="Direccion">
        <xs:sequence>
            <xs:element minOccurs="0" name="CP" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CPOtro" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ColoniaOtro" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DelegacionMunicipio" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DelegacionMunicipioOtro" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DescripcionCP" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DescripcionColonia" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DescripcionDelegacionMunicipio" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DescripcionEstado" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DomicilioExtranjero" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="EntreCalle1" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="EntreCalle2" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="EstadoOtro" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Etiqueta" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FuenteDato" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="NumeroExterior" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="NumeroInterior" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="OrigenDato" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PaisResidencia" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TipoDomicilio" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TipodeVivienda" nillable="true" type="xs:int">
                <xs:annotation>
                    <xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Direccion" nillable="true" type="tns:Direccion"/>
    <xs:complexType name="ArrayOfCorreo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Correo" nillable="true" type="tns:Correo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfCorreo" nillable="true" type="tns:ArrayOfCorreo"/>
    <xs:complexType name="Correo">
        <xs:complexContent mixed="false">
            <xs:extension base="q2:Validador" xmlns:q2="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="FuenteDato" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="TipoCorreo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Correo" nillable="true" type="tns:Correo"/>
    <xs:complexType name="ArrayOfDomicilio">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Domicilio" nillable="true" type="tns:Domicilio"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDomicilio" nillable="true" type="tns:ArrayOfDomicilio"/>
    <xs:complexType name="Domicilio">
        <xs:complexContent mixed="false">
            <xs:extension base="q3:Validador" xmlns:q3="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="DelegacionMunicipio" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="EntreCalle1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="EntreCalle2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroExterior" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroInterior" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="TipoDomicilio" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="TipoVivienda" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="TituloDomicilio" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Domicilio" nillable="true" type="tns:Domicilio"/>
</xs:schema>