SOL4IT - DEV/OSB_NMP_Actual/GestionClientes/Clientes/Resources/Schemas/SAPClientesXSD.xsd

<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="SAPClientesTypesXSD.xsd"/>
 <xsd:simpleType name="RfcException.Message.Number">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char150">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="150"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal10.7">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="10"/>
                    <xsd:fractionDigits value="7"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZlmStrDatosTrabajo">
                <xsd:sequence>
                    <xsd:element name="NombreNegocio" type="n0:char160"/>
                    <xsd:element name="TelTrbj" type="n0:char30"/>
                    <xsd:element name="ExtTrbj" type="n0:char6"/>
                    <xsd:element name="CalleTrbj" type="n0:char60"/>
                    <xsd:element name="NumExtTrbj" type="n0:char10"/>
                    <xsd:element name="NumIntTrbj" type="n0:char10"/>
                    <xsd:element name="ManzanaTrbj" type="n0:char50"/>
                    <xsd:element name="LoteTrbj" type="n0:char50"/>
                    <xsd:element name="ColoniaTrbj" type="n0:char40"/>
                    <xsd:element name="MunicipioTrbj" type="n0:char50"/>
                    <xsd:element name="EstadoTrbj" type="n0:char3"/>
                    <xsd:element name="Calle1Trbj" type="n0:char40"/>
                    <xsd:element name="Calle2Trbj" type="n0:char40"/>
                    <xsd:element name="CpTrbj" type="n0:numeric5"/>
                    <xsd:element name="LongitudTrbj" type="n0:char25"/>
                    <xsd:element name="LatitudTrbj" type="n0:char25"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZlmStrDatosRef">
                <xsd:sequence>
                    <xsd:element name="Bp" type="n0:char10"/>
                    <xsd:element name="TipoRel" type="tns:char30"/>
                    <xsd:element name="Nombre1" type="tns:char40"/>
                    <xsd:element name="Nombre2" type="tns:char40"/>
                    <xsd:element name="ApePat" type="tns:char40"/>
                    <xsd:element name="ApeMat" type="tns:char40"/>
                    <xsd:element name="Tel" type="n0:char30"/>
                    <xsd:element name="Cel" type="n0:char30"/>
                    <xsd:element name="Calle" type="n0:char60"/>
                    <xsd:element name="NumExt" type="n0:char10"/>
                    <xsd:element name="Colonia" type="n0:char40"/>
                    <xsd:element name="Ciudad" type="tns:char50"/>
                    <xsd:element name="Estado" type="n0:char3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZlmStrDatosContrato">
                <xsd:sequence>
                    <xsd:element name="Sociedad" type="n0:char4"/>
                    <xsd:element name="Contrato" type="n0:char13"/>
                    <xsd:element name="Estatus" type="n0:char30"/>
                    <xsd:element name="TipoCartera" type="n0:char30"/>
                    <xsd:element name="TipoCliente" type="n0:char25"/>
                    <xsd:element name="Saldo" type="n0:curr13.2"/>
                    <xsd:element name="FechaPagoProx" type="n0:char10"/>
                    <xsd:element name="RefBanc" type="n0:char16"/>
                    <xsd:element name="CapVig" type="n0:curr13.2"/>
                    <xsd:element name="IntOrd" type="n0:curr13.2"/>
                    <xsd:element name="IntMor" type="n0:curr13.2"/>
                    <xsd:element name="CuoVen" type="n0:numeric3"/>
                    <xsd:element name="DiasMora" type="n0:char40"/>
                    <xsd:element name="SaldoVencVig" type="n0:curr13.2"/>
                    <xsd:element name="FecPag" type="n0:char10"/>
                    <xsd:element name="ImpPag" type="n0:curr13.2"/>
                    <xsd:element name="CuotaMensual" type="n0:curr13.2"/>
                    <xsd:element name="TasaInteresAnual" type="tns:decimal10.7"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZlmStrDatosCliente">
                <xsd:sequence>
                    <xsd:element name="Bp" type="n0:char10"/>
                    <xsd:element name="Nombre1" type="n0:char40"/>
                    <xsd:element name="Nombre2" type="n0:char40"/>
                    <xsd:element name="ApePaterno" type="n0:char40"/>
                    <xsd:element name="ApeMaterno" type="n0:char40"/>
                    <xsd:element name="Rfc" type="n0:char20"/>
                    <xsd:element name="Curp" type="n0:char20"/>
                    <xsd:element name="Calle" type="n0:char60"/>
                    <xsd:element name="NumeroExt" type="n0:char10"/>
                    <xsd:element name="NumeroInt" type="n0:char10"/>
                    <xsd:element name="Manzana" type="n0:char50"/>
                    <xsd:element name="Lote" type="n0:char50"/>
                    <xsd:element name="Colonia" type="n0:char40"/>
                    <xsd:element name="Municipio" type="n0:char50"/>
                    <xsd:element name="Estado" type="n0:char3"/>
                    <xsd:element name="TelCasa" type="n0:char30"/>
                    <xsd:element name="TelRecados" type="n0:char30"/>
                    <xsd:element name="TelCelular" type="n0:char30"/>
                    <xsd:element name="Email" type="n0:char60"/>
                    <xsd:element name="DocIdentif" type="n0:char100"/>
                    <xsd:element name="Ocupacion" type="tns:char30"/>
                    <xsd:element name="Sector" type="tns:char100"/>
                    <xsd:element name="ActividadEconomica" type="tns:char150"/>
                    <xsd:element name="EstadoCivil" type="tns:char20"/>
                    <xsd:element name="Longitud" type="tns:char25"/>
                    <xsd:element name="Latitud" type="tns:char25"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RfcException.Message">
                <xsd:sequence>
                    <xsd:element name="ID" type="xsd:string"/>
                    <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZlmRfcInfoContactoBp.RfcException">
                <xsd:sequence>
                    <xsd:element name="Name" type="tns:ZlmRfcInfoContactoBp.RfcExceptions"/>
                    <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZlmTtDatosRef">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZlmStrDatosRef" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZlmTtDatosContrato">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZlmStrDatosContrato" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ZlmRfcInfoContactoBp.RfcExceptions">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ExInfo"/>
                    <xsd:enumeration value="ExParam"/>
                    <xsd:enumeration value="ExSaldo"/>
                    <xsd:enumeration value="ExNotFound"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="ZlmRfcInfoContactoBp.Exception" type="tns:ZlmRfcInfoContactoBp.RfcException"/>
            <xsd:element name="ZlmRfcInfoContactoBp">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Cliente" type="n0:char10"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZlmRfcInfoContactoBpResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DatosCliente" type="tns:ZlmStrDatosCliente"/>
                        <xsd:element name="DatosContrato" type="tns:ZlmTtDatosContrato"/>
                        <xsd:element name="DatosRef" type="tns:ZlmTtDatosRef"/>
                        <xsd:element name="DatosTrabajo" type="tns:ZlmStrDatosTrabajo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
</xsd:schema>