SOL4IT - DEV/OSB_Depurado_SOAINT/Finance/AP/GPA/Entity/Resources/ConsultaDetalleSolicitud/Servicio.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnspsp="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" schemaLocation="ProyectoData.xsd"/>
    <complexType name="Servicio">
        <sequence>
            <element name="idTpServicio" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="CentroDeCosto" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="cveOficina" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="descOficina" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="respArea" type="string" minOccurs="0" maxOccurs="1"/>

            <choice>
                <sequence>
                    <element name="servicioData" type="tns:ServicioData" minOccurs="0" maxOccurs="1"/>
                    <element name="proyecto" type="tnspsp:Proyecto" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </choice>
        </sequence>
    </complexType>
    <complexType name="ServicioData">
        <sequence>
            <element name="idServicio" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="descripcion" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="tipoMoneda" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>