SOL4IT - DEV/OSB_Desarrollo/MasterData/Oficinas/Resources/XMLSchema_-2111547787.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Oficina/obtenerOficinaPorClave/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Oficina/obtenerOficinaPorClave/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-343136885.xsd"/>
    <element name="obtenerOficinaPorClaveRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:obtenerOficinaPorClave"/>
            </sequence>
        </complexType>
    </element>
    <element name="obtenerOficinaPorClaveResponse">
        <complexType>
            <sequence>
                <element name="claveOficina" type="string" minOccurs="1" maxOccurs="1"/>
                <element name="descOficina" type="string" minOccurs="1" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="obtenerOficinaPorClave">
        <sequence>
            <element name="claveOficina" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>