SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/Concentradora/Resources/Schemas/MIDASReglaMarcadoTiposXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified"
            targetNamespace="http://nmprecepcionregla.schema.nmp.servicios.montedepiedad.com.mx"
            xmlns:ns1="http://nmprecepcionregla.schema.nmp.servicios.montedepiedad.com.mx">
  <xsd:complexType name="ReglaMarcadoRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="criterios" nillable="true" type="ns1:ArrayOfCriterio"/>
      <xsd:element minOccurs="0" name="etapa" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="fechaEjecucion" nillable="true" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="fechaSolicitud" nillable="true" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idSolicitud" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="proyecto" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="subetapa" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCriterio">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Criterio" nillable="true" type="ns1:Criterio"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Criterio">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="subcriterios" nillable="true" type="ns1:ArrayOfSubcriterio"/>
      <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfSubcriterio">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Subcriterio" nillable="true" type="ns1:Subcriterio"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Subcriterio">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReglaMarcadoResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="mensaje" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>