SOL4IT - DEV/Otros/Finance/AP/GPA/Entity/Resources/ConsultaDetalleSolicitud_DECIMAL/ProyectoData.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/"
     xmlns:tns="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Proyecto">
        <sequence>
            <element name="idProyecto" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="descripcion" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="nombre" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="presupuestoAprob" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="totalParcialidades" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="numParcialidad" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="idcondicionPago" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="condicionPago" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="tipoMoneda" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="complemento" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>