SOL4IT - DEV/OSB_Desarrollo_NMP/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/CRMServicioOrdenesTipos03XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="CRMServicioOrdenesTipos01XSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="LlamadaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="ProcesoActividad" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LlamadaRequest" nillable="true" type="tns:LlamadaRequest"/>
  <xs:complexType name="BusinessTypeBase">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="BusinessTypeBase" nillable="true" type="tns:BusinessTypeBase"/>
  <xs:complexType name="Llamada">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaDeRespuesta" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="IdCliente" type="xs:int"/>
      <xs:element minOccurs="0" name="IdLlamada" type="ser:guid"/>
      <xs:element minOccurs="0" name="Ofertas" nillable="true" type="tns:ArrayOfOferta"/>
      <xs:element minOccurs="0" name="ProcesoActividadId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ResultadoOfertaMonto" nillable="true" type="xs:decimal"/>
      <xs:element minOccurs="0" name="TipoIncremento" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Llamada" nillable="true" type="tns:Llamada"/>
  <xs:complexType name="ArrayOfOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Oferta" nillable="true" type="tns:Oferta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOferta" nillable="true" type="tns:ArrayOfOferta"/>
  <xs:complexType name="Oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Frecuencia" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IdOferta" type="ser:guid"/>
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal"/>
      <xs:element minOccurs="0" name="OfertaId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Pago" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PagoMensual" nillable="true" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Plazo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Tasa" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="VigenciaFinal" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="VigenciaInicial" nillable="true" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Oferta" nillable="true" type="tns:Oferta"/>
  <xs:complexType name="LlamadaProspectoReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/> 
          <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="ListaDeTrabajo" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="MandtSociedad" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroContrato" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Ofertas" nillable="true" type="tns:ArrayOfOfertasReq"/>
          <xs:element minOccurs="0" name="ProcesoActividad" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultadoOferta" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="TipoIncremento" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="VigenciaFinal" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LlamadaProspectoReq" nillable="true" type="tns:LlamadaProspectoReq"/>
  <xs:complexType name="ArrayOfOfertasReq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfertasReq" nillable="true" type="tns:OfertasReq"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfertasReq" nillable="true" type="tns:ArrayOfOfertasReq"/>
  <xs:complexType name="OfertasReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Frecuencia" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="IDOfrecimiento" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="PagoMensual" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Plazo" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Tasa" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfertasReq" nillable="true" type="tns:OfertasReq"/>
  <xs:complexType name="RecepcionOrdenesReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoriaInteraccion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="FechaGestion" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FuenteDato" type="xs:int"/>
          <xs:element minOccurs="0" name="GestorCobranza" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdActividadProveedor" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdCampaña" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NoBP" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultadoInteraccion" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecepcionOrdenesReq" nillable="true" type="tns:RecepcionOrdenesReq"/>
  <xs:complexType name="RequestConfirmaInteres">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdLlamada" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="RespuestaCamp" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestConfirmaInteres" nillable="true" type="tns:RequestConfirmaInteres"/>
</xs:schema>