SOL4IT - DEV/OSB_Desarrollo_NMP/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/CRMServicioOrdenesTipos02XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.Servicios.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.Servicios.DataContracts">
  <xs:import schemaLocation="CRMServicioOrdenesTipos03XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes"/>
  <xs:complexType name="LlamadaRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:LlamadaRequest" xmlns:q1="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LlamadaRequest" nillable="true" type="tns:LlamadaRequest"/>
  <xs:complexType name="ResultadoCMOOfLlamadagcWRe8zC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.Servicios.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Llamada" Namespace="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" nillable="true" type="q2:Llamada" xmlns:q2="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfLlamadagcWRe8zC" nillable="true" type="tns:ResultadoCMOOfLlamadagcWRe8zC"/>
  <xs:complexType name="LlamadaProspectoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="q3:LlamadaProspectoReq" xmlns:q3="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LlamadaProspectoRequest" nillable="true" type="tns:LlamadaProspectoRequest"/>
  <xs:complexType name="ResultadoCMOOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoCMOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.Servicios.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Objeto" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoCMOOfboolean" nillable="true" type="tns:ResultadoCMOOfboolean"/>
  <xs:complexType name="RecepcionOrdenesReq">
    <xs:complexContent mixed="false">
      <xs:extension base="q4:RecepcionOrdenesReq" xmlns:q4="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecepcionOrdenesReq" nillable="true" type="tns:RecepcionOrdenesReq"/>
  <xs:complexType name="RequestConfirmaInteres">
    <xs:complexContent mixed="false">
      <xs:extension base="q5:RequestConfirmaInteres" xmlns:q5="http://schemas.datacontract.org/2004/07/NMP.MRT.BusinessTypes">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestConfirmaInteres" nillable="true" type="tns:RequestConfirmaInteres"/>
</xs:schema>