SOL4IT - DEV/OSB_Desarrollo_NMP/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/GestionMovilFormiikRestTiposXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:GestionT="http://servicios.montedepiedad.com.mx/NMP/Schema/GestionMovilRESTTipos"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/GestionMovilRESTTipos"
            elementFormDefault="qualified" xmlns:xdb="http://xmlns.oracle.com/xdb">
  <xsd:complexType name="FlexibleUpdateWorkOrderRequestType">
    <xsd:sequence>
      <xsd:element name="IdWorkOrderFormType" type="xsd:string"/>
      <xsd:element name="IdWorkOrder" type="xsd:string"/>
      <xsd:element name="ExternalId" type="xsd:string"/>
      <xsd:element name="Action" type="xsd:string"/>
      <xsd:element name="InputFields" type="GestionT:InputFieldsType"/>
      <xsd:element name="Username" type="xsd:string"/>
      <xsd:element name="WorkOrderType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlexibleUpdateWorkOrderResponseType">
    <xsd:sequence>
      <xsd:element name="UpdateFieldsValues" type="GestionT:UpdateFieldsValuesType"/>
      <xsd:element name="AfectedFields" type="GestionT:AfectedFieldsListType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlexibleUpdateWorkOrderFaultType">
    <xsd:sequence>
      <xsd:element name="UpdateFieldsValues" type="GestionT:UpdateFieldsValuesType"/>
      <xsd:element name="AfectedFields" type="GestionT:AfectedFieldsListType"/>
      <xsd:element name="FormiikReservedWords" type="GestionT:FormiikReservedWordsType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="UpdateFieldsValuesType">
    <xsd:all>
      <xsd:element name="Resultado" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Estatus_Solicitud" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Consultar_Agenda" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Nombre_Cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Nombre_Cliente2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Ap_Cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Am_Cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Fecha_Estatus" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Consulta_Solicitudes_Res" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MensajeBuro" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Estatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Folio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BP" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Riesgo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Plazo_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Tasa_1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Plazo_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Tasa_2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Plazo_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Tasa_3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Plazo_4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Tasa_4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Plazo_5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Tasa_5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Plazo_6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Tasa_6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Solicitud" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Estatus_Gestion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Motivo_Pendiente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Fecha_Firma" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Monto_Desembolso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Saldo_Fecha" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Sub_Estatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Estatus_Pago" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Fecha_Solicitud" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Fecha_Desembolso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Hora_Cita" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Gerente_Sucursal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Num_Contrato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Monto_Exigible" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Dias_Atraso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Gestion_Visita" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado_Visita" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Fecha_PromesaPago" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Monto_PromesaPago" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FormiikReservedWordsType">
    <xsd:sequence>
      <xsd:element name="ReservedWord" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AfectedFieldsListType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Settings" type="GestionT:SettingsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AfectedFieldsType">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="SettingsType">
    <xsd:sequence>
      <xsd:element name="ReadOnly" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Requested" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Visible" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StandardResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SendWorkOrderToClientRequestMessage">
    <xsd:sequence>
      <xsd:element name="input" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SendWorkOrderToClientFaultType">
    <xsd:sequence>
      <xsd:element name="UpdateFieldsValues" type="GestionT:UpdateFieldsValuesType"/>
      <xsd:element name="AfectedFields" type="GestionT:AfectedFieldsListType"/>
      <xsd:element name="FormiikReservedWords" type="GestionT:FormiikReservedWordsType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InputFieldsType">
    <xsd:sequence>
      <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="0"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="tipo_busqueda" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Num_Contrato" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Dia" type="xsd:date" minOccurs="0"/>
          <xsd:element name="fecha_ini" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="fecha_fin" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="tipoActividad" type="xsd:string" minOccurs="0"/>
          <xsd:element name="horarioVisita" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="Nombre1" type="xsd:string"/>
          <xsd:element name="Nombre2" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Apellido_Paterno" type="xsd:string"/>
          <xsd:element name="Apellido_Materno" type="xsd:string"/>
          <xsd:element name="CalleCB" type="xsd:string"/>
          <xsd:element name="NoExtCB" type="xsd:string"/>
          <xsd:element name="DelegacionCB" type="xsd:string"/>
          <xsd:element name="EstadoCB" type="xsd:string"/>
          <xsd:element name="CPCB" type="xsd:string"/>
          <xsd:element name="RFCCB" type="xsd:string"/>
          <xsd:element name="FechadeNacimientoCB" type="xsd:string"/>
          <xsd:element name="BP_PROBINCUMPL" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="BP_SIVA" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="Frecuencia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="ExternalType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Response" type="GestionT:ResponseType"/>
  <xsd:complexType name="ResponseType">
    <xsd:choice minOccurs="1">
      <xsd:element name="pendiente" type="GestionT:PendienteType" minOccurs="1"/>
      <xsd:element name="Ventas" type="GestionT:GestionType" minOccurs="1"/>
      <xsd:element name="Cobranza" type="GestionT:GestionCbzType" minOccurs="1"/>
      <xsd:element name="precalificado" type="GestionT:GestionType" minOccurs="1"/>
      
      <xsd:element name="Fueralinea" type="GestionT:GestionType" minOccurs="1"/>
      <xsd:element name="Preregistro" type="GestionT:PreregistroType" minOccurs="1"/>
    </xsd:choice>
    <xsd:attribute name="ProductId" type="xsd:string"/>
    <xsd:attribute name="ExternalId" type="xsd:string"/> 
    <xsd:attribute name="ExternalType" type="xsd:string"/>
    <xsd:attribute name="AssignedTo" type="xsd:string"/>
    <xsd:attribute name="InitialDate" type="xsd:string"/>
    <xsd:attribute name="FinalDate" type="xsd:string"/>
    <xsd:attribute name="ResponseDate" type="xsd:string"/>
    <xsd:attribute name="InitialLatitude" type="xsd:string"/>
    <xsd:attribute name="FinalLatitude" type="xsd:string"/>
    <xsd:attribute name="InitialLongitude" type="xsd:string"/>
    <xsd:attribute name="FinalLongitude" type="xsd:string"/>
    <xsd:attribute name="FormiikResponseSource" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="GestionType">
    <xsd:sequence>
      <xsd:element name="GestionVisita" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ResultadoVisitaVtas" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GestionVtas" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FdHoraVisita" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FdVisita" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Notas" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NuevoContactoDomicilio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelDomicilioNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelCelularNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CalleNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoExtNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoIntNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DelegacionNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPNuevo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaNvo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadNvo" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultadeBurodeCredito" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Nombre1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Nombre2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Apellido_Paterno" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Apellido_Materno" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Ocupacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SectorCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ActividadEconomicaCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GeneroCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FechadeNacimientoCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RFCCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CalleCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoExtCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoIntCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DelegacionCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadCB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EntreCalle1CB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EntreCalle2CB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Foto1SC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Foto2SC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Foto3SC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Foto1CB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Foto2CB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Foto3CB" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoID1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoID2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoID3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoIdentificacionOficial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MensajeBuro" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Folio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Estatus" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Categoria2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Estatus2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_SIVA" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_PROBINCUMPL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Frecuencia" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DatosDelCliente" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PrimerNombreSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SegundoNombreSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApPaternoSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApMaternoSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ActividadSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SectorSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ActividadEconomicaSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GeneroSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Fecha_de_Nacimiento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RFCSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CURPSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dependientes_economicos" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Estado_Civil" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PrimerNombreConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SegundoNombreConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApPaternoConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApMaternoConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelefonoDomicilioConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelefonoTrabajoConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelefonoCelularConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MailConyugueSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Escolaridad" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Nacionalidad" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NacionalidadOtra" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PaisNacimientoSol" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PaisNacimientoSolOtro" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EmailSol" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DatosDelContactoYDomicilio" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CalleDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Numero_Exterior" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Numero_Interior" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Delegacion_o_Municipio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadDCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EntreCalle1DCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EntreCalle2DCD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Lada_Casa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Telefono_Casa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Lada_Celular" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Telefono_Celular" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Lada_Recados" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Telefono_Recados" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MailCDC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FechaComienzoVivirCDC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoVivienda" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OcupacionEconomica" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NombreEmpleo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FechaIngresoEmpleo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Lada_Trabajo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Telefono_Trabajo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Extension_Trabajo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DomicilioMismoEmpleo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CalleOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoExtOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoIntOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DelegacionOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadOE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EntreCalle1OE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EntreCalle2OE" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Referencias" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PrimerNombreRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SegundoNombreRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApPaternoRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApMaternoRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ParentescoRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelDomicilioRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelCelularRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CalleRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoExtRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoIntRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DelegacionRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadRef1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PrimerNombreRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SegundoNombreRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApPaternoRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApMaternoRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ParentescoRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelDomicilioRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelCelularRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CalleRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoExtRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoIntRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DelegacionRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadRef2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PrimerNombreRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SegundoNombreRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApPaternoRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ApMaternoRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ParentescoRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelDomicilioRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TelCelularRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CalleRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoExtRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NoIntRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ManzanaRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LoteRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ColoniaRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstadoRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DelegacionRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CPRef3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LocalidadRef3" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DatosBancarios" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Banco" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NumCuenta" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoCuenta" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InformacionFinanciera" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ActividadIF" type="xsd:string" minOccurs="0"/>
            <xsd:element name="VentasMensuales" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Compras" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Inventario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="UtilidadBruta" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Sueldos" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeudasNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ServiciosPublicosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TransporteNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RentaNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AlimentacionNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OtrosGastosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GastosOperativos" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GastosFamiliares" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeudasBuroNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PagosRealizadosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TotalGastosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OtrosIngresosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoOtrosIngresosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Excedente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="IngresosMensuales" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ImpuestosRetenciones" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OtrosIngresosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoOtrosIngresosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TotalIngresosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AlimentacionDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EducacionDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ServiciosPublicosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TransporteDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RentaDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="VestidoDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OtrosGastosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GastosFamiliaresDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeudasBuroDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PagosRealizadosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TotalGastosDifNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ExcedenteDifNegocio" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DocumentaciondelCliente" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TipoComprobanteDomicilio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompDom1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompDom2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompDom3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoComprobanteVivienda" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompViv1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompViv2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompViv3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ComprobanteIngresosActividad" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoComprobanteIngresosNegocio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngNeg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngNeg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngNeg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngNeg4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TipoComprobanteIngresosEmpleado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngEmp1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngEmp2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompIngEmp3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompOtrosIng1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompOtrosIng2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCompOtrosIng3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCliente1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCliente2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FotoCliente3" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GeolocalizacionCasaNegocio" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GPSDomicilio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GPSNegocioEmpleo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Cotejo" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Info_Solicitud" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Plazo_1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa_1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa1_Periodo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Monto_Solic1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Plazo_2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa_2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa2_Periodo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Monto_Solic2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Plazo_3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa_3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa3_Periodo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Monto_Solic3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Plazo_4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa_4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa4_Periodo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Monto_Solic4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Plazo_5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa_5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa5_Periodo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Monto_Solic5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Plazo_6" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa_6" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Tasa6_Periodo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Monto_Solic6" type="xsd:string" minOccurs="0"/>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BP_Seccion" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BP_NOMBRE1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_NOMBRE2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_ID_CLIENTE_NUMBER" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_APPAT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_APMAT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_APELLIDOS" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CASALADA" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CASATEL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CELLADA" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CELTEL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_TRABLADA" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_TRABTEL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_TRABEXT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CALLE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_NUMEXT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_NUMINT" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_COLONIA" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CODPOSTAL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_DELMUN" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_ESTADO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_EDOCIVIL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_ESCOLARIDAD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_NACIONALIDAD" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_GENERO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_FECNAC" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_SIVA" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_PROBINCUMPL" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_CAPPAGO" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_IMP_PRESTAMOPROM" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_IMP_PRESTAMOPROMVALUACION" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_IMP_PRESTAMOSNMP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_IMP_PAGOSNMP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="BP_NUM_DESEMPENIO" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionCbzType">
    <xsd:sequence>
      <xsd:element name="DATOS_CLIENTE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CLIENTE_PROSPECT" type="xsd:integer"/>
            <xsd:element name="CONTRATO_ID" type="xsd:integer"/>
            <xsd:element name="PRIMERNOMBRE" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO" type="xsd:string"/>
            <xsd:element name="SEGUNDO_APELLIDO" type="xsd:string"/>
            <xsd:element name="ACTIVIDADSOL" type="xsd:string"/>
            <xsd:element name="SECTORSOL" type="xsd:string"/>
            <xsd:element name="ACTECONOMICASOL" type="xsd:string"/>
            <xsd:element name="SEXO" type="xsd:string"/>
            <xsd:element name="ESTADO_CIVIL" type="xsd:string"/>
            <xsd:element name="NUMERORFC" type="xsd:string"/>
            <xsd:element name="CURPSOL" type="xsd:string"/>
            <xsd:element name="RIESGO_MOROSIDAD" type="xsd:integer"/>
            <xsd:element name="CALLECD" type="xsd:string"/>
            <xsd:element name="NUMERO_EXTERIOR" type="xsd:integer"/>
            <xsd:element name="NUMERO_INTERIOR" type="xsd:integer"/>
            <xsd:element name="MANZANADCD" type="xsd:integer"/>
            <xsd:element name="LOTEDCD" type="xsd:integer"/>
            <xsd:element name="COLONIACD" type="xsd:string"/>
            <xsd:element name="MUNICIPIOCD" type="xsd:string"/>
            <xsd:element name="ESTADOCD" type="xsd:string"/>
            <xsd:element name="LOCALIDADDCD" type="xsd:string"/>
            <xsd:element name="ENTRECALLE1DCD" type="xsd:string"/>
            <xsd:element name="ENTRECALLE2DCD" type="xsd:string"/>
            <xsd:element name="CODIGO_POSTAL" type="xsd:integer"/>
            <xsd:element name="GPSCLIENTE" type="xsd:string"/>
            <xsd:element name="TELEFONO_CASA" type="xsd:integer"/>
            <xsd:element name="TELEFONO_RECADOS" type="xsd:integer"/>
            <xsd:element name="TELEFONO_CELULAR" type="xsd:integer"/>
            <xsd:element name="CORREO_ELECTRONI" type="xsd:string"/>
            <xsd:element name="NOMBREEMPLEO" type="xsd:string"/>
            <xsd:element name="TELEFONO_TRABAJO" type="xsd:integer"/>
            <xsd:element name="EXTENSION_TRAB" type="xsd:integer"/>
            <xsd:element name="CALLEOE" type="xsd:string"/>
            <xsd:element name="NOEXTOE" type="xsd:integer"/>
            <xsd:element name="NOINTOE" type="xsd:integer"/>
            <xsd:element name="MANZANAOE" type="xsd:integer"/>
            <xsd:element name="LOTEOE" type="xsd:integer"/>
            <xsd:element name="COLONIAOE" type="xsd:string"/>
            <xsd:element name="MUNICIPIOOE" type="xsd:string"/>
            <xsd:element name="ESTADOOE" type="xsd:string"/>
            <xsd:element name="ENTRECALLE1OE" type="xsd:string"/>
            <xsd:element name="ENTRECALLE2OE" type="xsd:string"/>
            <xsd:element name="CPOE" type="xsd:integer"/>
            <xsd:element name="GPSNEGOCIOEMPLEO" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="REFERENCIAS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="REF1" type="xsd:integer"/>
            <xsd:element name="PARENTESCO_REF1" type="xsd:string"/>
            <xsd:element name="NOMBRE_REF1" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE_REF1" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO_REF1" type="xsd:string"/>
            <xsd:element name="SEGUNDOAPELLIDO_REF1" type="xsd:string"/>
            <xsd:element name="TELEFONO_REF1" type="xsd:integer"/>
            <xsd:element name="CELULAR_REF1" type="xsd:integer"/>
            <xsd:element name="DOMICILIO_REF1" type="xsd:integer"/>
            <xsd:element name="EXTENCION_REF1" type="xsd:integer"/>
            <xsd:element name="COLONIA_REF1" type="xsd:integer"/>
            <xsd:element name="CD_REF1" type="xsd:integer"/>
            <xsd:element name="ESTADO_REF1" type="xsd:string"/>
            <xsd:element name="REF2" type="xsd:integer"/>
            <xsd:element name="PARENTESCO_REF2" type="xsd:string"/>
            <xsd:element name="NOMBRE_REF2" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE_REF2" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO_REF2" type="xsd:string"/>
            <xsd:element name="SEGUNDOAPELLIDO_REF2" type="xsd:string"/>
            <xsd:element name="TELEFONO_REF2" type="xsd:integer"/>
            <xsd:element name="CELULAR_REF2" type="xsd:integer"/>
            <xsd:element name="DOMICILIO_REF2" type="xsd:integer"/>
            <xsd:element name="EXTENCION_REF2" type="xsd:integer"/>
            <xsd:element name="COLONIA_REF2" type="xsd:string"/>
            <xsd:element name="CD_REF2" type="xsd:string"/>
            <xsd:element name="ESTADO_REF2" type="xsd:string"/>
            <xsd:element name="REF3" type="xsd:integer"/>
            <xsd:element name="PARENTESCO_REF3" type="xsd:string"/>
            <xsd:element name="NOMBRE_REF3" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE_REF3" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO_REF3" type="xsd:string"/>
            <xsd:element name="SEGUNDOAPELLIDO_REF3" type="xsd:string"/>
            <xsd:element name="TELEFONO_REF3" type="xsd:integer"/>
            <xsd:element name="CELULAR_REF3" type="xsd:integer"/>
            <xsd:element name="DOMICILIO_REF3" type="xsd:string"/>
            <xsd:element name="EXTENCION_REF3" type="xsd:integer"/>
            <xsd:element name="COLONIA_REF3" type="xsd:string"/>
            <xsd:element name="CD_REF3" type="xsd:string"/>
            <xsd:element name="ESTADO_REF3" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AVALES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AVAL1" type="xsd:integer"/>
            <xsd:element name="PARENTESCO_AVAL1" type="xsd:string"/>
            <xsd:element name="NOMBRE_AVAL1" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE_AVAL1" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO_AVAL1" type="xsd:string"/>
            <xsd:element name="SEGUNDOAPELLIDO_AVAL1" type="xsd:string"/>
            <xsd:element name="TELEFONO_AVAL1" type="xsd:integer"/>
            <xsd:element name="CELULAR_AVAL1" type="xsd:integer"/>
            <xsd:element name="DOMICILIO_AVAL1" type="xsd:integer"/>
            <xsd:element name="EXTENCION_AVAL1" type="xsd:integer"/>
            <xsd:element name="COLONIA_AVAL1" type="xsd:string"/>
            <xsd:element name="CD_AVAL1" type="xsd:string"/>
            <xsd:element name="ESTADO_AVAL1" type="xsd:string"/>
            <xsd:element name="AVAL2" type="xsd:integer"/>
            <xsd:element name="PARENTESCO_AVAL2" type="xsd:string"/>
            <xsd:element name="NOMBRE_AVAL2" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE_AVAL2" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO_AVAL2" type="xsd:string"/>
            <xsd:element name="SEGUNDOAPELLIDO_AVAL2" type="xsd:string"/>
            <xsd:element name="TELEFONO_AVAL2" type="xsd:integer"/>
            <xsd:element name="CELULAR_AVAL2" type="xsd:integer"/>
            <xsd:element name="DOMICILIO_AVAL2" type="xsd:integer"/>
            <xsd:element name="EXTENCION_AVAL2" type="xsd:integer"/>
            <xsd:element name="COLONIA_AVAL2" type="xsd:string"/>
            <xsd:element name="CD_AVAL2" type="xsd:string"/>
            <xsd:element name="ESTADO_AVAL2" type="xsd:string"/>
            <xsd:element name="AVAL3" type="xsd:integer"/>
            <xsd:element name="PARENTESCO_AVAL3" type="xsd:string"/>
            <xsd:element name="NOMBRE_AVAL3" type="xsd:string"/>
            <xsd:element name="SEGUNDONOMBRE_AVAL3" type="xsd:string"/>
            <xsd:element name="PRIMERAPELLIDO_AVAL3" type="xsd:string"/>
            <xsd:element name="SEGUNDOAPELLIDO_AVAL3" type="xsd:string"/>
            <xsd:element name="TELEFONO_AVAL3" type="xsd:integer"/>
            <xsd:element name="CELULAR_AVAL3" type="xsd:integer"/>
            <xsd:element name="DOMICILIO_AVAL3" type="xsd:string"/>
            <xsd:element name="EXTENCION_AVAL3" type="xsd:integer"/>
            <xsd:element name="COLONIA_AVAL3" type="xsd:string"/>
            <xsd:element name="CD_AVAL3" type="xsd:string"/>
            <xsd:element name="ESTADO_AVAL3" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DATOS_FINANCIEROS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FECHA_ASIGNACION" type="xsd:date"/>
            <xsd:element name="RANGO_ASIGNACION" type="xsd:integer"/>
            <xsd:element name="CTA_FACTURACION" type="xsd:integer"/>
            <xsd:element name="CTA_SERVICIO" type="xsd:integer"/>
            <xsd:element name="ESTATUS" type="xsd:string"/>
            <xsd:element name="PRODUCTO_ID" type="xsd:string"/>
            <xsd:element name="MERKM" type="xsd:integer"/>
            <xsd:element name="SALDO" type="xsd:integer"/>
            <xsd:element name="FECHA_PAGO_PROX" type="xsd:string"/>
            <xsd:element name="REFER" type="xsd:integer"/>
            <xsd:element name="CAPITAL_VIGENTE" type="xsd:integer"/>
            <xsd:element name="INT_ORDINARIOS" type="xsd:integer"/>
            <xsd:element name="INT_MORATORIOS" type="xsd:integer"/>
            <xsd:element name="CUOTAS_VENCIDAS" type="xsd:integer"/>
            <xsd:element name="DIAS_MORA" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC_VIG" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC30" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC60" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC90" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC120" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC150" type="xsd:integer"/>
            <xsd:element name="SALDO_VENC180" type="xsd:integer"/>
            <xsd:element name="PROB_INCUMP_ORIG" type="xsd:float"/>
            <xsd:element name="PROB_INCUMP_SEGUI" type="xsd:float"/>
            <xsd:element name="PROB_INCUMP_COB" type="xsd:float"/>
            <xsd:element name="PROB_INCUMP_COM" type="xsd:float"/>
            <xsd:element name="SEVER_PER_ORIG" type="xsd:float"/>
            <xsd:element name="SEVER_PER_SEG" type="xsd:float"/>
            <xsd:element name="SEVER_PER_COM" type="xsd:float"/>
            <xsd:element name="VIDA_CREDITO" type="xsd:integer"/>
            <xsd:element name="FECHA_ULTIMO_PAGO" type="xsd:string"/>
            <xsd:element name="IMPORTE_ULTIMO_PAGO" type="xsd:integer"/>
            <xsd:element name="SALDO_VENCIDO" type="xsd:integer"/>
            <xsd:element name="VIGENCIA_VISITA" type="xsd:integer"/>
            <xsd:element name="CUOTA_MENSUAL" type="xsd:integer"/>
            <xsd:element name="TIPO_TAREA" type="xsd:string"/>
            <xsd:element name="GESTOR_ASIGNADO" type="xsd:string"/>
            <xsd:element name="MONTO_CONDONACION" type="xsd:integer"/>
            <xsd:element name="MONTO_LIQ1" type="xsd:integer"/>
            <xsd:element name="MONTO_LIQ3" type="xsd:integer"/>
            <xsd:element name="MONTO_LIQ6" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RESULTADO_GESTION">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GPS" type="xsd:string"/>
            <xsd:element name="COB_FOTO_DOMICILIO1">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:attribute name="fileName" type="xsd:string"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="COB_FOTO_DOMICILIO2">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:attribute name="fileName" type="xsd:string"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="COB_FOTO_COMPROBANTE1">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:attribute name="fileName" type="xsd:string"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="COB_FOTO_COMPROBANTE2">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:attribute name="fileName" type="xsd:string"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="GESTOR_GESTIONO" type="xsd:string"/>
            <xsd:element name="ACCION" type="xsd:string"/>
            <xsd:element name="GESTIONCOB" type="xsd:string"/>
            <xsd:element name="COMENTARIOS" type="xsd:string"/>
            <xsd:element name="MONTOPROMESAPAGO" type="xsd:integer"/>
            <xsd:element name="FECHAPROMESAPAGO" type="xsd:date"/>
            <xsd:element name="EMAIL" type="xsd:string"/>
            <xsd:element name="CALLE" type="xsd:string"/>
            <xsd:element name="NUMERO_EXT" type="xsd:integer"/>
            <xsd:element name="NUMERO_INT" type="xsd:integer"/>
            <xsd:element name="MANZANA" type="xsd:integer"/>
            <xsd:element name="LOTE" type="xsd:integer"/>
            <xsd:element name="COLONIA" type="xsd:string"/>
            <xsd:element name="MUNICIPIO" type="xsd:string"/>
            <xsd:element name="ESTADO" type="xsd:string"/>
            <xsd:element name="LOCALIDAD" type="xsd:string"/>
            <xsd:element name="ENTRE_CALLE1" type="xsd:string"/>
            <xsd:element name="ENTRE_CALLE2" type="xsd:string"/>
            <xsd:element name="CP" type="xsd:integer"/>
            <xsd:element name="TIPO_TELEFONO1" type="xsd:string"/>
            <xsd:element name="LADA_TELEFONO1" type="xsd:integer"/>
            <xsd:element name="TELEFONO_1" type="xsd:integer"/>
            <xsd:element name="TIPO_TELEFONO2" type="xsd:string"/>
            <xsd:element name="LADA_TELEFONO2" type="xsd:integer"/>
            <xsd:element name="TELEFONO_2" type="xsd:integer"/>
            <xsd:element name="TIPO_TELEFONO3" type="xsd:string"/>
            <xsd:element name="LADA_TELEFONO3" type="xsd:integer"/>
            <xsd:element name="TELEFONO_3" type="xsd:integer"/>
            <xsd:element name="TIPO_TELEFONO4" type="xsd:string"/>
            <xsd:element name="LADA_TELEFONO4" type="xsd:integer"/>
            <xsd:element name="TELEFONO_4" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FormiikResponseSource" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Pendiente - Se agrega definicion fe Formiik para la operacio - 2-22-16-->
  <xsd:complexType name="PendienteType">
    <xsd:sequence>
      <xsd:element name="GestionVisita" type="GestionT:GestionVisitaPendienteType" minOccurs="0"/>
      <xsd:element name="DatosGenerales" type="GestionT:DatosGeneralesType" minOccurs="0"/>
      <xsd:element name="Motivo_Pendiente" type="GestionT:MotivoPendienteType" minOccurs="0"/>
      <xsd:element name="Solicitud_cte" type="GestionT:SolicitudCteType" minOccurs="0"/>
      <xsd:element name="Formato_BC" type="GestionT:FormatoBcType" minOccurs="0"/>
      <xsd:element name="Identificacion_Of" type="GestionT:IdentificacionOfType" minOccurs="0"/>
      <xsd:element name="Comprobante_Dom" type="GestionT:ComprobanteDomType" minOccurs="0"/>
      <xsd:element name="Comprobante_Vivienda" type="GestionT:ComprobanteViviendaType" minOccurs="0"/>
      <xsd:element name="Comprobante_Ingresos" type="GestionT:ComprobanteIngresosType" minOccurs="0"/>
      <xsd:element name="Comprobante_OtrosIng" type="GestionT:ComprobanteOtrosIngType" minOccurs="0"/>
      <xsd:element name="DatosDeContacto" type="GestionT:DatosContactoType" minOccurs="0"/>
      <xsd:element name="Ref1" type="GestionT:Referencia1Type" minOccurs="0"/>
      <xsd:element name="Ref2" type="GestionT:Referencia2Type" minOccurs="0"/>
      <xsd:element name="Ref3" type="GestionT:Referencia3Type" minOccurs="0"/>
      <xsd:element name="InformacionFinanciera" type="GestionT:InformacionFinancieraType" minOccurs="0"/>
      <xsd:element name="Fotografias_cte" type="GestionT:FotografiasCteType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionVisitaPendienteType">
    <xsd:sequence>
      <xsd:element name="solicitud" minOccurs="0" type="xsd:string"/>
      <xsd:element name="identificacion" minOccurs="0" type="xsd:string"/>
      <xsd:element name="formato_buro" minOccurs="0" type="xsd:string"/>
      <xsd:element name="comp_domicilio" minOccurs="0" type="xsd:string"/>
      <xsd:element name="comp_ingresos" minOccurs="0" type="xsd:string"/>
      <xsd:element name="fotografias" minOccurs="0" type="xsd:string"/>
      <xsd:element name="comp_otros_ingresos" minOccurs="0" type="xsd:string"/>
      <xsd:element name="comp_vivienda_propia" minOccurs="0" type="xsd:string"/>
      <xsd:element name="estado_resultado" minOccurs="0" type="xsd:string"/>
      <xsd:element name="tel_contacto_cliente" minOccurs="0" type="xsd:string"/>
      <xsd:element name="referencia1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="referencia2" minOccurs="0" type="xsd:string"/>
      <xsd:element name="referencia3" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MotivoPendienteType">
    <xsd:sequence>
      <xsd:element name="solicitud" type="xsd:string" minOccurs="0"/>
      <xsd:element name="identificacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="formato_buro" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comp_domicilio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comp_ingresos" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fotografias" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comp_otros_ingresos" type="xsd:string" minOccurs="0"/>
      <xsd:element name="comp_vivienda_propia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estado_resultado" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tel_contacto_cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referencia1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referencia2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referencia3" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosGeneralesType">
    <xsd:sequence>
      <xsd:element name="Num_Cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Num_Contrato" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Num_ClienteRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Num_ClienteRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Num_ClienteRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Comentarios" type="xsd:string" minOccurs="0"/>
      <xsd:element name="etapa_workflow" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Nombre1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SegundoNombreSol" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Apellido_Paterno" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Apellido_Materno" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CalleCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoExtCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoIntCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ManzanaCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LoteCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CPCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ColoniaCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DelegacionCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EstadoDCD" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LocalidadCB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EntreCalle1CB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EntreCalle2CB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Ocupacion" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolicitudCteType">
    <xsd:sequence>
      <xsd:element name="Foto1SC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Foto2SC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Foto3SC" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormatoBcType">
    <xsd:sequence>
      <xsd:element name="Foto1CB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Foto2CB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Foto3CB" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificacionOfType">
    <xsd:sequence>
      <xsd:element name="FotoID1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoID2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoID3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoIdentificacionOficial" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteDomType">
    <xsd:sequence>
      <xsd:element name="FotoCompDom1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompDom2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompDom3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoComprobanteDomicilio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteViviendaType">
    <xsd:sequence>
      <xsd:element name="FotoCompViv1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompViv2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompViv3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoComprobanteVivienda" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteIngresosType">
    <xsd:sequence>
      <xsd:element name="ComprobanteIngresosActividad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoComprobanteIngresosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoComprobanteIngresosEmpleado" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngEmp1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngEmp2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngEmp3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngNeg1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngNeg2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngNeg3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompIngNeg4" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComprobanteOtrosIngType">
    <xsd:sequence>
      <xsd:element name="FotoCompOtrosIng1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompOtrosIng2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCompOtrosIng3" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FotografiasCteType">
    <xsd:sequence>
      <xsd:element name="FotoCliente1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCliente2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FotoCliente3" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosContactoType">
    <xsd:sequence>
      <xsd:element name="Telefono" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Lada_Celular" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Telefono_Celular" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Lada_Recados" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Telefono_Recados" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Referencia1Type">
    <xsd:sequence>
      <xsd:element name="PrimerNombreRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SegundoNombreRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApPaternoRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApMaternoRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ParentescoRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TelDomicilioRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TelCelularRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CalleRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoExtRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoIntRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ManzanaRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LoteRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ColoniaRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EstadoRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DelegacionRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CPRef1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LocalidadRef1" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Referencia2Type">
    <xsd:sequence>
      <xsd:element name="PrimerNombreRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SegundoNombreRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApPaternoRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApMaternoRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ParentescoRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TelDomicilioRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TelCelularRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CalleRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoExtRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoIntRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ManzanaRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LoteRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EstadoRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DelegacionRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CPRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ColoniaRef2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LocalidadRef2" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Referencia3Type">
    <xsd:sequence>
      <xsd:element name="PrimerNombreRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SegundoNombreRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApPaternoRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApMaternoRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ParentescoRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TelDomicilioRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TelCelularRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CalleRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoExtRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NoIntRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ManzanaRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LoteRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EstadoRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DelegacionRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CPRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ColoniaRef3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LocalidadRef3" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionFinancieraType">
    <xsd:sequence>
      <xsd:element name="ActividadIF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="VentasMensuales" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Compras" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Inventario" type="xsd:string" minOccurs="0"/>
      <xsd:element name="UtilidadBruta" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Sueldos" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DeudasNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ServiciosPublicosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TransporteNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RentaNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AlimentacionNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OtrosGastosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GastosOperativos" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GastosFamiliares" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DeudasBuroNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PagosRealizadosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TotalGastosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OtrosIngresosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoOtrosIngresosNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Excedente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IngresosMensuales" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ImpuestosRetenciones" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OtrosIngresosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TipoOtrosIngresosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TotalIngresosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="AlimentacionDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EducacionDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ServiciosPublicosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TransporteDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RentaDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="VestidoDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="OtrosGastosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GastosFamiliaresDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DeudasBuroDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PagosRealizadosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="TotalGastosDifNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ExcedenteDifNegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- FIN Pendiente-->
  <!--Se agregan datos de preregistro-->
  <xsd:complexType name="PreregistroType">
    <xsd:sequence>
      <xsd:element name="PreRegistro">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="Nombre" type="xsd:string" minOccurs="0"/>
          <xsd:element name="ApellidoPaterno" type="xsd:string" minOccurs="0"/>
          <xsd:element name="ApellidoMaterno" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Genero" type="xsd:string" minOccurs="0"/>
          <xsd:element name="FechaNacimiento" type="xsd:string" minOccurs="0"/>
          <xsd:element name="TipoTelefono" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Lada" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Telefono" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Correo" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Estado" type="xsd:string" minOccurs="0"/>
          <xsd:element name="DelegacionMunicipio" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CodigoPostal" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Colonia" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Calle" type="xsd:string" minOccurs="0"/>
          <xsd:element name="NumeroExterior" type="xsd:string" minOccurs="0"/>
          <xsd:element name="NumeroInterior" type="xsd:string" minOccurs="0"/>
          <xsd:element name="LoteCB" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Evento" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Descripcion" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Origen" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>