SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionCatalogos/Sepomex/Resources/Schemas/CRMCatalogosEntityXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity">
  <xs:complexType name="ArrayOfEstados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estados" nillable="true" type="tns:Estados"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstados" nillable="true" type="tns:ArrayOfEstados"/>
  <xs:complexType name="Estados">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEstado" type="xs:int"/>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estados" nillable="true" type="tns:Estados"/>
</xs:schema>