SOL4IT - DEV/osb_Jack/ViaticosDataSvc/Resources/ViaticoDataSvc.wsdl

<wsdl:definitions
     name="ViaticoDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/ViaticosDataSvc/ViaticoDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/ViaticosDataSvc/ViaticoDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ViaticoDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="ViaticoDataSvc_plt" >
    <plt:role name="ViaticoDataSvc_role" >
      <plt:portType name="tns:ViaticoDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ViaticoDataSvc" schemaLocation="ViaticoDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa022ViaticosPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa022ViaticosCollection_msg">
        <wsdl:part name="Gpa022ViaticosCollection" element="top:Gpa022ViaticosCollection"/>
    </wsdl:message>
    <wsdl:portType name="ViaticoDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa022ViaticosCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa022ViaticosCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
