SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionClientes/Score/Resources/Schemas/OSBBitacoraScoreXSD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ScoreBitacoraDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ScoreBitacoraDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="BitOsbScoreCollection" type="BitOsbScoreCollection"/>
   <xs:complexType name="BitOsbScoreCollection">
      <xs:sequence>
         <xs:element name="BitOsbScore" type="BitOsbScore" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BitOsbScore">
      <xs:sequence>
         <xs:element name="idBitacora" type="xs:decimal" minOccurs="0"/>
         <xs:element name="idCliente" type="xs:string"/>
         <xs:element name="fechaMidas" type="string30" nillable="true"/>
         <xs:element name="fechaScore" type="string30"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>