SOL4IT - DEV/SOA_Desarrollo/GenerarSolicitud/SOA/Schemas/generarSolicitud.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Solicitud/GenerarSolicitud/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Solicitud/GenerarSolicitud/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:tnss="http://qualitas.com.mx/Solicitud/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <xsd:import namespace="http://qualitas.com.mx/Solicitud/v1/" schemaLocation="SolicitudOEN.xsd"/>
   <element name="GenerarSolicitudRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="xsdLocal:GenerarSolicitud"/>
         </sequence>
      </complexType>
   </element>
   <element name="GenerarSolicitudResponse">
      <complexType>
         <sequence>
            <element name="idSolicitud" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="GenerarSolicitud">
      <sequence>
         <element name="solicitudOEN" type="tnss:SolicitudOEN"/>
      </sequence>
   </complexType>
</schema>
