SOL4IT - DEV/BPM_Desarrollo_Qualitas/BpmPagosAdministrativos/SOA/Schemas/OrdenesPago.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comunes/OrdenesPago/v1/" xmlns:tns="http://qualitas.com.mx/Comunes/OrdenesPago/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <element name="consultarOrdenPagoRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="tns:consultarOrdenPagoReq"/>
         </sequence>
      </complexType>
   </element>
   <element name="consultarOrdenPagoResponse">
      <complexType>
         <sequence>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
            <element name="Output" type="tns:consultarOrdenPagoRes"/>
         </sequence>
      </complexType>
   </element>
   <element name="generarOrdenPagoRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="tns:generarOrdenPagoReq"/>
         </sequence>
      </complexType>
   </element>
   <element name="generarOrdenPagoResponse">
      <complexType>
         <sequence>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="consultarOrdenPagoReq">
      <sequence>
         <element name="id_solicitud" type="string"/>
      </sequence>
   </complexType>
   <complexType name="consultarOrdenPagoRes">
      <sequence>
         <element name="numOrden" type="string"/>
         <element name="numCaratula" type="int"/>
         <element name="estadoPago" type="int"/>
      </sequence>
   </complexType>
   <complexType name="generarOrdenPagoReq">
      <sequence>
         <element name="id_solicitud" type="string"/>
      </sequence>
   </complexType>
</schema>
