SOL4IT - DEV/OSB_Desarrollo_NMP/Utileria/AdminDocumentos/Resources/WSDLs/NMPAdministraDocumentosWSDL.wsdl

<wsdl:definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/OpenTextSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/OpenTextSvc" xmlns:op="http://servicios.montedepiedad.com.mx/NMP/Schema/OpenTextSvc" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/OpenTextSvc" schemaLocation="../Schemas/NMPAdministraDocumentosXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="almacenaDocumentoRequest">
    <wsdl:part name="request" element="op:almacenaDocumentoRequest"/>
  </wsdl:message>
  <wsdl:message name="almacenaDocumentoResponse">
    <wsdl:part name="response" element="op:almacenaDocumentoResponse"/>
  </wsdl:message>
  <wsdl:message name="listaDoctosRequest">
    <wsdl:part name="request" element="op:listaDoctosRequest"/>
  </wsdl:message>
  <wsdl:message name="listaDoctosResponse">
    <wsdl:part name="response" element="op:listaDoctosResponse"/>
  </wsdl:message>
   <wsdl:message name="crearPlantillaRequest">
    <wsdl:part name="request" element="op:crearPlantillaRequest"/>
  </wsdl:message>
  <wsdl:message name="crearPlantillaResponse">
    <wsdl:part name="response" element="op:crearPlantillaResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="header" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="NMPHeaderResponse">
    <wsdl:part name="header" element="NMPsh:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NMPFaultMessage">
    <wsdl:part name="error" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="OpenTextServicePType">
    <wsdl:operation name="listaDocumentos">
      <wsdl:input message="tns:listaDoctosRequest"/>
      <wsdl:output message="tns:listaDoctosResponse"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="almacenaDocumento">
      <wsdl:input message="tns:almacenaDocumentoRequest"/>
      <wsdl:output message="tns:almacenaDocumentoResponse"/>
      <wsdl:fault name="Fault" message="tns:NMPFaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearPlantilla">
      <wsdl:input message="tns:crearPlantillaRequest"/>
      <wsdl:output message="tns:crearPlantillaResponse"/>
      <wsdl:fault message="tns:NMPFaultMessage" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenTextServiceSOAP11Binding" type="tns:OpenTextServicePType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listaDocumentos">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/OpenTextSvc/listaDocumentos"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
        <soap:header message="tns:NMPHeaderRequest" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
        <soap:header message="tns:NMPHeaderResponse" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="almacenaDocumento">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/OpenTextSvc/almacenaDocumento"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
        <soap:header message="tns:NMPHeaderRequest" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
        <soap:header message="tns:NMPHeaderResponse" part="header" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="crearPlantilla">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/OpenTextSvc/crearPlantilla"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>