SOL4IT - DEV/Aplicacion_SOA_Qualitas/ObtenerGenerico/SOA/Schemas/CatSubtipoServicioDB.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/CatSubtipoServicioDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/CatSubtipoServicioDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="CatSubtipoServicioDBInput" type="CatSubtipoServicioDBInput"/>
   <xs:complexType name="CatSubtipoServicioDBInput">
      <xs:sequence/>
   </xs:complexType>
   <xs:element name="CatSubtipoServicioDBOutputCollection" type="CatSubtipoServicioDBOutputCollection"/>
   <xs:complexType name="CatSubtipoServicioDBOutputCollection">
      <xs:sequence>
         <xs:element name="CatSubtipoServicioDBOutput" type="CatSubtipoServicioDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CatSubtipoServicioDBOutput">
      <xs:sequence>
         <xs:element name="ID_SUBTIPO_SERVICIO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
