SOL4IT - DEV/osb_Jack/CatalogosBase/Resources/ConceptoIVADataSvc.wsdl

<wsdl:definitions
     name="ConceptoIVADataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/ConceptoIVADataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/ConceptoIVADataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConceptoIVADataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="ConceptoIVADataSvc_plt" >
    <plt:role name="ConceptoIVADataSvc_role" >
      <plt:portType name="tns:ConceptoIVADataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConceptoIVADataSvc" schemaLocation="ConceptoIVADataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa016ConceptoIvaPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa016ConceptoIvaCollection_msg">
        <wsdl:part name="Gpa016ConceptoIvaCollection" element="top:Gpa016ConceptoIvaCollection"/>
    </wsdl:message>
    <wsdl:portType name="ConceptoIVADataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa016ConceptoIvaCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa016ConceptoIvaCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
