SOL4IT - DEV/osb_Jack/CatalogosBase/Resources/CuentaDeudoraDataSvc.wsdl

<wsdl:definitions
     name="CuentaDeudoraDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/CuentaDeudoraDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/CuentaDeudoraDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CuentaDeudoraDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="CuentaDeudoraDataSvc_plt" >
    <plt:role name="CuentaDeudoraDataSvc_role" >
      <plt:portType name="tns:CuentaDeudoraDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CuentaDeudoraDataSvc" schemaLocation="CuentaDeudoraDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa018CdeudorasPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa018CdeudorasCollection_msg">
        <wsdl:part name="Gpa018CdeudorasCollection" element="top:Gpa018CdeudorasCollection"/>
    </wsdl:message>
    <wsdl:portType name="CuentaDeudoraDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa018CdeudorasCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa018CdeudorasCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
