SOL4IT - DEV/osb_Jack/CatalogosBase/Resources/EntidadDataSvc.wsdl

<wsdl:definitions
     name="EntidadDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/EntidadDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/EntidadDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/EntidadDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="EntidadDataSvc_plt" >
    <plt:role name="EntidadDataSvc_role" >
      <plt:portType name="tns:EntidadDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/EntidadDataSvc" schemaLocation="EntidadDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa021CatEntidadesPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa021CatEntidadesCollection_msg">
        <wsdl:part name="Gpa021CatEntidadesCollection" element="top:Gpa021CatEntidadesCollection"/>
    </wsdl:message>
    <wsdl:portType name="EntidadDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa021CatEntidadesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa021CatEntidadesCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
