SOL4IT - DEV/osb_Jack/CatalogosBase/Resources/SubTipoServicioDataSvc.wsdl

<wsdl:definitions
     name="SubTipoServicioDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/SubTipoServicioDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/SubTipoServicioDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/SubTipoServicioDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="SubTipoServicioDataSvc_plt" >
    <plt:role name="SubTipoServicioDataSvc_role" >
      <plt:portType name="tns:SubTipoServicioDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SubTipoServicioDataSvc" schemaLocation="SubTipoServicioDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="SubTipoServicioDataSvcSelect_inputParameters">
        <wsdl:part name="SubTipoServicioDataSvcSelect_inputParameters" element="top:SubTipoServicioDataSvcSelect_pNombre_pTipoInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa012SubtipoServicioPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa012SubtipoServicioCollection_msg">
        <wsdl:part name="Gpa012SubtipoServicioCollection" element="top:Gpa012SubtipoServicioCollection"/>
    </wsdl:message>
    <wsdl:portType name="SubTipoServicioDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa012SubtipoServicioCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="SubTipoServicioDataSvcSelect">
            <wsdl:input message="tns:SubTipoServicioDataSvcSelect_inputParameters"/>
            <wsdl:output message="tns:Gpa012SubtipoServicioCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa012SubtipoServicioCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
