SOL4IT - DEV/osb_Jack/CatalogosBase/Resources/TipoSolicitudDataSvc.wsdl

<wsdl:definitions
     name="TipoSolicitudDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoSolicitudDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoSolicitudDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoSolicitudDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="TipoSolicitudDataSvc_plt" >
    <plt:role name="TipoSolicitudDataSvc_role" >
      <plt:portType name="tns:TipoSolicitudDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoSolicitudDataSvc" schemaLocation="TipoSolicitudDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa011TiposolicitudPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa011TiposolicitudCollection_msg">
        <wsdl:part name="Gpa011TiposolicitudCollection" element="top:Gpa011TiposolicitudCollection"/>
    </wsdl:message>
    <wsdl:portType name="TipoSolicitudDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa011TiposolicitudCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa011TiposolicitudCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
