SOL4IT - DEV/osb_Jack/CatalogosBase/Resources/TipoObservacionDataSvc.wsdl

<wsdl:definitions
     name="TipoObservacionDataSvc"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoObservacionDataSvc"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoObservacionDataSvc"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoObservacionDataSvc"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="TipoObservacionDataSvc_plt" >
    <plt:role name="TipoObservacionDataSvc_role" >
      <plt:portType name="tns:TipoObservacionDataSvc_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoObservacionDataSvc" schemaLocation="TipoObservacionDataSvc_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa008TpObservacionesPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa008TpObservacionesCollection_msg">
        <wsdl:part name="Gpa008TpObservacionesCollection" element="top:Gpa008TpObservacionesCollection"/>
    </wsdl:message>
    <wsdl:portType name="TipoObservacionDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa008TpObservacionesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa008TpObservacionesCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
