SOL4IT - DEV/OSB_NMP_Actual/PoC/AutosSinResguardo/CotizadorMidas/Resources/WSDL/MidasCotizadorAutomovilWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:mx.com.nmp.midas"
                  xmlns:ns2="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns1="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns3="http://nmpcotizadorautomovil.services.nmp.servicios.montedepiedad.com.mx"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:mx.com.nmp.midas"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" 
                  xmlns:ns2="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
                  xmlns:ns1="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx"                
                targetNamespace="urn:mx.com.nmp.midas">                  
      <xsd:import  namespace="http://nmpcotizadorautomovil.services.nmp.servicios.montedepiedad.com.mx"/>
      <xsd:import  namespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"/>
      <xsd:import  namespace="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx"/>
      <xsd:element name="obtenerAvaluoAutomovil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idVersion" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idKilometraje" nillable="true" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerAvaluoAutomovilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilDetalleResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilDetalleResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CotizadorAutomovilFaultMessage" type="ns3:CotizadorAutomovilFaultMessage"/>
      <xsd:element name="obtenerKilometrajes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idVersion" nillable="true" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerKilometrajesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerComplementos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idVersion" nillable="true" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerComplementosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerModelos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerModelosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerVersiones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idSubMarca" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="idModelo" nillable="true" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerVersionesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerMarcas">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="obtenerMarcasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerSubMarcas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="idMarca" nillable="true" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerSubMarcasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="cotizadorAutomovilResponseType" nillable="true"
                         type="ns1:CotizadorAutomovilResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpcotizadorautomovil.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="CotizadorAutomovilDetalleResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="avaluo" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="idKilometraje" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idMarca" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idModelo" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idSubMarca" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idVersion" nillable="true" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CotizadorAutomovilResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="avaluo" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="catalogoCotizadorAutomovil" nillable="true"
                       type="ns1:ArrayOfValorCatalogoCotizador"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfValorCatalogoCotizador">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ValorCatalogoCotizador" nillable="true"
                       type="ns1:ValorCatalogoCotizador"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValorCatalogoCotizador">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long"/>
          <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                xmlns:ns2="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"
                targetNamespace="http://nmpcotizadorautomovil.services.nmp.servicios.montedepiedad.com.mx">      
      <xsd:import  namespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx"/>
      <xsd:complexType name="CotizadorAutomovilFaultMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true" type="ns2:MessageError"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nmpstandardmessage.schema.nmp.servicios.montedepiedad.com.mx">
      <xsd:complexType name="MessageError">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="codigoError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="descripcionError" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="severidad" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="tipoError" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerAvaluoAutomovilRequest">
    <wsdl:part name="parameters" element="tns:obtenerAvaluoAutomovil"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerComplementosRequest">
    <wsdl:part name="parameters" element="tns:obtenerComplementos"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerMarcasResponse">
    <wsdl:part name="parameters" element="tns:obtenerMarcasResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerKilometrajesRequest">
    <wsdl:part name="parameters" element="tns:obtenerKilometrajes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerVersionesRequest">
    <wsdl:part name="parameters" element="tns:obtenerVersiones"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerVersionesResponse">
    <wsdl:part name="parameters" element="tns:obtenerVersionesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerModelosResponse">
    <wsdl:part name="parameters" element="tns:obtenerModelosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerMarcasRequest">
    <wsdl:part name="parameters" element="tns:obtenerMarcas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerAvaluoAutomovilResponse">
    <wsdl:part name="parameters" element="tns:obtenerAvaluoAutomovilResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSubMarcasResponse">
    <wsdl:part name="parameters" element="tns:obtenerSubMarcasResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerKilometrajesResponse">
    <wsdl:part name="parameters" element="tns:obtenerKilometrajesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerComplementosResponse">
    <wsdl:part name="parameters" element="tns:obtenerComplementosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerModelosRequest">
    <wsdl:part name="parameters" element="tns:obtenerModelos"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSubMarcasRequest">
    <wsdl:part name="parameters" element="tns:obtenerSubMarcas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CotizadorAutomovilFaultMessage">
    <wsdl:part name="CotizadorAutomovilFaultMessage" element="tns:CotizadorAutomovilFaultMessage"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CotizadorAutomovilWSPortType">
    <wsdl:operation name="obtenerAvaluoAutomovil">
      <wsdl:input name="obtenerAvaluoAutomovilRequest" message="tns:obtenerAvaluoAutomovilRequest"></wsdl:input>
      <wsdl:output name="obtenerAvaluoAutomovilResponse" message="tns:obtenerAvaluoAutomovilResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerKilometrajes">
      <wsdl:input name="obtenerKilometrajesRequest" message="tns:obtenerKilometrajesRequest"></wsdl:input>
      <wsdl:output name="obtenerKilometrajesResponse" message="tns:obtenerKilometrajesResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerComplementos">
      <wsdl:input name="obtenerComplementosRequest" message="tns:obtenerComplementosRequest"></wsdl:input>
      <wsdl:output name="obtenerComplementosResponse" message="tns:obtenerComplementosResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerModelos">
      <wsdl:input name="obtenerModelosRequest" message="tns:obtenerModelosRequest"></wsdl:input>
      <wsdl:output name="obtenerModelosResponse" message="tns:obtenerModelosResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerVersiones">
      <wsdl:input name="obtenerVersionesRequest" message="tns:obtenerVersionesRequest"></wsdl:input>
      <wsdl:output name="obtenerVersionesResponse" message="tns:obtenerVersionesResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerMarcas">
      <wsdl:input name="obtenerMarcasRequest" message="tns:obtenerMarcasRequest"></wsdl:input>
      <wsdl:output name="obtenerMarcasResponse" message="tns:obtenerMarcasResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerSubMarcas">
      <wsdl:input name="obtenerSubMarcasRequest" message="tns:obtenerSubMarcasRequest"></wsdl:input>
      <wsdl:output name="obtenerSubMarcasResponse" message="tns:obtenerSubMarcasResponse"></wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage" message="tns:CotizadorAutomovilFaultMessage"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CotizadorAutomovilWSHttpBinding" type="tns:CotizadorAutomovilWSPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerAvaluoAutomovil">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerAvaluoAutomovilRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerAvaluoAutomovilResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerKilometrajes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerKilometrajesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerKilometrajesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerComplementos">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerComplementosRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerComplementosResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerModelos">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerModelosRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerModelosResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerVersiones">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerVersionesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerVersionesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerMarcas">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerMarcasRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerMarcasResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerSubMarcas">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="obtenerSubMarcasRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerSubMarcasResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CotizadorAutomovilFaultMessage">
        <wsdlsoap:fault name="CotizadorAutomovilFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CotizadorAutomovilWS">
    <wsdl:port name="CotizadorAutomovilWSHttpPort" binding="tns:CotizadorAutomovilWSHttpBinding">
      <wsdlsoap:address location="http://10.30.3.55:8012/midas-web/services/CotizadorAutomovilWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>