SOL4IT - DEV/Aplicacion_SOA_Qualitas/OrdenesPago/SOA/WSDLs/GestionPagoServicios.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoServicios" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoServicios" xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/PagosAdministrativos/Comunes/BoGestionDeProceso" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionPagoServicios">
         <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/PagosAdministrativos/Comunes/BoGestionDeProceso" schemaLocation="../businessCatalog/PagosAdministrativos/Comunes/BoGestionDeProceso.xsd"/>
         <xsd:element name="start">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="tns6:BoGestionDeProceso"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="endResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="tns6:BoGestionDeProceso"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="start">
      <wsdl:part name="parameters" element="tns:start"/>
   </wsdl:message>
   <wsdl:message name="endResponse">
      <wsdl:part name="parameters" element="tns:endResponse"/>
   </wsdl:message>
   <wsdl:portType name="GestionPagoServiciosPortTypeCallBack">
      <wsdl:operation name="end">
         <wsdl:input message="tns:endResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="GestionPagoServiciosPortType">
      <wsdl:operation name="start">
         <wsdl:input message="tns:start"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="GestionPagoServiciosPortTypePartnerLinkType">
      <plnk:role name="GestionPagoServiciosPortTypeProvider">
         <plnk:portType name="tns:GestionPagoServiciosPortType"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
