SOL4IT - DEV/OSB_Desarrollo_NMP/GestionRiesgos/EvaluacionCredito/Resources/WSDLs/NMPEvaluacionCreditoSvcWSDL.wsdl

<wsdl:definitions name="NMPEvaluacionCreditoSvcWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCredito" xmlns:nmp="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCredito" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCredito" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:inp3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCredito" schemaLocation="../Schemas/NMPEvaluacionCreditoXSD.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessage">
    <wsdl:part name="valorarRiesgoRequest" element="inp1:valorarRiesgoRequest"/>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="valorarRiesgoResponse" element="inp1:valorarRiesgoResponse"/>
  </wsdl:message>
  <wsdl:message name="faultMessage">
    <wsdl:part name="evaluacionCreditoFault" element="inp2:messageError"/>
  </wsdl:message>
  <wsdl:portType name="EvaluacionCredito_ptt">
    <wsdl:operation name="valorarRiesgo">
      <wsdl:input message="nmp:requestMessage"/>
      <wsdl:output message="nmp:replyMessage"/>
      <wsdl:fault name="valorarRiesgofault" message="nmp:faultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EvaluacionCreditoBinding" type="nmp:EvaluacionCredito_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="valorarRiesgo">
      <soap:operation style="document" soapAction="valorarRiesgo"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCredito"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCCredito"/>
      </wsdl:output>
      <wsdl:fault name="valorarRiesgofault">
        <soap:fault name="valorarRiesgofault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="headerMessage">
    <wsdl:part name="evaluacionCreditoHeader" element="inp3:headerMessage"/>
  </wsdl:message>
  <wsdl:service name="EvaluacionCredito">
    <wsdl:port name="EvaluacionCreditoPort" binding="nmp:EvaluacionCreditoBinding">
      <soap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>