SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Garantias/Resources/WSDLs/SAPZlmWsCreaGarantiaWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_ZLM_WS_CREA_GARANTIA">
<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_zlm_ws_crea_garantia">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_ZlmfmRfcCreaGarantia">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char100">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char15">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char17">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="17"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char20">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char30">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char40">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char500">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="500"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char80">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="date10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal13.2">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric8">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:simpleType name="RfcException.Message.Number">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char120">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="120"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char20">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char40">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="curr13.2">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ZlmstGarantiaAsr">
<xsd:sequence>
<xsd:element name="Rsicher" type="n0:numeric8"/>
<xsd:element name="Descripcion" type="n0:char500"/>
<xsd:element name="Valor" type="n0:decimal13.2"/>
<xsd:element name="Noserie" type="n0:char30"/>
<xsd:element name="NoFactura" type="n0:char30"/>
<xsd:element name="NoMotor" type="n0:char20"/>
<xsd:element name="ANombreDe" type="n0:char80"/>
<xsd:element name="Marca" type="n0:char40"/>
<xsd:element name="Anio" type="n0:char4"/>
<xsd:element name="Color" type="n0:char30"/>
<xsd:element name="Capacidad" type="xsd:unsignedByte"/>
<xsd:element name="Puertas" type="xsd:unsignedByte"/>
<xsd:element name="Uso" type="n0:char80"/>
<xsd:element name="EquipoEspecial" type="n0:char500"/>
<xsd:element name="ClaveVehicular" type="n0:char10"/>
<xsd:element name="Proveedor" type="n0:char20"/>
<xsd:element name="Modelo" type="n0:char40"/>
<xsd:element name="Transmision" type="n0:char40"/>
<xsd:element name="Combustible" type="n0:char40"/>
<xsd:element name="TextoAux" type="n0:char100"/>
<xsd:element name="Usado" type="n0:char1"/>
<xsd:element name="Vin" type="n0:char17"/>
<xsd:element name="PrelacionCobro" type="n0:numeric3"/>
<xsd:element name="Submarca" type="n0:char40"/>
<xsd:element name="Version" type="n0:char40"/>
<xsd:element name="EmisorFactura" type="n0:char15"/>
<xsd:element name="FechaFactura" type="n0:date10"/>
<xsd:element name="DirProveedor" type="n0:char100"/>
<xsd:element name="TarjetaCirculacion" type="n0:char20"/>
<xsd:element name="ColorCalcomania" type="n0:char20"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZlmstValorGar">
<xsd:sequence>
<xsd:element name="Rsicher" type="n0:numeric8"/>
<xsd:element name="FechaValuacion" type="n0:date10"/>
<xsd:element name="ValorReal" type="tns:curr13.2"/>
<xsd:element name="Garantizado" type="tns:curr13.2"/>
<xsd:element name="Castigo" type="tns:curr13.2"/>
<xsd:element name="Kilometraje" type="tns:char40"/>
<xsd:element name="Dictaminador" type="tns:char120"/>
<xsd:element name="FolioBpm" type="tns:char20"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RfcException.Message">
<xsd:sequence>
<xsd:element name="ID" type="xsd:string"/>
<xsd:element name="Number" type="tns:RfcException.Message.Number"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZlmfmRfcCreaGarantia.RfcException">
<xsd:sequence>
<xsd:element name="Name" type="tns:ZlmfmRfcCreaGarantia.RfcExceptions"/>
<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
<xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ZlmfmRfcCreaGarantia.RfcExceptions">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ExDatosObligatorios"/>
<xsd:enumeration value="ExCreaGarantia"/>
<xsd:enumeration value="ExModifGarantia"/>
<xsd:enumeration value="ExVinExistente"/>
<xsd:enumeration value="ExNotFound"/>
<xsd:enumeration value="ExValuarGarantia"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="ZlmfmRfcCreaGarantia.Exception" type="tns:ZlmfmRfcCreaGarantia.RfcException"/>
<xsd:element name="ZlmfmRfcCreaGarantia">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Garantia" type="tns:ZlmstGarantiaAsr" minOccurs="0"/>
<xsd:element name="ValorGarantia" type="tns:ZlmstValorGar" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZlmfmRfcCreaGarantiaResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="NumGarantia" type="n0:numeric8"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZlmfmRfcCreaGarantia">
<wsdl:part name="parameters" element="tns:ZlmfmRfcCreaGarantia"/>
</wsdl:message>
<wsdl:message name="ZlmfmRfcCreaGarantiaResponse">
<wsdl:part name="parameter" element="tns:ZlmfmRfcCreaGarantiaResponse"/>
</wsdl:message>
<wsdl:message name="ZlmfmRfcCreaGarantia.Exception">
<wsdl:part name="ZlmfmRfcCreaGarantia.Exception" element="tns:ZlmfmRfcCreaGarantia.Exception"/>
</wsdl:message>
<wsdl:portType name="zlm_ws_crea_garantia">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_zlm_ws_crea_garantia"/>
</wsp:Policy>
<wsdl:operation name="ZlmfmRfcCreaGarantia">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_ZlmfmRfcCreaGarantia"/>
</wsp:Policy>
<wsdl:input message="tns:ZlmfmRfcCreaGarantia"/>
<wsdl:output message="tns:ZlmfmRfcCreaGarantiaResponse"/>
<wsdl:fault name="ZlmfmRfcCreaGarantia.Exception" message="tns:ZlmfmRfcCreaGarantia.Exception"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZLM_WS_CREA_GARANTIA" type="tns:zlm_ws_crea_garantia">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_ZLM_WS_CREA_GARANTIA"/>
</wsp:Policy>
<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
<wsa:ReferenceParameters/>
</wsa:EndpointReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ZlmfmRfcCreaGarantia">
<soap:operation soapAction="" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ZlmfmRfcCreaGarantia.Exception">
<soap:fault name="ZlmfmRfcCreaGarantia.Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZLM_WS_CREA_GARANTIA">
<wsdl:port name="ZLM_WS_CREA_GARANTIA" binding="tns:ZLM_WS_CREA_GARANTIA">
<soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_crea_garantia/330/zlm_ws_crea_garantia/zlm_ws_crea_garantia"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>