SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/GestionClientes/Clientes/Resources/Schemas/CRMClienteSvcAltaDisTipos0XSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/CanonicalModel" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Schema/CanonicalModel" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="CRMClienteSvcAltaDisTipos1XSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="Cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Validador">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alertas" nillable="true" type="tns:ArrayOfAlerta"/>
          <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Beneficiarios" nillable="true" type="tns:ArrayOfBeneficiario"/>
          <xs:element minOccurs="0" name="Boletinado" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="CalificacionAjustada" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="CalificacionMidas" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="CalificacionReal" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="CalificacionSIVA2" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="CapacidadPago" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Clienteencampana" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Cotitulares" nillable="true" type="tns:ArrayOfCotitular"/>
          <xs:element minOccurs="0" name="CredencialNMP" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DeseaserContactado" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Direcciones" nillable="true" type="tns:ArrayOfDireccion"/>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Escolaridad" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="FechaExpiraIdentificacion" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Giro" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="GradoConfianza" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="HuellaDigital" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdCliente" type="xs:int"/>
          <xs:element minOccurs="0" name="IdClienteFromClientes" type="xs:int"/>
          <xs:element minOccurs="0" name="IndiceRecuperacion" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="NoIdentificacion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroDependientes" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Pagos" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="PaisNacimiento" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="PaisResidencia" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="PathImagenesBoletinado" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="PathImagenesCreacion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="PorcentajeDesempeño" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="PorcentajePrestamoValuacion" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="PrestamoPromedio" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="Prestamos" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="ProbabilidadIncumplimiento" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="RepresentanteLegal" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="SobreAforo" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="SobreAforoAjustado" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="SobreAforoSIVA2" nillable="true" type="xs:decimal"/>
          <xs:element minOccurs="0" name="SucursaldeRegistro" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono"/>
          <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Trabaja" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="UsuarioCreador" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="UsuarioUltimaModificacion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="sistemaorigencliente" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente"/>
  <xs:complexType name="Validador">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Validador" nillable="true" type="tns:Validador"/>
  <xs:complexType name="ArrayOfAlerta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alerta" nillable="true" type="tns:Alerta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlerta" nillable="true" type="tns:ArrayOfAlerta"/>
  <xs:complexType name="Alerta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Validador">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NombreAlerta" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alerta" nillable="true" type="tns:Alerta"/>
  <xs:complexType name="ArrayOfBeneficiario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beneficiario" nillable="true" type="tns:Beneficiario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeneficiario" nillable="true" type="tns:ArrayOfBeneficiario"/>
  <xs:complexType name="Beneficiario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Validador">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdCotitular" type="xs:int"/>
          <xs:element minOccurs="0" name="IdCotitularFromClientes" type="xs:int"/>
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Beneficiario" nillable="true" type="tns:Beneficiario"/>
  <xs:complexType name="ArrayOfCotitular">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cotitular" nillable="true" type="tns:Cotitular"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCotitular" nillable="true" type="tns:ArrayOfCotitular"/>
  <xs:complexType name="Cotitular">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Validador">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="FuenteDato" type="ser:guid"/>
          <xs:element minOccurs="0" name="IdCotitular" type="xs:int"/>
          <xs:element minOccurs="0" name="IdCotitularFromClientes" type="xs:int"/>
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Parentesco" type="xs:int"/>
          <xs:element minOccurs="0" name="Telefonos" nillable="true" type="tns:ArrayOfTelefono"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cotitular" nillable="true" type="tns:Cotitular"/>
  <xs:complexType name="ArrayOfTelefono">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Telefono" nillable="true" type="tns:Telefono"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelefono" nillable="true" type="tns:ArrayOfTelefono"/>
  <xs:complexType name="Telefono">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Validador">
        <xs:sequence>
          <xs:element minOccurs="0" name="Etiqueta" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Lada" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroTelefonico" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="TipoTelefono" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Telefono" nillable="true" type="tns:Telefono"/>
  <xs:complexType name="ArrayOfDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion"/>
  <xs:complexType name="Direccion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Validador">
        <xs:sequence>
          <xs:element minOccurs="0" name="CP" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="ColoniaOtro" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DelegacionMunicipio" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="DelegacionMunicipioOtro" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DomicilioExtranjero" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="EstadoOtro" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Etiqueta" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroExterior" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumeroInterior" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="PaisResidencia" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="TipoDomicilio" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="TipodeVivienda" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion"/>
</xs:schema>