SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/CompraCumplido/Resources/WSDLs/NMPCompraCumplidoBPMWSDL.wsdl

<!--########################################################################################--><!--####                                                                                ####--><!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####--><!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####--><!--####                                                                                ####--><!--########################################################################################--><wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CompraCumplido" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/CompraCumplido" xmlns:tns6="http://servicios.montedepiedad.com.mx/NMP/Schema/BpmProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:nmps="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CompraCumplido" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/BpmProcess" schemaLocation="../../../Common/Resources/Schemas/NMPProcesosBPMXSD.xsd"/>
      <xsd:element name="inicioProcesoCompraCumplido">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns6:DetalleProcesoBPM"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="endResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="inicioProcesoCompraCumplido">
    <wsdl:part name="parameters" element="tns:inicioProcesoCompraCumplido"/>
  </wsdl:message>
  <wsdl:message name="endResponse">
    <wsdl:part name="parameters" element="tns:endResponse"/>
  </wsdl:message>
  <wsdl:message name="MessageFaultStandardNMP">
    <wsdl:part name="msg" element="nmps:messageError"/>
  </wsdl:message>
  <wsdl:message name="HeaderStandardNMP">
    <wsdl:part name="header" element="nmph:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="CompraCumplidoPortType">
    <wsdl:operation name="inicioProcesoCompraCumplido">
      <wsdl:input message="tns:inicioProcesoCompraCumplido"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CompraCumplidoPortTypeCallBack">
    <wsdl:operation name="end">
      <wsdl:input message="tns:endResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <plnk:partnerLinkType name="CompraCumplidoPortTypePartnerLinkType">
    <plnk:role name="CompraCumplidoPortTypeProvider">
      <plnk:portType name="tns:CompraCumplidoPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <wsdl:binding name="CompraCumplidoPortTypeSOAP11Binding" type="tns:CompraCumplidoPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inicioProcesoCompraCumplido">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/CompraCumplido/inicioProcesoCompraCumplido"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
        <wsdlsoap:header message="tns:HeaderStandardNMP" part="header" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>