SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Diamantes/Resources/WADLs/NMPCatalogosDiamantesWADL.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="CatalogosDiamantes">Catalogos del proyecto Siva Diamantes</doc>
   <resources>
      <resource path="catalogos/configuraciones">
         <method name="GET" soa:name="getAllConfiguracionesCatalogo">
            <doc title="GET getAllConfiguracionesCatalogo">getAll</doc>
            <request>
               <param name="page" style="query" default="" type="xsd:string">
                  <doc title="page">Page number of the requested page</doc>
               </param>
               <param name="size" style="query" default="" type="xsd:string">
                  <doc title="size">Size of a page</doc>
               </param>
               <param name="sort" style="query" default="" type="xsd:string">
                  <doc title="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/calidades_ley">
         <method name="GET" soa:name="getAllAlhajasCalidadesLey">
            <doc title="GET getAllAlhajasCalidadesLey">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/calidades_ley/{abreviatura}">
         <method name="GET" soa:name="getAlhajasCalidadLey">
            <doc title="GET getAlhajasCalidadLey">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/colores_oro">
         <method name="GET" soa:name="getAllAlhajasColoresOro">
            <doc title="GET getAllAlhajasColoresOro">getAll</doc>
            <request>
               <param name="dependencias" style="query" default="" type="xsd:string">
                  <doc title="dependencias">dependencias</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/colores_oro/{abreviatura}">
         <method name="GET" soa:name="getAlhajasColorOro">
            <doc title="GET getAlhajasColorOro">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/condiciones">
         <method name="GET" soa:name="getAllAlhajasCondiciones">
            <doc title="GET getAllAlhajasCondiciones">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/condiciones/{abreviatura}">
         <method name="GET" soa:name="getAlhajasCondicion">
            <doc title="GET getAlhajasCondicion">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/metales">
         <method name="GET" soa:name="getAllAlhajasMetales">
            <doc title="GET getAllAlhajasMetales">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/metales/{abreviatura}">
         <method name="GET" soa:name="getAlhajasMetal">
            <doc title="GET getAlhajasMetal">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/quilatajes">
         <method name="GET" soa:name="getAllAlhajasQuilataje">
            <doc title="GET getAllAlhajasQuilataje">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/quilatajes/{abreviatura}">
         <method name="GET" soa:name="getAlhajasQuilataje">
            <doc title="GET getAlhajasQuilataje">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/rangosMetal">
         <method name="GET" soa:name="getAllAlhajasRangosMetal">
            <doc title="GET getAllAlhajasRangosMetal">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/rangosMetal/{abreviatura}">
         <method name="GET" soa:name="getAlhajasRangoMetal">
            <doc title="GET getAlhajasRangoMetal">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/rangosOro">
         <method name="GET" soa:name="getAllAlhajasRangosOro">
            <doc title="GET getAllAlhajasRangosOro">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/rangosOro/{abreviatura}">
         <method name="GET" soa:name="getAlhajasRangoOro">
            <doc title="GET getAlhajasRangoOro">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/tipos">
         <method name="GET" soa:name="getAllAlhajasTipos">
            <doc title="GET getAllAlhajasTipos">getAll</doc>
            <request>
               <param name="dependencias" style="query" default="" type="xsd:string">
                  <doc title="dependencias">dependencias</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/alhajas/tipos/{abreviatura}">
         <method name="GET" soa:name="getAlhajasTipo">
            <doc title="GET getAlhajasTipo">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/certificados">
         <method name="GET" soa:name="getAllDiamantesCertificados">
            <doc title="GET getAllDiamantesCertificados">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/certificados/{abreviatura}">
         <method name="GET" soa:name="getDiamantesCertificado">
            <doc title="GET getDiamantesCertificado">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/claridades">
         <method name="GET" soa:name="getAllDiamantesClaridades">
            <doc title="GET getAllDiamantesClaridades">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/claridades/{abreviatura}">
         <method name="GET" soa:name="getDiamantesClaridad">
            <doc title="GET getDiamantesClaridad">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/color/familia1">
         <method name="GET" soa:name="getAllDiamantesColoresFamilia1">
            <doc title="GET getAllDiamantesColoresFamilia1">getAll</doc>
            <request>
               <param name="dependencias" style="query" default="" type="xsd:string">
                  <doc title="dependencias">dependencias</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/color/familia2">
         <method name="GET" soa:name="getAllDiamantesColoresFamilia2">
            <doc title="GET getAllDiamantesColoresFamilia2">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/color/familia3">
         <method name="GET" soa:name="getAllDiamantesColoresFamilia3">
            <doc title="GET getAllDiamantesColoresFamilia3">getAll</doc>
            <request>
               <param name="dependencias" style="query" default="" type="xsd:string">
                  <doc title="dependencias">dependencias</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/colores">
         <method name="GET" soa:name="getAllDiamantesColores">
            <doc title="GET getAllDiamantesColores">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/colores/{abreviatura}">
         <method name="GET" soa:name="getDiamantesColor">
            <doc title="GET getDiamantesColor">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/cortes">
         <method name="GET" soa:name="getAllDiamantesCortes">
            <doc title="GET getAllDiamantesCortes">getAll</doc>
            <request>
               <param name="dependencias" style="query" default="" type="xsd:string">
                  <doc title="dependencias">dependencias</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/cortes/{abreviatura}">
         <method name="GET" soa:name="getDiamantesCorte">
            <doc title="GET getDiamantesCorte">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/motivos_baja_prestamo">
         <method name="GET" soa:name="getAllDiamantesMotivosBajaPrestamo">
            <doc title="GET getAllDiamantesMotivosBajaPrestamo">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/motivos_baja_prestamo/{abreviatura}">
         <method name="GET" soa:name="getDiamantesMotivoBajaPrestamo">
            <doc title="GET getDiamantesMotivoBajaPrestamo">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/quilatajes_diamantes">
         <method name="GET" soa:name="getAllDiamantesQuilatajes">
            <doc title="GET getAllDiamantesQuilatajes">getAll</doc>
            <request>
               <param name="dependencias" style="query" default="" type="xsd:string">
                  <doc title="dependencias">dependencias</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/quilatajes_diamantes/{abreviatura}">
         <method name="GET" soa:name="getDiamantesQuilataje">
            <doc title="GET getDiamantesQuilataje">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/tipo_complemento">
         <method name="GET" soa:name="getAllDiamantesTiposComplementos">
            <doc title="GET getAllDiamantesTiposComplementos">getAll</doc>
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="catalogos/diamantes/tipo_complemento/{abreviatura}">
         <method name="GET" soa:name="getDiamantesTipoComplemento">
            <doc title="GET getDiamantesTipoComplemento">get</doc>
            <request>
               <param name="abreviatura" style="template" default="" type="xsd:string">
                  <doc title="abreviatura">abreviatura</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
   </resources>
</application>