SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/WADLs/NMPVehiculoSinResguardoRestWADL.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculoSinResguardo/Flujo" xmlns:ns0="http://servicios.montedepiedad.com.mx/NMP/Schema/Cotizador" xmlns:ns2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPVehiculo" xmlns:vsr="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="NMPVehiculoSinResguardoRestPXY">RestService</doc>
  <grammars>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../Schemas/NMPVehiculosSinResguardoXSD.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/Solicitud/Cliente">
      <method name="POST" soa:wsdlOperation="obtenerSolicitudes">
        <request>
          <representation mediaType="application/json" element="cns:obtenerSolicitudesRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:obtenerSolicitudesResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Prestamo">
      <method name="POST" soa:wsdlOperation="obtenerMontoPrestamo">
        <request>
          <representation mediaType="application/json" element="cns:obtenerMontoPrestamoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:obtenerMontoPrestamoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Solicitud">
      <method name="POST" soa:wsdlOperation="generarSolicitud">
        <request>
          <representation mediaType="application/json" element="cns:generarSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:generarSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Solicitud/Actualizar">
      <method name="POST" soa:wsdlOperation="actualizarSolicitud">
        <request>
          <representation mediaType="application/json" element="cns:actualizarSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:actualizarSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Solicitud/Cancelar">
      <method name="PUT" soa:wsdlOperation="cancelarSolicitud">
        <request>
          <representation mediaType="application/json" element="cns:cancelarSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:cancelarSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Solicitud/Consultar">
      <method name="POST" soa:wsdlOperation="consultarSolicitud">
        <request>
          <representation mediaType="application/json" element="cns:consultarSolicitudRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:consultarSolicitudResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Solicitud/AnalisisCredito">
      <method name="PUT" soa:wsdlOperation="analisisCredito">
        <request>
          <representation mediaType="application/json" element="cns:analisisCreditoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:analisisCreditoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Contrato">
      <method name="POST" soa:wsdlOperation="generarContrato">
        <request>
          <representation mediaType="application/json" element="cns:generarContratoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:generarContratoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/FirmarContrato">
      <method name="PUT" soa:wsdlOperation="firmarContrato">
        <request>
          <representation mediaType="application/json" element="cns:firmarContratoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:firmarContratoResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
    <resource path="/Garantia/Generar">
      <method name="POST" soa:wsdlOperation="generarGarantia">
        <request>
          <representation mediaType="application/json" element="cns:generarGarantiaRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:generarGarantiaResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
        </response>
        <response status="500" soa:wsdlFaultName="vehiculoSinResguardoFault">
          <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </response>
      </method>
    </resource>
  </resources>
</application>