SOL4IT - DEV/SOA_Desarrollo/OSB_Desarrollo/Commons/Filter/Resources/GestionTrabajoWSDL.wsdl

<definitions targetNamespace="http://comunes.rt.nmp.com/" name="RTGestionTrabajoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://comunes.rt.nmp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://comunes.rt.nmp.com/" schemaLocation="GestionTrabajoSchema.xsd"/>
    </xsd:schema>
  </types>
  <message name="continuar">
    <part name="parameters" element="tns:continuar"/>
  </message>
  <message name="continuarResponse">
    <part name="parameters" element="tns:continuarResponse"/>
  </message>
  <message name="encolar">
    <part name="parameters" element="tns:encolar"/>
  </message>
  <message name="encolarResponse">
    <part name="parameters" element="tns:encolarResponse"/>
  </message>
  <message name="liberar">
    <part name="parameters" element="tns:liberar"/>
  </message>
  <message name="confirmarInicio">
    <part name="parameters" element="tns:confirmarInicio"/>
  </message>


  <portType name="RTGestionTrabajo">
    <operation name="continuar">
      <input wsam:Action="http://comunes.rt.nmp.com/RTGestionTrabajo/continuarRequest" message="tns:continuar"/>
      <output wsam:Action="http://comunes.rt.nmp.com/RTGestionTrabajo/continuarResponse" message="tns:continuarResponse"/>
    </operation>
    <operation name="encolar">
      <input wsam:Action="http://comunes.rt.nmp.com/RTGestionTrabajo/encolarRequest" message="tns:encolar"/>
      <output wsam:Action="http://comunes.rt.nmp.com/RTGestionTrabajo/encolarResponse" message="tns:encolarResponse"/>
    </operation>
    <operation name="liberar">
      <input wsam:Action="http://comunes.rt.nmp.com/RTGestionTrabajo/liberar" message="tns:liberar"/>
    </operation>
    <operation name="confirmarInicio">
      <input wsam:Action="http://comunes.rt.nmp.com/RTGestionTrabajo/confirmarInicio" message="tns:confirmarInicio"/>
    </operation>


  </portType>
  <binding name="RTGestionTrabajoPortBinding" type="tns:RTGestionTrabajo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="continuar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="encolar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="liberar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>

    <operation name="confirmarInicio">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>

  </binding>
  <service name="RTGestionTrabajoService">
    <port name="RTGestionTrabajoPort" binding="tns:RTGestionTrabajoPortBinding">
      <soap:address location="http://localhost:7101/GestionFiltro/RTGestionTrabajoPort"/>
    </port>
  </service>
</definitions>