SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionPrendaria/ListasPreciosRapaport/Resources/WSDLs/NMPReferenciaAlhajaDiamanteWSDL.wsdl

<wsdl:definitions name="ReferenciaServiceEndpointService" targetNamespace="http://OperacionPrendaria.nmp.com.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://OperacionPrendaria.nmp.com.mx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://nmp.com.mx/OperacionPrendaria/" xmlns:ns2="http://nmp.com.mx/OperacionPrendaria/datatypes/" xmlns:head="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="../Schemas/NMPReferenciaAlhajaDiamanteXSD.xsd" namespace="http://nmp.com.mx/OperacionPrendaria/datatypes/"/>
      <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
      <import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="../../../../Common/XSD/NMPStandardFault.xsd.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="obtenerValorComercialResponse">
    <wsdl:part element="ns2:obtenerValorComercialResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerModificador">
    <wsdl:part element="ns2:obtenerModificadorRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerValorComercial">
    <wsdl:part element="ns2:obtenerValorComercialRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerModificadorResponse">
    <wsdl:part element="ns2:obtenerModificadorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerValorGramoOroResponse">
    <wsdl:part element="ns2:obtenerValorGramoOroResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerLimitesIncrementoResponse">
    <wsdl:part element="ns2:obtenerLimitesIncrementoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerValorGramoMetal">
    <wsdl:part element="ns2:obtenerValorGramoMetalRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerValorGramoMetalResponse">
    <wsdl:part element="ns2:obtenerValorGramoMetalResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerValorGramoOro">
    <wsdl:part element="ns2:obtenerValorGramoOroRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerDesplazamiento">
    <wsdl:part element="ns2:obtenerDesplazamientoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerLimitesIncremento">
    <wsdl:part element="ns2:obtenerLimitesIncrementoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerFactor">
    <wsdl:part element="ns2:obtenerFactorRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerFactorResponse">
    <wsdl:part element="ns2:obtenerFactorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerDesplazamientoResponse">
    <wsdl:part element="ns2:obtenerDesplazamientoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="inputHeader">
    <wsdl:part name="input" element="head:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="outputHeader">
    <wsdl:part name="output" element="head:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part name="fault" element="env:Fault"/>
  </wsdl:message>
  <wsdl:portType name="ReferenciaService">
    <wsdl:operation name="obtenerModificador">
      <wsdl:input message="tns:obtenerModificador" name="obtenerModificador"/>
      <wsdl:output message="tns:obtenerModificadorResponse" name="obtenerModificadorResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerValorComercial">
      <wsdl:input message="tns:obtenerValorComercial" name="obtenerValorComercial"/>
      <wsdl:output message="tns:obtenerValorComercialResponse" name="obtenerValorComercialResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerValorGramoOro">
      <wsdl:input message="tns:obtenerValorGramoOro" name="obtenerValorGramoOro"/>
      <wsdl:output message="tns:obtenerValorGramoOroResponse" name="obtenerValorGramoOroResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerDesplazamiento">
      <wsdl:input message="tns:obtenerDesplazamiento" name="obtenerDesplazamiento"/>
      <wsdl:output message="tns:obtenerDesplazamientoResponse" name="obtenerDesplazamientoResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerLimitesIncremento">
      <wsdl:input message="tns:obtenerLimitesIncremento" name="obtenerLimitesIncremento"/>
      <wsdl:output message="tns:obtenerLimitesIncrementoResponse" name="obtenerLimitesIncrementoResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerFactor">
      <wsdl:input message="tns:obtenerFactor" name="obtenerFactor"/>
      <wsdl:output message="tns:obtenerFactorResponse" name="obtenerFactorResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerValorGramoMetal">
      <wsdl:input message="tns:obtenerValorGramoMetal" name="obtenerValorGramoMetal"/>
      <wsdl:output message="tns:obtenerValorGramoMetalResponse" name="obtenerValorGramoMetalResponse"/>
      <wsdl:fault message="tns:Fault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReferenciaServiceEndpointServiceSoapBinding" type="tns:ReferenciaService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerModificador">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerModificador" style="document"/>
      <wsdl:input name="obtenerModificador">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerModificadorResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerValorComercial">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerValorComercial" style="document"/>
      <wsdl:input name="obtenerValorComercial">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerValorComercialResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerValorGramoOro">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerValorGramoOro" style="document"/>
      <wsdl:input name="obtenerValorGramoOro">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerValorGramoOroResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerDesplazamiento">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerDesplazamiento" style="document"/>
      <wsdl:input name="obtenerDesplazamiento">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDesplazamientoResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerLimitesIncremento">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerLimitesIncremento" style="document"/>
      <wsdl:input name="obtenerLimitesIncremento">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerLimitesIncrementoResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerFactor">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerFactor" style="document"/>
      <wsdl:input name="obtenerFactor">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerFactorResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerValorGramoMetal">
      <soap:operation soapAction="http://nmp.com.mx/OperacionPrendaria/obtenerValorGramoMetal" style="document"/>
      <wsdl:input name="obtenerValorGramoMetal">
        <soap:header message="tns:inputHeader" part="input" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerValorGramoMetalResponse">
        <soap:header message="tns:outputHeader" part="output" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReferenciaServiceEndpointService">
    <wsdl:port binding="tns:ReferenciaServiceEndpointServiceSoapBinding" name="ReferenciaServiceEndpointPort">
      <soap:address location="https://OperacionPrendaria/ReferenciaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>