SOL4IT - DEV/OSB_Desarrollo_NMP/PoC/cenmp/resources/xsd/XMLSchema_1177464745.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/nmpApp/WSCancelarInscripcion/CancelarInscripcionBPELProcess"
     xmlns:tns="http://xmlns.oracle.com/nmpApp/WSCancelarInscripcion/CancelarInscripcionBPELProcess"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="Usuario" type="tns:stringType30" nillable="false"/>
                <element name="idCurso" type="tns:stringType10" nillable="false"/>
                <element name="idGrupo" type="tns:stringType10" nillable="false"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="Usuario" type="tns:stringType30"/>
                <element name="StatusCancelacion" type="tns:stringType20"/>
                <element name="ErrorCode" type="tns:stringType20"/>
                <element name="ErrorDescription" type="tns:stringType128"/>
                <element name="ErrorDetail" type="tns:stringType512"/>
            </sequence>
        </complexType>
    </element>
    <simpleType name="stringType02">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="2"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType10">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="10"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType20">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType30">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType64">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType128">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType256">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="stringType512">
        <restriction base="string">
            <minLength value="0"/>
            <maxLength value="60"/>
        </restriction>
    </simpleType>
    <simpleType name="educacionTypee">
        <restriction base="string">
            <enumeration value="Primaria"/>
            <enumeration value="Secundaria"/>
            <enumeration value="Preparatoria"/>
            <enumeration value="Universidad"/>
        </restriction>
    </simpleType>
</schema>