SOL4IT - DEV/Aplicacion_SOA_Qualitas/CrearServicioPrj/SOA/Schemas/ServicioOEN.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsds="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/" xmlns:tnspsp="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/" schemaLocation="ServicioData.xsd"/>
   <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" schemaLocation="ProyectoData.xsd"/>
   <complexType name="Servicio">
      <sequence>
         <element name="idSolicitud" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
         <element name="CentroDeCosto" type="int" minOccurs="1" maxOccurs="1"/>
         <choice>
            <sequence>
               <element name="servicioGastoFijo" type="tnsds:GastosFijos" minOccurs="0" maxOccurs="1"/>
               <element name="servicioOperaciones" type="tnsds:Operaciones" minOccurs="0" maxOccurs="1"/>
               <element name="proyecto" type="tnspsp:Proyecto" minOccurs="0" maxOccurs="1"/>
            </sequence>
         </choice>
      </sequence>
   </complexType>
</schema>
