SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionCreditos/Creditos/Resources/Schemas/NMPCreditoSvcTiposXSD.xsd

<xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCredito" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NMPCred="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCredito" xmlns:NMPComun="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun">
<xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun" schemaLocation="../../../../Common/XSD/NMPComun_TIPOS.xsd"/>            
  <xsd:complexType name="ClienteType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:string"/>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="apellidoPaterno" type="xsd:string"/>
      <xsd:element name="apellidoMaterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleClienteType">
    <xsd:complexContent>
      <xsd:extension base="NMPCred:ClienteType">
        <xsd:sequence>
          <xsd:element name="rfc" type="xsd:string" minOccurs="0"/>
          <xsd:element name="fechaNacimiento" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DomicilioType">
    <xsd:sequence>
      <xsd:element name="calle" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numInt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numExt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="colonia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoPostal" type="xsd:int" minOccurs="0"/>
      <xsd:element name="idMunicipio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idEstado" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldoType">
    <xsd:sequence>
      <xsd:element name="contrato" type="xsd:string"/>
      <xsd:element name="producto" type="xsd:string"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="desembolso" type="xsd:decimal"/>
      <xsd:element name="capitalVigente" type="xsd:decimal"/>
      <xsd:element name="capitalVencido" type="xsd:decimal"/>
      <xsd:element name="saldoVigente" type="xsd:decimal"/>
      <xsd:element name="saldoVencido" type="xsd:decimal"/>
      <xsd:element name="saldoCapital" type="xsd:decimal"/>
      <xsd:element name="interesVigente" type="xsd:decimal"/>
      <xsd:element name="interesVencido" type="xsd:decimal"/>
      <xsd:element name="saldoInteres" type="xsd:decimal"/>
      <xsd:element name="saldoComision" type="xsd:decimal"/>
      <xsd:element name="pagosNoAplicados" type="xsd:decimal"/>
      <xsd:element name="saldoLiquidar" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolicitudType">
    <xsd:sequence>
      <xsd:element name="cveProducto" type="xsd:string"/>
      <xsd:element name="estatus" type="xsd:string"/>
      <xsd:element name="subEstatus" type="xsd:string"/>
      <xsd:element name="pendiente" type="xsd:string"/>
      <xsd:element name="motivoPendiente" type="xsd:string"/>
      <xsd:element name="estatusPago" type="xsd:string"/>
      <xsd:element name="estatusAnterior" type="xsd:string"/>
      <xsd:element name="fechaSolicitud" type="xsd:string"/>
      <xsd:element name="fechaSuscripcion" type="xsd:string"/>
      <xsd:element name="tiempoAprobacion" type="xsd:int"/>
      <xsd:element name="fechaAutorizacion" type="xsd:string"/>
      <xsd:element name="fechaDesembolso" type="xsd:string"/>
      <xsd:element name="fechaPrimerPago" type="xsd:string"/>
      <xsd:element name="destino" type="xsd:string"/>
      <xsd:element name="horaCita" type="xsd:time"/>
      <xsd:element name="gerenteSucursal" type="xsd:string"/>
      <xsd:element name="desembolso" type="xsd:decimal"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="frecuencia" type="xsd:string"/>
      <xsd:element name="numPagos" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionVentaType">
    <xsd:sequence>
      <xsd:element name="estatus" type="xsd:string"/>
      <xsd:element name="fechaCreacion" type="xsd:string"/>
      <xsd:element name="promotor" type="xsd:string"/>
      <xsd:element name="resultadoVisitaVentas" type="xsd:string"/>
      <xsd:element name="gestionVentas" type="xsd:string"/>
      <xsd:element name="resultadoVisitaVentas2" type="xsd:string"/>
      <xsd:element name="gestionTransmision" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AmortizacionType">
    <xsd:sequence>
      <xsd:element name="numeroPago" type="xsd:int"/>
      <xsd:element name="fechaPago" type="xsd:string"/>
      <xsd:element name="pagoTotal" type="xsd:decimal"/>
      <xsd:element name="capital" type="xsd:decimal"/>
      <xsd:element name="interes" type="xsd:decimal"/>
      <xsd:element name="IVAInteres" type="xsd:decimal"/>
      <xsd:element name="saldoCapital" type="xsd:decimal"/>
      <xsd:element name="saldoInteres" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProyeccionPagoType">
    <xsd:sequence>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="saldoActual" type="xsd:decimal"/>
      <xsd:element name="fechaCorte1" type="xsd:string"/>
      <xsd:element name="saldoCorte1" type="xsd:decimal"/>
      <xsd:element name="fechaCorte2" type="xsd:string"/>
      <xsd:element name="saldoCorte2" type="xsd:decimal"/>
      <xsd:element name="fechaCorte3" type="xsd:string"/>
      <xsd:element name="saldoCorte3" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartidaAbiertaType">
    <xsd:sequence>
      <xsd:element name="fechaValor" type="xsd:string"/>
      <xsd:element name="fechaContable" type="xsd:string"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="monto" type="xsd:decimal"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VencimientoType">
    <xsd:sequence>
      <xsd:element name="fechaVencimiento" type="xsd:string"/>
      <xsd:element name="planeado-real" type="xsd:string"/>
      <xsd:element name="interes" type="xsd:decimal"/>
      <xsd:element name="otros" type="xsd:decimal"/>
      <xsd:element name="IVAInteres" type="xsd:decimal"/>
      <xsd:element name="importe" type="xsd:decimal"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="concepto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PagoType">
    <xsd:sequence>
      <xsd:element name="fechaPago" type="xsd:string"/>
      <xsd:element name="capital" type="xsd:decimal"/>
      <xsd:element name="interes" type="xsd:decimal"/>
      <xsd:element name="otros" type="xsd:decimal"/>
      <xsd:element name="iva" type="xsd:decimal"/>
      <xsd:element name="importe" type="xsd:decimal"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="concepto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProyeccionMoratoriosType">
    <xsd:sequence>
      <xsd:element name="monto" type="xsd:decimal"/>
      <xsd:element name="tasa" type="xsd:decimal"/>
      <xsd:element name="dias" type="xsd:string"/>
      <xsd:element name="importeBase" type="xsd:decimal"/>
      <xsd:element name="texto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldoListType">
    <xsd:sequence>
      <xsd:element name="saldo" type="NMPCred:SaldoType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolicitudListType">
    <xsd:sequence>
      <xsd:element name="Solicitud" type="NMPCred:SolicitudType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionVentaListType">
    <xsd:sequence>
      <xsd:element name="GestionVenta" type="NMPCred:GestionVentaType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AmortizacionListType">
    <xsd:sequence>
      <xsd:element name="Amortizacion" type="NMPCred:AmortizacionType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProyeccionPagoListType">
    <xsd:sequence>
      <xsd:element name="ProyeccionPago" type="NMPCred:ProyeccionPagoType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartidaAbiertaListType">
    <xsd:sequence>
      <xsd:element name="PartidaAbierta" type="NMPCred:PartidaAbiertaType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VencimientoListType">
    <xsd:sequence>
      <xsd:element name="Vencimiento" type="NMPCred:VencimientoType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PagoListType">
    <xsd:sequence>
      <xsd:element name="Pago" type="NMPCred:PagoType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProyeccionMoratoriosListType">
    <xsd:sequence>
      <xsd:element name="ProyeccionMoratorios" type="NMPCred:ProyeccionMoratoriosType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstatusSolicitudType">
    <xsd:sequence>
      <xsd:element name="nombreCliente" type="xsd:string"/>
      <xsd:element name="solicitud" type="xsd:string"/>
      <xsd:element name="estatusGestion" type="xsd:string"/>
      <xsd:element name="estatusSolicitud" type="xsd:string"/>
      <xsd:element name="motivoPen" type="xsd:string"/>
      <xsd:element name="fechaFirma" type="xsd:string"/>
      <xsd:element name="montoDesembolso" type="xsd:decimal"/>
      <xsd:element name="saldoFecha" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstatusSolicitudListType">
    <xsd:sequence>
      <xsd:element name="EstatusSolicitudes" maxOccurs="unbounded" type="NMPCred:EstatusSolicitudType"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="SolicitudTablaAmortizacionType">
    <xsd:sequence>
      <xsd:element name="sociedad" type="xsd:string"/>
      <xsd:element name="producto" type="xsd:string"/>
      <xsd:element name="subproducto" type="xsd:string"/>
      <xsd:element name="montoSolicitado" type="NMPComun:decimalType"/>
      <xsd:element name="frecuencia" type="xsd:int"/>
      <xsd:element name="plazo" type="xsd:int"/>
      <xsd:element name="tasaInteres" type="NMPComun:decimalType"/>
      <xsd:element name="fechaDesembolso" type="xsd:date"/>
      <xsd:element name="tipoPago" type="NMPCred:TipoPagoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TipoPagoType">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="2" id="PAGOS_IGUALES"/>
        </xsd:restriction>
        </xsd:simpleType>
        
   <xsd:complexType name="TablaAmortizacionPagoType">
    <xsd:sequence>
      <xsd:element name="numeroPago" type="xsd:int"/>
      <xsd:element name="fecha" type="xsd:date"/>
      <xsd:element name="capitalInicial" type="NMPComun:decimalType"/>
      <xsd:element name="interes" type="NMPComun:decimalType"/>
      <xsd:element name="iva" type="NMPComun:decimalType"/>
      <xsd:element name="abonoCapital" type="NMPComun:decimalType"/>
      <xsd:element name="abonoTotal" type="NMPComun:decimalType"/>
      <xsd:element name="capitalFinal" type="NMPComun:decimalType"/>
      <xsd:element name="saldoPagare" type="NMPComun:decimalType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="TablaAmortizacionType">
  <xsd:sequence>
    <xsd:element name="pago" type="NMPCred:TablaAmortizacionPagoType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    </xsd:complexType>
  <xsd:complexType name="DatosContratoType">
    <xsd:complexContent>
      <xsd:extension base="NMPCred:SolicitudTablaAmortizacionType">
        <xsd:sequence>
          <xsd:element name="moratorio" type="xsd:string" minOccurs="0"/>
          <xsd:element name="origen" type="xsd:string" minOccurs="0"/>
          <xsd:element name="destino" type="xsd:string" minOccurs="0"/>
          <xsd:element name="diasGracia" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeneraContratoType">
    <xsd:sequence>
      <xsd:element name="idContrato" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneraContratoListType">
    <xsd:sequence>
      <xsd:element name="datosCliente" type="NMPCred:DetalleClienteType"/>
      <xsd:element name="domicilio" type="NMPCred:DomicilioType"/>
      <xsd:element name="datosContrato" type="NMPCred:DatosContratoType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>