SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/AppMonte/Resources/WSDLs/DBAppMonteUsuariosSvcWSDL.wsdl

<wsdl:definitions name="AppMonteUsuariosDb" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GestionClientes/AppMonteUsuariosDb" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GestionClientes/AppMonteUsuariosDb" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/AppMonteUsuariosDb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="AppMonteUsuariosDb_plt">
    <plt:role name="AppMonteUsuariosDb_role">
      <plt:portType name="tns:AppMonteUsuariosDb_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/AppMonteUsuariosDb" schemaLocation="../Schemas/DBAppMonteUsuariosDbXSD.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="selectByPrimaryKey_inputParameters">
    <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:AppRegistroPrimaryKey"/>
  </wsdl:message>
  <wsdl:message name="AppRegistroCollection_msg">
    <wsdl:part name="AppRegistroCollection" element="top:AppRegistroCollection"/>
  </wsdl:message>
  <wsdl:portType name="AppMonteUsuariosDb_ptt">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:AppRegistroCollection_msg"/>
      <wsdl:output message="tns:AppRegistroCollection_msg"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:AppRegistroCollection_msg"/>
      <wsdl:output message="tns:AppRegistroCollection_msg"/>
    </wsdl:operation>
    <wsdl:operation name="selectByPrimaryKey">
      <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
      <wsdl:output message="tns:AppRegistroCollection_msg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppMonteUsuariosDb_pttBinding" type="tns:AppMonteUsuariosDb_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insert">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/GestionClientes/AppMonteUsuariosDb/insert"/>
      <wsdl:input>
        <soap:body use="literal" parts="AppRegistroCollection"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AppRegistroCollection"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/GestionClientes/AppMonteUsuariosDb/update"/>
      <wsdl:input>
        <soap:body use="literal" parts="AppRegistroCollection"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AppRegistroCollection"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectByPrimaryKey">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/GestionClientes/AppMonteUsuariosDb/selectByPrimaryKey"/>
      <wsdl:input>
        <soap:body use="literal" parts="selectByPrimaryKey_inputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AppRegistroCollection"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>