SOL4IT - DEV/osb_Jack/MasterData/Servicios/Resources/XMLSchema_1392046519.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsds="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/" xmlns:tnspsp="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/ServicioData/v1/" schemaLocation="XMLSchema_-807819995.xsd"/>
    <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/ProyectoData/v1/" schemaLocation="XMLSchema_1160707988.xsd"/>
    <complexType name="Servicio">
        <sequence>
            <element name="idSolicitud" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="CentroDeCosto" type="int" minOccurs="1" maxOccurs="1"/>
            <choice>
                <sequence>
                    <element name="servicioGastoFijo" type="tnsds:GastosFijos" minOccurs="0" maxOccurs="1"/>
                    <element name="servicioOperaciones" type="tnsds:Operaciones" minOccurs="0" maxOccurs="1"/>
                    <element name="proyecto" type="tnspsp:Proyecto" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </choice>
        </sequence>
    </complexType>
</schema>