SOL4IT - DEV/osb_Jack/MasterData/Servicios/Resources/XMLSchema_-1825572657.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/CrearServicioPorTipo/v1/" xmlns:tns="http://qualitas.com.mx/Comun/Servicio/CrearServicioPorTipo/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsts="http://qualitas.com.mx/Comun/Servicio/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="XMLSchema_-1290734781.xsd"/>
    <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/v1/" schemaLocation="XMLSchema_1392046519.xsd"/>
    <element name="CrearServicioRequest">
        <complexType>
            <sequence>
                <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
                <element name="Input" type="tns:CrearServicio"/>
            </sequence>
        </complexType>
    </element>
    <element name="CrearServicioResponse">
        <complexType>
            <sequence>
                <element name="idSolicitud" type="string" minOccurs="0" maxOccurs="1"/>
                <element name="idPrestador" type="int" minOccurs="0" maxOccurs="1"/>
                <element name="servicioResponse" type="tns:ServicioResponse" minOccurs="0" maxOccurs="1"/>
                <element name="proyectoResponse" type="tns:ProyectoResponse" minOccurs="0" maxOccurs="1"/>
                <element name="OperationResponse" type="tnsq:OperationResponse"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="CrearServicio">
        <sequence>
            <element name="idTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="servicio" type="tnsts:Servicio" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="ServicioResponse">
        <sequence>
            <element name="idServicio" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="descripcion" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="centroCostos" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="claveOficina" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="descOficina" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="responsableArea" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="ProyectoResponse">
        <sequence>
            <element name="idProyecto" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="nombre" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="descripcion" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="estatusProyecto" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="centroCostos" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="claveOficina" type="int" minOccurs="0" maxOccurs="1"/>
            <element name="descOficina" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="descArea" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="responsableArea" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>