SOL4IT - DEV/OSB_Desarrollo_NMP/Utileria/ActualizarValorFIX/Resources/Schemas/ActualizarValorFixXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/nmp/ActualizarValorFIX/ActualizarValorFIX"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="messageRequest">
        <complexType>
            <sequence>
                <element name="idSerie" type="string" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="messageResponse">
        <complexType>
            <sequence>
                <element name="valorFix" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>