SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/UsuariosMonte/Resources/WSDLs/CRMTokensSvcWSDL.wsdl

<wsdl:definitions name="Tokens" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITokens_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../Schemas/CRMTokensServiceElementosXSD.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../Schemas/CRMTokensServiceTXSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../Schemas/CRMTokensTipos1XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Respuesta"/>
      <xsd:import schemaLocation="../Schemas/CRMTokensTipos2XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Modelos"/>
      <xsd:import schemaLocation="../Schemas/CRMTokensTipos0XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/EntityLayer.Enums"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITokens_validaToken_InputMessage">
    <wsdl:part name="parameters" element="tns:validaToken"/>
  </wsdl:message>
  <wsdl:message name="ITokens_validaToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:validaTokenResponse"/>
  </wsdl:message>
  <wsdl:message name="ITokens_generaToken_InputMessage">
    <wsdl:part name="parameters" element="tns:generaToken"/>
  </wsdl:message>
  <wsdl:message name="ITokens_generaToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:generaTokenResponse"/>
  </wsdl:message>
  <wsdl:portType name="ITokens">
    <wsdl:operation name="validaToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokens/validaToken" message="tns:ITokens_validaToken_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITokens/validaTokenResponse" message="tns:ITokens_validaToken_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="generaToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITokens/generaToken" message="tns:ITokens_generaToken_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITokens/generaTokenResponse" message="tns:ITokens_generaToken_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITokens" type="tns:ITokens">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validaToken">
      <soap:operation soapAction="http://tempuri.org/ITokens/validaToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generaToken">
      <soap:operation soapAction="http://tempuri.org/ITokens/generaToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITokens" type="tns:ITokens">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITokens_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validaToken">
      <soap:operation soapAction="http://tempuri.org/ITokens/validaToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generaToken">
      <soap:operation soapAction="http://tempuri.org/ITokens/generaToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tokens">
    <wsdl:port name="BasicHttpBinding_ITokens" binding="tns:BasicHttpBinding_ITokens">
      <soap:address location="http://dcpimsdcrmint01.nmp.com.mx/CRMServicios.MiMonte/Servicios/Tokens.svc"/>
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITokens" binding="tns:BasicHttpsBinding_ITokens">
      <soap:address location="https://10.30.3.49/CRMServicios.MiMonte/Servicios/Tokens.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>