SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/UsuariosMonte/Resources/WSDLs/NMPUsuariosMonteWSDL.wsdl

<wsdl:definitions name="NMPSolicitudesClienteDB" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:um="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/UsuariosMonte" schemaLocation="../Schemas/NMPUsuariosMonteXSD.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
        </schema>
    </wsdl:types>
     <wsdl:message name="validarDatosRequest">
        <wsdl:part name="req" element="um:validarDatosRequest"/>
    </wsdl:message>
     <wsdl:message name="validarDatosResponse">
        <wsdl:part name="res" element="um:validarDatosResponse"/>
    </wsdl:message>
    <wsdl:message name="validarMedioContactoRequest">
        <wsdl:part name="req" element="um:validarMedioContactoRequest"/>
    </wsdl:message>
     <wsdl:message name="validarMedioContactoResponse">
        <wsdl:part name="res" element="um:validarMedioContactoResponse"/>
    </wsdl:message>
     <wsdl:message name="actualizarDatosRequest">
        <wsdl:part name="req" element="um:actualizarDatosRequest"/>
    </wsdl:message>
     <wsdl:message name="actualizarDatosResponse">
        <wsdl:part name="res" element="um:actualizarDatosResponse"/>
    </wsdl:message>
    <wsdl:message name="solicitarAltaRequest">
        <wsdl:part name="req" element="um:solicitarAltaRequest"/>
    </wsdl:message>
     <wsdl:message name="solicitarAltaResponse">
        <wsdl:part name="res" element="um:solicitarAltaResponse"/>
    </wsdl:message>
    <wsdl:message name="solicitarActivacionRequest">
        <wsdl:part name="req" element="um:solicitarActivacionRequest"/>
    </wsdl:message>
     <wsdl:message name="solicitarActivacionResponse">
        <wsdl:part name="res" element="um:solicitarActivacionResponse"/>
    </wsdl:message>
     <wsdl:message name="solicitarReinicioContrasenaRequest">
        <wsdl:part name="req" element="um:solicitarReinicioContrasenaRequest"/>
    </wsdl:message>
     <wsdl:message name="solicitarReinicioContrasenaResponse">
        <wsdl:part name="res" element="um:solicitarReinicioContrasenaResponse"/>
    </wsdl:message>
    <wsdl:message name="registrarContrasenaRequest">
        <wsdl:part name="req" element="um:registrarContrasenaRequest"/>
    </wsdl:message>
     <wsdl:message name="registrarContrasenaResponse">
        <wsdl:part name="res" element="um:registrarContrasenaResponse"/>
    </wsdl:message>
    <wsdl:message name="NMPStandardHeaderReq">
        <wsdl:part name="headerReq" element="nmph:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="NMPStandardHeaderRes">
        <wsdl:part name="headerRes" element="nmph:headerMessageResponse"/>
    </wsdl:message>
    <wsdl:message name="NMPStandardFault">
        <wsdl:part name="fault" element="nmpsm:messageError"/>
    </wsdl:message>
    <wsdl:portType name="NMPUsuariosMonte_PortType">
        <wsdl:operation name="validarDatos">
            <wsdl:input message="tns:validarDatosRequest"/>
            <wsdl:output message="tns:validarDatosResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
        <wsdl:operation name="validarMedioContacto">
            <wsdl:input message="tns:validarMedioContactoRequest"/>
            <wsdl:output message="tns:validarMedioContactoResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
         <wsdl:operation name="actualizarDatos">
            <wsdl:input message="tns:actualizarDatosRequest"/>
            <wsdl:output message="tns:actualizarDatosResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
         <wsdl:operation name="solicitarAlta">
            <wsdl:input message="tns:solicitarAltaRequest"/>
            <wsdl:output message="tns:solicitarAltaResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarActivacion">
            <wsdl:input message="tns:solicitarActivacionRequest"/>
            <wsdl:output message="tns:solicitarActivacionResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarReinicioContrasena">
            <wsdl:input message="tns:solicitarReinicioContrasenaRequest"/>
            <wsdl:output message="tns:solicitarReinicioContrasenaResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
        <wsdl:operation name="registrarContrasena">
            <wsdl:input message="tns:registrarContrasenaRequest"/>
            <wsdl:output message="tns:registrarContrasenaResponse"/>
            <wsdl:fault message="tns:NMPStandardFault" name="usuariosMonteFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <plt:partnerLinkType name="NMPUsuariosMonte_plt">
        <plt:role name="NMPUsuariosMonte_Rol">
            <plt:portType name="tns:NMPUsuariosMonte_PortType"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:binding name="NMPUsuariosMonte_PortTypeSOAP12Binding" type="tns:NMPUsuariosMonte_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validarDatos">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/validarDatos"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validarMedioContacto">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/validarMedioContacto"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="actualizarDatos">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/actualizarDatos"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="solicitarAlta">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/solicitarAlta"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="solicitarActivacion">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/solicitarActivacion"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="solicitarReinicioContrasena">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/solicitarReinicioContrasena"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registrarContrasena">
            <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/registrarContrasena"/>
            <wsdl:input>
                <soap12:body use="literal" parts="req"/>
                <soap12:header message="tns:NMPStandardHeaderReq" part="headerReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="res"/>
                <soap12:header message="tns:NMPStandardHeaderRes" part="headerRes" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap12:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NMPUsuariosMonte_PortTypeSOAP11Binding" type="tns:NMPUsuariosMonte_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validarDatos">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/validarDatos"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validarMedioContacto">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/validarMedioContacto"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="actualizarDatos">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/actualizarDatos"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="solicitarAlta">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/solicitarAlta"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="solicitarActivacion">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/solicitarActivacion"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="solicitarReinicioContrasena">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/solicitarReinicioContrasena"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registrarContrasena">
            <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/UsuariosMonte/registrarContrasena"/>
            <wsdl:input>
                <soap:body use="literal" parts="req"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="res"/>
            </wsdl:output>
            <wsdl:fault name="usuariosMonteFault">
                <soap:fault name="usuariosMonteFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>