SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/UsuariosMonte/Resources/WSDLs/UtileriaTextoDifusaSvcWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/UtileriaTextoDifusa" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/UtileriaTextoDifusa" targetNamespace="http://spring.io/guides/UtileriaTextoDifusa">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/UtileriaTextoDifusa">

    <xs:element name="getSimilitudSimpleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudSimpleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSimilitudParcialRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudParcialResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSimilitudOrdenPalabrasRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudOrdenPalabrasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSimilitudOrdenPalabrasParcialRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudOrdenPalabrasParcialResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSimilitudConjuntoPalabrasRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudConjuntoPalabrasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSimilitudConjuntoPalabrasParcialRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudConjuntoPalabrasParcialResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getSimilitudPesoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena1" type="xs:string"/>
                <xs:element name="cadena2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSimilitudPesoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="similitud" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSimilitudConjuntoPalabrasRequest">
    <wsdl:part element="tns:getSimilitudConjuntoPalabrasRequest" name="getSimilitudConjuntoPalabrasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudParcialResponse">
    <wsdl:part element="tns:getSimilitudParcialResponse" name="getSimilitudParcialResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudOrdenPalabrasRequest">
    <wsdl:part element="tns:getSimilitudOrdenPalabrasRequest" name="getSimilitudOrdenPalabrasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudOrdenPalabrasParcialResponse">
    <wsdl:part element="tns:getSimilitudOrdenPalabrasParcialResponse" name="getSimilitudOrdenPalabrasParcialResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudConjuntoPalabrasParcialResponse">
    <wsdl:part element="tns:getSimilitudConjuntoPalabrasParcialResponse" name="getSimilitudConjuntoPalabrasParcialResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudSimpleRequest">
    <wsdl:part element="tns:getSimilitudSimpleRequest" name="getSimilitudSimpleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudSimpleResponse">
    <wsdl:part element="tns:getSimilitudSimpleResponse" name="getSimilitudSimpleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudOrdenPalabrasResponse">
    <wsdl:part element="tns:getSimilitudOrdenPalabrasResponse" name="getSimilitudOrdenPalabrasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudPesoResponse">
    <wsdl:part element="tns:getSimilitudPesoResponse" name="getSimilitudPesoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudParcialRequest">
    <wsdl:part element="tns:getSimilitudParcialRequest" name="getSimilitudParcialRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudConjuntoPalabrasParcialRequest">
    <wsdl:part element="tns:getSimilitudConjuntoPalabrasParcialRequest" name="getSimilitudConjuntoPalabrasParcialRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudConjuntoPalabrasResponse">
    <wsdl:part element="tns:getSimilitudConjuntoPalabrasResponse" name="getSimilitudConjuntoPalabrasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudOrdenPalabrasParcialRequest">
    <wsdl:part element="tns:getSimilitudOrdenPalabrasParcialRequest" name="getSimilitudOrdenPalabrasParcialRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSimilitudPesoRequest">
    <wsdl:part element="tns:getSimilitudPesoRequest" name="getSimilitudPesoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UtileriaTextoDifusaPort">
    <wsdl:operation name="getSimilitudConjuntoPalabras">
      <wsdl:input message="tns:getSimilitudConjuntoPalabrasRequest" name="getSimilitudConjuntoPalabrasRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudConjuntoPalabrasResponse" name="getSimilitudConjuntoPalabrasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudParcial">
      <wsdl:input message="tns:getSimilitudParcialRequest" name="getSimilitudParcialRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudParcialResponse" name="getSimilitudParcialResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudOrdenPalabras">
      <wsdl:input message="tns:getSimilitudOrdenPalabrasRequest" name="getSimilitudOrdenPalabrasRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudOrdenPalabrasResponse" name="getSimilitudOrdenPalabrasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudOrdenPalabrasParcial">
      <wsdl:input message="tns:getSimilitudOrdenPalabrasParcialRequest" name="getSimilitudOrdenPalabrasParcialRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudOrdenPalabrasParcialResponse" name="getSimilitudOrdenPalabrasParcialResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudConjuntoPalabrasParcial">
      <wsdl:input message="tns:getSimilitudConjuntoPalabrasParcialRequest" name="getSimilitudConjuntoPalabrasParcialRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudConjuntoPalabrasParcialResponse" name="getSimilitudConjuntoPalabrasParcialResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudSimple">
      <wsdl:input message="tns:getSimilitudSimpleRequest" name="getSimilitudSimpleRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudSimpleResponse" name="getSimilitudSimpleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudPeso">
      <wsdl:input message="tns:getSimilitudPesoRequest" name="getSimilitudPesoRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSimilitudPesoResponse" name="getSimilitudPesoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtileriaTextoDifusaPortSoap11" type="tns:UtileriaTextoDifusaPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSimilitudConjuntoPalabras">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudConjuntoPalabrasRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudConjuntoPalabrasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudParcial">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudParcialRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudParcialResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudOrdenPalabras">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudOrdenPalabrasRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudOrdenPalabrasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudOrdenPalabrasParcial">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudOrdenPalabrasParcialRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudOrdenPalabrasParcialResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudConjuntoPalabrasParcial">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudConjuntoPalabrasParcialRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudConjuntoPalabrasParcialResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudSimple">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudSimpleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudSimpleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimilitudPeso">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSimilitudPesoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSimilitudPesoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtileriaTextoDifusaPortService">
    <wsdl:port binding="tns:UtileriaTextoDifusaPortSoap11" name="UtileriaTextoDifusaPortSoap11">
      <soap:address location="http://dev1775-utileriatexto.mybluemix.net:80/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>