SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Sepomex/Resources/WSDLs/CRMServicioCatalogosWSDL.wsdl

<wsdl:definitions name="Catalogos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../Schemas/CRMServiciosPortalMsgSvc.xsd" namespace="http://tempuri.org/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogos_ConsultaEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstados"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstadosResponse"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaDelegacionMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDelegacionMunicipios"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaDelegacionMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaDelegacionMunicipiosResponse"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaCodigosPostales_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCodigosPostales"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaCodigosPostales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCodigosPostalesResponse"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaColonias_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaColonias"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaColonias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaColoniasResponse"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaCampaign_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCampaign"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaCampaign_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCampaignResponse"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaCanales_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCanales"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaCanales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaCanalesResponse"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaListaCampañasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaListaCampañasCliente"/>
  </wsdl:message>
  <wsdl:message name="ICatalogos_ConsultaListaCampañasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaListaCampañasClienteResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICatalogos">
    <wsdl:operation name="ConsultaEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaEstados" message="tns:ICatalogos_ConsultaEstados_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaEstadosResponse" message="tns:ICatalogos_ConsultaEstados_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDelegacionMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaDelegacionMunicipios" message="tns:ICatalogos_ConsultaDelegacionMunicipios_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaDelegacionMunicipiosResponse" message="tns:ICatalogos_ConsultaDelegacionMunicipios_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCodigosPostales">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaCodigosPostales" message="tns:ICatalogos_ConsultaCodigosPostales_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaCodigosPostalesResponse" message="tns:ICatalogos_ConsultaCodigosPostales_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaColonias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaColonias" message="tns:ICatalogos_ConsultaColonias_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaColoniasResponse" message="tns:ICatalogos_ConsultaColonias_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCampaign">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaCampaign" message="tns:ICatalogos_ConsultaCampaign_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaCampaignResponse" message="tns:ICatalogos_ConsultaCampaign_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCanales">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaCanales" message="tns:ICatalogos_ConsultaCanales_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaCanalesResponse" message="tns:ICatalogos_ConsultaCanales_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaListaCampañasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogos/ConsultaListaCampañasCliente" message="tns:ICatalogos_ConsultaListaCampañasCliente_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogos/ConsultaListaCampañasClienteResponse" message="tns:ICatalogos_ConsultaListaCampañasCliente_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogos" type="tns:ICatalogos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaEstados">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaEstados" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDelegacionMunicipios">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaDelegacionMunicipios" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCodigosPostales">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaCodigosPostales" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaColonias">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaColonias" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCampaign">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaCampaign" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCanales">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaCanales" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaListaCampañasCliente">
      <soap:operation soapAction="http://tempuri.org/ICatalogos/ConsultaListaCampañasCliente" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Catalogos">
    <wsdl:port name="BasicHttpBinding_ICatalogos" binding="tns:BasicHttpBinding_ICatalogos">
      <soap:address location="http://dcpimstcrmint1.nmp.com.mx/ServiciosCrm/Nmp.Crm.Servicios.Catalogos.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>