SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Sepomex/Resources/WSDLs/NMPCatalogosSepomexWSDL.wsdl

<definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex" xmlns:con="http://servicios.montedepiedad.com.mx/NMP/Schema/Elementos/NMPCatalogosSepomex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage">
  <types>
    <!--xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/types"
                elementFormDefault="qualified"/-->
    <xsd:schema>
      <xsd:import schemaLocation="../Schemas/NMPCatalogosSepomexSvc.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Elementos/NMPCatalogosSepomex"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
    </xsd:schema>
  </types>
  <message name="headerRequestMessage">
    <part name="headerRequest" element="NMPsh:headerMessage"/>
  </message>
  <message name="headerResponseMessage">
    <part name="headerResponse" element="NMPsh:headerMessageResponse"/>
  </message>
  <message name="catalogoLocalidadRequestMessage">
    <part name="part" element="con:catalogoLocalidadRequest"/>
  </message>
  <message name="catalogoLocalidadResponseMessage">
    <part name="part" element="con:catalogoLocalidadResponse"/>
  </message>
  <message name="catalogoMunicipioRequestMessage">
    <part name="part" element="con:catalogoMunicipioRequest"/>
  </message>
  <message name="catalogoMunicipioResponseMessage">
    <part name="part" element="con:catalogoMunicipioResponse"/>
  </message>
  <message name="catalogoPaisesRequestMessage">
    <part name="part" element="con:catalogoPaisesRequest"/>
  </message>
  <message name="catalogoPaisesResponseMessage">
    <part name="part" element="con:catalogoPaisesResponse"/>
  </message>
  <message name="catalogoCodigoPostalRequestMessge">
    <part name="part" element="con:catalogoCodigoPostalRequest"/>
  </message>
  <message name="catalogoCodigoPostalResponseMessge">
    <part name="part" element="con:catalogoCodigoPostalResponse"/>
  </message>
  <message name="catalogoEstadosRequestMessage">
    <part name="part" element="con:catalogoEstadosRequest"/>
  </message>
  <message name="catalogoEstadosResponseMessage">
    <part name="part" element="con:catalogoEstadosResponse"/>
  </message>
  <message name="catalogoGiroComercialRequestMessage">
    <part name="part" element="con:catalogoGiroComercialRequest"/>
  </message>
  <message name="catalogoGiroComercialResponseMessage">
    <part name="part" element="con:catalogoGiroComercialResponse"/>
  </message>
  <message name="catalogoColoniasRequestMessage">
    <part name="part" element="con:catalogoColoniasRequest"/>
  </message>
  <message name="catalogoColoniasResponseMessage">
    <part name="part" element="con:catalogoColoniasResponse"/>
  </message>
  <message name="catalogoSectorNMPRequestMessage">
    <part name="part" element="con:catalogoSectorNMPRequest"/>
  </message>
  <message name="catalogoSectorNMPResponseMessage">
    <part name="part" element="con:catalogoSectorNMPResponse"/>
  </message>
  <message name="catalogoSepomexFaultMessage">
    <part name="catalogoSepomexFault" element="NMPsm:messageError"/>
  </message>
  <portType name="catalogosSepomex_ptt">
    <operation name="catalogoLocalidad">
      <input message="tns:catalogoLocalidadRequestMessage"/>
      <output message="tns:catalogoLocalidadResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoMunicipio">
      <input message="tns:catalogoMunicipioRequestMessage"/>
      <output message="tns:catalogoMunicipioResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoPaises">
      <input message="tns:catalogoPaisesRequestMessage"/>
      <output message="tns:catalogoPaisesResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoCodigoPostal">
      <input message="tns:catalogoCodigoPostalRequestMessge"/>
      <output message="tns:catalogoCodigoPostalResponseMessge"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoEstados">
      <input message="tns:catalogoEstadosRequestMessage"/>
      <output message="tns:catalogoEstadosResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoGiroComercial">
      <input message="tns:catalogoGiroComercialRequestMessage"/>
      <output message="tns:catalogoGiroComercialResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoColonias">
      <input message="tns:catalogoColoniasRequestMessage"/>
      <output message="tns:catalogoColoniasResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
    <operation name="catalogoSectorNMP">
      <input message="tns:catalogoSectorNMPRequestMessage"/>
      <output message="tns:catalogoSectorNMPResponseMessage"/>
      <fault message="tns:catalogoSepomexFaultMessage" name="catalogoSepomexFault"/>
    </operation>
  </portType>
  <binding name="catalogosSepomexBinding" type="tns:catalogosSepomex_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="catalogoLocalidad">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoLocalidad"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoMunicipio">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoMunicipio"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoPaises">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoPaises"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoCodigoPostal">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoCodigoPostal"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoEstados">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoEstados"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoGiroComercial">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoGiroComercial"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoColonias">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoColonias"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
    <operation name="catalogoSectorNMP">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/NMPCatalogosSepomex/catalogoSectorNMP"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
      <fault name="catalogoSepomexFault">
        <soap:fault name="catalogoSepomexFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="catalogosSepomex_ptt">
    <port name="catalogosSepomex_pttPort" binding="tns:catalogosSepomexBinding">
      <soap:address location=""/>
    </port>
  </service>
</definitions>