SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Sepomex/Resources/WSDLs/SAPCatalogosSepomexWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_CATALOGOS">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_CATALOGOS">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZlmfmRfcCatalogos">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZlmpStrTextoCatalogos">
        <xsd:sequence>
          <xsd:element name="Llave" type="n0:char50"/>
          <xsd:element name="Descri" type="n0:char255"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmfmRfcCatalogos.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZlmfmRfcCatalogos.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmpTtTextoCatalogos">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZlmpStrTextoCatalogos" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZlmfmRfcCatalogos.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ExCatalogo"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZlmfmRfcCatalogos.Exception" type="tns:ZlmfmRfcCatalogos.RfcException"/>
      <xsd:element name="ZlmfmRfcCatalogos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Filtro_1" type="n0:char10" minOccurs="0"/>
            <xsd:element name="Filtro_2" type="n0:char10" minOccurs="0"/>
            <xsd:element name="NomCatalogo" type="n0:char30"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmfmRfcCatalogosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Catalogo" type="tns:ZlmpTtTextoCatalogos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmfmRfcCatalogos">
    <wsdl:part name="parameters" element="tns:ZlmfmRfcCatalogos"/>
  </wsdl:message>
  <wsdl:message name="ZlmfmRfcCatalogosResponse">
    <wsdl:part name="parameter" element="tns:ZlmfmRfcCatalogosResponse"/>
  </wsdl:message>
  <wsdl:message name="ZlmfmRfcCatalogos.Exception">
    <wsdl:part name="ZlmfmRfcCatalogos.Exception" element="tns:ZlmfmRfcCatalogos.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_CATALOGOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_CATALOGOS"/>
    </wsp:Policy>
    <wsdl:operation name="ZlmfmRfcCatalogos">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZlmfmRfcCatalogos"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZlmfmRfcCatalogos"/>
      <wsdl:output message="tns:ZlmfmRfcCatalogosResponse"/>
      <wsdl:fault name="ZlmfmRfcCatalogos.Exception" message="tns:ZlmfmRfcCatalogos.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_CATALOGOS" type="tns:ZLM_WS_CATALOGOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_CATALOGOS"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZlmfmRfcCatalogos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZlmfmRfcCatalogos.Exception">
        <soap:fault name="ZlmfmRfcCatalogos.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_CATALOGOS">
    <wsdl:port name="ZLM_WS_CATALOGOS" binding="tns:ZLM_WS_CATALOGOS">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_catalogos/330/zlm_ws_catalogos/zlm_ws_catalogos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>