SOL4IT - DEV/OSB_Desarrollo_NMP/Contabilidad/Contabilidad/Resources/WSDLs/NMPContabilidadSvcWSDL.wsdl

<definitions name="Contabilidad" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPContabilidad" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPContabilidad" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPContabilidad" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPContabilidad" schemaLocation="../Schemas/NMPContabilidadSvcXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NMPHeaderRequest">
    <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="registrarConceptoContableRequestMessage">
    <wsdl:part name="registrarConceptoContableRequest" element="inp1:registrarConceptoContableRequest"/>
  </wsdl:message>
  <wsdl:message name="registrarConceptoContableResponseMessage">
    <wsdl:part name="registrarConceptoContableResponse" element="inp1:registrarConceptoContableResponse"/>
  </wsdl:message>
  <wsdl:message name="contabilidadFaultMessage">
    <wsdl:part name="contabilidadFault" element="NMPsm:messageError"/>
  </wsdl:message>
  <wsdl:portType name="Contabilidad_ptt">
    <wsdl:operation name="registrarConceptoContable">
      <wsdl:input message="tns:registrarConceptoContableRequestMessage"/>
      <wsdl:output message="tns:registrarConceptoContableResponseMessage"/>
      <wsdl:fault message="tns:contabilidadFaultMessage" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContabilidadBinding" type="tns:Contabilidad_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrarConceptoContable">
      <soap:operation style="document" soapAction="registrarConceptoContable"/>
      <wsdl:input>
        <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contabilidad">
    <wsdl:port name="ContabilidadPort" binding="tns:ContabilidadBinding">
      <soap:address location=""/>
    </wsdl:port>
  </wsdl:service>
</definitions>