SOL4IT - DEV/SOA_Desarrollo/GuardarSolicitudPrj/SOA/Schemas/GuardarSolicitud.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Solicitud/GuardarSolicitud/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Solicitud/GuardarSolicitud/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:tnsi="http://qualitas.com.mx/Importes/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnss="http://qualitas.com.mx/Comun/Servicio/TipoServicio/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <xsd:import namespace="http://qualitas.com.mx/Comun/Servicio/TipoServicio/v1/" schemaLocation="TipoServicio.xsd"/>
   <xsd:import namespace="http://qualitas.com.mx/Importes/v1/" schemaLocation="ImportesOEN.xsd"/>
   <element name="GuardarSolicitudRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="xsdLocal:GuardarSolicitud"/>
         </sequence>
      </complexType>
   </element>
   <element name="GuardarSolicitudResponse">
      <complexType>
         <sequence>
            <element name="idSolicitud" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="GuardarSolicitud">
      <sequence>
         <element name="idSolicitud" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="totalPagar" type="decimal" minOccurs="0" maxOccurs="1"/>
         <element name="idUsuario" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="oficinaDestino" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="servicio" type="tnss:TipoServicio" minOccurs="0" maxOccurs="1"/>
         <element name="importesOEN" type="tnsi:ImportesOEN" minOccurs="1" maxOccurs="unbounded"/>
      </sequence>
   </complexType>
</schema>
