SOL4IT - DEV/SOA_Desarrollo/GuardarSolicitudPrj/SOA/Schemas/TipoServicioData.xsd

<?xml version='1.0' encoding='utf-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="GastosFijos">
      <sequence>
         <element name="centroCosto" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
         <element name="subTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
      </sequence>
   </complexType>
   <complexType name="Operaciones">
      <sequence>
         <element name="centroCosto" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
         <element name="descripcion" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="tipoMoneda" type="int" minOccurs="1" maxOccurs="1"/>
      </sequence>
   </complexType>
   <complexType name="Proyecto">
      <sequence>
         <element name="idProyecto" type="string" minOccurs="1" maxOccurs="1"/>
      </sequence>
   </complexType>
</schema>
