SOL4IT - DEV/Aplicacion_SOA_Qualitas/AsignarContablesPrj/SOA/Schemas/AsignarCuentasContables.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Pagos/CuentasContables/AsignarCuentasContables/v1/" xmlns:xsdLocal="http://qualitas.com.mx/Pagos/CuentasContables/AsignarCuentasContables/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <element name="GuardarSolicitudRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="idSolicitud" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="idUsuario" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="Input" type="xsdLocal:CContables"/>
         </sequence>
      </complexType>
   </element>
   <element name="GuardarSolicitudResponse">
      <complexType>
         <sequence>
            <element name="idCcontable" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="descPago" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="idDescIVA" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccSubtotal" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccIva" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccRetencionISR" type="string" minOccurs="1" maxOccurs="unbounded"/>
            <element name="ccRetencionIVA" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="ccOtrosImpuestos" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="CContables">
      <sequence>
         <element name="descPago" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="idDescIVA" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="ccSubtotal" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="ccIva" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="ccRetencionISR" type="string" minOccurs="1" maxOccurs="1"/>
         <element name="ccRetencionIVA" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="ccOtrosImpuestos" type="string" minOccurs="0" maxOccurs="1"/>
      </sequence>
   </complexType>
</schema>
