SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionCreditos/Creditos/Resources/WSDLs/SAPZlmWsEstadoCuentaWSDL.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions"
                  targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN_ZLM_WS_ESTADO_CUENTA">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                    uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                    xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                    xmlns:wsa="http://www.w3.org/2005/08/addressing"
                    xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZLM_WS_ESTADO_CUENTA">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                                           wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZlmRfcEstadoCuenta">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZlmRfcEstadoCuenta.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZlmRfcEstadoCuenta.RfcExceptions"/>
          <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZlmRfcEstadoCuenta.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ExErrorDatos"/>
          <xsd:enumeration value="ExEstadoCuenta"/>
          <xsd:enumeration value="ExErrorRanl"/>
          <xsd:enumeration value="ExConversion"/>
          <xsd:enumeration value="ExErrorFecha"/>
          <xsd:enumeration value="ExErrorLog"/>
          <xsd:enumeration value="ExErrorOtf"/>
          <xsd:enumeration value="ExErrorPdf"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZlmRfcEstadoCuenta.Exception" type="tns:ZlmRfcEstadoCuenta.RfcException"/>
      <xsd:element name="ZlmRfcEstadoCuenta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Company" type="n0:char4"/>
            <xsd:element name="Contract" type="n0:char13"/>
            <xsd:element name="Month" type="tns:numeric2"/>
            <xsd:element name="Year" type="tns:numeric4"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZlmRfcEstadoCuentaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EstadoDeCuenta" type="tns:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZlmRfcEstadoCuenta">
    <wsdl:part name="parameters" element="tns:ZlmRfcEstadoCuenta"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcEstadoCuentaResponse">
    <wsdl:part name="parameter" element="tns:ZlmRfcEstadoCuentaResponse"/>
  </wsdl:message>
  <wsdl:message name="ZlmRfcEstadoCuenta.Exception">
    <wsdl:part name="ZlmRfcEstadoCuenta.Exception" element="tns:ZlmRfcEstadoCuenta.Exception"/>
  </wsdl:message>
  <wsdl:portType name="ZLM_WS_ESTADO_CUENTA">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZLM_WS_ESTADO_CUENTA"/>
    </wsp:Policy>
    <wsdl:operation name="ZlmRfcEstadoCuenta">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZlmRfcEstadoCuenta"/>
      </wsp:Policy>
      <wsdl:input message="tns:ZlmRfcEstadoCuenta"/>
      <wsdl:output message="tns:ZlmRfcEstadoCuentaResponse"/>
      <wsdl:fault name="ZlmRfcEstadoCuenta.Exception" message="tns:ZlmRfcEstadoCuenta.Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZLM_WS_ESTADO_CUENTA" type="tns:ZLM_WS_ESTADO_CUENTA">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZLM_WS_ESTADO_CUENTA"/>
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters/>
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZlmRfcEstadoCuenta">
      <soap:operation soapAction="ZlmRfcEstadoCuenta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ZlmRfcEstadoCuenta.Exception">
        <soap:fault name="ZlmRfcEstadoCuenta.Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZLM_WS_ESTADO_CUENTA">
    <wsdl:port name="ZLM_WS_ESTADO_CUENTA" binding="tns:ZLM_WS_ESTADO_CUENTA">
      <soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_estado_cuenta/300/zlm_ws_estado_cuenta/zlm_ws_estado_cuenta"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>