SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/AdminPagos/Resources/Schemas/NMPPartidaSaldoTiposXSD.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:NMPPartidaSaldos="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPPartidaSaldos"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPPartidaSaldos"
            elementFormDefault="qualified">
            
      <xsd:complexType name="PartidaSaldosType">
          <xsd:sequence>
            <xsd:element name="folio" type="xsd:long" />
            <xsd:element name="tipoContrato" type="xsd:string" />
            <xsd:element name="sucursal" type="xsd:long" />
            <xsd:element name="transaccion" type="xsd:long" />
            <xsd:element name="idCliente" type="xsd:long" />
            <xsd:element name="aplicarReempeno" type="xsd:boolean" />
            <xsd:element name="prestamoPagado" type="xsd:boolean" />
            <xsd:element name="numRefrendo" type="xsd:int" />
            <xsd:element name="fechaComercializacion" type="xsd:dateTime" />
            <xsd:element name="operacionesBancariasDisponibles" type="NMPPartidaSaldos:OperacionesBancariasType" minOccurs="0"/>
          </xsd:sequence>
	</xsd:complexType>
        
	<xsd:complexType name="OperacionesBancariasType">
		<xsd:sequence>
			<xsd:element name="detalleOperacionBancaria" minOccurs="1" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="idOperacion" type="xsd:long" />
						<xsd:element name="montoMaximo" type="xsd:decimal" />
						<xsd:element name="montoMinimo" type="xsd:decimal" />
						<xsd:element name="nombreOperacion" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>