SOL4IT - DEV/SOA_Desarrollo/EmailRecordatorioPrj/SOA/Schemas/EmailRecordatorioBPEL.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/ActualizarEstadoSolicitudApp/ActualizarEstadoSolicitudPrj/EmailRecordatorio" xmlns:tns="http://qualitas.com.mx/ActualizarEstadoSolicitudApp/ActualizarEstadoSolicitudPrj/EmailRecordatorio" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="emailRequest">
      <complexType>
         <sequence>
            <element name="idSolicitud" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="nombreProceso" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="razonSocial" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="email1" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="email2" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="email3" type="string" minOccurs="0" maxOccurs="1"/>
         </sequence>
      </complexType>
   </element>
   <element name="emailResponse">
      <complexType>
         <sequence>
            <element name="respuesta" type="string" minOccurs="0" maxOccurs="1"/>
         </sequence>
      </complexType>
   </element>
</schema>
