SOL4IT - DEV/OSB_NMP_Actual/PoC/AutosSinResguardo/CalcularPrestamoAutos/Schemas/PrestamoAutos.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:autos="http://www.montepiedad.com.mx/NMP/Prestamo/Autos"
     targetNamespace="http://www.montepiedad.com.mx/NMP/Prestamo/Autos" elementFormDefault="qualified">
    <xsd:element name="obtenerAforoRequest">
        <xsd:annotation>
            <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="calificacion" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="obtenerAforoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="aforo" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="calcularPrestamoRequest">
        <xsd:annotation>
            <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="calificacion" type="xsd:int"/>
                <xsd:element name="avaluo" type="xsd:decimal"/>
                <xsd:element name="sobreAforo" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="calcularPrestamoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="montoPrestamo" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>