SOL4IT - DEV/OSB_Desarrollo/MasterData/Catalog/GPA/Resources/TipoCuentaContableDataSvc.wsdl

<wsdl:definitions name="TipoCuentaContableDataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoCuentaContableDataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoCuentaContableDataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoCuentaContableDataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="TipoCuentaContableDataSvc_plt">
    <plt:role name="TipoCuentaContableDataSvc_role">
      <plt:portType name="tns:TipoCuentaContableDataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoCuentaContableDataSvc" schemaLocation="TipoCuentaContableDataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa004TpCcontablesPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa004TpCcontablesCollection_msg">
        <wsdl:part name="Gpa004TpCcontablesCollection" element="top:Gpa004TpCcontablesCollection"/>
    </wsdl:message>
    <wsdl:portType name="TipoCuentaContableDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa004TpCcontablesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa004TpCcontablesCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>