SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/ListasPreciosRapaport/Resources/WSDLs/SIVAReferenciaDiamanteWSDL.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/datatypes/" xmlns:ns1="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/" name="ReferenciaDiamanteService" targetNamespace="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/datatypes/" elementFormDefault="qualified" targetNamespace="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/datatypes/" version="1.0">
<xs:element name="obtenerModificadorRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="certificadoDiamante" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerModificadorResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="factor" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerValorComercialRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="corte" type="xs:string"/>
<xs:element name="color" type="xs:string"/>
<xs:element name="claridad" type="xs:string"/>
<xs:element name="quilates_ct" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerValorComercialResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="valorComercial" type="tns:ValorComercial"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="ValorComercial">
<xs:sequence>
<xs:element name="valorMinimo" type="xs:decimal"/>
<xs:element name="valorMedio" type="xs:decimal"/>
<xs:element name="valorMaximo" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="obtenerValorComercialResponse">
<wsdl:part element="ns2:obtenerValorComercialResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerModificador">
<wsdl:part element="ns2:obtenerModificadorRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerValorComercial">
<wsdl:part element="ns2:obtenerValorComercialRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerModificadorResponse">
<wsdl:part element="ns2:obtenerModificadorResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ReferenciaDiamanteService">
<wsdl:operation name="obtenerModificador">
<wsdl:input message="ns1:obtenerModificador" name="obtenerModificador"></wsdl:input>
<wsdl:output message="ns1:obtenerModificadorResponse" name="obtenerModificadorResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerValorComercial">
<wsdl:input message="ns1:obtenerValorComercial" name="obtenerValorComercial"></wsdl:input>
<wsdl:output message="ns1:obtenerValorComercialResponse" name="obtenerValorComercialResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
</wsdl:definitions>