SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/WSDLs/GestionCreditoVSR.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCreditoVSR" xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/Data/IniciarGestionBO" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCreditoVSR" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>http://10.30.3.15:8001/soa-infra/services/OPP_CRE_ASR/VehiculosSinResguardoBPM!1.0/WSDLs/GestionCreditoVSR.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="GestionCreditoVSRPortTypePartnerLinkType">
        <plnk:role name="GestionCreditoVSRPortTypeProvider">
            <plnk:portType name="tns:GestionCreditoVSRPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
<wsp:Policy wsu:Id="wsaddr_policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
   <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
</wsp:Policy>    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCreditoVSR">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/IniciarGestionBO" schemaLocation="../Schemas/IniciarGestionBO.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:IniciarGestionBO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:portType name="GestionCreditoVSRPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GestionCreditoVSRPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestionCreditoVSRBinding" type="tns:GestionCreditoVSRPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference URI="#wsaddr_policy" wsdl:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <wsdl:operation name="start">
            <wsdlsoap:operation style="document" soapAction="start"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GestionCreditoVSRPortTypeCallBackBinding" type="tns:GestionCreditoVSRPortTypeCallBack">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="end">
            <wsdlsoap:operation style="document" soapAction="end"/>
            <wsdl:input>
                <wsdlsoap:body use="literal" namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCreditoVSR"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GestionCreditoVSR.service">
        <wsdl:port name="GestionCreditoVSRPort" binding="tns:GestionCreditoVSRBinding">
            <wsdlsoap:address location="http://10.30.3.15:8001/soa-infra/services/OPP_CRE_ASR/VehiculosSinResguardoBPM/GestionCreditoVSR.service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>