SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/WSDLs/NMPCatalogosModeloVSRWSDL.wsdl

<wsdl:definitions name="NMPCatalogoRechazosDB" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:crdb="http://servicios.montedepiedad.com.mx/NMP/Schema/FlujoVehiculosSinResguardo/Catalogos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plt:partnerLinkType name="NMPCatalogosModeloVSR_plt">
    <plt:role name="NMPCatalogoModeloVSR_role">
      <plt:portType name="tns:NMPCatalogosModeloVSR_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/FlujoVehiculosSinResguardo/Catalogos" schemaLocation="../Schemas/NMPCatalogoFlujoVSRXSD.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="obtenerMotivosRechazoRequest">
    <wsdl:part name="request" element="crdb:obtenerMotivosRechazoRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerMotivosRechazoResponse">
    <wsdl:part name="response" element="crdb:obtenerMotivosRechazoResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerEtapasFlujoRequest">
    <wsdl:part name="request" element="crdb:obtenerEtapasFlujoRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerEtapasFlujoResponse">
    <wsdl:part name="response" element="crdb:obtenerEtapasFlujoResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerEstadosSolicitudRequest">
    <wsdl:part name="request" element="crdb:obtenerEstadosSolicitudRequest"/>
  </wsdl:message>
  <wsdl:message name="obtenerEstadosSolicitudResponse">
    <wsdl:part name="response" element="crdb:obtenerEstadosSolicitudResponse"/>
  </wsdl:message>
  <wsdl:portType name="NMPCatalogosModeloVSR_ptt">
    <wsdl:operation name="obtenerMotivosRechazo">
      <wsdl:input message="tns:obtenerMotivosRechazoRequest"/>
      <wsdl:output message="tns:obtenerMotivosRechazoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerEtapasFlujo">
      <wsdl:input message="tns:obtenerEtapasFlujoRequest"/>
      <wsdl:output message="tns:obtenerEtapasFlujoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerEstadosSolicitud">
      <wsdl:input message="tns:obtenerEstadosSolicitudRequest"/>
      <wsdl:output message="tns:obtenerEstadosSolicitudResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NMPCatalogosModeloVSRSOAP12Binding" type="tns:NMPCatalogosModeloVSR_ptt">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerMotivosRechazo">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosD/NMPCatalogoRechazosDBSelect"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEtapasFlujo">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB/obtenerEtapasFlujo"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEstadosSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB/obtenerEstadosSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NMPCatalogosModeloVSRSOAP11Binding" type="tns:NMPCatalogosModeloVSR_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerMotivosRechazo">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB/obtenerMotivosRechazo"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEtapasFlujo">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB/obtenerEtapasFlujo"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEstadosSolicitud">
      <soap:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Service/CatalogoRechazosDB/obtenerEstadosSolicitud"/>
      <wsdl:input>
        <soap:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>