SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/WSDLs/NMPVehiculoSinResguardoWSDL.wsdl

<definitions targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:nmph="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:vsr="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap13="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="../Schemas/NMPVehiculosSinResguardoXSD.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculosSinResguardo"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../Schemas/NMPStandardMessageXSD.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtieneSolicitudesRequest">
    <part name="request" element="vsr:obtenerSolicitudesRequest"/>
  </message>
  <message name="obtieneSolicitudesResponse">
    <part name="response" element="vsr:obtenerSolicitudesResponse"/>
  </message>
  <message name="NMPStandardFault">
    <part name="header" element="nmpsm:messageError"/>
  </message>
  <message name="obtieneMontoPrestamoRequest">
    <part name="request" element="vsr:obtenerMontoPrestamoRequest"/>
  </message>
  <message name="obtieneMontoPrestamoResponse">
    <part name="response" element="vsr:obtenerMontoPrestamoResponse"/>
  </message>
  <message name="generaSolicitudRequest">
    <part name="request" element="vsr:generarSolicitudRequest"/>
  </message>
  <message name="generaSolicitudResponse">
    <part name="response" element="vsr:generarSolicitudResponse"/>
  </message>
  <message name="cancelaSolicitudRequest">
    <part name="request" element="vsr:cancelarSolicitudRequest"/>
  </message>
  <message name="cancelaSolicitudResponse">
    <part name="response" element="vsr:cancelarSolicitudResponse"/>
  </message>
  <message name="consultaSolicitudRequest">
    <part name="request" element="vsr:consultarSolicitudRequest"/>
  </message>
  <message name="consultaSolicitudResponse">
    <part name="response" element="vsr:consultarSolicitudResponse"/>
  </message>
  <message name="analizaCreditoRequest">
    <part name="request" element="vsr:analisisCreditoRequest"/>
  </message>
  <message name="analizaCreditoResponse">
    <part name="response" element="vsr:analisisCreditoResponse"/>
  </message>
  <message name="generaContratoRequest">
    <part name="request" element="vsr:generarContratoRequest"/>
  </message>
  <message name="generaContratoResponse">
    <part name="response" element="vsr:generarContratoResponse"/>
  </message>
  <message name="firmaContratoRequest">
    <part name="request" element="vsr:firmarContratoRequest"/>
  </message>
  <message name="firmaContratoResponse">
    <part name="response" element="vsr:firmarContratoResponse"/>
  </message>
  <message name="actualizarSolicitudRequest">
    <part name="request" element="vsr:actualizarSolicitudRequest"/>
  </message>
  <message name="actualizarSolicitudResponse">
    <part name="response" element="vsr:actualizarSolicitudResponse"/>
  </message>
  <message name="confirmarGeneracionKitRequest">
    <part name="request" element="vsr:confirmarGeneracionKitRequest"/>
  </message>
  <message name="confirmarGeneracionKitResponse">
    <part name="response" element="vsr:confirmarGeneracionKitResponse"/>
  </message>
  <message name="NMPStandardHeaderReq">
    <part name="header" element="nmph:headerMessage"/>
  </message>
  <message name="NMPStandardHeaderRes">
    <part name="header" element="nmph:headerMessageResponse"/>
  </message>
  <portType name="VehiculoSinResguardoPortType">
    <operation name="obtenerSolicitudes">
      <input message="tns:obtieneSolicitudesRequest"/>
      <output message="tns:obtieneSolicitudesResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="obtenerMontoPrestamo">
      <input message="tns:obtieneMontoPrestamoRequest"/>
      <output message="tns:obtieneMontoPrestamoResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="generarSolicitud">
      <input message="tns:generaSolicitudRequest"/>
      <output message="tns:generaSolicitudResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="cancelarSolicitud">
      <input message="tns:cancelaSolicitudRequest"/>
      <output message="tns:cancelaSolicitudResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="consultarSolicitud">
      <input message="tns:consultaSolicitudRequest"/>
      <output message="tns:consultaSolicitudResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="analisisCredito">
      <input message="tns:analizaCreditoRequest"/>
      <output message="tns:analizaCreditoResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="generarContrato">
      <input message="tns:generaContratoRequest"/>
      <output message="tns:generaContratoResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="firmarContrato">
      <input message="tns:firmaContratoRequest"/>
      <output message="tns:firmaContratoResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="actualizarSolicitud">
      <input message="tns:actualizarSolicitudRequest"/>
      <output message="tns:actualizarSolicitudResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="confirmarGeneracionKit">
      <input message="tns:confirmarGeneracionKitRequest"/>
      <output message="tns:confirmarGeneracionKitResponse"/>
      <fault name="vehiculoSinResguardoFault" message="tns:NMPStandardFault"/>
    </operation>
    <operation name="generarGarantia">
      <input message="tns:generarGarantiaRequest"/>
      <output message="tns:generarGarantiaResponse"/>
      <fault message="tns:NMPStandardFault" name="vehiculoSinResguardoFault"/>
    </operation>
  </portType>
  <binding name="VehiculoSinResguardoSOAP12Binding" type="tns:VehiculoSinResguardoPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="obtenerSolicitudes">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/obtenerSolicitudes" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerMontoPrestamo">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/obtenerMontoPrestamo" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="generarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/generarSolicitud" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/cancelarSolicitud" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/consultarSolicitud" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="analisisCredito">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/analisisCredito" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="generarContrato">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/generarContrato" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="firmarContrato">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/firmarContrato" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="confirmarGeneracionKit">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/confirmarGeneracionKit" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizarSolicitud">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/actualizarSolicitud" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="generarGarantia">
      <soap12:operation style="document" soapAction="http://servicios.montedepiedad.com.mx/NMP/Services/VehiculoSinResguardo/generarGarantia" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:NMPStandardHeaderReq" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
        <soap12:header message="tns:NMPStandardHeaderRes" part="header" use="literal"/>
      </output>
      <fault name="vehiculoSinResguardoFault">
        <soap12:fault name="vehiculoSinResguardoFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="VehiculoSinResguardoService">
    <port name="VehiculoSinResguardoPort" binding="tns:VehiculoSinResguardoSOAP12Binding">
      <soap12:address location="http://montedepiedad.com.mx/NMP/OperacionPrendaria/VehiculoSinResguardo"/>
    </port>
  </service>
  <message name="generarGarantiaRequest">
    <part name="request" element="vsr:generarGarantiaRequest"/>
  </message>
  <message name="generarGarantiaResponse">
    <part name="response" element="vsr:generarGarantiaResponse"/>
  </message>
</definitions>