SOL4IT - DEV/OSB_Desarrollo/Commons/Filter/Resources/GestionTrabajoSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://comunes.rt.nmp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://comunes.rt.nmp.com/">
  <xsd:complexType name="continuar"/>
  <xsd:complexType name="continuarResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="encolar">
    <xsd:sequence>
      <xsd:element name="transaccion" type="ns0:transaccionModel" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="encolarResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="liberar"/>
  <xsd:complexType name="confirmarInicio"/>

  <xsd:complexType name="transaccionModel">
    <xsd:sequence>
      <xsd:element name="archivar" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="fechaTransaccion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="id" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reintentos" type="xsd:int" minOccurs="0"/>
      <xsd:element name="reprocesos" type="ns0:reprocesoModel" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="xml" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reprocesoModel">
    <xsd:sequence>
      <xsd:element name="check" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaProceso" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="continuar" type="ns0:continuar"/>
  <xsd:element name="continuarResponse" type="ns0:continuarResponse"/>
  <xsd:element name="encolar" type="ns0:encolar"/>
  <xsd:element name="encolarResponse" type="ns0:encolarResponse"/>
  <xsd:element name="liberar" type="ns0:liberar"/>
  <xsd:element name="confirmarInicio" type="ns0:confirmarInicio"/>

</xsd:schema>