SOL4IT - DEV/OSB_Depurado_SOAINT/MasterData/Catalog/GPA/Resources/ResponsabilidadSolicitudDataSvc.wsdl

<wsdl:definitions name="ResponsabilidadSolicitudDataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/ResponsabilidadSolicitudDataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/ResponsabilidadSolicitudDataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ResponsabilidadSolicitudDataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ResponsabilidadSolicitudDataSvc_plt">
    <plt:role name="ResponsabilidadSolicitudDataSvc_role">
      <plt:portType name="tns:ResponsabilidadSolicitudDataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ResponsabilidadSolicitudDataSvc" schemaLocation="ResponsabilidadSolicitudDataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa017RespSolicitudPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa017RespSolicitudCollection_msg">
        <wsdl:part name="Gpa017RespSolicitudCollection" element="top:Gpa017RespSolicitudCollection"/>
    </wsdl:message>
    <wsdl:portType name="ResponsabilidadSolicitudDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa017RespSolicitudCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa017RespSolicitudCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>