SOL4IT - DEV/OSB_Depurado_SOAINT/MasterData/Catalog/GPA/Resources/TipoServicioDataSvc.wsdl

<wsdl:definitions name="TipoServicioDataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoServicioDataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/CatalogosBase/TipoServicioDataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoServicioDataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="TipoServicioDataSvc_plt">
    <plt:role name="TipoServicioDataSvc_role">
      <plt:portType name="tns:TipoServicioDataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/TipoServicioDataSvc" schemaLocation="TipoServicioDataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa010TipoServicioPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa010TipoServicioCollection_msg">
        <wsdl:part name="Gpa010TipoServicioCollection" element="top:Gpa010TipoServicioCollection"/>
    </wsdl:message>
    <wsdl:portType name="TipoServicioDataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa010TipoServicioCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa010TipoServicioCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>