SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/Schemas/FolioBO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/FolioBO" elementFormDefault="qualified"
     xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/FolioBO" xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
    <xs:complexType name="FolioBOType">
        <xs:sequence>
            <xs:element name="folio" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FolioBO" type="FolioBOType"/>
</xs:schema>