SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/Schemas/NMPSolicitudVSRNXSD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculoSinResguardo/Flujo"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/VehiculoSinResguardo/Flujo" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="actualizarSolicitudRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="folio" type="xsd:string"/>
            <xsd:element name="estadoSolicitud" type="xsd:integer"/>
            <xsd:element name="cliente">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="idCliente" type="xsd:integer"/>
                     <xsd:element name="numeroCredencial" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Vehiculo">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="tipoVehiculo" type="xsd:integer"/>
                     <xsd:element name="vin" type="xsd:string"/>
                     <xsd:element name="serieMotor" type="xsd:string"/>
                     <xsd:element name="placas" type="xsd:string"/>
                     <xsd:element name="marca">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idMarca" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="submarca">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idSubMarca" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="modelo">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idModelo" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="version">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idVersion" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="kilometraje">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idKilometraje" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="complementos">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="complemento">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="idComplemento" type="xsd:integer"/>
                                       <xsd:element name="descripcion" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="color" type="xsd:string"/>
                     <xsd:element name="serieChasis" type="xsd:string"/>
                     <xsd:element name="numeroTarjetaCirculacion" type="xsd:string"/>
                     <xsd:element name="numeroFactura" type="xsd:string"/>
                     <xsd:element name="rfcEmisor" type="xsd:string"/>
                     <xsd:element name="agenciaOrigen" type="xsd:string"/>
                     <xsd:element name="comentarios" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Cotizacion">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="montoAvaluo" type="xsd:double"/>
                     <xsd:element name="montoMaximoPrestamo" type="xsd:double"/>
                     <xsd:element name="montoPrestamoSolicitado" type="xsd:double"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Documentos">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="documentos" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="proceso" type="xsd:string"/>
                              <xsd:element name="documento">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="nombre" type="xsd:string"/>
                                       <xsd:element name="size" type="xsd:integer"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="tipo" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="BusinessWorkspace">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="numero" type="xsd:string"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="parentGroup" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=/C:/SPS/Proyectos/NMP/Ambientes/DEV/DevServiceBusApplication/OperacionCreditos/VehiculoSinResguardo/Resources/Schemas/JSONEjemplo.json</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=/C:/SPS/Proyectos/NMP/Ambientes/DEV/DevServiceBusApplication/OperacionCreditos/VehiculoSinResguardo/Resources/Schemas/JSONEjemplo.json</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
   <xsd:element name="IniciarFlujoVehiculoSinResguardoRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="folio" type="xsd:string"/>
            <xsd:element name="estadoSolicitud" type="xsd:integer"/>
            <xsd:element name="cliente">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="idCliente" type="xsd:integer"/>
                     <xsd:element name="numeroCredencial" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Vehiculo">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="tipoVehiculo" type="xsd:integer"/>
                     <xsd:element name="vin" type="xsd:string"/>
                     <xsd:element name="serieMotor" type="xsd:string"/>
                     <xsd:element name="placas" type="xsd:string"/>
                     <xsd:element name="marca">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idMarca" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="submarca">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idSubMarca" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="modelo">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idModelo" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="version">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idVersion" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="kilometraje">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idKilometraje" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="complementos">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="complemento">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="idComplemento" type="xsd:integer"/>
                                       <xsd:element name="descripcion" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="color" type="xsd:string"/>
                     <xsd:element name="serieChasis" type="xsd:string"/>
                     <xsd:element name="numeroTarjetaCirculacion" type="xsd:string"/>
                     <xsd:element name="numeroFactura" type="xsd:string"/>
                     <xsd:element name="rfcEmisor" type="xsd:string"/>
                     <xsd:element name="agenciaOrigen" type="xsd:string"/>
                     <xsd:element name="comentarios" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Cotizacion">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="montoAvaluo" type="xsd:double"/>
                     <xsd:element name="montoMaximoPrestamo" type="xsd:double"/>
                     <xsd:element name="montoPrestamoSolicitado" type="xsd:double"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Documentos">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="documentos" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="proceso" type="xsd:string"/>
                              <xsd:element name="documento">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="nombre" type="xsd:string"/>
                                       <xsd:element name="size" type="xsd:integer"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="tipo" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="BusinessWorkspace">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="numero" type="xsd:string"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="parentGroup" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>