SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/VehiculoSinResguardo/Resources/Schemas/NMPVehiculoXSDBPM.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPVehiculoBPM" elementFormDefault="qualified"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NMPVeh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPVehiculoBPM">
    <xsd:element name="equipoAdicional">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="descripcion">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="marca" type="NMPVeh:marcaVehiculoType"/>
    <xsd:element name="submarca" type="NMPVeh:subMarcaVehiculoType"/>
    <xsd:element name="modelo" type="NMPVeh:modeloVehiculoType"/>
    <xsd:element name="version" type="NMPVeh:versionVehiculoType"/>
    <xsd:element name="kilometraje" type="NMPVeh:kilometrajeVehiculoType"/>
    <xsd:element name="complementos" type="NMPVeh:complementosVehiculoType"/>
    <xsd:element name="vin">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:length value="17"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="serieMotor">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="placas">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="color">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="serieChasis">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="numeroTarjetaVerificacion" type="xsd:string"/>
    <xsd:element name="numeroTarjetaCirculacion" type="xsd:string"/>
    <xsd:element name="numeroFactura" type="xsd:string"/>
    <xsd:element name="rfcEmisor" type="xsd:string"/>
    <xsd:element name="agenciaOrigen" type="xsd:string"/>
    <xsd:element name="comentarios">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="500"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="tipoVehiculo" type="NMPVeh:tipoVehiculoType"/>
    <xsd:element name="idMarca" nillable="true" type="xsd:long"/>
    <xsd:element name="descripcionMarca" type="xsd:string"/>
    <xsd:element name="idSubMarca" nillable="true" type="xsd:long"/>
    <xsd:element name="descripcionSubMarca" type="xsd:string"/>
    <xsd:element name="idModelo" nillable="true" type="xsd:long"/>
    <xsd:element name="descripcionModelo" type="xsd:string"/>
    <xsd:element name="idVersion" nillable="true" type="xsd:long"/>
    <xsd:element name="descripcionVersion" type="xsd:string"/>
    <xsd:element name="idKilometraje" nillable="true" type="xsd:long"/>
    <xsd:element name="descripcionKilometraje" type="xsd:string"/>
    <xsd:element name="idComplemento" nillable="true" type="xsd:long"/>
    <xsd:complexType name="vehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:tipoVehiculo"/>
            <xsd:element ref="NMPVeh:vin"/>
            <xsd:element ref="NMPVeh:serieMotor"/>
            <xsd:element ref="NMPVeh:placas"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NMPVeh:marca"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NMPVeh:submarca"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NMPVeh:modelo"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NMPVeh:version"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NMPVeh:kilometraje"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="NMPVeh:complementos"/>
            <xsd:element ref="NMPVeh:color"/>
            <xsd:element ref="NMPVeh:serieChasis"/>
            <xsd:element ref="NMPVeh:numeroTarjetaCirculacion"/>
            <xsd:element ref="NMPVeh:numeroFactura"/>
            <xsd:element ref="NMPVeh:rfcEmisor"/>
            <xsd:element ref="NMPVeh:agenciaOrigen"/>
            <xsd:element ref="NMPVeh:comentarios"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="vehiculoModeloDBType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:vin"/>
            <xsd:element ref="NMPVeh:serieMotor"/>
            <xsd:element minOccurs="0" ref="NMPVeh:tipoVehiculo"/>
            <xsd:element minOccurs="0" ref="NMPVeh:placas"/>
            <xsd:element minOccurs="0" ref="NMPVeh:descripcionMarca"/>
            <xsd:element minOccurs="0" ref="NMPVeh:idMarca"/>
            <xsd:element minOccurs="0" ref="NMPVeh:descripcionSubMarca"/>
            <xsd:element minOccurs="0" ref="NMPVeh:idSubMarca"/>
            <xsd:element minOccurs="0" ref="NMPVeh:descripcionModelo"/>
            <xsd:element minOccurs="0" ref="NMPVeh:idModelo"/>
            <xsd:element minOccurs="0" ref="NMPVeh:descripcionVersion"/>
            <xsd:element minOccurs="0" ref="NMPVeh:idVersion"/>
            <xsd:element minOccurs="0" ref="NMPVeh:descripcionKilometraje"/>
            <xsd:element minOccurs="0" ref="NMPVeh:idKilometraje"/>
            <xsd:element minOccurs="0" ref="NMPVeh:color"/>
            <xsd:element minOccurs="0" ref="NMPVeh:serieChasis"/>
            <xsd:element minOccurs="0" ref="NMPVeh:numeroTarjetaCirculacion"/>
            <xsd:element minOccurs="0" ref="NMPVeh:numeroFactura"/>
            <xsd:element minOccurs="0" ref="NMPVeh:rfcEmisor"/>
            <xsd:element minOccurs="0" ref="NMPVeh:agenciaOrigen"/>
            <xsd:element minOccurs="0" ref="NMPVeh:comentarios"/>
            <xsd:element name="creadoPor" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="fechaCreacion" type="xsd:dateTime" minOccurs="0" nillable="true"/>
            <xsd:element name="actualizadoPor" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="fechaActualizacion" type="xsd:dateTime" minOccurs="0" nillable="true"/>
            <xsd:element name="nmpGrupoComplementosCollection" type="NMPVeh:complementosVehiculoType"
                 minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="marcaVehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:idMarca"/>
            <xsd:element ref="NMPVeh:descripcion" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="subMarcaVehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:idSubMarca"/>
            <xsd:element ref="NMPVeh:descripcion" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="modeloVehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:idModelo"/>
            <xsd:element ref="NMPVeh:descripcion" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="kilometrajeVehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:idKilometraje"/>
            <xsd:element ref="NMPVeh:descripcion" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="versionVehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:idVersion"/>
            <xsd:element ref="NMPVeh:descripcion" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="complementosVehiculoType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="complemento" nillable="true" type="NMPVeh:complementoVehiculoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="complementoVehiculoType">
        <xsd:sequence>
            <xsd:element ref="NMPVeh:idComplemento"/>
            <xsd:element ref="NMPVeh:descripcion" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="tipoVehiculoType">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="1" id="AUTO"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="arrayOfMarcas">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="marca" nillable="true" type="NMPVeh:autoResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="arrayOfSubMarcas">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="subMarca" nillable="true" type="NMPVeh:autoResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="arrayOfModelos">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="modelo" nillable="true" type="NMPVeh:autoResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="arrayOfVersiones">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="version" nillable="true" type="NMPVeh:autoResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="arrayOfComplementos">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="complemento" nillable="true" type="NMPVeh:autoResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="arrayOfKilometrajes">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="kilometraje" nillable="true" type="NMPVeh:autoResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="autoResponseType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="avaluo" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>