SOL4IT - DEV/OSB_Desarrollo_NMP/Utileria/MensajeriaUtil/Resources/Schemas/TPInsertaMensajesXSD.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><xs:schema xmlns:tns="http://services.montepiedad.tpmex.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.montepiedad.tpmex.com/">

<xs:element name="insertaMensajesALL" type="tns:insertaMensajesALL" />

<xs:element name="insertaMensajesALLResponse" type="tns:insertaMensajesALLResponse" />

<xs:complexType name="insertaMensajesALL">
<xs:sequence>
<xs:element name="smsCellNumbers" type="xs:string" minOccurs="0" />
<xs:element name="smsMessage" type="xs:string" minOccurs="0" />
<xs:element name="smsUser" type="xs:string" minOccurs="0" />
<xs:element name="smsPass" type="xs:string" minOccurs="0" />
<xs:element name="smsLeadKey" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertaMensajesALLResponse">
<xs:sequence>
<xs:element name="return" type="tns:myStruct" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="myStruct">
<xs:sequence>
<xs:element name="code" type="xs:int" />
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>