SOL4IT - DEV/VisualizacionComposite/Finance/AP/GPA/Data/Resources/Pagos/GestionOrdenPago.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comunes/gestionOrdenPagoSchema/v1/" xmlns:tns="http://qualitas.com.mx/Comunes/gestionOrdenPagoSchema/v1/" xmlns:tnsq="http://qualitas.com.mx/comunes/objetosComunes/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://qualitas.com.mx/comunes/objetosComunes/v1/" schemaLocation="objetosComunes.xsd"/>
   <element name="consultarOrdenPagoRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="tns:consultarOrdenPagoReq"/>
         </sequence>
      </complexType>
   </element>
   <element name="consultarOrdenPagoResponse">
      <complexType>
         <sequence>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
            <element name="Output" type="tns:consultarOrdenPagoRes"/>
         </sequence>
      </complexType>
   </element>
   <element name="guardarOrdenPagoRequest">
      <complexType>
         <sequence>
            <element name="OperationRequest" type="tnsq:HeaderInformationRequest"/>
            <element name="Input" type="tns:guardarOrdenPagoReq"/>
         </sequence>
      </complexType>
   </element>
   <element name="guardarOrdenPagoResponse">
      <complexType>
         <sequence>
            <element name="OperationResponse" type="tnsq:OperationResponse"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="consultarOrdenPagoReq">
      <sequence>
         <element name="numOrdenPago" type="string"/>
      </sequence>
   </complexType>
   <complexType name="consultarOrdenPagoRes">
      <sequence>
         <element name="numOrden" type="string"/>
         <element name="numCaratula" type="int"/>
         <element name="estadoPago" type="int"/>
      </sequence>
   </complexType>
   <complexType name="guardarOrdenPagoReq">
      <sequence>
         <element name="ctaPagos" type="tns:cuentaPago" minOccurs="0" maxOccurs="unbounded"/>
         <element name="cveBen" type="string"/>
         <element name="monePag" type="string"/>
         <element name="observ" type="string"/>
         <element name="ofnaPag" type="string"/>
         <element name="tipBen" type="string"/>
         <element name="usuario" type="string"/>
         <element name="id_solicitud" type="string"/>
      </sequence>
   </complexType>
   <complexType name="cuentaPago">
      <sequence>
         <element name="ctaPago" type="string"/>
         <element name="cveOficinaMov" type="string"/>
         <element name="descMov" type="string"/>
         <element name="importe" type="string"/>
         <element name="tipMov" type="string"/>
         <element name="varCta" type="string"/>
      </sequence>
   </complexType>
</schema>