SOL4IT - DEV/OSB_NMP_Actual/GestionIdentidades/CRM/Resources/WSDL/CRMServiceWSDL.wsdl

<wsdl:definitions name="CRMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="../XSD/CRMIdmElementsXSD.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="../XSD/CRMIdmSerializacionXSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="../XSD/CRMIdmTypesXSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Modelo.Clases"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMCrUpDel_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_BajaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaUsuario"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_BajaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_ReactivarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ReactivarUsuario"/>
  </wsdl:message>
  <wsdl:message name="ICRMCrUpDel_ReactivarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReactivarUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetUnidadesNegocio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnidadesNegocio"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetUnidadesNegocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnidadesNegocioResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetOrganizaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizaciones"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetOrganizaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizacionesResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_ConsultaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaUsuario"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_ConsultaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarios"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetSucursales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSucursales"/>
  </wsdl:message>
  <wsdl:message name="ICRMRetrieveInfo_GetSucursales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSucursalesResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICRMCrUpDel">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMCrUpDel/CrearUsuario" message="tns:ICRMCrUpDel_CrearUsuario_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMCrUpDel/CrearUsuarioResponse" message="tns:ICRMCrUpDel_CrearUsuario_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMCrUpDel/ModificarUsuario" message="tns:ICRMCrUpDel_ModificarUsuario_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMCrUpDel/ModificarUsuarioResponse" message="tns:ICRMCrUpDel_ModificarUsuario_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="BajaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMCrUpDel/BajaUsuario" message="tns:ICRMCrUpDel_BajaUsuario_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMCrUpDel/BajaUsuarioResponse" message="tns:ICRMCrUpDel_BajaUsuario_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ReactivarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMCrUpDel/ReactivarUsuario" message="tns:ICRMCrUpDel_ReactivarUsuario_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMCrUpDel/ReactivarUsuarioResponse" message="tns:ICRMCrUpDel_ReactivarUsuario_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICRMRetrieveInfo">
    <wsdl:operation name="GetUnidadesNegocio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetUnidadesNegocio" message="tns:ICRMRetrieveInfo_GetUnidadesNegocio_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetUnidadesNegocioResponse" message="tns:ICRMRetrieveInfo_GetUnidadesNegocio_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetOrganizaciones" message="tns:ICRMRetrieveInfo_GetOrganizaciones_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetOrganizacionesResponse" message="tns:ICRMRetrieveInfo_GetOrganizaciones_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetRoles" message="tns:ICRMRetrieveInfo_GetRoles_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetRolesResponse" message="tns:ICRMRetrieveInfo_GetRoles_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/ConsultaUsuario" message="tns:ICRMRetrieveInfo_ConsultaUsuario_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/ConsultaUsuarioResponse" message="tns:ICRMRetrieveInfo_ConsultaUsuario_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetUsuarios" message="tns:ICRMRetrieveInfo_GetUsuarios_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetUsuariosResponse" message="tns:ICRMRetrieveInfo_GetUsuarios_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetSucursales">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetSucursales" message="tns:ICRMRetrieveInfo_GetSucursales_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMRetrieveInfo/GetSucursalesResponse" message="tns:ICRMRetrieveInfo_GetSucursales_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRMCrUpDel" type="tns:ICRMCrUpDel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/ICRMCrUpDel/CrearUsuario" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICRMCrUpDel/ModificarUsuario" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaUsuario">
      <soap:operation soapAction="http://tempuri.org/ICRMCrUpDel/BajaUsuario" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICRMCrUpDel/ReactivarUsuario" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICRMRetrieveInfo" type="tns:ICRMRetrieveInfo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetUnidadesNegocio">
      <soap:operation soapAction="http://tempuri.org/ICRMRetrieveInfo/GetUnidadesNegocio" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizaciones">
      <soap:operation soapAction="http://tempuri.org/ICRMRetrieveInfo/GetOrganizaciones" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/ICRMRetrieveInfo/GetRoles" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuario">
      <soap:operation soapAction="http://tempuri.org/ICRMRetrieveInfo/ConsultaUsuario" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/ICRMRetrieveInfo/GetUsuarios" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSucursales">
      <soap:operation soapAction="http://tempuri.org/ICRMRetrieveInfo/GetSucursales" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMService">
    <wsdl:port name="BasicHttpBinding_ICRMCrUpDel" binding="tns:BasicHttpBinding_ICRMCrUpDel">
      <soap:address location="http://172.22.0.17/IMOCRMServices/CRMService.svc"/>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICRMRetrieveInfo" binding="tns:BasicHttpBinding_ICRMRetrieveInfo">
      <soap:address location="http://172.22.0.17/IMOCRMServices/CRMService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>