SOL4IT - DEV/OSB_Desarrollo_NMP/BuroCredito/Resources/WSDL/BuroCreditoSvcWSDL.wsdl

<wsdl:definitions name="BuroCreditoSvcWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:inp3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" schemaLocation="../XSD/BuroCreditoSvcXSD.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../Common/XSD/NMPStandardMessage.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../Common/XSD/NMPStandardHeader.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestConsultaAutenticaMessage">
        <wsdl:part name="consultaBCRequest" element="tns:consultaBCRequest"/>
    </wsdl:message>
    <wsdl:message name="responseConsultaAutenticaMessage">
        <wsdl:part name="consultaBCResponse" element="tns:consultaBCResponse"/>
    </wsdl:message>
    <wsdl:message name="faultConsultaAutenticaMessage">
        <wsdl:part name="consultaBCFault" element="inp2:messageError"/>
    </wsdl:message>
    <wsdl:message name="requestConsultaVigenteMessage">
        <wsdl:part name="consultaVigenteBCRequest" element="tns:consultaVigenteBCRequest"/>
    </wsdl:message>
    <wsdl:message name="responseConsultaVigenteMessage">
        <wsdl:part name="consultaVigenteBCResponse" element="tns:consultaVigenteBCResponse"/>
    </wsdl:message>
    <wsdl:message name="faultConsultaVigenteMessage">
        <wsdl:part name="consultaVigenteBCFault" element="inp2:messageError"/>
    </wsdl:message>
    <wsdl:message name="requestConsultaAutografaMessage">
        <wsdl:part name="consultaAutografaBCRequest" element="tns:consultaAutografaBCRequest"/>
    </wsdl:message>
    <wsdl:message name="responseConsultaAutografaMessage">
        <wsdl:part name="consultaAutografaBCResponse" element="tns:consultaAutografaBCResponse"/>
    </wsdl:message>
    <wsdl:message name="faultConsultaAutografaMessage">
        <wsdl:part name="consultaAutografaBCFault" element="tns:consultaAutografaBCFault"/>
    </wsdl:message>
    <wsdl:message name="NMPHeaderRequest">
        <wsdl:part name="requestHeader" element="inp3:headerMessage"/>
    </wsdl:message>
    <wsdl:portType name="BuroCredito_ptt">
        <wsdl:operation name="getConsultaBC">
            <wsdl:input message="tns:requestConsultaAutenticaMessage"/>
            <wsdl:output message="tns:responseConsultaAutenticaMessage"/>
            <wsdl:fault name="faultConsultaBC" message="tns:faultConsultaAutenticaMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getConsultaVigenteBC">
            <wsdl:input message="tns:requestConsultaVigenteMessage"/>
            <wsdl:output message="tns:responseConsultaVigenteMessage"/>
            <wsdl:fault name="faultConsultaVigenteBC" message="tns:faultConsultaVigenteMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getConsultaAutografaBC">
            <wsdl:input message="tns:requestConsultaAutografaMessage"/>
            <wsdl:output message="tns:responseConsultaAutografaMessage"/>
            <wsdl:fault name="faultConsultaAutografaBC" message="tns:faultConsultaAutografaMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BuroCreditoBinding" type="tns:BuroCredito_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getConsultaBC">
            <soap:operation style="document" soapAction="getConsultaBC"/>
            <wsdl:input>
                <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </wsdl:output>
            <wsdl:fault name="faultConsultaBC">
                <soap:fault name="faultConsultaBC" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConsultaVigenteBC">
            <soap:operation style="document" soapAction="getConsultaVigenteBC"/>
            <wsdl:input>
                <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </wsdl:output>
            <wsdl:fault name="faultConsultaVigenteBC">
                <soap:fault name="faultConsultaVigenteBC" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConsultaAutografaBC">
            <soap:operation style="document" soapAction="getConsultaAutografaBC"/>
            <wsdl:input>
                <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </wsdl:output>
            <wsdl:fault name="faultConsultaAutografaBC">
                <soap:fault name="faultConsultaAutografaBC" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BuroCredito">
        <wsdl:port name="BuroCreditoPort" binding="tns:BuroCreditoBinding">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>