SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Prestamo/Resources/WSDLs/PrestamoWSDL.wsdl

<definitions name="Prestamo" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/NMPPrestamo" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/NMPPrestamo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPPrestamo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
    <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPPrestamo" schemaLocation="../Schemas/PrestamoSvcXSD.xsd"/>
    <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
    </wsdl:types>
  
  <wsdl:message name="NMPHeaderRequest">
        <wsdl:part name="requestHeader" element="NMPsh:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="updatePrestamoRequestMessage">
        <wsdl:part name="updatePrestamoRequest" element="inp1:updatePrestamoRequest"/>
    </wsdl:message>
    <wsdl:message name="updatePrestamoResponseMessage">
        <wsdl:part name="updatePrestamoResponse" element="inp1:updatePrestamoResponse"/>
    </wsdl:message>   
    
    <wsdl:message name="prestamoFaultMessage">
        <wsdl:part name="prestamoFault" element="NMPsm:messageError"/>
    </wsdl:message>
    
    <wsdl:portType name="Prestamo_ptt">
        <wsdl:operation name="updatePrestamo">
            <wsdl:input message="tns:updatePrestamoRequestMessage"/>
            <wsdl:output message="tns:updatePrestamoResponseMessage"/>
            <wsdl:fault message="tns:prestamoFaultMessage" name="Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="PrestamoBinding" type="tns:Prestamo_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updatePrestamo">
            <soap:operation style="document" soapAction="updatePrestamo"/>
            <wsdl:input>
                <soap:header message="tns:NMPHeaderRequest" part="requestHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>     
    </wsdl:binding>
    
    <wsdl:service name="Prestamo">
        <wsdl:port name="PrestamoPort" binding="tns:PrestamoBinding">
        <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>

</definitions>