SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/ListasPreciosRapaport/Resources/WSDLs/MIDASReferenciaListasDiamantesWSDL.wsdl

<!--
(c) Nacional Monte de Piedad
2016-11-10
Tablas de Referencia Diamantes
 --><wsdl:definitions targetNamespace="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/listas/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:referencia="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/listas/" xmlns:datatypes="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/listas/datatypes/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <s:schema targetNamespace="http://nmp.com.mx/ms/sivad/referencia/ws/diamantes/listas/datatypes/" attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <s:include schemaLocation="../Schemas/MIDASReferenciaListasDiamantesXSD.xsd"/>
        </s:schema>
    </wsdl:types>

    <wsdl:message name="ActualizarListaValorComercialIn">
        <wsdl:part name="parameters" element="datatypes:actualizarListaValorComercialRequest"/>
    </wsdl:message>
    <wsdl:message name="ActualizarListaValorComercialOut">
        <wsdl:part name="parameters" element="datatypes:actualizarListaValorComercialResponse"/>
    </wsdl:message>
    <wsdl:message name="ActualizarListaFactorIn">
        <wsdl:part name="parameters" element="datatypes:actualizarListaFactorRequest"/>
    </wsdl:message>
    <wsdl:message name="ActualizarListaFactorOut">
        <wsdl:part name="parameters" element="datatypes:actualizarListaFactorResponse"/>
    </wsdl:message>

    <wsdl:portType name="ReferenciaListasDiamanteService">
        <wsdl:operation name="actualizarListaValorComercial">
            <wsdl:input message="referencia:ActualizarListaValorComercialIn"/>
            <wsdl:output message="referencia:ActualizarListaValorComercialOut"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarListaFactor">
            <wsdl:input message="referencia:ActualizarListaFactorIn"/>
            <wsdl:output message="referencia:ActualizarListaFactorOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ReferenciaListasDiamanteService" type="referencia:ReferenciaListasDiamanteService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="actualizarListaValorComercial">
            <soap:operation soapAction="http://nmp.com.mx/ms/referencia/ws/diamantes/listas/actualizarListaValorComercial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarListaFactor">
            <soap:operation soapAction="http://nmp.com.mx/ms/referencia/ws/diamantes/listas/actualizarListaFactor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ReferenciaListasDiamante">
        <wsdl:port name="ReferenciaListasDiamanteService" binding="referencia:ReferenciaListasDiamanteService">
            <soap:address location="http://localhost:8080/soap-api/ReferenciaListasDiamanteService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>