SOL4IT - DEV/OSB_NMP_Actual/OperacionPrendaria/ListasPreciosRapaport/Resources/WSDLs/SIVAReferenciaAlhajaWSDL.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://nmp.com.mx/ms/sivad/referencia/ws/alhajas/datatypes/" xmlns:ns1="http://nmp.com.mx/ms/sivad/referencia/ws/alhajas/" name="ReferenciaAlhajaService" targetNamespace="http://nmp.com.mx/ms/sivad/referencia/ws/alhajas/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nmp.com.mx/ms/sivad/referencia/ws/alhajas/datatypes/" elementFormDefault="qualified" targetNamespace="http://nmp.com.mx/ms/sivad/referencia/ws/alhajas/datatypes/" version="1.0">
<xs:element name="obtenerDesplazamientoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="metal" type="xs:string"/>
<xs:element name="calidad" type="xs:string"/>
<xs:element name="rango" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerDesplazamientoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="desplazamiento" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerFactorRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="metal" type="xs:string"/>
<xs:element name="calidad" type="xs:string"/>
<xs:element name="rango" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerFactorResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="factor" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerLimitesIncrementoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="metal" type="xs:string"/>
<xs:element name="calidad" type="xs:string"/>
<xs:element name="rango" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerLimitesIncrementoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="limitesIncremento" type="tns:RangoLimite"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerValorGramoMetalRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="metal" type="xs:string"/>
<xs:element name="calidad" type="xs:string"/>
<xs:element name="rango" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerValorGramoMetalResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="precioPorGramo" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerValorGramoOroRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="color" type="xs:string"/>
<xs:element name="calidad" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="obtenerValorGramoOroResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="precioPorGramo" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="RangoLimite">
<xs:sequence>
<xs:element name="limiteInferior" type="xs:decimal"/>
<xs:element name="limiteSuperior" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="obtenerValorGramoOroResponse">
<wsdl:part element="ns2:obtenerValorGramoOroResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerLimitesIncrementoResponse">
<wsdl:part element="ns2:obtenerLimitesIncrementoResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerValorGramoMetal">
<wsdl:part element="ns2:obtenerValorGramoMetalRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerValorGramoMetalResponse">
<wsdl:part element="ns2:obtenerValorGramoMetalResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerValorGramoOro">
<wsdl:part element="ns2:obtenerValorGramoOroRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerDesplazamiento">
<wsdl:part element="ns2:obtenerDesplazamientoRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerLimitesIncremento">
<wsdl:part element="ns2:obtenerLimitesIncrementoRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerFactor">
<wsdl:part element="ns2:obtenerFactorRequest" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerFactorResponse">
<wsdl:part element="ns2:obtenerFactorResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="obtenerDesplazamientoResponse">
<wsdl:part element="ns2:obtenerDesplazamientoResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ReferenciaAlhajaService">
<wsdl:operation name="obtenerValorGramoOro">
<wsdl:input message="ns1:obtenerValorGramoOro" name="obtenerValorGramoOro"></wsdl:input>
<wsdl:output message="ns1:obtenerValorGramoOroResponse" name="obtenerValorGramoOroResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerDesplazamiento">
<wsdl:input message="ns1:obtenerDesplazamiento" name="obtenerDesplazamiento"></wsdl:input>
<wsdl:output message="ns1:obtenerDesplazamientoResponse" name="obtenerDesplazamientoResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerLimitesIncremento">
<wsdl:input message="ns1:obtenerLimitesIncremento" name="obtenerLimitesIncremento"></wsdl:input>
<wsdl:output message="ns1:obtenerLimitesIncrementoResponse" name="obtenerLimitesIncrementoResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerFactor">
<wsdl:input message="ns1:obtenerFactor" name="obtenerFactor"></wsdl:input>
<wsdl:output message="ns1:obtenerFactorResponse" name="obtenerFactorResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="obtenerValorGramoMetal">
<wsdl:input message="ns1:obtenerValorGramoMetal" name="obtenerValorGramoMetal"></wsdl:input>
<wsdl:output message="ns1:obtenerValorGramoMetalResponse" name="obtenerValorGramoMetalResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
</wsdl:definitions>