SOL4IT - DEV/OSB_Desarrollo_NMP/InversionSocial/ProcesosDonataria/Resources/Schemas/NMPProcesoRegistroDonatariaSvcXSD.xsd

<xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/Proceso/Registro/Donataria/v1" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NMPPRegistroD="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/Proceso/Registro/Donataria/v1" xmlns:NMPDonataria="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/v1" xmlns:NMPActaConstitutiva="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/ActaConstitutiva/v1" xmlns:NMPConsejero="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/Consejero/v1" xmlns:NMPDatosContacto="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/DatosContacto/v1" xmlns:NMPInformacionFinanciera="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/InformacionFinanciera/v1" xmlns:NMPPoblacionAtendida="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/PoblacionAtendida/v1" xmlns:NMPRepresentanteLegal="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/RepresentanteLegal/v1" xmlns:NMPDocumento="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Documento/v1" xmlns:NMPComun="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun" xmlns:NMPCuentaUsuario="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/CuentaUsuario/v1" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:NMPInformacionGeneral="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/InformacionGeneral/v1">
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPDonatariaXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/ActaConstitutiva/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPActaConstitutivaXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/Consejero/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPConsejeroXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/DatosContacto/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPDatosContactoXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/InformacionFinanciera/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPInformacionFinancieraXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/PoblacionAtendida/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPPoblacionAtendidaXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/RepresentanteLegal/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPRepresentanteLegalXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Documento/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPDocumentoXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/CuentaUsuario/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPCuentaUsuarioXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/InformacionGeneral/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPInformacionGeneralXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun" schemaLocation="../../../../Common/XSD/NMPComun_TIPOS.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
  <xsd:complexType name="DonatariaRegistroType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:rfc" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPDonataria:figuraJuridica" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPInformacionGeneral:nombreDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CuentaUsuarioRegistroType">
    <xsd:sequence>
      <xsd:element ref="NMPCuentaUsuario:alias" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPComun:direccionCorreo" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPCuentaUsuario:contrasenia" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
   <xsd:complexType name="CuentaUsuarioConsultaType">
    <xsd:sequence>      
      <xsd:element ref="NMPCuentaUsuario:alias" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPComun:direccionCorreo" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="RegistrarCuentaDonatariaRequest" type="NMPPRegistroD:RegistrarCuentaDonatariaRequestType"/>
  <xsd:element name="RegistrarCuentaDonatariaResponse" type="NMPPRegistroD:RegistrarCuentaDonatariaResponseType"/>
  <xsd:element name="EnviarUrlActivacionCuentaRequest" type="NMPPRegistroD:EnviarUrlActivacionCuentaRequestType"/>
  <xsd:element name="EnviarUrlActivacionCuentaResponse" type="NMPPRegistroD:EnviarUrlActivacionCuentaResponseType"/>
  <xsd:element name="ActivarCuentaRequest" type="NMPPRegistroD:ActivarCuentaRequestType"/>
  <xsd:element name="ActivarCuentaResponse" type="NMPPRegistroD:ActivarCuentaResponseType"/>
  <xsd:element name="ObtenerDonatariaRequest" type="NMPPRegistroD:ObtenerDonatariaRequestType"/>
  <xsd:element name="ObtenerDonatariaResponse" type="NMPPRegistroD:ObtenerDonatariaResponseType"/>
  <xsd:element name="GuardarInformacionGeneralRequest" type="NMPPRegistroD:GuardarInformacionGeneralRequestType"/>
  <xsd:element name="GuardarInformacionGeneralResponse" type="NMPPRegistroD:GuardarInformacionGeneralResponseType"/>
  <xsd:element name="ConsultarInformacionGeneralRequest" type="NMPPRegistroD:ConsultarInformacionGeneralRequestType"/>
  <xsd:element name="ConsultarInformacionGeneralResponse" type="NMPPRegistroD:ConsultarInformacionGeneralResponseType"/>
  <xsd:element name="GuardarDatosContactoRequest" type="NMPPRegistroD:GuardarDatosContactoRequestType"/>
  <xsd:element name="GuardarDatosContactoResponse" type="NMPPRegistroD:GuardarDatosContactoResponseType"/>
  <xsd:element name="ConsultarDatosContactoRequest" type="NMPPRegistroD:ConsultarDatosContactoRequestType"/>
  <xsd:element name="ConsultarDatosContactoResponse" type="NMPPRegistroD:ConsultarDatosContactoResponseType"/>
  <xsd:element name="GuardarPatronosConsejerosRequest" type="NMPPRegistroD:GuardarPatronosConsejerosRequestType"/>
  <xsd:element name="GuardarPatronosConsejerosResponse" type="NMPPRegistroD:GuardarPatronosConsejerosResponseType"/>
  <xsd:element name="ConsultarPatronosConsejerosRequest" type="NMPPRegistroD:ConsultarPatronosConsejerosRequestType"/>
  <xsd:element name="ConsultarPatronosConsejerosResponse" type="NMPPRegistroD:ConsultarPatronosConsejerosResponseType"/>
  <xsd:element name="GuardarActaConstitutivaRequest" type="NMPPRegistroD:GuardarActaConstitutivaRequestType"/>
  <xsd:element name="GuardarActaConstitutivaResponse" type="NMPPRegistroD:GuardarActaConstitutivaResponseType"/>
  <xsd:element name="ConsultarActaConstitutivaRequest" type="NMPPRegistroD:ConsultarActaConstitutivaRequestType"/>
  <xsd:element name="ConsultarActaConstitutivaResponse" type="NMPPRegistroD:ConsultarActaConstitutivaResponseType"/>
  <xsd:element name="GuardarRepresentantesLegalesRequest" type="NMPPRegistroD:GuardarRepresentantesLegalesRequestType"/>
  <xsd:element name="GuardarRepresentantesLegalesResponse" type="NMPPRegistroD:GuardarRepresentantesLegalesResponseType"/>
  <xsd:element name="ConsultarRepresentantesLegalesRequest" type="NMPPRegistroD:ConsultarRepresentantesLegalesRequestType"/>
  <xsd:element name="ConsultarRepresentantesLegalesResponse" type="NMPPRegistroD:ConsultarRepresentantesLegalesResponseType"/>
  <xsd:element name="ConsultarRegistroDonatariaRequest" type="NMPPRegistroD:ConsultarRegistroDonatariaRequestType"/>
  <xsd:element name="ConsultarRegistroDonatariaResponse" type="NMPPRegistroD:ConsultarRegistroDonatariaResponseType"/>
 <xsd:complexType name="RegistrarCuentaDonatariaRequestType">
    <xsd:sequence>
      <xsd:element name="donataria" type="NMPPRegistroD:DonatariaRegistroType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cuentaUsuario" type="NMPPRegistroD:CuentaUsuarioRegistroType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistrarCuentaDonatariaResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnviarUrlActivacionCuentaRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPCuentaUsuario:alias" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnviarUrlActivacionCuentaResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:direccionCorreo" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPCuentaUsuario:estatusCuenta" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivarCuentaRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPCuentaUsuario:alias" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivarCuentaResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPComun:direccionCorreo" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPCuentaUsuario:estatusCuenta" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerDonatariaRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPCuentaUsuario:alias" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerDonatariaResponseType">
    <xsd:sequence>
      <xsd:element name="donataria" type="NMPPRegistroD:DonatariaRegistroType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cuentaUsuario" type="NMPPRegistroD:CuentaUsuarioConsultaType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarInformacionGeneralRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPDonataria:informacionGeneral" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarInformacionGeneralResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPsm:MessageResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultarInformacionGeneralRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarInformacionGeneralResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:informacionGeneral" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarDatosContactoRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPDonataria:datosContacto" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarDatosContactoResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPsm:MessageResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDatosContactoRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDatosContactoResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:datosContacto" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarPatronosConsejerosRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPDonataria:patronosConsejeros" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarPatronosConsejerosResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPsm:MessageResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPatronosConsejerosRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPatronosConsejerosResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:patronosConsejeros" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarActaConstitutivaRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPDonataria:actaConstitutiva" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarActaConstitutivaResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPsm:MessageResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultarActaConstitutivaRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarActaConstitutivaResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:actaConstitutiva" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarRepresentantesLegalesRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="NMPDonataria:representantesLegales" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarRepresentantesLegalesResponseType">
    <xsd:complexContent>
      <xsd:extension base="NMPsm:MessageResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRepresentantesLegalesRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRepresentantesLegalesResponseType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:representantesLegales" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRegistroDonatariaRequestType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRegistroDonatariaResponseType">
    <xsd:sequence>
      <xsd:element name="donataria" type="NMPDonataria:DonatariaType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>