SOL4IT - DEV/OSB_Desarrollo_NMP/FuerzaDeVentas/Campanias/Credito/Resources/Schemas/NMPCampaniasCreditoScvTipos.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCampaniasCreditoTypes" xmlns:credito="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCampaniasCreditoTypes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:NMPLlamada="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPLlamada">    
 <import schemaLocation="../../../../../Common/XSD/NMPLlamada.xsd" namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPLlamada"/>
 <complexType name="GetCampaniasClienteRequest">
  <sequence>
   <element name="CredencialNMP" type="string" minOccurs="1"/>
  </sequence>
 </complexType>
 <complexType name="GetCampaniasClienteResponse">
  <complexContent>
   <extension base="NMPLlamada:llamada"/>
  </complexContent>
 </complexType>
 <complexType name="ConfirmarCampaniaClienteRequest">
  <sequence>
   <element name="idLlamada" type="string"/>
   <element name="isInteresado" type="boolean"/>
  </sequence>
 </complexType>
 <complexType name="ConfirmarCampaniaClienteResponse">
  <sequence>
   <element name="respuesta" type="xsd:string"/>
  </sequence>
 </complexType>  
</schema>