SOL4IT - DEV/osb_Jack/HistoricoViatico/Resources/HistorialViaticosEmpleadoDataSvc_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/HistorialViaticosEmpleadoDataSvc" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/HistorialViaticosEmpleadoDataSvc" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Gpa001SolicitudCollection" type="Gpa001SolicitudCollection"/>
   <xs:complexType name="Gpa001SolicitudCollection">
      <xs:sequence>
         <xs:element name="Gpa001Solicitud" type="Gpa001Solicitud" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa001Solicitud">
      <xs:sequence>
         <xs:element name="idSolicitud" type="string15"/>
         <xs:element name="idTpSolicitud" type="xs:int" minOccurs="0"/>
         <xs:element name="nuEmpleado" type="string10" minOccurs="0"/>
         <xs:element name="nombreEmpleado" type="string180" minOccurs="0"/>
         <xs:element name="fhActualizacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idUsuario" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="totalPagar" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="fhCreacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="nuOrden" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="fhFinProceso" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idEstadoSolicitud" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="oficinaDestino" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="auxIdproyecto" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idSubtpSolic" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="servicio" type="Gpa015Servicios" minOccurs="0" nillable="true"/>
         <xs:element name="pagos" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa019Pagos" type="Gpa019Pagos" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="seguimientos" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa005Seguimiento" type="Gpa005Seguimiento" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa015Servicios">
      <xs:sequence>
         <xs:element name="descServicio" type="string500" minOccurs="0" nillable="true"/>
         <xs:element name="idTpServicio" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="centroCosto" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="idSolicitud" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="idPrestador" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="fhRegistro" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="descOficina" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="descArea" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="responsableArea" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="cveOficina" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="viatico" type="Gpa022Viaticos"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa022Viaticos">
      <xs:sequence>
         <xs:element name="idViatico" type="string20"/>
         <xs:element name="fhInicioViaje" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fhFinViaje" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="justificacion" type="string1024" minOccurs="0"/>
         <xs:element name="loginAutorizador" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="nroDiasViaje" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="nroKms" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="valorAnticipo" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="complementos" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa022Viaticos" type="Gpa022Viaticos" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="categorias" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Gpa023CatViaticos" type="Gpa023CatViaticos" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ctadeudora" type="Gpa018Cdeudoras" minOccurs="0" nillable="true"/>
         <xs:element name="oficina" type="GpaCatOficina" minOccurs="0" nillable="true"/>
         <xs:element name="estado" type="Gpa006Estados" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa023CatViaticos">
      <xs:sequence>
         <xs:element name="codigoTarifa" type="string15"/>
         <xs:element name="valorTarifa" type="xs:decimal" minOccurs="0"/>
         <xs:element name="valorAnticipo" type="xs:decimal" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa018Cdeudoras">
      <xs:sequence>
         <xs:element name="idCedudoras" type="xs:long"/>
         <xs:element name="nuCdeudoras" type="xs:long" minOccurs="0"/>
         <xs:element name="descDeudoras" type="string60" minOccurs="0"/>
         <xs:element name="stRegistro" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GpaCatOficina">
      <xs:sequence>
         <xs:element name="cvOficina" type="string5"/>
         <xs:element name="descOficina" type="string90" minOccurs="0" nillable="true"/>
         <xs:element name="stRegistro" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa006Estados">
      <xs:sequence>
         <xs:element name="idEstado" type="xs:long"/>
         <xs:element name="descripcion" type="string60" minOccurs="0"/>
         <xs:element name="stRegistro" type="xs:int" minOccurs="0"/>
         <xs:element name="clasificacion" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa019Pagos">
      <xs:sequence>
         <xs:element name="idPagos" type="string10"/>
         <xs:element name="numOrden" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numCaratula" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="estadoPago" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fhCreacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fhActualizacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="procesable" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Gpa005Seguimiento">
      <xs:sequence>
         <xs:element name="idSeguimiento" type="xs:long"/>
         <xs:element name="actividad" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="fhCreacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="usuario" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="fhActualizacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="nuIteracion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idEstado" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="HistorialViaticosEmpleadoDataSvcSelect_pLoginInputParameters" type="HistorialViaticosEmpleadoDataSvcSelect_pLogin"/>
   <xs:complexType name="HistorialViaticosEmpleadoDataSvcSelect_pLogin">
      <xs:sequence>
         <xs:element name="pLogin" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string180">
      <xs:restriction base="xs:string">
         <xs:maxLength value="180"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string500">
      <xs:restriction base="xs:string">
         <xs:maxLength value="500"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string90">
      <xs:restriction base="xs:string">
         <xs:maxLength value="90"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
