SOL4IT - DEV/OSB_Desarrollo_NMP/PoC/AutosSinResguardo/InfoClienteAuto/Resources/WADL/getInfoClienteREST.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ca="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="getInfoClienteREST">get Info Cliente Auto RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:nmpsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:WL5G3N1="http://servicios.montedepiedad.com.mx/NMP/Service/ClientesAutosDB" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N3="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB" xmlns:WL5G3N4="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:WL5G3N5="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/">
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB" schemaLocation="../XSD/ClientesAutoInfoXSD.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../XSD/NMPStandardMessage.xsd"/>
      <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../XSD/NMPStandardHeader.xsd"/>
    </schema>
   </grammars>
   <resources>
      <resource path="/getFoliosCliente">
         <method name="POST" soa:wsdlOperation="getFoliosCliente">
            <request>
               <representation mediaType="application/json" element="cns:getFoliosClienteRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getFoliosClienteResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB"/>
            </response>
         </method>
      </resource>
      <resource path="/getInfoClienteAuto">
         <method name="POST" soa:wsdlOperation="getClienteAutoInfo">
            <request>
               <representation mediaType="application/json" element="cns:getInfoClienteAutoRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:NmpClientesInfoCollection" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB"/>
            </response>
         </method>
      </resource>
      <resource path="/updateStatus">
         <method name="POST" soa:wsdlOperation="updateClienteAutoInfo">
            <request>
               <representation mediaType="application/json" element="cns:updateClientesInfoCollection" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:clientesAutosResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/ClientesAutoInfoDB"/>
            </response>
         </method>
      </resource>
   </resources>
</application>