SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/OperacionCreditos/VehiculoSinResguardo/Resources/Schemas/EquipoAdicionalBO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/EquipoAdicionalBO" elementFormDefault="qualified"
     xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/EquipoAdicionalBO" xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
    <xs:complexType name="EquipoAdicionalBOType">
        <xs:sequence>
            <xs:element name="equipoAdicional" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EquipoAdicionalBO" type="EquipoAdicionalBOType"/>
</xs:schema>