SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/Formiik/Resources/XSD/FormiikUsuarioNuevoTypesXSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emlink.Pitzotl.BackEndPipe.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Emlink.Pitzotl.BackEndPipe.DataContracts">
<xs:import schemaLocation="FormiikArraysTypesXSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xs:complexType name="ArrayOfHashTableCompositeType">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="HashTableCompositeType" nillable="true" type="tns:HashTableCompositeType"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfHashTableCompositeType" nillable="true" type="tns:ArrayOfHashTableCompositeType"/>
<xs:complexType name="HashTableCompositeType">
<xs:sequence>
<xs:element minOccurs="0" name="Key" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="HashTableCompositeType" nillable="true" type="tns:HashTableCompositeType"/>
<xs:complexType name="NewUser">
<xs:sequence>
<xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ProcessIds" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Username" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="NewUser" nillable="true" type="tns:NewUser"/>
<xs:complexType name="QueryRequest">
<xs:sequence>
<xs:element minOccurs="0" name="Format" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Parameters" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xs:element minOccurs="0" name="QueryId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="QueryRequest" nillable="true" type="tns:QueryRequest"/>
</xs:schema>