SOL4IT - DEV/OSB_Desarrollo_NMP/GestionIdentidades/Formiik/Resources/XSD/FormiikActivarUsuarioTypesXSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mobiik.Formiik.Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Mobiik.Formiik.Domain.Entities" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
<xs:import schemaLocation="FormiikSerializacionXSD.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xs:complexType name="ArrayOfUserActiveService">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="UserActiveService" nillable="true" type="tns:UserActiveService"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfUserActiveService" nillable="true" type="tns:ArrayOfUserActiveService"/>
<xs:complexType name="UserActiveService">
<xs:sequence>
<xs:element minOccurs="0" name="GroupExternal" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="GroupId" type="ser:guid"/>
<xs:element minOccurs="0" name="GroupInternal" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="IdRole" type="ser:guid"/>
<xs:element minOccurs="0" name="IdUser" type="ser:guid"/>
<xs:element minOccurs="0" name="Products" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="UserActiveService" nillable="true" type="tns:UserActiveService"/>
</xs:schema>