SOL4IT - DEV/OSB_Desarrollo_NMP/PoC/AutosSinResguardo/CotizadorMidas/Resources/WSDL/RestService.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ca="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestService">NmpCotizadorAutosREST</doc>
   <grammars>
      <xsd:schema xmlns:nmpsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:nmpsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Service/CotizadorAutomovil" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil" schemaLocation="../XSD/NmpCotizadorAutomovilXSD.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../../Common/XSD/NMPStandardMessage.xsd"/>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
   </grammars>
   <resources>
      <resource path="/obtenerAvaluoAutomovil">
         <method name="POST" soa:wsdlOperation="obtenerAvaluoAutomovil">
            <request>
               <representation mediaType="application/json" element="cns:obtenerAvaluoAutomovil" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerAvaluoAutomovilResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/obtenerKilometrajes">
         <method name="POST" soa:wsdlOperation="obtenerKilometrajes">
            <request>
               <representation mediaType="application/json" element="cns:obtenerKilometrajes" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerKilometrajesResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/obtenerComplementos">
         <method name="POST" soa:wsdlOperation="obtenerComplementos">
            <request>
               <representation mediaType="application/json" element="cns:obtenerComplementos" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerComplementosResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/obtenerSubMarcas">
         <method name="POST" soa:wsdlOperation="obtenerSubMarcas">
            <request>
               <representation mediaType="application/json" element="cns:obtenerSubMarcas" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerSubMarcasResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/obtenerMarcas">
         <method name="POST" soa:wsdlOperation="obtenerMarcas">
            <request>
               <representation mediaType="application/json" element="cns:obtenerMarcas" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerMarcasResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/obtenerVersiones">
         <method name="POST" soa:wsdlOperation="obtenerVersiones">
            <request>
               <representation mediaType="application/json" element="cns:obtenerVersiones" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerVersionesResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/obtenerModelos">
         <method name="POST" soa:wsdlOperation="obtenerModelos">
            <request>
               <representation mediaType="application/json" element="cns:obtenerModelos" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerModelosResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/CotizadorAutomovil"/>
            </response>
            <response status="400" soa:wsdlFaultName="CotizadorAutomovilFaultMessage">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>