SOL4IT - DEV/VisualizacionComposite/Finance/AP/GPA/Data/Resources/SolicitudDataSvc/SolicitudV2DataSvc.wsdl

<wsdl:definitions name="SolicitudV2DataSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudDataSvc/SolicitudV2DataSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/QualitasGPABus/SolicitudDataSvc/SolicitudV2DataSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolicitudV2DataSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="SolicitudV2DataSvc_plt">
    <plt:role name="SolicitudV2DataSvc_role">
      <plt:portType name="tns:SolicitudV2DataSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SolicitudV2DataSvc" schemaLocation="SolicitudV2DataSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa001SolicitudPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa001SolicitudCollection_msg">
        <wsdl:part name="Gpa001SolicitudCollection" element="top:Gpa001SolicitudCollection"/>
    </wsdl:message>
    <wsdl:portType name="SolicitudV2DataSvc_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa001SolicitudCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa001SolicitudCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>