SOL4IT - DEV/QualitasContent/QualitasContent/WS-PROXYS-QUALITAS/WS_CS/src/qualitas/ws/proxy/cs/deleteDoc/DeleteFile.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.stellent.com/DeleteFile/" targetNamespace="http://www.stellent.com/DeleteFile/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.stellent.com/DeleteFile/">
      <s:element name="DeleteDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dDocName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="dID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="extraProps" type="s0:IdcPropertyList"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDocResult" type="s0:DeleteDocResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeleteDocResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusInfo" type="s0:StatusInfo"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="statusMessage" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdcPropertyList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="property" type="s0:IdcProperty"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdcProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="DeleteDocSoapIn">
    <part name="parameters" element="s0:DeleteDoc"/>
  </message>
  <message name="DeleteDocSoapOut">
    <part name="parameters" element="s0:DeleteDocResponse"/>
  </message>
  <portType name="DeleteFileSoap">
    <operation name="DeleteDoc">
      <input message="s0:DeleteDocSoapIn"/>
      <output message="s0:DeleteDocSoapOut"/>
    </operation>
  </portType>
  <binding name="DeleteFileSoap" type="s0:DeleteFileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="DeleteDoc">
      <soap:operation soapAction="http://www.stellent.com/DeleteFile/" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DeleteFile">
    <port name="DeleteFileSoap" binding="s0:DeleteFileSoap">
      <soap:address location="http://11.50.0.2:16200/_dav/cs/idcplg"/>
    </port>
  </service>
</definitions>