SOL4IT - DEV/OSB_Desarrollo_NMP/GestionCatalogos/Sepomex/Resources/Schemas/CRMCatalogosEntityModelosXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.Modelos">
  <xs:complexType name="ArrayOfDelegacionMunicipio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelegacionMunicipio" nillable="true"
                  type="tns:DelegacionMunicipio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDelegacionMunicipio" nillable="true" type="tns:ArrayOfDelegacionMunicipio"/>
  <xs:complexType name="DelegacionMunicipio">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDelegacionMunicipio" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="delegacionMunicipio" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DelegacionMunicipio" nillable="true" type="tns:DelegacionMunicipio"/>
  <xs:complexType name="ArrayOfCodigoPostal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CodigoPostal" nillable="true" type="tns:CodigoPostal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCodigoPostal" nillable="true" type="tns:ArrayOfCodigoPostal"/>
  <xs:complexType name="CodigoPostal">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCodigoPostal" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodigoPostal" nillable="true" type="tns:CodigoPostal"/>
  <xs:complexType name="ArrayOfColonia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Colonia" nillable="true" type="tns:Colonia"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColonia" nillable="true" type="tns:ArrayOfColonia"/>
  <xs:complexType name="Colonia">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdColonia" type="xs:int"/>
      <xs:element minOccurs="0" name="colonia" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Colonia" nillable="true" type="tns:Colonia"/>
  <xs:complexType name="ArrayOfCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="tns:Campaign"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaign" nillable="true" type="tns:ArrayOfCampaign"/>
  <xs:complexType name="Campaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GuidCampaign" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campaign" nillable="true" type="tns:Campaign"/>
  <xs:complexType name="ArrayOfCanalNMP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CanalNMP" nillable="true" type="tns:CanalNMP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCanalNMP" nillable="true" type="tns:ArrayOfCanalNMP"/>
  <xs:complexType name="CanalNMP">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuidCanal" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IdCanal" type="xs:int"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanalNMP" nillable="true" type="tns:CanalNMP"/>
  <xs:complexType name="ArrayOfOfrecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ofrecimiento" nillable="true" type="tns:Ofrecimiento"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfrecimiento" nillable="true" type="tns:ArrayOfOfrecimiento"/>
  <xs:complexType name="Ofrecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoOfrecimiento" type="xs:int"/>
      <xs:element minOccurs="0" name="Frecuencia" type="xs:int"/>
      <xs:element minOccurs="0" name="GuidCliente" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GuidLlamada" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GuidOfrecimiento" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IdOfrecimiento" type="xs:int"/>
      <xs:element minOccurs="0" name="Monto" type="xs:double"/>
      <xs:element minOccurs="0" name="Pago" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PagoMensual" type="xs:double"/>
      <xs:element minOccurs="0" name="Plazo" type="xs:int"/>
      <xs:element minOccurs="0" name="Tasa" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ofrecimiento" nillable="true" type="tns:Ofrecimiento"/>
</xs:schema>