SOL4IT - DEV/OSB_NMP_Actual/PoC/AutosSinResguardo/CotizacionContrato/Resources/WSDL/ZLM_WS_COTIZACION.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_ZLM_WS_COTIZACION">
<wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_ZLM_WS_COTIZACION">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
<sapcentraladmin:BusinessApplicationID>E3DA1948DDE97EF1BD4DF8DB880509E3</sapcentraladmin:BusinessApplicationID>
</sapcentraladmin:CentralAdministration>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_ZlmRfcCotizacion">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char2">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="curr13.2">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="date10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="decimal10.7">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="10"/>
<xsd:fractionDigits value="7"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric2">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:simpleType name="RfcException.Message.Number">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ZlmStrCreaContrato">
<xsd:sequence>
<xsd:element name="Sociedad" type="n0:char4"/>
<xsd:element name="Producto" type="n0:char3"/>
<xsd:element name="MontoSolicitado" type="n0:curr13.2"/>
<xsd:element name="Frecuencia" type="n0:numeric2"/>
<xsd:element name="Plazo" type="n0:numeric2"/>
<xsd:element name="TasaInteres" type="n0:decimal10.7"/>
<xsd:element name="FechaDesembolso" type="n0:date10"/>
<xsd:element name="FechaPrimerCobro" type="n0:date10"/>
<xsd:element name="MultMoratorio" type="n0:decimal10.7"/>
<xsd:element name="Origen" type="n0:char4"/>
<xsd:element name="Destino" type="n0:char2"/>
<xsd:element name="TipoDePago" type="n0:char6"/>
<xsd:element name="DiasGracia" type="tns:numeric6"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZstrAmort">
<xsd:sequence>
<xsd:element name="Nopago" type="n0:char2"/>
<xsd:element name="Fecha" type="n0:date10"/>
<xsd:element name="Capitalinit" type="n0:curr13.2"/>
<xsd:element name="Interes" type="n0:curr13.2"/>
<xsd:element name="Iva" type="n0:curr13.2"/>
<xsd:element name="Abonocapital" type="n0:curr13.2"/>
<xsd:element name="Abonototal" type="n0:curr13.2"/>
<xsd:element name="Capitalfinal" type="n0:curr13.2"/>
<xsd:element name="Saldopagare" type="n0:curr13.2"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RfcException.Message">
<xsd:sequence>
<xsd:element name="ID" type="xsd:string"/>
<xsd:element name="Number" type="tns:RfcException.Message.Number"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZlmRfcCotizacion.RfcException">
<xsd:sequence>
<xsd:element name="Name" type="tns:ZlmRfcCotizacion.RfcExceptions"/>
<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
<xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ZTtTablaAmortizacion">
<xsd:sequence>
<xsd:element name="item" type="tns:ZstrAmort" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ZlmRfcCotizacion.RfcExceptions">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ExFechas"/>
<xsd:enumeration value="ExIva"/>
<xsd:enumeration value="ExPeriodicidadInvalida"/>
<xsd:enumeration value="ExTablaAmortizacion"/>
<xsd:enumeration value="ExDatos"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="ZlmRfcCotizacion.Exception" type="tns:ZlmRfcCotizacion.RfcException"/>
<xsd:element name="ZlmRfcCotizacion">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DatosContrato" type="tns:ZlmStrCreaContrato"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZlmRfcCotizacionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DatosContrato" type="tns:ZlmStrCreaContrato"/>
<xsd:element name="TablaAmort" type="tns:ZTtTablaAmortizacion"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ZlmRfcCotizacion">
<wsdl:part name="parameters" element="tns:ZlmRfcCotizacion"/>
</wsdl:message>
<wsdl:message name="ZlmRfcCotizacionResponse">
<wsdl:part name="parameter" element="tns:ZlmRfcCotizacionResponse"/>
</wsdl:message>
<wsdl:message name="ZlmRfcCotizacion.Exception">
<wsdl:part name="ZlmRfcCotizacion.Exception" element="tns:ZlmRfcCotizacion.Exception"/>
</wsdl:message>
<wsdl:portType name="ZLM_WS_COTIZACION">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_ZLM_WS_COTIZACION"/>
</wsp:Policy>
<wsdl:operation name="ZlmRfcCotizacion">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_ZlmRfcCotizacion"/>
</wsp:Policy>
<wsdl:input message="tns:ZlmRfcCotizacion"/>
<wsdl:output message="tns:ZlmRfcCotizacionResponse"/>
<wsdl:fault name="ZlmRfcCotizacion.Exception" message="tns:ZlmRfcCotizacion.Exception"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZLM_WS_COTIZACION" type="tns:ZLM_WS_COTIZACION">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_ZLM_WS_COTIZACION"/>
</wsp:Policy>
<wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
<wsa:ReferenceParameters/>
</wsa:EndpointReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="ZlmRfcCotizacion">
<soap:operation soapAction="ZlmRfcCotizacion" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ZlmRfcCotizacion.Exception">
<soap:fault name="ZlmRfcCotizacion.Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZLM_WS_COTIZACION">
<wsdl:port name="ZLM_WS_COTIZACION" binding="tns:ZLM_WS_COTIZACION">
<soap:address location="http://dcpimsdsap01.nmp.com.mx:8000/sap/bc/srt/rfc/sap/zlm_ws_cotizacion/300/zlm_ws_cotizacion/zlm_ws_cotizacion"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>