SOL4IT - DEV/osb_Jack/Finance/AP/GPA/Entity/Resources/ServicioDB.wsdl

<wsdl:definitions name="ServicioDB" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/ServicioDB" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/ServicioDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServicioDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ServicioDB_plt">
    <plt:role name="ServicioDB_role">
      <plt:portType name="tns:ServicioDB_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServicioDB" schemaLocation="ServicioDB_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="ServicioDBSelect_inputParameters">
        <wsdl:part name="ServicioDBSelect_inputParameters" element="top:ServicioDBSelect_pSolicitudInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa015ServiciosPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa015ServiciosCollection_msg">
        <wsdl:part name="Gpa015ServiciosCollection" element="top:Gpa015ServiciosCollection"/>
    </wsdl:message>
    <wsdl:portType name="ServicioDB_ptt">
        <!--wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa015ServiciosCollection_msg"/>
        </wsdl:operation-->
        <!--wsdl:operation name="insert">
            <wsdl:input message="tns:Gpa015ServiciosCollection_msg"/>
        </wsdl:operation-->
        <wsdl:operation name="ServicioDBSelect">
            <wsdl:input message="tns:ServicioDBSelect_inputParameters"/>
            <wsdl:output message="tns:Gpa015ServiciosCollection_msg"/>
        </wsdl:operation>
        <!--wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa015ServiciosCollection_msg"/>
        </wsdl:operation-->
    </wsdl:portType>
</wsdl:definitions>