SOL4IT - DEV/Otros/Finance/AP/GPA/Entity/Resources/ProyectoDB.wsdl

<wsdl:definitions name="ProyectoDB" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/ProyectoDB" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/GPAIntegration/DBTemplate/ProyectoDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ProyectoDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ProyectoDB_plt">
    <plt:role name="ProyectoDB_role">
      <plt:portType name="tns:ProyectoDB_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ProyectoDB" schemaLocation="ProyectoDB_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="ProyectoDBSelect_inputParameters">
        <wsdl:part name="ProyectoDBSelect_inputParameters" element="top:ProyectoDBSelect_pSolicitudInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:Gpa013ProyectoPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="Gpa013ProyectoCollection_msg">
        <wsdl:part name="Gpa013ProyectoCollection" element="top:Gpa013ProyectoCollection"/>
    </wsdl:message>
    <wsdl:portType name="ProyectoDB_ptt">
        <!--wsdl:operation name="merge">
            <wsdl:input message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation-->
        <!--wsdl:operation name="insert">
            <wsdl:input message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation-->
        <wsdl:operation name="ProyectoDBSelect">
            <wsdl:input message="tns:ProyectoDBSelect_inputParameters"/>
            <wsdl:output message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation>
        <!--wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:Gpa013ProyectoCollection_msg"/>
        </wsdl:operation-->
    </wsdl:portType>
</wsdl:definitions>