SOL4IT - DEV/OSB_NMP_Actual/FuerzaDeVentas/Campanias/Credito/Resources/Schemas/NMPCampaniasCreditoSvcElementos.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCampaniasCredito" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:type="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCampaniasCreditoTypes">
  <import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCampaniasCreditoTypes" schemaLocation="NMPCampaniasCreditoScvTipos.xsd"/>
  <element name="getCampaniasClienteRequest" type="type:GetCampaniasClienteRequest"/>
  <element name="getCampaniasClienteResponse" type="type:GetCampaniasClienteResponse"/>
  <element name="confirmarCampaniaClienteRequest" type="type:ConfirmarCampaniaClienteRequest"/>
  <element name="confirmarCampaniaClienteResponse" type="type:ConfirmarCampaniaClienteResponse"/>
</schema>