SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionCreditos/Cobranza/Resources/WADLs/MCGestionMovilCobranzaWADL.wadl

<ns:application xmlns:ns="http://wadl.dev.java.net/2009/02" xmlns:rest="http://www.oracle.com/soa/rest">
    <ns:doc title="MCGestionMovilCobranzaBS">MCGestionMovilCobranzaBS</ns:doc>
    <ns:resources>
        <ns:resource path="/api/Cat_Causas">
            <ns:method name="GET" rest:name="Cat_Causas">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/Causas">
            <ns:method name="GET" rest:name="Causas">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/Check">
            <ns:method name="GET" rest:name="Check">
                <ns:request>
                    <ns:param name="V_VISITADOR" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <ns:param name="V_TIPO" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <ns:param name="V_LATITUD" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <ns:param name="V_LONGITUD" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
					<ns:param name="V_FECHA" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/Codigos">
            <ns:method name="GET" rest:name="Codigos">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/Configuracion">
            <ns:method name="GET" rest:name="Configuracion">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/histpagos">
            <ns:method name="GET" rest:name="histpagos">
                <ns:request>
                    <ns:param name="v_credito" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/InfoGeneral">
            <ns:method name="GET" rest:name="InfoGeneral">
                <ns:request>
                    <ns:param name="v_usuario" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/MovilTokens">
            <ns:method name="POST" rest:name="MovilTokens">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/Parentesco">
            <ns:method name="GET" rest:name="Parentesco">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeCorreos">
            <ns:method name="POST" rest:name="RecibeCorreos">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeDatos">
            <ns:method name="POST" rest:name="RecibeDatos">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeDirecciones">
            <ns:method name="POST" rest:name="RecibeDirecciones">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeImagen">
            <ns:method name="POST" rest:name="RecibeImagen">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeInfoTel">
            <ns:method name="POST" rest:name="RecibeInfoTel">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeRutas">
            <ns:method name="POST" rest:name="RecibeRutas">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/RecibeTelefonos">
            <ns:method name="POST" rest:name="RecibeTelefonos">
                <ns:request>
                    <ns:representation mediaType="application/json"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/Sepomex">
            <ns:method name="GET" rest:name="Sepomex">
                <ns:request>
                    <ns:param name="v_cp" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/testconexion">
            <ns:method name="GET" rest:name="testconexion">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/TipoFoto">
            <ns:method name="GET" rest:name="TipoFoto">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/TiposContacto">
            <ns:method name="GET" rest:name="TiposContacto">
                <ns:request/>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
        <ns:resource path="/api/usuario">
            <ns:method name="GET" rest:name="usuario">
                <ns:request>
                    <ns:param name="v_usuario" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <ns:param name="v_contrasena" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
		<ns:resource path="/api/ImagenB64">
            <ns:method name="GET" rest:name="ImagenB64">
                <ns:request>
                    <ns:param name="v_documentoId" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <ns:param name="v_usuario" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
					<ns:param name="v_credito" type="xs:string" style="query" default="" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                </ns:request>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
                <ns:response>
                    <ns:representation mediaType="application/json"/>
                </ns:response>
            </ns:method>
        </ns:resource>
    </ns:resources>
</ns:application>