SOL4IT - DEV/OSB_Depurado_SOAINT/Finance/AP/GPA/Entity/Resources/GuardarSolicitudRESV1/TipoServicioDataSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/"
     xmlns:gpa="http://qualitas.com.mx/Comun/Servicio/TipoServicioData/v1/"      xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="GastosFijos">
        <sequence>
            <element name="centroCosto" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="subTipoServicio" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="Operaciones">
        <sequence>
            <element name="centroCosto" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="tipoPrestador" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="descripcion" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="tipoMoneda" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="beneficiario" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="formaPago" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="conceptoGasto" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="chequeCertificado" type="int" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="Proyecto">
        <sequence>
            <element name="idProyecto" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="CargoDeudor">
        <sequence>
            <element name="tipoMoneda" type="int" minOccurs="0" maxOccurs="1"/>

            <element name="justificacion" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="loginAutorizador" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="emailAutorizador" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="cuentaDeudora" type="decimal" minOccurs="0" maxOccurs="1"/>
            <element name="tipoPrestador" type="string" minOccurs="1" maxOccurs="1" />
            <element name="idPrestador" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="beneficiario" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="formaPago" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="conceptoGasto" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="chequeCertificado" type="int" minOccurs="1" maxOccurs="1"/>
            <element name="oficina" type="gpa:Oficina" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="Oficina">
        <sequence>
            <element name="clave" minOccurs="0" type="string"/>
            <element name="nombre" minOccurs="0" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Viaticos">
        <sequence>
      <element name="fechaInicio" type="date" minOccurs="0"/>
      <element name="fechaFin" type="date" minOccurs="0"/>
      <element name="justificacion" type="string" minOccurs="0"/>
      <element name="kilometros" type="float" minOccurs="0"/>
      <element name="loginAutorizador" type="string" minOccurs="0"/>
      <element name="emailAutorizador" type="string" minOccurs="0"/>
      <element name="cuentaDeudora" type="decimal" minOccurs="0" maxOccurs="1"/>
      <element name="nroDiasViaje" type="int" minOccurs="0"/>
      <element name="viaticoMarco" type="gpa:Viaticos" minOccurs="0"  maxOccurs="1"/>
      <element name="complemento" type="gpa:Viaticos" minOccurs="0" maxOccurs="unbounded"/>
      <element name="categoriaTarifa" type="gpa:CategoriaTarifa" minOccurs="0" maxOccurs="unbounded"/>

        </sequence>
    </complexType>

  <complexType name="CategoriaTarifa">
    <sequence>
      <element name="codigo" type="string" minOccurs="0"/>
      <element name="nombre" type="string" minOccurs="0"/>
      <element name="subtotal" type="float" minOccurs="0"/>
      <element name="tarifa" type="float" minOccurs="0"/>
    </sequence>
  </complexType>



</schema>