SOL4IT - DEV/OSB_Desarrollo_NMP/OperacionPrendaria/Common/Resources/Schemas/NMPNotificacionEtapaXSD.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/RespuestaMIDAS_BPM/RespuestaMIDAS/BPELRespuestaMIDAS"
        xmlns:NMPNotificacionMidasBPM="http://servicios.montedepiedad.com.mx/ConcentradoraBPM/Schema/NMPNotificacionMidasBPM"
        xmlns="http://www.w3.org/2001/XMLSchema">
  
  <element name="process">
    <complexType>
      <sequence>
        <element name="idSolicitud" type="string"/>
        <element name="idSucursal" type="int"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>        
      </sequence>
    </complexType>
  </element>
</schema>