SOL4IT - DEV/SOA_Desarrollo/OSB_NMP_Actual/Common/XSD/BalancerValidationUpdateXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:NMPClienteU="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"
            targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"
            elementFormDefault="qualified">
  <xsd:element name="updateClienteRequest"
               type="NMPClienteU:ClienteUpdateRequestType"/>
  <xsd:element name="updateClienteResponse"
               type="NMPClienteU:ClienteUpdateResponseType"/>
  <xsd:element name="insertClienteRequest"
               type="NMPClienteU:ClienteInsertRequestType"/>
  <xsd:element name="insertClienteResponse"
               type="NMPClienteU:ClienteInsertResponseType"/>
  <xsd:complexType name="ClienteUpdateRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idClienteClientes" type="xsd:long" minOccurs="0"/>
      <xsd:element name="sucursalDeRegstro" type="xsd:int" minOccurs="0"/>
      <xsd:element name="numeroDeCredencial" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechadDeUltimaActualizacion" type="xsd:dateTime"
                   minOccurs="0"/>
      <xsd:element name="fechaDeCreacion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="usuarioCreador" type="xsd:string" minOccurs="0"/>
      <xsd:element name="usuarioUltimaModificacion" type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreDeLaImagen" type="xsd:string" minOccurs="0"/>
      <xsd:element name="banderaDeBoletinacion" type="xsd:int" minOccurs="0"/>
      <xsd:element name="estatusAlmacenamientoImagen" type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="tipoCliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="personalidadJuridica" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numIdentificacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoOperacionCliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="representanteLegal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="huellaDigital" type="xsd:string" minOccurs="0"/>
      <xsd:element name="calificacionReal" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="calificacionMidas" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="sobreAforo" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="porcentajeAforo" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="capacidadDePago" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="probabilidadIncumplimiento" type="xsd:decimal"
                   minOccurs="0"/>
      <xsd:element name="clienteVIP" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="indiceRecuperacion" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="gradoDeConfianza" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="genero" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroDeHijos" type="xsd:int" minOccurs="0"/>
      <xsd:element name="trabaja" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="apellidoPaterno" type="xsd:string" minOccurs="0"/>
      <xsd:element name="apellidoMaterno" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaDeNacimiento" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="escolaridad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nacionalidad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ocupacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoCivil" type="xsd:string" minOccurs="0"/>
      <xsd:element name="profesion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RFC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CURP" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Cotitulares" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Cotitular" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:int" minOccurs="0"/>
                  <xsd:element name="idCotClientes" minOccurs="0"
                               type="xsd:int"/>
                  <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="apellidoPaterno" type="xsd:string"
                               minOccurs="0"/>
                  <xsd:element name="apellidoMaterno" type="xsd:string"
                               minOccurs="0"/>
                  <xsd:element name="parentesco" minOccurs="0"
                               type="xsd:string"/>
                  <xsd:element name="ListaTelefonos" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Telefono" maxOccurs="unbounded"
                                     minOccurs="0">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="codigoPais" type="xsd:string"
                                           minOccurs="0"/>
                              <xsd:element name="codigoArea" type="xsd:string"
                                           minOccurs="0"/>
                              <xsd:element name="numeroTelefonico"
                                           type="xsd:string" minOccurs="0"/>
                              <xsd:element name="extension" type="xsd:string"
                                           minOccurs="0"/>
                              <xsd:element name="tipoTelefono"
                                           type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Contacto" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ListaTelefonos" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Telefono" maxOccurs="unbounded"
                               minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="codigoPais" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="codigoArea" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="numeroTelefonico" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="extension" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="tipoTelefono" type="xsd:string"
                                     minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListaDirecciones" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Direccion" maxOccurs="unbounded"
                               minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="nombreDelaCalle" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="numeroExterior" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="numeroInterior" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="estado" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="idEstado" type="xsd:int"
                                     minOccurs="0"/>
                        <xsd:element name="delegacionMunicipio"
                                     type="xsd:string" minOccurs="0"/>
                        <xsd:element name="colonia" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="codigoPostal" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="tipoDomicilio" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="ciudadPoblacion" type="xsd:string"
                                     minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteUpdateResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteInsertRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idClienteClientes" type="xsd:long" minOccurs="0"/>
      <xsd:element name="sucursalDeRegstro" type="xsd:int" minOccurs="0"/>
      <xsd:element name="numeroDeCredencial" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechadDeUltimaActualizacion" type="xsd:dateTime"
                   minOccurs="0"/>
      <xsd:element name="fechaDeCreacion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="usuarioCreador" type="xsd:string" minOccurs="0"/>
      <xsd:element name="usuarioUltimaModificacion" type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreDeLaImagen" type="xsd:string" minOccurs="0"/>
      <xsd:element name="banderaDeBoletinacion" type="xsd:int" minOccurs="0"/>
      <xsd:element name="estatusAlmacenamientoImagen" type="xsd:string"
                   minOccurs="0"/>
      <xsd:element name="tipoCliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="personalidadJuridica" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numIdentificacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoOperacionCliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="representanteLegal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="huellaDigital" type="xsd:string" minOccurs="0"/>
      <xsd:element name="calificacionReal" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="calificacionMidas" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="sobreAforo" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="porcentajeAforo" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="capacidadDePago" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="probabilidadIncumplimiento" type="xsd:decimal"
                   minOccurs="0"/>
      <xsd:element name="clienteVIP" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="indiceRecuperacion" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="gradoDeConfianza" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="genero" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroDeHijos" type="xsd:int" minOccurs="0"/>
      <xsd:element name="trabaja" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="apellidoPaterno" type="xsd:string" minOccurs="0"/>
      <xsd:element name="apellidoMaterno" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaDeNacimiento" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="escolaridad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nacionalidad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ocupacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoCivil" type="xsd:string" minOccurs="0"/>
      <xsd:element name="profesion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="RFC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CURP" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Cotitulares" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Cotitular" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="id" type="xsd:int" minOccurs="0"/>
                  <xsd:element name="idCotClientes" minOccurs="0"
                               type="xsd:int"/>
                  <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="apellidoPaterno" type="xsd:string"
                               minOccurs="0"/>
                  <xsd:element name="apellidoMaterno" type="xsd:string"
                               minOccurs="0"/>
                  <xsd:element name="parentesco" minOccurs="0"
                               type="xsd:string"/>
                  <xsd:element name="ListaTelefonos" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Telefono" maxOccurs="unbounded"
                                     minOccurs="0">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="codigoPais" type="xsd:string"
                                           minOccurs="0"/>
                              <xsd:element name="codigoArea" type="xsd:string"
                                           minOccurs="0"/>
                              <xsd:element name="numeroTelefonico"
                                           type="xsd:string" minOccurs="0"/>
                              <xsd:element name="extension" type="xsd:string"
                                           minOccurs="0"/>
                              <xsd:element name="tipoTelefono"
                                           type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Contacto" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ListaTelefonos" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Telefono" maxOccurs="unbounded"
                               minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="codigoPais" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="codigoArea" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="numeroTelefonico" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="extension" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="tipoTelefono" type="xsd:string"
                                     minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListaDirecciones" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Direccion" maxOccurs="unbounded"
                               minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="nombreDelaCalle" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="numeroExterior" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="numeroInterior" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="estado" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="idEstado" type="xsd:int"
                                     minOccurs="0"/>
                        <xsd:element name="delegacionMunicipio"
                                     type="xsd:string" minOccurs="0"/>
                        <xsd:element name="colonia" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="codigoPostal" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="tipoDomicilio" type="xsd:string"
                                     minOccurs="0"/>
                        <xsd:element name="ciudadPoblacion" type="xsd:string"
                                     minOccurs="0"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteInsertResponseType">
    <xsd:sequence>
      <xsd:element name="respuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>