SOL4IT - DEV/OSB_NMP_Actual/GestionCatalogos/Finanzas/Resources/WSDLs/NMPCatalogosFinanzasWSDL.wsdl

<wsdl:definitions name="NMPCatalogosFinanzasWSDL" targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Services/Catalogos/Finanzas" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Catalogos/Finanzas" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/Catalogos/Finanzas" xmlns:inp2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:inp3="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Catalogos/Finanzas" schemaLocation="../Schemas/NMPCatalogosFinanzasXSD.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerTasaPlazoResponseMessage">
    <wsdl:part name="response" element="inp1:obtenerTasaPlazoResponse"/>
  </wsdl:message>
  <wsdl:message name="obtenerTasaPlazoRequestMessage">
    <wsdl:part name="request" element="inp1:obtenerTasaPlazoRequest"/>
  </wsdl:message>
  <wsdl:message name="catalogosFinanzasFaultMessage">
    <wsdl:part name="catalogosFinanzasFault" element="inp2:messageError"/>
  </wsdl:message>
  <wsdl:portType name="catalogosFinanzas_ptt">
    <wsdl:operation name="obtenerTasaPlazo">
      <wsdl:input message="tns:obtenerTasaPlazoRequestMessage"/>
      <wsdl:output message="tns:obtenerTasaPlazoResponseMessage"/>
      <wsdl:fault name="catalogosFinanzasFault" message="tns:catalogosFinanzasFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="catalogosFinanzas_bind" type="tns:catalogosFinanzas_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerTasaPlazo">
      <soap:operation style="document" soapAction="obtenerTasaPlazo"/>
      <wsdl:input>
        <soap:header message="tns:headerRequestMessage" part="headerRequest" use="literal" wsdl:required="true"/>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Services/Catalogos/Finanzas"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://servicios.montedepiedad.com.mx/NMP/Services/Catalogos/Finanzas"/>
        <soap:header message="tns:headerResponseMessage" part="headerResponse" use="literal" wsdl:required="true"/>
      </wsdl:output>
      <wsdl:fault name="catalogosFinanzasFault">
        <soap:fault name="catalogosFinanzasFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="headerRequestMessage">
    <wsdl:part name="headerRequest" element="inp3:headerMessage"/>
  </wsdl:message>
  <wsdl:message name="headerResponseMessage">
    <wsdl:part name="headerResponse" element="inp3:headerMessageResponse"/>
  </wsdl:message>
  <wsdl:service name="catalogosFinanzas_ptt">
    <wsdl:port name="catalogosFinanzas_pttPort" binding="tns:catalogosFinanzas_bind">
      <soap:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>