SOL4IT - DEV/OSB_Depurado_SOAINT/MasterData/Utilitarios/Resources/XMLSchema_-620691209.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://qualitas.com.mx/ObtenerGenericoApp/ObtenerGenericoPrj/ObtenerGenericoBPEL"
     xmlns:tns="http://qualitas.com.mx/ObtenerGenericoApp/ObtenerGenericoPrj/ObtenerGenericoBPEL"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="claveCatalogo" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="resultDataResponse" type="tns:ResultDataResponse" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="ResultDataResponse">
        <sequence>
            <element name="resultDataResponse" type="string"/>
            <element name="IdCatalogo" type="string"/>
            <element name="descripcion" type="string"/>
        </sequence>
    </complexType>
</schema>