SOL4IT - DEV/OSB_Desarrollo_NMP/GestionClientes/Clientes/Resources/WADLs/NMPClientesRestWADL.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="NMPClientesRestPXY1">RestService</doc>
   <grammars>
      <xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:NMPsm="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:NMPsh="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" xmlns:inpl2="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" xmlns:tns="http://servicios.montedepiedad.com.mx/NMP/Services/Clientes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente" schemaLocation="../Schemas/NMPClientesSvcElementosXSD.xsd"/>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage" schemaLocation="../../../../Common/XSD/NMPStandardMessage.xsd"/>
            <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardHeader" schemaLocation="../../../../Common/XSD/NMPStandardHeader.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/Huella">
         <method name="POST" soa:wsdlOperation="getHuellaCliente">
            <request>
               <representation mediaType="application/json" element="cns:getHuellaClienteRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getHuellaClienteResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </response>
            <response status="400" soa:wsdlFaultName="Fault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/idCliente">
         <method name="POST" soa:wsdlOperation="getClientesByID">
            <request>
               <representation mediaType="application/json" element="cns:getClientesByIDRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:getClientesByIDResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
               <representation mediaType="application/json" element="cns:getClientesByIDResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </response>
            <response status="400" soa:wsdlFaultName="Fault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/numeroCredencial">
         <method name="POST" soa:wsdlOperation="getClientesByNumCredencial">
            <request>
               <representation mediaType="application/json" element="cns:getClientesByNumCredencialRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getClientesByNumCredencialResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </response>
            <response status="400" soa:wsdlFaultName="Fault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/usuarioMonte">
         <method name="POST" soa:wsdlOperation="obtenerClientePorUsuario">
            <request>
               <representation mediaType="application/json" element="cns:obtenerClientePorUsuarioRequest" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:obtenerClientePorUsuarioResponse" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPCliente"/>
            </response>
            <response status="400" soa:wsdlFaultName="Fault">
               <representation mediaType="application/json" element="cns:messageError" xmlns:cns="http://servicios.montedepiedad.com.mx/NMP/Schema/NMPStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>