SOL4IT - DEV/OSB_Desarrollo_NMP/InversionSocial/Donataria/Resources/Schemas/NMPDonatariaSvcXSD.xsd

<xsd:schema targetNamespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/Donataria/v1" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://servicios.montedepiedad.com.mx/NMP/Schema/Servicio/Donataria/v1" xmlns:NMPDonataria="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/v1" xmlns:NMPActaConstitutiva="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/ActaConstitutiva/v1" xmlns:NMPConsejero="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/Consejero/v1" xmlns:NMPDatosContacto="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/DatosContacto/v1" xmlns:NMPInformacionFinanciera="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/InformacionFinanciera/v1" xmlns:NMPPoblacionAtendida="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/PoblacionAtendida/v1" xmlns:NMPRepresentanteLegal="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/RepresentanteLegal/v1" xmlns:NMPDocumento="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Documento/v1" xmlns:NMPComun="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun" xmlns:NMPCuentaUsuario="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/CuentaUsuario/v1">
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPDonatariaXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/ActaConstitutiva/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPActaConstitutivaXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/Consejero/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPConsejeroXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/DatosContacto/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPDatosContactoXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/InformacionFinanciera/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPInformacionFinancieraXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/PoblacionAtendida/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPPoblacionAtendidaXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Donataria/RepresentanteLegal/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPRepresentanteLegalXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/Documento/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPDocumentoXSD.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Tipos/Comun" schemaLocation="../../../../Common/XSD/NMPComun_TIPOS.xsd"/>
  <xsd:import namespace="http://servicios.montedepiedad.com.mx/NMP/Schema/Entidad/CuentaUsuario/v1" schemaLocation="../../../../Common/XSD/Entidad/NMPCuentaUsuarioXSD.xsd"/>
  <xsd:complexType name="GuardarRegistroType">
    <xsd:sequence>
      <xsd:element name="donataria" type="NMPDonataria:DonatariaType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="datosContacto" type="NMPDatosContacto:DatosContactoType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="patronoConsejero" type="NMPConsejero:ConsejeroType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="actaConstitutivaLista" type="NMPActaConstitutiva:ActaConstitutivaType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="representanteLegalLista" type="NMPRepresentanteLegal:RepresentanteLegalType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="documentos" type="NMPDocumento:ListaDocumentosType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarInformacionOperativaType">
    <xsd:sequence>
      <xsd:element name="donataria" type="NMPDonataria:DonatariaType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="datosContacto" type="NMPDatosContacto:DatosContactoType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="patronoConsejero" type="NMPConsejero:ConsejeroType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="actaConstitutivaList" type="NMPActaConstitutiva:ActaConstitutivaType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="representanteLegalList" type="NMPRepresentanteLegal:RepresentanteLegalType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="informacionFinanciera" type="NMPInformacionFinanciera:InformacionFinancieraType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="poblacionAtendida" type="NMPPoblacionAtendida:PoblacionAtendidaDonatariaType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="documentos" type="NMPDocumento:ListaDocumentosType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarDoumentosType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="documentos" type="NMPDocumento:ListaDocumentosType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuardarCuentaDonatariaType">
    <xsd:sequence>
      <xsd:element ref="NMPDonataria:idDonataria" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="cuenta" type="NMPCuentaUsuario:CuentaUsuarioType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>