SOL4IT - DEV/OSB_NMP_Actual/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/CRMGestionesElementosXSD.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="CRMGestionesTipos2XSD.xsd" namespace="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
  <xs:element name="RecepcionGestiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="q1:RequestGestiones" xmlns:q1="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionGestionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionGestionesResult" nillable="true" type="q2:Respuestaboolean" xmlns:q2="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="q3:RequestAgenda" xmlns:q3="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaAgendaResult" nillable="true" type="q4:RespuestaArrayOfOrden" xmlns:q4="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapturaPreRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="q5:RequestPreregistro" xmlns:q5="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapturaPreRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapturaPreRegistroResult" nillable="true" type="q6:Respuestaboolean" xmlns:q6="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoAsignacionOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="q7:RequestAutoAsignacion" xmlns:q7="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoAsignacionOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoAsignacionOrdenResult" nillable="true" type="q8:Respuestaboolean" xmlns:q8="http://schemas.datacontract.org/2004/07/Nmp.Crm.BusinessEntity.DataContract"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>