SOL4IT - DEV/OSB_NMP_Actual/FuerzaDeVentas/GestionOrdenesTrabajo/Resources/Schemas/HtmlFormatXSD.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://services.montepiedad.com/Schemas/Util/htmlFormat"
            targetNamespace="http://servicios.montepiedad.com.mx/NMP/Schema/Util/htmlFormat" elementFormDefault="qualified">
  <!-- Esquema base para formar tabla html que se presentará a Formiik -->
  <xsd:element name="table">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tr" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="td" maxOccurs="unbounded" minOccurs="0" nillable="true" type="xsd:string"/>
              <xsd:element name="th" maxOccurs="unbounded" minOccurs="0" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>